@import "colors";

$color1: rgb(242, 242, 244);

.center {
    &-wrapper {
        width: 600px;
        margin-left: -300px;
    }

    &-outer {
        position: relative;
        text-align: left;
        padding: 0;
        width: 700px;
        margin-left: -50px;
        margin-top: 400px;
        top: 0;
    }

    position: static;
    top: 0;
    margin-top: 0;
    background-color: $color1;
    width: 600px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;

    h1 {
        width: auto;
        white-space: nowrap;
        color: $grey;
        float: none;
        margin: 0;
    }

    h2 {
        font-weight: normal;
    }
}

.simulator-area {
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: fixed;
}

.desktop-area {
    width: 600px;
    height: 384px;
    overflow: hidden;

    > span {
        height: 384px;
        display: block;
    }
}

.mobile-area {
    width: 178px;
    height: 288px;
    overflow: hidden;
    position: absolute;
    top: 87px;
    right: 0;

    > span > img {
        width: 180px;
    }
}

.about-text {
    text-align: left;
}

.credit-text {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-indent: 40px;
}

@media (max-width: 700px) {
    .center {
        &-wrapper {
            width: 100%;
            margin-left: 0;
            left: 0;
        }

        &-outer {
            width: 100%;
            margin-left: 0;
            padding: 0;
            margin-top: 460px;
        }

        width: auto;
        padding: 40px;
    }
    .simulator-area {
        width: 100%;
    }
    .desktop-area {
        display: none;
    }
    .mobile-area {
        top: 0;
        left: 50%;
        margin-left: -128px;
        width: 256px;
        height: 459px;

        > span > img {
            width: auto;
        }
    }
}

ul.nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 99;

    > li i {
        &.far, &.fas, &.fab {
            display: block;
        }
    }

    @media (max-width: 430px) {
        &.dashboard-link {
            width: 95px;

            > li i {
                &.fas, &.far, &.fab {
                    padding-right: 3px;
                }
            }
        }
        > li {
            height: 36px;

            i.fas, i.far, i.fab {
                font-size: 1em;
                display: inline-block;
            }
        }
    }
}
