
.center-wrapper {
    width: 600px;
    margin-left: -300px;
}

.center-outer {
    position: relative;
    text-align: left;
    padding: 0;
    width: 700px;
    margin-left: -50px;
    margin-top: 400px;
    top: 0;
}

.center {
    position: static;
    top: 0;
    margin-top: 0;
    background-color: rgb(242,242,244);
    width: 600px;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

.center h1 {
    width: auto;
    white-space: nowrap;
    color: rgb(72, 72, 72);
    float: none;
    margin: 0;
}

.center h2 {
    font-weight: normal;
}

.simulator-area {
    width: 600px;
    height: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    position: fixed;
}

.desktop-area {
    width: 509px;
    height: 384px;
    overflow: hidden;
}

.mobile-area {
    width: 178px;
    height: 324px;
    overflow: hidden;
    position: absolute;
    top: 71px;
    right: 30px;
}

.mobile-area > span > img {
    width: 180px;
}

.about-text {
    text-align: left;
}

.credit-text {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-indent: 40px;
}

@media (max-width: 700px) {
    .center-wrapper {
        width: 100%;
        margin-left: 0;
        left: 0;
    }

    .center-outer {
        width: 100%;
        margin-left: 0;
        padding: 0;
        margin-top: 460px;
    }

    .center {
        padding-left: 0;
        padding-right: 0;
        width: auto;
        padding: 40px;
    }

    .simulator-area {
        width: 100%;
    }

    .desktop-area {
        display: none;
    }

    .mobile-area {
        top: 0;
        left: 50%;
        margin-left: -128px;
        width: 256px;
        height: 459px;
    }

    .mobile-area > span > img {
        width: auto;
    }
}

ul.nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 99;
}

ul.nav > li i.fa {
    display: block;
}

@media (max-width: 430px) {
    ul.nav.dashboard-link {
        width: 95px;
    }

    ul.nav.dashboard-link > li i.fa {
        padding-right: 3px;
    }

    ul.nav > li {
        height: 36px;
    }

    ul.nav > li i.fa {
        font-size: 1em;
        display: inline-block;
    }
}