div.cke_chrome {
    margin: 10px 0;
}

.announcements table {
    width: 600px;
}

.announcements table th {
    min-width: 120px;
    vertical-align: top;
    padding-top: 10px;
}

.announcements input {
    width: 100%;
    width: calc(100% - 8px);
}

.announcements .selectize-control {
    width: 100%;
}

@media (max-width: 855px) {
    .announcements table {
        width: 342px !important;
    }

    .announcements th {
        max-width: 65px;
    }

    .announcements #cke_id_content,
    .announcements #cke_id_description {
        width: 365px !important;
    }

    .announcements input {
        width: 365px;
    }

    .announcements .selectize-control {
        width: 373px;
    }
}

@media (max-width: 555px) {
    .announcements table {
        width: 400px !important;
    }

    .announcements th {
        max-width: 65px;
    }

    .announcements #cke_id_content,
    .announcements #cke_id_description {
        width: 292px !important;
    }

    .announcements input {
        width: 292px;
    }

    .announcements .selectize-control {
        width: 300px;
    }

    body {
        padding-left: 14px;
    }
}