.announcements {
    table {
        width: 600px;

        th {
            min-width: 120px;
        }

        td {
            padding: 10px 0;
        }
    }

    #cke_id_content {
        width: 600px;
        margin-bottom: -15px;
    }

    table, #cke_id_content {
        @media (max-width: 810px) {
                width: 342px !important;
            }

        @media (max-width: 550px) {
            width: 400px !important;
        }
    }

    input, textarea {
        width: 100%;
    }

    .selectize-control {
        display: inline-block;
    }
}

ol li {
    margin-left: 40px;
    list-style-type: circle;
}

div.cke_chrome {
    margin: 10px 0;
}