div.cke_chrome {
    margin: 10px 0;
}

.announcements {
    table {
        width: 600px;
        th {
            min-width: 120px;
            vertical-align: top;
            padding-top: 10px;
        }
    }
    input {
        width: 100%;
        width: calc(100% - 8px);
    }
    .selectize-control {
        width: 100%;
    }
    .helptext {
        padding-left: 7px;
        display: inline-block;
    }
    .exp-buttons {
        padding-left: 7px;
    }
    th label {
        display: inline-block;
    }
    @media (max-width: 855px) {
        table {
            width: 342px !important;
        }
        th {
            max-width: 65px;
        }
        #cke_id_content,
        #cke_id_description {
            width: 365px !important;
        }
        input {
            width: 365px;
        }
        .selectize-control {
            width: 373px;
        }
    }
    @media (max-width: 555px) {
        table {
            width: 400px !important;
        }
        th {
            max-width: 65px;
        }
        #cke_id_content,
        #cke_id_description {
            width: 292px !important;
        }
        input {
            width: 292px;
        }
        .selectize-control {
            width: 300px;
        }
    }
}

@media (max-width: 555px) {
    body {
        padding-left: 14px;
    }
}