a.brand {
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.logo {
    background-image: url("/static/img/logos/Header-Logo.svg");
    background-size: auto 25px;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    float: left;

    .no-svg {
        background-image: url("/static/img/logos/Header-Logo@2x.png");
        background-size: 30px 30px;
    }
}

.navbar .navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
