body {
    font-family: "Open Sans", Arial, Helvetica, Roboto, "Droid Sans", sans-serif;
    background-color: #F0F0F0;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}
/* header div */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #f0f0f0; /* keep this up to date w/ page background */
}

/* Main text */
.header h1 {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    /* 300px width w/ padding */
    padding-left: 50px; /* for bg */
    background-image: url('/static/img/tjlogo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 48px 39.75px;
    white-space: nowrap;
}
/* subtext (current page) */
.header h2 {
	display: table-cell;
	font-size: 24px;
    font-weight: normal;
    vertical-align: middle;
    width: 100%;
    padding-left: 50px;
}
/* main content holder div */
.content {
	padding-top: 50px;
}