/*
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

p {
    margin-bottom: 1em;
}

strong, b {
    font-weight: bold;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

em {
  font-style: italic;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/******************************/

body {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: rgb(72,72,72);
    background-color: rgb(242,242,244);
    line-height: 1.4;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

a, a:active, a:visited {
    text-decoration: none;
    color: rgb(32,66,224);
}

a.ui-link {
    color: inherit;
}

a.ui-link:hover {
    color: rgb(72, 72, 72);
}

a:hover {
    text-decoration: underline;
}

label {
    padding-left: 5px;
}

tt {
    font-family: monospace;
}

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    /*position: relative;*/ /* Enable this if CSS3PIE isn't working */
    text-decoration: none;
    color: rgb(72,72,72);
    display: inline-block;
    line-height: 18px;
    padding: 7px 10px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    /* Generated by http://www.colorzilla.com/gradient-editor/#f7f7f4+0,eaeaea+100;Button */
    background: #f7f7f4; /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(247,247,244) 0%, rgb(234,234,234) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(247,247,244)), color-stop(100%,rgb(234,234,234))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(247,247,244) 0%,rgb(234,234,234) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(247,247,244) 0%,rgb(234,234,234) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(247,247,244) 0%,rgb(234,234,234) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(247,247,244) 0%,rgb(234,234,234) 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f4', endColorstr='#eaeaea',GradientType=0 );*/ /* IE6-9 */ /* Conflicts with CSS3PIE */

    border: 1px solid rgb(221, 221, 221);
    border-bottom-color: rgb(197, 197, 197);
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    -pie-box-shadow: none;

    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;

    behavior: url("/static/js/PIE/PIE.htc");
}

button:hover,
a.button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    text-decoration: none;
    color: rgb(72,72,72);
    /* Generated by http://www.colorzilla.com/gradient-editor/#eaeaea+0,dadada+100;ButtonHover */
    background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(234,234,234) 0%, rgb(218,218,218) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(234,234,234)), color-stop(100%,rgb(218,218,218))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */

}

button:active,
a.button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    background-color: rgb(218,218,218);
    background-image: none;
    border-color: rgb(181,181,181);
    box-shadow: inset 0 1px 5px rgba(0,0,0,0.15);
}

button:focus,
a.button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    outline: none;
    /* Generated by http://www.colorzilla.com/gradient-editor/#eaeaea+0,dadada+100;ButtonHover */
    background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(234,234,234) 0%, rgb(218,218,218) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(234,234,234)), color-stop(100%,rgb(218,218,218))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgb(234,234,234) 0%,rgb(218,218,218) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
}

button:disabled,
a.button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
button:disabled:hover,
a.button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="submit"]:disabled:hover,
input[type="reset"]:disabled:hover {
    color: rgb(192,192,192);
    background-image: none;
    background-color: rgb(235,235,235);
    cursor: default;
    box-shadow: none;
}




input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
    padding: 6px 3px;
    margin: 2px 0;
    line-height: 18px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid rgb(204,204,204);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    /*-webkit-transition: border 0.05s ease-in 0;
    -moz-transition: border 0.05s ease-in 0;
    -o-transition: border 0.05s ease-in 0;
    transition: border 0.05s ease-in;*/
    vertical-align: middle;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;

    behavior: url("/static/js/PIE/PIE.htc");
}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus {
    outline: none;
    border-color: rgb(77, 144, 254);
}

input.error, input.error:focus {
    border: 1px solid rgb(255, 72, 72);
}

.error-color {
    color: rgb(255, 72, 72);
}

/*input:-webkit-autofill {
    box-shadow: 0 0 0 50px white inset;
}*/


.left {
    float: left;
}

.right {
    float: right;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 30px;
}

.right-buttons {
    text-align: right;
}


form th, form td {
    padding-right: 8px;
    text-align: left;
}


form th {
    vertical-align: middle;
}


form .errorlist{
    list-style: none;
    padding-left: 0;
    color: rgb(255, 72, 72);
}

th {
    text-align: left;
    padding: 0 8px 0 0;
}

table.key-value-table th {
    font-weight: bold;
}

thead th {
    font-weight: bold;
}

table[data-sortable] th, table[data-sortable] td {
    padding: 10px 15px 0 0;
}

tr td:not(:last-child) {
    padding: 0 8px 0 0;
}

table.zebra tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

table.list-table {
    margin-left: 30px;
}

td.list-item {
    display: list-item;
}

@media print {
    body * {
        visibility: hidden;
    }

    .header, .nav {
        display: none;
    }

    .primary-content, .primary-content * {
        visibility: visible;
    }

    .primary-content {
        margin: 0!important;
    }

    body {
        margin-top: 0!important;
        background-color: transparent;
    }
}

p.narrow-paragraph {
    max-width: 400px;
}
