@import "reset";
@import "colors";

$font-stack: "Open Sans", "Helvetica Neue", sans-serif;

body {
    font-family: $font-stack;
    font-size: 13px;
    color: $grey;
    background-color: rgb(242, 242, 244);
    line-height: 1.4;
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

h1 {
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

a {
    &,
    &:active,
    &:visited {
        text-decoration: none;
        color: rgb(32, 66, 224);
    }

    &:hover {
        text-decoration: underline;
    }
}

a.ui-link {
    color: inherit;

    &:hover {
        color: $grey;
    }
}

label {
    padding-left: 5px;
}

tt {
    font-family: monospace;
}

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    //position: relative; // Enable this if CSS3PIE isn't working
    text-decoration: none;
    color: $grey;
    display: inline-block;
    line-height: 18px;
    padding: 7px 10px;
    margin: 2px 0;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f7f4+0,eaeaea+100;Button
    background: #f7f7f4;
    background: -moz-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: -webkit-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: linear-gradient(to bottom, #f7f7f4 0%, #eaeaea 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f4', endColorstr='#eaeaea',GradientType=0 );
    border: 1px solid rgb(221, 221, 221);
    border-bottom-color: rgb(197, 197, 197);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    behavior: url("/static/js/vendor/PIE/PIE.htc");

    &:hover {
        text-decoration: none;
        color: $grey;
        // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,dadada+100;ButtonHover
        background: #eaeaea;
        background: -moz-linear-gradient(top, #eaeaea 0%, #dadada 100%);
        background: -webkit-linear-gradient(top, #eaeaea 0%, #dadada 100%);
        background: linear-gradient(to bottom, #eaeaea 0%, #dadada 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#dadada', GradientType=0);
    }

    &:active {
        background-color: #dadada;
        background-image: none;
        border-color: rgb(181, 181, 181);
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.15);
    }

    &:focus {
        outline: none;
        // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaeaea+0,dadada+100;ButtonHover
        background: #eaeaea;
        background: -moz-linear-gradient(top, #eaeaea 0%, #dadada 100%);
        background: -webkit-linear-gradient(top, #eaeaea 0%, #dadada 100%);
        background: linear-gradient(to bottom, #eaeaea 0%, #dadada 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#dadada', GradientType=0);
    }

    &:disabled {
        &,
        &:hover {
            color: rgb(192, 192, 192);
            background-image: none;
            background-color: rgb(235, 235, 235);
            cursor: default;
            box-shadow: none;
        }
    }

    &.delete-button {
        &, &:hover {
            // The :hover selector is necessary to override the dark mode rules, which are ranked higher because they come later
            color: red;
        }
    }
}

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
textarea {
    padding: 6px 3px;
    margin: 2px 0;
    line-height: 18px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid rgb(204, 204, 204);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
    //-webkit-transition: border 0.05s ease-in 0;
    //-moz-transition: border 0.05s ease-in 0;
    //-o-transition: border 0.05s ease-in 0;
    //transition: border 0.05s ease-in;
    vertical-align: middle;
    font-family: $font-stack;
    behavior: url("/static/js/vendor/PIE/PIE.htc");

    &:focus {
        outline: none;
        border-color: rgb(77, 144, 254);
    }
}

input.error {
    &,
    &:focus {
        border: 1px solid rgb(255, 72, 72);
    }
}

.error-color {
    color: rgb(255, 72, 72);
}

/*
input:-webkit-autofill {
    box-shadow: 0 0 0 50px white inset;
}
*/

.left {
    float: left;
}

.right {
    float: right;

    &-buttons {
        text-align: right;
    }
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 30px;
}

form {
    th,
    td {
        padding-right: 8px;
        text-align: left;
    }

    th {
        vertical-align: middle;
    }

    .errorlist {
        list-style: none;
        padding-left: 0;
        color: rgb(255, 72, 72);
    }
}

th {
    text-align: left;
    padding: 0 8px 0 0;
}

table.key-value-table th {
    font-weight: bold;
}

thead th {
    font-weight: bold;
}

table[data-sortable] {
    th,
    td {
        padding: 10px 15px 0 0;
    }
}

tr td:not(:last-child) {
    padding: 0 8px 0 0;
}

table.zebra tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

table.list-table {
    margin-left: 30px;
}

td.list-item {
    display: list-item;
}

@media print {
    body * {
        visibility: hidden;
    }
    .header,
    .nav {
        display: none;
    }
    .primary-content {
        margin: 0 !important;

        &,
        * {
            visibility: visible;
        }
    }
    body {
        margin-top: 0 !important;
        background-color: transparent;
    }
}

p.narrow-paragraph {
    max-width: 400px;
}

a.button,
button,
input {
    &.small-button {
        font-size: 9px;
        padding: 0 5px;
        margin: 0;
    }

    &.large-button {
        font-size: 14px;
        padding: 20px 40px;
    }
}

.clickable {
    cursor: pointer;
}

table.fancy-table {
    td,
    th {
        padding: 5px 10px;
    }

    tbody tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

body.fire * {
    -webkit-animation-name: fire !important;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: fire !important;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: fire !important;
    -ms-animation-duration: 1s;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: fire !important;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    animation-name: fire !important;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    color: black !important;
}

@-webkit-keyframes fire {
    0% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
    10% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    20% {
        text-shadow: 0 -1px 2px #a00000, -1px -3px 2px #f08000,
        -2px -5px 2px #ff0;
    }
    30% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    50% {
        text-shadow: 0 -2px 2px #a00000, 0 -5px 2px #f08000, 0 -8px 2px #ff0;
    }
    60% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    70% {
        text-shadow: 0 -1px 2px #a00000, 1px -3px 2px #f08000, 2px -5px 2px #ff0;
    }
    80% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    100% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
}

@-moz-keyframes fire {
    0% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
    10% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    20% {
        text-shadow: 0 -1px 2px #a00000, -1px -3px 2px #f08000,
        -2px -5px 2px #ff0;
    }
    30% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    50% {
        text-shadow: 0 -2px 2px #a00000, 0 -5px 2px #f08000, 0 -8px 2px #ff0;
    }
    60% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    70% {
        text-shadow: 0 -1px 2px #a00000, 1px -3px 2px #f08000, 2px -5px 2px #ff0;
    }
    80% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    100% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
}

@-ms-keyframes fire {
    0% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
    10% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    20% {
        text-shadow: 0 -1px 2px #a00000, -1px -3px 2px #f08000,
        -2px -5px 2px #ff0;
    }
    30% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    50% {
        text-shadow: 0 -2px 2px #a00000, 0 -5px 2px #f08000, 0 -8px 2px #ff0;
    }
    60% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    70% {
        text-shadow: 0 -1px 2px #a00000, 1px -3px 2px #f08000, 2px -5px 2px #ff0;
    }
    80% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    100% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
}

@-o-keyframes fire {
    0% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
    10% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    20% {
        text-shadow: 0 -1px 2px #a00000, -1px -3px 2px #f08000,
        -2px -5px 2px #ff0;
    }
    30% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    50% {
        text-shadow: 0 -2px 2px #a00000, 0 -5px 2px #f08000, 0 -8px 2px #ff0;
    }
    60% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    70% {
        text-shadow: 0 -1px 2px #a00000, 1px -3px 2px #f08000, 2px -5px 2px #ff0;
    }
    80% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    100% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
}

@keyframes fire {
    0% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
    10% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    20% {
        text-shadow: 0 -1px 2px #a00000, -1px -3px 2px #f08000,
        -2px -5px 2px #ff0;
    }
    30% {
        text-shadow: 0 -2px 2px #a00000, -1px -4px 2px #f08000,
        -6px -5px 2px #ff0;
    }
    50% {
        text-shadow: 0 -2px 2px #a00000, 0 -5px 2px #f08000, 0 -8px 2px #ff0;
    }
    60% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    70% {
        text-shadow: 0 -1px 2px #a00000, 1px -3px 2px #f08000, 2px -5px 2px #ff0;
    }
    80% {
        text-shadow: 0 -2px 2px #a00000, 1px -4px 2px #f08000, 2px -6px 2px #ff0;
    }
    100% {
        text-shadow: 0 -2px 2px #a00000, 0 -4px 2px #f08000, 0 -6px 2px #ff0;
    }
}

@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
    }
    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        -webkit-transform: none;
    }
}

@keyframes wobble {
    from {
        transform: none;
    }
    15% {
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }
    30% {
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }
    45% {
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }
    75% {
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }
    to {
        transform: none;
    }
}

.wobble {
    -webkit-animation-name: wobble;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-name: wobble;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(
                        0.755,
                        0.05,
                        0.855,
                        0.06
        );
        -webkit-transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-animation-timing-function: cubic-bezier(
                        0.755,
                        0.05,
                        0.855,
                        0.06
        );
        -webkit-transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    -webkit-animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-name: bounce;
    transform-origin: center bottom;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 1.15, 1.15);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.15, 1.15, 1.15);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

.pulse {
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-name: pulse;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@-webkit-keyframes flip180 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(180deg);
    }
}

@keyframes flip180 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

.flip180 {
    -webkit-animation-name: flip180;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-name: flip180;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@-webkit-keyframes scaleflip {
    from {
        -webkit-transform: scale(1, 1);
    }
    to {
        -webkit-transform: scale(-1, -1);
    }
}

@keyframes scaleflip {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(-1, -1);
    }
}

.scaleflip {
    -webkit-animation-name: scaleflip;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-name: scaleflip;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.global-warning {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 75%;
    margin-left: 12.5%;
    background-color: yellow;
    border: 1px solid rgb(210, 208, 66);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px;
    z-index: 999999;
}

.inline-warning {
    width: auto;
    background-color: yellow;
    border: 1px solid rgb(210, 208, 66);
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}

.c-hamburger {
    color: white;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: unset;
    border: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    span {
        display: block;
        position: absolute;
        top: 9px;
        left: 2px;
        right: 2px;
        height: 2px;
        background-color: white;

        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: white;
            content: "";
        }

        &::before {
            top: -5px;
        }

        &::after {
            bottom: -5px;
        }
    }

    &--htla {
        span {
            transition: transform 0.3s;

            &::before {
                transform-origin: top right;
                transition: transform 0.3s, width 0.3s, top 0.3s;
            }

            &::after {
                transform-origin: bottom right;
                transition: transform 0.3s, width 0.3s, bottom 0.3s;
            }
        }

        /* active state, i.e. menu open */
        &.is-active span {
            transform: rotate(180deg);

            &::before,
            &::after {
                width: 50%;
            }

            &::before {
                top: 0;
                transform: translateX(8px) rotate(-45deg);
            }

            &::after {
                bottom: 0;
                transform: translateX(8px) rotate(45deg);
            }
        }
    }
}

.new-feature {
    background: #0048ab;
    margin: 0px 0px 10px 0px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    max-width: fit-content;

    &-text {
        font-size: 15px;
    }

    &-close {
        cursor: pointer;
        vertical-align: middle;
        float: right;
        margin: 0px 5px 0px 10px;
        position: relative;
        font-size: 17px;

        &:hover {
            color: #d8d8d8;
        }
    }

    a:link, a:visited {
        color: #acacff;
    }
}

.selectize-input {
    padding-right: 40px !important;
}

.table {
    display: table;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

body {
    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }
}
