.board {
    min-width: 290px; /* for 320x480 screens */
    max-width: 1000px;
    margin-bottom: 100px;
}

.button-container {
    float: right;
    margin-top: -38px;
}

.board h2 {
    padding-left: 10px;
    line-height: 38px;
}


.board h2.category {
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
    height: 33px;
}

.boardpost {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;
    behavior: url("/static/js/PIE/PIE.htc");
}


.boardpost h3 > a.boardpost-link {
    cursor: pointer;
    color: rgb(72,72,72) !important;
}

.boardposts-icon-wrapper {
    float: right;
}

.boardpost-metadata {
    color: rgb(144,144,144);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.boardpost:hover .boardpost-icon-wrapper {
    display: block;
}

.boardpost-icon-wrapper {
    float: right;
    display: none;
}

.boardpost-icon-wrapper > a {
    color: rgb(72, 72, 72);
    text-decoration: none !important;
    padding-left: 2px;
}

.boardpost-icon-wrapper > a:hover {
    color: rgb(32,66,224);
}

.boardpost-icon {
    cursor: pointer;
}

.bottom-row {
    position: relative;
}

.attend-status {
    color: gray;
    position: absolute;
    left: 270px;
    max-width: 280px;
    white-space: nowrap;
}

.bottom-row.show-attend .attend-status {
    width: 280px;
}

.signup-status {
    color: gray;
}

.signup-status > a.button {
    margin-top: -2px;
    position: absolute;
    left: 140px;
}

.attend-status {
    position: absolute;
    left: 270px;
}

a.button.attend-button {
    color: green;
    margin-top: -3px;
    float: right;
}

a.button.no-attend-button {
    color: red;
    margin-top: -3px;
    float: right;
}

@media (max-width: 710px) {
    .boardpost .bottom-row {
        margin-bottom: 23px;
    }

    .boardpost .bottom-row .attend-status {
        left: 0;
        bottom: -27px;
    }
}

.posts-content {
    float: right;
    width: calc(100% - 200px);
}

.left-pane {
    float: left;
    width: 200px;
}

.left-pane-header {
    font-size: 14px;
    text-align: center;
    display: block;
    margin-bottom: -20px;
}

.board-class {
    /*width: calc(100% - 28px);*/
    padding: 4px 8px;
    margin: 4px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    background: white;
}

@media (max-width: 800px) {
    .left-pane {
        width: 460px
    }

    .posts-content {
        width: 100%;
    }

    .board-classes .board-class {
        display: inline-block;
        width: 125px;
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .left-pane {
        width: 100%;
    }
}