@import "colors";

svg {
    width: 100%;
    max-height: 80vh;

    path.a {
        cursor: pointer;
    }
}

.action-view {
    width: 60vw;

    color: #424242;
    cursor: pointer;

    .selectize-control.single {
        display: inline-block;
        vertical-align: middle;
        width: 80%;

        .selectize-input {
            border: none !important;
            box-shadow: none;
        }
    }

    i.fas, i.far, i.fab {
        vertical-align: middle;
        font-size: 18px;
    }
}

.bus {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    padding: 6px 10px;
    margin-bottom: 6px;
    margin-right: 6px;
    overflow-x: auto;
    width: 250px;
}

h2.status {
    margin-bottom: 5px;
}

h2.personal-status {
    width: 60vw;
}

.beta-warning {
    background-color: yellow;
    color: black;
}

span.route-name {
    font-size: 16px;
    font-weight: bold;
}

span.bus-number {
    color: #898989;
}

@media (max-width: 550px) {
    h2.personal-status {
        width: auto;
    }

    .action-view {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 8vh;

        padding: 0;
        margin: 0;
        border-radius: 0;
        border: none;

        font-size: 28px;
        line-height: 8vh;

        &.search-widget {
            top: 40px;
            height: calc(100vh - 40px);
            background-color: #0048ab;

            .search-widget {
                background-color: white;
            }

            .selectize-input {
                padding: 4px 0;
            }

            .selectize-dropdown-content {
                max-height: 80vh;

                .option {
                    height: 30px;
                    line-height: 30px;
                    border-bottom: 1px solid #eee;
                }
            }
        }

        i {
            vertical-align: middle;
            padding: 0 8px 3px 12px;
        }
    }

}

.busdriver-map#map {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    // display: none;
}

.busdriver-bus#bd-bus {
    background-image: url('/static/img/bus_top.png');
    background-size: cover;
    width: 75px;
    height: 75px;
    position: absolute;
    left: 50%;
    top: 50%;

    z-index: 100;
    display: none;

    &.vroom {
        display: initial;
    }
}
