body {
    color: #B7B7B7;
    background-color: #0D0D0B;
}

a, a:active, a:visited {
    color: #6082FF;
}

button, a.button, input[type="button"], input[type="submit"], input[type="reset"] {
    color: white;
    background-color: black;
    background-image: linear-gradient(to bottom, #08080b 0%, #0A0A0A 100%);
    text-shadow: none;
}

button:hover, a.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: #B7B7B7;
    background-color: black;
    background-image: linear-gradient(to bottom, #151515 0%, #222222 100%);
}

button:active, a.button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    background-color: #252525;
    background-image: none;
    border-color: #4A4A4A;
    box-shadow: inset 0 1px 5px rgba(255, 255, 255, 0.15);
}

button:focus, a.button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
    outline: none;
    background-color: #151515;
    background-image: linear-gradient(to bottom, #151515 0%, #1F1F1F 100%);
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    background-color: black;
    color: white;
}

.selectize-input {
    background-color: black !important;
    color: white;
    background-image: none !important;
}

.selectize-input > input {
    background-color: black !important;
    color: white;
}

.selectize-dropdown {
    background: black;
    color: white;
}

.selectize-dropdown-content {
    background: black;
    color: white;
}

.selectize-dropdown .active {
    background: #444;
    color: white;
}

a.btn-link:link, a.btn-link:visited, a.btn-link:hover, a.btn-link:active {
    color: #B7B7B7;
    background-color: black;
}

.btn-link {
    color: #B7B7B7;
    background-color: #08080B;
    background: linear-gradient(to bottom, #08080B 0%, #0F0F0F 100%);
}

.widget {
    border-color: #d8d8d8;
}

.widget, .widget-content {
    background-color: black;
}

.widget-title {
    background: #060606;
    border-color: #d8d8d8;
}

.header .search input[type="text"] {
    background-color: #0d0d0b;
    color: white;
    font-weight: bold;
}

.header .dropdown-menu {
    background-color: black;
    color: #B7B7B7;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.header .dropdown-menu .arrow {
    border-bottom-color: black;
}

.header .dropdown-menu a {
    color: #B7B7B7;
}

.header .dropdown-menu a:hover {
    color: #EFEFEF;
}

.header .dropdown-menu a.feedback {
    color: #00CC00;
}

.header .dropdown-menu a.feedback:hover {
    color: #00FF00;
}

