.announcements {
    padding-right: 432px;
    min-width: 290px; /* for 320x480 screens */
    max-width: 1000px;
    margin-bottom: 100px;
}

.announcements.no-widgets {
    padding-right: 0;
}

.announcements-header {
    height: 38px;
    margin-bottom: 4px;
}

.announcements h2 {
    padding-left: 10px;
    line-height: 38px;
    float: left;
}

.announcement {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;
    behavior: url("/static/js/PIE/PIE.htc");
}


.announcement h3 > a.announcement-link {
    cursor: pointer;
    color: rgb(72,72,72) !important;
}

.announcement.pinned h3 {
    color: rgb(181, 0, 0);
}

.announcements-icon-wrapper {
    float: right;
}

.announcement-metadata {
    color: rgb(144,144,144);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.announcement:hover .announcement-icon-wrapper {
    display: block;
}

.announcement-icon-wrapper {
    float: right;
    display: none;
}

.announcement-icon-wrapper > a {
    color: rgb(72, 72, 72);
    text-decoration: none !important;
    padding-left: 2px;
}

.announcement-icon-wrapper > a:hover {
    color: rgb(32,66,224);
}

.announcement-icon {
    cursor: pointer;
}

.announcement.hidden .announcement-toggle-content {
    display: none;
}

.content-center {
    width: 100%;
    text-align: center;
}


@media (max-width: 800px) {
    /*
     * widgets that fall underneath nav shouldn't float
     * all the way to the left in 800-500px tablet view.
     * mainly affects student admins
     */

    ul.nav {
        margin-bottom: 100%;
    }
}

/*
 * between 800px and 662px, show a two column widget view
 * nonfunctional
@media (max-width: 800px) {
@media (min-width: 662px) {
    .main div.widgets {
        height: 500px;
    }
    .main div.widgets > .widget {
        width: calc(50% - 50px);
    }

    // odd on left, regular
    .main div.widgets .widget:nth-child(1),
    .main div.widgets .widget:nth-child(3) {
    }

    // even on right
    .main div.widgets .widget:nth-child(2) {
        position: absolute;
        left: calc(50% + 54px);
    }
}
}
*/

@media print {
    * {
        transition: initial !important;
        -webkit-transition: initial !important;
        -moz-transition: initial !important;
        -ms-transition: initial !important;
        -o-transition: initial !important;
    }

    div.main div.announcements.primary-content {
        position: absolute;
        top: 0;
        padding: 0;
        min-width: initial;
        max-width: initial;
    }

    div.announcements-header .announcements-icon-wrapper * {
        visibility: hidden;
    }

    div.announcement-icon-wrapper {
        visibility: hidden !important;
    }

    div.announcement.announcement-meta {
        display: none;
    }
}