.announcements {
    margin-right: 432px;
    min-width: 400px;
}

.announcements h2{
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.announcement {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;

    behavior: url("/static/js/PIE/PIE.htc");
}

.announcements h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.announcement-metadata {
    color: rgb(144,144,144);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.content-center {
    width: 100%;
    text-align: center;
}

.widgets {
    display: block;
    float: right;
    width: 416px;
    height: 500px;
}

.widget {
    border: 1px solid rgb(216,216,216);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;

    behavior: url("/static/js/PIE/PIE.htc");
}

.widget-title {
    /* Generated by http://www.colorzilla.com/gradient-editor/#f9f9f9+0,f2f2f2+100;Widget */
    background: rgb(245,245,245); /* Old browsers */
/*    background: -moz-linear-gradient(top,  rgb(249,249,249) 0%, rgb(242,242,242) 100%);*/ /* FF3.6+ */
/*    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(249,249,249)), color-stop(100%,rgb(242,242,242)));*/ /* Chrome,Safari4+ */
/*    background: -webkit-linear-gradient(top,  rgb(249,249,249) 0%,rgb(242,242,242) 100%);*/ /* Chrome10+,Safari5.1+ */
/*    background: -o-linear-gradient(top,  rgb(249,249,249) 0%,rgb(242,242,242) 100%);*/ /* Opera 11.10+ */
/*    background: -ms-linear-gradient(top,  rgb(249,249,249) 0%,rgb(242,242,242) 100%);*/ /* IE10+ */
/*    background: linear-gradient(to bottom,  rgb(249,249,249) 0%,rgb(242,242,242) 100%);*/ /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f2f2f2',GradientType=0 );*/ /* IE6-9 */
    /*-pie-background-image: none;*/

    border-bottom: 1px solid rgb(216,216,216);
    padding: 0 8px;

    line-height: 30px;
    height: 30px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    behavior: url("/static/js/PIE/PIE.htc");
}

.widget-title h2 {
    font-size: 14px;
    float: left;
}


.eighth-widget .info {
    font-size: 12px;
    color: rgb(144,144,144);
    float: right;
}

.eighth-widget .widget-title .warning i{
    /*color: rgb(255,72,72);*/
}

.block-header {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    cursor: pointer;
}

.block-header .info {
    display: none;
}

.no-touch .block-header:hover .info {
    display: inline;
}

.eighth-block.open .info {
    display: inline;
}

.block-header a, .block-header a:active, .block-header a:visited {
    color: rgb(144,144,144);
}

.block-header a:hover {
    color: rgb(32,66,224);
    text-decoration: none;
}

.eighth-activities {
    display: block;
    background-color: rgb(231,231,233);
    height: 0;
    overflow: hidden;
}

.eighth-block.open .eighth-activities {
    max-height: 90px;
    height: auto;
    overflow: auto;
}

.eighth-activity {
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    cursor: pointer;
}

.no-touch .eighth-activity:hover {
    background-color: rgb(220,220,220);
}

.eighth-activity button{
    float: right;
    margin: 0;
    height: 20px;
    background-color: rgb(215, 215, 215);
    border: none;
    display: none;
}

.no-touch .eighth-activity:hover button{
    display: block;
}

.eighth-activity.selected i {
    color: rgb(78,185,0);
}

.eighth-activity i {
    margin-right: 3px;
    display: inline-block;
    width: 10px;
}

.eighth-activity a {
    color: rgb(72,72,72);
    text-decoration: none;
    background-color: blue;
    display: inline-block;
    width: 100px;
}

.eighth-activity.selected button {
    display: none;
}


.block-letter {
    display: inline-block;
    width: 15px;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    background-color: rgb(215,215,215);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    behavior: url("/static/js/PIE/PIE.htc");
}

.eighth-block.warning .block-letter {
    background-color: rgb(255,72,72);
    color: rgb(242,242,242);
}