.block-header {
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}

.eighth-block.clickable {
    cursor: pointer;
}

.block-header .info {
    display: none;
}

.no-touch .block-header:hover .info {
    display: inline;
}

.eighth-block.open .info {
    display: inline;
}

.block-header a {
    float: right;
}

.eighth-block.clickable:hover .block-header a {
    text-decoration: underline;
}

.eighth-block.warning a {
    color: rgb(255, 72, 72);
}

.eighth-block.cancelled .block-signup {
    color: rgb(255, 72, 72);
    font-weight: bold;
}

.eighth-activities {
    display: block;
    background-color: rgb(231,231,233);
    height: 0;
    overflow: hidden;
}

.eighth-block.open .eighth-activities {
    max-height: 90px;
    height: auto;
    overflow: auto;
}

.no-activity-selected {
    color: rgb(170, 170, 170);
}

.block-header {
    position: relative;
}

.block-signup,
.block-sponsorship {
    position: absolute;
    left: 130px;
    width: 100%;
    width: calc(100% - 200px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.block-signup.locked,
.block-sponsorship.unlocked {
    left: 118px;
}

.block-sponsorship.attendance-taken {
    /* 13x13px not 8x13px */
    left: 116px;
}

.block-sponsorship.attendance-taken > i {
    padding-right: 1px;
}

.block-sponsorship.attendance-taken {
    color: green;
}

.eighth-block.warning .block-letter,
.eighth-block.no-attendance.today .block-letter {
    background-color: rgb(255,72,72);
    color: rgb(242,242,242);
}

.block-signup.no-activity-selected.today {
    color: rgb(255,72,72);
}

.eighth-block.no-attendance.today .block-sponsorship,
.eighth-block.no-attendance.today .ui-link {
    color: rgb(255,72,72);
}
