.announcements {
    padding-right: 432px;
    min-width: 290px; /* for 320x480 screens */
    max-width: 1000px;
    margin-bottom: 100px;
}

.announcements-header {
    height: 38px;
    margin-bottom: 4px;
}

.announcements h2 {
    padding-left: 10px;
    line-height: 38px;
    float: left;
}

.announcement {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;
    behavior: url("/static/js/PIE/PIE.htc");
}

.announcements-icon-wrapper {
    float: right;
}

.announcement-metadata {
    color: rgb(144,144,144);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.announcement:hover .announcement-icon-wrapper {
    display: block;
}

.announcement-icon-wrapper {
    float: right;
    display: none;
}

.announcement-icon-wrapper > a {
    color: rgb(72, 72, 72);
    text-decoration: none !important;
    padding-left: 2px;
}

.announcement-icon-wrapper > a:hover {
    color: rgb(32,66,224);
}

.announcement-icon {
    cursor: pointer;
}

.content-center {
    width: 100%;
    text-align: center;
}

@media print {
    * {
        transition: initial !important;
        -webkit-transition: initial !important;
        -moz-transition: initial !important;
        -ms-transition: initial !important;
        -o-transition: initial !important;
    }

    div.main div.announcements.primary-content {
        position: absolute;
        top: 0;
        padding: 0;
        min-width: initial;
        max-width: initial;
    }

    div.announcements-header .announcements-icon-wrapper * {
        visibility: hidden;
    }

    div.announcement-icon-wrapper {
        visibility: hidden !important;
    }

    div.announcement.announcement-meta {
        display: none;
    }
}