h2 {
    padding-bottom: 10px;
}

h3 {
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

h4 {
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 4px;
}

.admin-dashboard {
    width: 100%;
    margin-bottom: 200px;
}

.admin-dashboard .admin-section {
    height: 200px;
    padding-right: 40px;
    width: 50%;
}

.admin-dashboard li {
    line-height: 25px;
}

.admin-dashboard li .fa {
    font-size: 18px;
}

.admin-dashboard .fa-ul {
    margin-left: 35px;
    margin-top: 6px;
}

.admin-dashboard .fa-ul a {
    color: inherit;
}

.right-buttons {
    text-align: right;
}


form th, form td {
    padding-right: 8px;
    text-align: left;
}

form th {
    vertical-align: top;
}


.admin-dashboard form th {
    vertical-align: middle;
}


form .errorlist{
    list-style: none;
    padding-left: 0;
}
