.primary-content .eighth-header {
    position: absolute;
    right: 10px;
    width: 200px;
}

.preferred-user-picture > img {
    width: 86px;
    height: 107.5px;
    background-size: 86px 107.5px;
    margin-top: 15px;
}

.user-info h2 {
    padding: 0;
}

table.user-info-contact tr {
    line-height: 10px;

    &.comments {
        line-height: initial;
    }
}

table.eighth-table {
    width: 100%;
}

.eighth-table {
    tr {
        height: 30px;
    }

    .button-container {
        position: relative;
    }

    .button-right {
        position: absolute;
        right: 0;
    }

    .button-center {
        position: absolute;
        left: 50%;
        margin-left: -75px;
    }

    .checkbox {
        width: 80px;
    }

    .center {
        text-align: center;
    }

    .button-row {
        width: 70px;
    }
}

section.user-info-eighth {
    overflow-x: scroll;

    > form {
        min-width: 700px;
    }
}

section.user-info-edit {
    clear: both;
    padding-top: 20px;
    min-width: 400px;
    overflow-x: scroll;

    > form {
        min-width: 700px;
    }
}

section.user-history {
    clear: both;
    padding-top: 20px;
    overflow-x: scroll;
}

table.user-signups-table {
    min-width: 525px;
}

@media (max-width: 550px) {
    .primary-content.eighth-signup {
        .eighth-table {
            display: none;
        }

        .middle .switch {
            display: none;
        }

        #unsignup-button {
            zoom: 0.75;
        }
    }
}

@media (max-width: 700px) {
    .primary-content.eighth-signup .eighth-header {
        display: none;
    }

    #signups-chart {
        display:block;
        margin:0 auto;
    }
}

div.primary-content.eighth-signup {
    margin-bottom: 0;
}

div#activity-detail table.user-info-contact td {
    line-height: 16px;
}

@media print {
    .primary-content {
        .preferred-user-picture {
            position: absolute;
        }

        .user-container {
            position: relative;
            left: 125px;

            .button {
                display: none;
            }
        }
    }
}

.sponsor-table {
    width: 100%;
}

.primary-content table.sponsor-table {
    th, td {
        padding-top: 0;
        padding-bottom: 0;
    }
}
