/* Let form.schedule-activity-grid scroll with the browser;
 * give all other UI elements a fixed position. -JW, 05/15 */


b.cancelled {
    color: rgb(255,72,72);;
}

tr.scheduled .block-name {
    font-weight: bold;
}

@media (min-width: 500px) {

    body.activity-selected .header,
    body.activity-selected .nav {
        position: fixed;
        z-index: 999;
    }

    .schedule-activity-page.floating .primary-content {
        overflow: hidden;
        margin-bottom: 20px;
    }

    .schedule-activity-page.floating .eighth-header {
        position: fixed;
        /* keep solid */
        height: 160px;
        width: 100%;
        /* keep Start Date aligned properly */
        width: calc(100% - 152px);
        /* remove gap between top header and primary-content */
        margin-top: -16px;
        padding-top: 16px;
        background-color: #F2F2F4;
        z-index: 4;
        border-bottom: 1px rgb(194, 194, 194) solid;
    }

    .schedule-activity-page.floating .schedule-activity-head {
        position: fixed;
        margin-top: -119px;
        z-index: 4;
    }

    .schedule-activity-page.floating .schedule-activity-grid {
        position: static;
        margin-top: 161px;
        z-index: -1;
    }

}
