.attendance-container {
    display: inline-block;
    width: 100%;
    max-width: 800px;
}

.no-attendance {
    color: rgb(255, 72, 72);
    font-weight: bold;
}

.attendance-taken {
    color: rgb(0, 180, 0);
    font-weight: bold;
}

.passes-notice {
    color: rgb(255, 135, 0);
    font-weight: bold;
}

.attendance-taken, .no-attendance, .passes-notice {
    font-size: 20px;
}

.take-attendance-roster td {
    padding-right: 20px;
}

.take-attendance-roster tr {
    line-height: 25px;
}

.save-button {
    float: right;
}


h3 {
    font-weight: bold;
    font-size: 18px;
    clear: both;
    margin-top: 20px;
}

.activity-attributes {
    margin-bottom: 10px;
}

form .accept-all-passes {
    float: right;
    margin-bottom: 40px;
    margin-top: 15px;
}

.attendance-container td {
    padding-right: 10px;
}

.present-checkbox {
    text-align: center;
}


.take-passes tr {
    line-height: 25px;
}

.take-passes td.form {
    text-align: center;
}

.pass-container {
    margin-bottom: 25px;
}

@media (min-width: 900px) {
    .pass-container {
        position: absolute;
        top: 167px;
        right: 50px;
    }
}

table.take-passes, table.take-attendance-roster {
    vertical-align: middle;
    max-width: 500px;
}

a.pass-form-submit-link.button {
    padding: 3px 10px;
    font-weight: normal;
    margin: 0;
    line-height: 15px;
}

.save-button {
    text-align: center;
}

.choose-block select#block-select,
.choose-block .selectize-control {
    width: 400px;
}

.choose-activity select#activity-select,
.choose-activity .selectize-control {
    width: 400px;
}

.user-link a {
    color: rgb(72, 72, 72);
}