h2 {
    padding-bottom: 10px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 2px;
}

.admin-dashboard h3 {
    width: 100%;
    border-bottom: 1px solid #ccc;
}

h4 {
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 4px;
}


.admin-dashboard {
    width: 100%;
}

.primary-content {
    margin-bottom: 200px;
    margin-left: 100px;
}

.admin-dashboard .admin-section {
    height: 200px;
    width: 50%;
}

.admin-dashboard li {
    line-height: 25px;
}

.admin-dashboard li .fa {
    font-size: 18px;
}

.admin-dashboard .fa-ul {
    margin-left: 35px;
    margin-top: 6px;
}

.admin-dashboard .fa-ul a {
    color: inherit;
}

.admin-section .selectize-control {
    width: 100%;
}

tr .admin-section:first-of-type {
    padding-right: 20px
}

tr .admin-section:last-of-type:not(:first-of-type) {
    padding-left: 20px
}

.schedule-activity-grid .selectize-control {
    width: auto;
    min-width: 200px;
}

.schedule-activity-grid {
    margin-top: 10px;
}

.schedule-activity-grid td {
    max-width: 300px;
    white-space: nowrap;
}

.schedule-activity-grid tr.spacer {
    height: 5px;
}

.schedule-activity-grid tr.divider {
    background-color: #CCC;
    height: 1px;
    width: 100%;
}

.select-blocks-popover {
    background: white;
    position: absolute;
    text-align: center;

    padding: 10px;
    line-height: 1.7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    /* border: 1px solid rgb(129, 129, 129); */
    z-index: 999;
}

.select-blocks-popover.closed {
    display: none;
}

a.select-blocks-popover-toggle, a.block-type {
    color: inherit;
}

a.block-type {
    display: block;
}

table.fancy-table td, table.fancy-table, th {
    padding: 5px 10px;
}

table.fancy-table tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

input.capacity {
    width: 90px;
}

.select-form {
    display: inline-block;
}

select {
    display: none;
}

select[multiple="multiple"] + .selectize-loading .selectize-input {
  overflow: inherit;
}
