.primary-content .eighth-header {
    position: absolute;
    right: 10px;
    width: 200px;
}

.preferred-user-picture > img {
    width: 86px;
    height: 107.5px;
    background-size: 86px 107.5px;
    margin-top: 15px;
}

.user-info h2 {
    padding: 0;
}

table.user-info-contact tr {
    line-height: 10px;
}

table.user-info-contact tr.comments {
    line-height: initial;
}

table.eighth-table {
    width: 100%;
}

.eighth-table tr {
    height: 30px;
}

.eighth-table .button-container {
    position: relative;
}

.eighth-table .button-right {
    position: absolute;
    right: 0;
}

.eighth-table .button-center {
    position: absolute;
    left: 50%;
    margin-left: -75px;
}

.eighth-table .checkbox {
    width: 80px;
}

.eighth-table .center {
    text-align: center;
}

.eighth-table .button-row {
    width: 70px;
}

section.user-info-eighth {
    min-width: 700px;
}

section.user-info-edit {
    clear: both;
    padding-top: 20px;
    min-width: 700px;
}

@media (max-width: 550px) {
    .primary-content.eighth-signup .eighth-table {
        display: none;
    }

    .primary-content.eighth-signup .middle .switch {
        display: none;
    }
}