.eighth-header {
    display: inline-block;
    width: 100%;
}

.eighth-header h2 {
    float: left;
}

.eighth-header .start-date {
    float: right;
    text-align: right;
}

.selectize-control {
    width: 300px;
    margin-bottom: 2px;
}
