.attendance-container {
    display: inline-block;
    width: 100%;
    max-width: 800px;
}

.no-attendance {
    color: rgb(255, 72, 72);
    font-weight: bold;
}

.attendance-taken {
    color: rgb(0, 180, 0);
    font-weight: bold;
}

.no-passes {
    color: rgb(0, 180, 0);
    font-weight: bold;
}

.passes-notice {
    color: rgb(255, 135, 0);
    font-weight: bold;
}

.attendance-taken, .no-attendance, .passes-notice {
    font-size: 20px;
}

.take-attendance-roster td {
    padding-right: 20px;
}

.take-attendance-roster tr {
    line-height: 25px;
}

.save-button {
    float: right;
}


h3 {
    font-weight: bold;
    font-size: 18px;
    clear: both;
    margin-top: 20px;
}

.activity-attributes {
    margin-bottom: 10px;
}

form .accept-all-passes {
    float: right;
    margin-bottom: 40px;
    margin-top: 15px;
}

.attendance-container td {
    padding-right: 10px;
}

.present-checkbox {
    text-align: center;
}


.take-passes tr {
    line-height: 25px;
}

.take-passes td.form {
    text-align: center;
}

.pass-container {
    margin-bottom: 25px;
}

@media (min-width: 900px) {
    .pass-container {
        position: absolute;
        left: 650px;
    }

    .pass-container.eighth-admin {
        top: 266px;
    }

    .pass-container.has-passes {
        position: static;
    }
}

@media (min-width: 1100px) {
    .pass-container.has-passes {
        position: absolute;
        left: 650px;
        background: #f0f0f0;
        padding: 0 30px;
    }

    .pass-container.has-passes.eighth-admin {
        top: 266px;
    }
}

@media (max-width: 500px) {
    table.take-attendance-roster,
    table.take-passes {
        width: 100%;
        zoom: 0.8;
    }
}

table.take-passes, table.take-attendance-roster {
    vertical-align: middle;
    max-width: 600px;
}

a.pass-form-submit-link.button {
    padding: 3px 10px;
    font-weight: normal;
    margin: 0;
    line-height: 15px;
}

.save-button {
    text-align: center;
}

.choose-block select#block-select,
.choose-block .selectize-control {
    width: 400px;
}

.choose-activity select#activity-select,
.choose-activity .selectize-control {
    width: 400px;
}


@media (max-width: 430px) {
    .choose-block select#block-select, .choose-block .selectize-control,
    .choose-activity select#activity-select, .choose-activity .selectize-control  {
        width: 100%;
    }
}

.user-link a {
    color: rgb(72, 72, 72);
}

.user-link[data-user-id]:hover {
    font-weight: bold;
}

.selectize-dropdown-content {
    max-height: 450px;
}

.sponsoring-wizard-table {
    min-width: 500px;
}

.sponsoring-wizard-table a.button {
    float: right;
}

td.email-col {
    font-size: 10px;
}

@media (max-width: 620px) {
    table.sponsoring-wizard-table {
        min-width: auto;
        width: 100%;
    }

    div.selectize-control {
        width: auto;
    }

    .email-col {
        display: none;
    }
}

@media print {
    .selectize, .selectize *, .selectize-control, .selectize-control *, .selectize-control * * {
        display: inline;
        padding: 0;
        margin: 0;
        border: 0;
        padding: 0 5px;
        margin-right: 10px;
    }

    .take-attendance-roster tbody tr,
    .take-attendance-roster tbody tr td {
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }

    .take-attendance-roster tbody tr td {
        border-right: 1px solid black;
    }

    .take-attendance-roster tbody tr td.user-col,
    .take-attendance-roster tbody tr td.sid-col,
    .take-attendance-roster tbody tr td.email-col {
        padding-left: 5px;
    }

    .take-attendance-roster tbody tr td.email-col {
        border-right: none;
    }

    .take-attendance-roster tbody tr td:last-child {
        border-right: none;
    }

    .take-attendance-roster thead tr.members-header,
    .take-attendance-roster thead tr.members-header td {
        border: 1px solid black;
        padding-bottom: 5px;
    }

    .take-attendance-roster thead tr.members-header th {
        border-right: 1px solid black;
    }

    .take-attendance-roster thead tr.members-header th.user-col,
    .take-attendance-roster thead tr.members-header th.sid-col,
    .take-attendance-roster thead tr.members-header th.email-col {
        padding-left: 5px;
    }

    .take-attendance-roster thead tr.members-header th.email-col {
        border-right: none;
    }

    .take-attendance-roster thead tr.members-header th.grade-col {
        text-align: center;
        padding: 0 8px;
    }

    .take-attendance-roster thead tr.members-header th:last-child {
        border-right: none;
    }

    .take-attendance-roster tbody tr {
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .take-attendance-roster .email-col {
        display: block;
        border-bottom: 0;
    }

    .take-attendance-roster .sid-col {
        display: none;
    }

    .take-attendance-roster.no-members,
    .take-attendance-roster.no-members tbody,
    .take-attendance-roster.no-members tbody tr,
    .take-attendance-roster.no-members tbody tr td {
        border: none;
    }

    .pass-container {
        display: none;
    }

    .pass-container.has-passes {
        display: block;
    }
}