p {
    margin-bottom: 5px;
}

pre {
    font-family: monospace;
    max-height: 400px;
    width: 600px;
    overflow: auto;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
}

#account-list {
    height: 500px;
    width: 100%;
    border: 1px solid #ccc;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
}

#account-list:focus {
    outline: 0;
}

#account-list-search {
    font-family: "FontAwesome", "Open Sans", sans-serif;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}

#edit-title {
    margin-bottom: 15px;
}

#account-list-container,
#edit-area,
#edit-area-buttons {
    float: left;
    box-sizing: border-box;
    margin: 0;
}

#account-list-container {
    width: 30%;
    width: calc(250px);
}

#edit-area {
    width: 70%;
    width: calc(100% - 250px);
    padding-left: 15px;
    overflow-y: auto;
}

#edit-area-buttons {
    width: 70%;
    width: calc(100% - 250px);
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
}

#edit-area input[readonly] {
    color: #aaa;
}

#account-list .account {
    padding: 5px;
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#account-list .account.selected {
    background-color: #ccc;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input {
    box-sizing: border-box;
    width: 100%;
}

#ldap-loading {
    display: none;
    color: #aaa;
    margin-left: 5px;
    vertical-align: sub;
}

#account-list .loading {
    color: #aaa;
    text-align: center;
    padding: 10px;
}

#delete-modal-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}

#delete-modal {
    width: 400px;
    margin: 45px auto 0;
    padding: 10px;
    background-color: white;
    border: 1px solid #0048ab;
    border-radius: 5px;
}

#student-fields {
    display: none;
}

#type-switch {
    margin-top: 6px;
}

#type-switch span {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;

    &.active {
        color: white;
        background-color: #0048ab;
        cursor: default;
    }
}

#no-db-user,
#account-locked {
    font-weight: bold;
    margin-bottom: 5px;
    display: none;
}
