/* Let form.schedule-activity-grid scroll with the browser; 
 * give all other UI elements a fixed position. -JW, 05/15 */

@media (min-width: 500px) {

    .header, .nav {
        position: fixed;
        z-index: 4;
    }

    .primary-content {
        overflow: hidden;
        margin-bottom: 20px;
    }

    .eighth-header {
        position: fixed;
        /* keep solid */
        height: 150px;
        width: 100%;
        /* keep Start Date aligned properly */
        width: calc(100% - 152px);
        /* remove gap between top header and primary-content */
        margin-top: -16px;
        padding-top: 16px;
        background-color: #f0f0f0;
        z-index: 4;
    }

    .schedule-activity-head {
        position: fixed;
        margin-top: -119px;
        z-index: 4;
    }

    .schedule-activity-buttons {
        
    }

    .schedule-activity-grid {
        position: static;
        margin-top: 161px;
        z-index: -1;
    }

}