.block-picker {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    height: 100px;
    border: 1px solid rgb(216, 216, 216);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.block-nav, .block-nav:hover, .block-nav:active {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 100%;
    padding: 0;

    border-color: rgb(216, 216, 216);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 500;
}

.earlier-blocks {
    float: left;
    border: none;
    border-right: 1px solid rgb(216, 216, 216);
}

.later-blocks {
    float: right;
    border: none;
    border-left: 1px solid rgb(216, 216, 216);
}

.block-nav i {
    left: 50%;
    top: 50%;
}

.block-picker .block {
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 0px;
    outline: 1px solid black;
}

.blocks-container {
    position: absolute;
    margin-left: 0;
}