h2 {
    display: inline;
}

thead {
    font-weight: bold;
}

td {
    padding: 5px
}

.block-arrow, .block-arrow:active, .block-arrow:visited {
    color: rgb(72,72,72);
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.block-arrow:hover {
    color: rgb(32,66,224);
    text-decoration: none;
}