.primary-content {
    .eighth-header {
        position: absolute;
        right: 10px;
        width: 200px;
    }

    &.eighth-signup {
        @media (max-width: 550px) {
            .eighth-table {
                display: none;
            }
            .middle .switch {
                display: none;
            }
            #unsignup-button {
                zoom: 0.75;
            }
        }
    }

    @media print {
        .preferred-user-picture {
            position: absolute;
        }
        .user-container {
            position: relative;
            left: 125px;

            .button {
                display: none;
            }
        }
    }
}

.preferred-user-picture > img {
    width: 86px;
    height: 107.5px;
    background-size: 86px 107.5px;
    margin-top: 15px;
}

.user-info h2 {
    padding: 0;
}

table.user-info-contact {
    tr {
        line-height: 10px;

        &.comments {
            line-height: initial;
        }
    }

    div#activity-detail & td {
        line-height: 16px;
    }
}

table.eighth-table {
    width: 100%;
}

.eighth-table {
    tr {
        height: 30px;
    }

    .button-container {
        position: relative;
    }

    .button-right {
        position: absolute;
        right: 0;
    }

    .button-center {
        position: absolute;
        left: 50%;
        margin-left: -75px;
    }

    .checkbox {
        padding-left: 0px;
        padding-right: 8px;
        width: 80px;
    }

    .center {
        text-align: center;
    }

    .button-row {
        width: 70px;
    }
}

section.user {
    &-info-eighth {
        overflow-x: auto;

        > form {
            min-width: 700px;
        }
    }

    &-info-edit {
        clear: both;
        padding-top: 20px;
        min-width: 400px;
        overflow-x: auto;

        > form {
            min-width: 700px;
        }
    }

    &-history {
        clear: both;
        padding-top: 20px;
        overflow-x: scroll;
    }
}

table.user-signups-table {
    min-width: 525px;
}

@media (max-width: 700px) {
    .primary-content.eighth-signup .eighth-header {
        display: none;
    }
    #signups-chart {
        display: block;
        margin: 0 auto;
    }
}

div.primary-content.eighth-signup {
    margin-bottom: 0;
}

.sponsor-table {
    width: 100%;
}

.primary-content table.sponsor-table {
    th,
    td {
        padding-top: 0;
        padding-bottom: 0;
    }
}

#chartjs-tooltip {
    opacity: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 6px;
    border-radius: 3px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);

    &.below {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);

        &:before {
            border: solid;
            border-color: #111 transparent;
            border-color: rgba(0, 0, 0, 0.8) transparent;
            border-width: 0 8px 8px 8px;
            bottom: 1em;
            content: "";
            display: block;
            left: 50%;
            position: absolute;
            z-index: 99;
            -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
        }
    }

    &.above {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);

        &:before {
            border: solid;
            border-color: #111 transparent;
            border-color: rgba(0, 0, 0, 0.8) transparent;
            border-width: 8px 8px 0 8px;
            bottom: 1em;
            content: "";
            display: block;
            left: 50%;
            top: 100%;
            position: absolute;
            z-index: 99;
            -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
        }
    }
}
