@import "colors";

$red: rgb(255, 72, 72);
$orange: #ff6f00;
$color1: #d8d8d8;
$color2: rgb(228, 228, 228);
$color3: rgb(252, 252, 252);
$color4: rgb(242, 242, 242);
$color5: rgb(170, 170, 170);
$color6: rgb(242, 242, 244);
$color7: rgb(213, 213, 213);
$color8: rgba(0, 0, 0, 0.05);
$headerblue: #0048ab;

.primary-content {
    /* after this point (where body is 353px),
       the UI is impossible to use and things
       start overlapping
    */
    min-width: 273px;

    &.scroll-display {
        #activity-list {
            margin-top: 40px;
            height: calc(100% - 40px);
        }

        .middle-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9999;
            width: 100%;
            background: #f0f0f0;
            border-bottom: 1px solid $color1;
        }

        .sticky-header.all-header {
            display: none;
        }
    }
}

.day-picker {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    height: 100px;
    border: 1px solid $color1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
    /* The transform stuff is to fix a dumb webkit bug
       http://stackoverflow.com/a/22329110
    */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    &-buttons {
        height: 100px;
        width: 100%;

        button {
            &,
            &:hover,
            &:active {
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 100%;
                padding: 0;
                margin: 0;
                border-color: $color1;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                z-index: 500;
            }

            i {
                left: 50%;
                top: 50%;
            }
        }
    }

    .day {
        display: inline-block;
        vertical-align: top;
        width: 200px;
        height: 100px;
        margin: 0 1px 0 0;
        outline: 1px solid $color1;

        &-title {
            height: 24px;
            display: block;
            font-size: 16px;
            text-align: center;
        }
    }
}

.earlier-days {
    border: none;
    border-right: 1px solid $color1;
}

.later-days {
    right: 0;
    border: none;
    border-left: 1px solid $color1;
}

.active-block {
    background-color: $color2;

    &:not(:hover) .block-letter {
        background-color: $color3;
    }
}

.block {
    .block-letter {
        margin-right: 5px;

        &.waitlist {
            background-color: $orange;
            color: white;
        }
    }

    &.cancelled {
        .selected-activity {
            color: $red;
        }

        .block-letter {
            background-color: $red; // red
            color: $color4;
        }
    }
}

.no-activity-selected {
    color: $color5;
}

.error-feedback {
    color: $red;
}

.days-container {
    padding: 0;
    margin-left: 30px;
    margin-right: 29px; // Account for 1px margin-right on .day
    /* Replace overflow:hidden with this to enable mouse scrolling of blocks;
       overflow-y: hidden;
       overflow-x: scroll;
    */
    overflow: hidden;
    text-align: center;
}

.blocks {
    height: 76px;
}

.block {
    height: 32px;
    line-height: 32px;
    display: block;
    padding: 3px;

    &:hover {
        background-color: $color3;
    }
}

.many-blocks {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .block {
        height: 25px;
        line-height: 25px;
    }
}

.day {
    text-align: left;

    a {
        &,
        &:hover {
            text-decoration: none;
            color: $grey;
        }

        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
        }
    }
}

.middle {
    margin: 10px 0;
    height: 50px;

    .middle-wrapper.only-unsignup & {
        height: 40px;
        margin: 0;
    }

    > .block-title {
        float: left;
        margin-left: 5px;
        // FIXME: hardcoded background color
        background-color: $color4;

        h2 {
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            padding-bottom: 0;
        }
    }

    h4 {
        font-size: 16px;
        margin: 0;
    }

    .middle-button-container {
        position: absolute;
        right: 26px;
        @media (max-width: 700px) {
            position: fixed;
            bottom: 5px;
            right: 5px;
            z-index: 9;
        }

        .history-button > a > span {
            @media (max-width: 500px) {
                display: none;
            }
        }
    }

    &-wrapper {
        display: table;
        width: 100%;
    }
}

.search {
    &-wrapper {
        position: relative;
        margin-right: 451px;
        z-index: 999;
        border-bottom: 1px solid $color1;
        background: $color6; // prevent overflow from sticky header
        span {
            display: block;
            overflow: hidden;
        }
    }

    &-hide {
        height: 0 !important;
        overflow: hidden !important;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }

    &-noresults {
        display: none;
    }
}

#activity-picker {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    height: 500px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid $color1;
    overflow: hidden;
    /* The transform stuff is to fix a dumb webkit bug
       http://stackoverflow.com/a/22329110
    */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    .fa-search {
        margin-left: 5px;
        line-height: 30px;
        float: left;
    }

    .search-wrapper input {
        font-size: 14px;
        background: none;
        border: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        box-shadow: none;
        height: 30px;
        margin: 0;
        //margin-top: -10px;
        padding: 0 4px;
        width: 100%;
    }
}

#activity-list {
    float: left;
    left: 0;
    right: 450px;
    top: 31px;
    bottom: 0;
    display: block;
    position: absolute;
    overflow-y: scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    ul {
        padding: 0;
        list-style: none;
        cursor: pointer;

        > p {
            margin: 10px;
        }
    }

    li {
        height: 26px;
        line-height: 26px;
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;

        &:nth-child(odd) {
            background-color: $color8;
        }

        &.selected {
            background-color: $color7;
            font-weight: bold;
        }

        &.signed-up {
            &:before,
            &::before {
                content: "\F00C";
                font-family: FontAwesome, sans-serif;
                font-size: 13px;
                color: green;
                margin-left: -24px;
                padding: 0 3px 0 5px;
            }
        }
    }
}

#activity-picker {
    &.has-search-header {
        #activity-list {
            margin-top: 31px;
        }

        .search-header {
            display: block;
        }
    }

    .search-header {
        display: none;
    }

    h3.empty-state {
        color: $color5;
        text-align: center;
    }

    h5 .clear-button {
        float: right;
        margin-top: 4px;
        margin-right: 0;
        height: 16px;
        padding-bottom: 3px;
    }
}

#activity-detail {
    display: block;
    position: absolute;
    float: right;
    width: 430px;
    bottom: 0;
    top: 0;
    right: 0;
    border-left: 1px solid $color1;
    padding: 10px;
    //margin-right: -451px;
    background-color: $color6;
    z-index: 999;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    dt {
        float: left;
        padding-right: 5px;
    }

    dd,
    dt {
        font-size: 15px;
    }

    h2.user-name {
        padding-bottom: 0;
    }
}

h3 {
    &,
    &.activity-detail-header {
        font-size: 20px;
    }

    > a {
        &,
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $grey;
        }
    }
}

#signup-section {
    margin-top: 1em;

    .signup-waitlist-text {
        font-weight: bold;
        margin-bottom: 1em;
    }

    .signup-waitlist-current {
        color: $orange;
        margin-bottom: 1em;
    }
}

.waitlist-count {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

#roster-button {
    /* keep same width w/ close/view roster button */
    width: 80px;
    text-align: center;
}

#signup-spinner-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

dt.description {
    margin-top: 1em;
    float: none;
}

dd.description {
    margin-top: 1em;
}

h5 {
    background-color: $color3;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 0 10px;
    outline: 1px solid $color1;

    &.stuck {
        position: absolute;
        top: 31px;
        left: 0;
        right: 0;
        z-index: 999;
        margin-right: 450px;
    }

    &.hidden {
        display: none;
    }

    &.no-activities {
        /* fixes sticky headers */
        visibility: hidden;
        height: 0;
    }

    &.search-header {
        margin-top: 1px;
    }
}

.activity {
    &-icons {
        margin-right: 3px;
        display: inline-block;
        float: left;

        .fas, .far, .fab {
            font-size: 20px;
            margin-left: 1px;
            margin-right: 2px;
            margin-top: 3px;

            &.fa-clock {
                color: $orange;
            }
        }
    }

    &-name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        width: auto;
    }

    &-flags {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        width: auto;
    }

    &-rooms {
        position: absolute;
        left: 60%;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        float: right;
        font-weight: lighter;
        opacity: 0.7;
    }

    &-sponsors {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
        float: right;
        font-weight: lighter;
        opacity: 0.7;

        .activity-ids {
            width: 35px;
            display: inline-block;
            text-align: right;
        }
    }

    &-icon {
        background-image: url("/static/img/Eighth-Icons.svg");
        background-size: auto 20px;
        background-repeat: no-repeat;
        display: block;
        float: left;
        height: 20px;
        width: 20px;
        margin-top: 3px;

        .no-svg & {
            background-image: url("/static/img/Eighth-Icons@2x.png");
        }

        @for $i from 0 through 10 {
            &.pie-#{$i} {
                background-position: -20px * $i 0;
            }
        }

        &.cancelled {
            background-position: -220px 0;
        }

        &.restricted {
            background-position: -220px 0;
        }

        &.fav {
            background-position: -260px 0;

            &.fav-sel {
                background-position: -240px 0;
            }
        }
    }
}

@media print {
    body > .main > div.primary-content {
        margin-left: 0 !important;
    }
    div.day-picker {
        display: none;
    }
    html > body {
        min-width: initial;
    }
    div.main {
        height: 100%;
    }
    div#activity-picker {
        height: auto;

        div#activity-detail {
            display: none;
            position: static;
            width: 100%;
            width: calc(100% - 15px);
            float: none;

            &.selected {
                display: block;
            }
        }
    }
    div#activity-list {
        width: 100%;
        position: static;
    }
    #activity-list li {
        &.selected {
            font-weight: normal;
            background: inherit;
        }

        &:nth-child(odd) {
            background-color: $color8 !important;
        }
    }
}
