/* Let form.schedule-activity-grid scroll with the browser;
 * give all other UI elements a fixed position. -JW, 05/15 */


b.cancelled {
    color: rgb(255,72,72);;
}

tr.scheduled .block-name {
    font-weight: bold;
    white-space: nowrap;
}

.schedule-activity-page.floating form.schedule-form {
    overflow-x: scroll;
    position: absolute; /* quick fix to display scrollbar at bottom */
}

.footer-buttons {
    margin-bottom: 160px;
}

@media (min-width: 500px) {
    .header, .nav {
        position: fixed;
        z-index: 4;
    }

    .schedule-activity-page.floating .primary-content {
        overflow: hidden;
        margin-bottom: 20px;
    }

    .schedule-activity-page.floating .eighth-header {
        position: fixed;
        /* keep solid */
        height: 160px;
        width: 100%;
        /* keep Start Date aligned properly */
        width: calc(100% - 152px);
        /* remove gap between top header and primary-content */
        margin-top: -16px;
        padding-top: 16px;
        background-color: #F2F2F4;
        z-index: 4;
        border-bottom: 1px rgb(194, 194, 194) solid;
    }

    .schedule-activity-page.floating .schedule-activity-head {
        position: fixed;
        margin-top: 42px;
        width: 100%;
        z-index: 4;
    }

    .schedule-activity-page.floating .schedule-activity-grid {
        position: static;
        margin-top: 161px;
        z-index: -1;
    }

}


tr.form-row.hidden input,
tr.form-row.hidden textarea,
tr.form-row.hidden .selectize-input {
    opacity: 0.7;
}

/* keep selectize and non-selectize inputs the same height */
:not(.selectize-input) > input[type="text"] {
    height: 23px;
}

.form-row > td {
    position: relative;
}

.form-row a.propagate {
    height: 22px;
    width: 5px;
    line-height: 22px;
    opacity: 1;
    cursor: pointer;
    z-index: 3;
    margin-left: -7px;
}

.form-row td[data-base-field='capacity'] a.propagate {
    margin-left: -12px;
}

.propagate-direction {
    position: fixed;
    float: right;
    right: 20px;
    top: 100px;
    width: 220px;
    line-height: 40px;
    z-index: 999;
}

.propagate-direction > b {
    float: left;
    margin-right: 5px;
}

.propagate-direction select,
.propagate-direction .selectize-control {
    width: 80px;
    display: inline-block;
    float: right;
}

.propagate-method {
    position: fixed;
    float: right;
    right: 20px;
    top: 150px;
    width: 220px;
    line-height: 40px;
    z-index: 998;
}

.propagate-method > b {
    float: left;
    margin-right: 5px;
}

.propagate-method select,
.propagate-method .selectize-control {
    width: 80px;
    display: inline-block;
    float: right;
}

.propagate-direction .selectize-control .loading,
.propagate-method .selectize-control .loading {
    display: none;
}

@media (max-width: 1000px) {
    .selectize-control {
        width: 350px;
    }
}

@media (max-width: 858px) {
    .propagate-method b, .propagate-direction b {
        display: none;
    }

    .propagate-method, .propagate-direction {
        width: 85px;
    }
}

@media (max-width: 720px) {
    .propagate-method, .propagate-direction {
        zoom: 0.6;
    }

    .start-date {
        display: none;
    }
}

td[data-field="capacity"] {
    white-space: nowrap;
}

tr.form-row.scheduled .selectize-input,
tr.form-row.scheduled input,
tr.form-row.scheduled textarea {
    /*border-color: green;
    background-color: rgba(0, 128, 0, 0.25);*/
    background-color: white;
}

tr.form-row.hidden .selectize-input,
tr.form-row.hidden input,
tr.form-row.hidden textarea {
    background-color: rgba(181, 181, 181, 0.25);
}

tr.form-row ::-webkit-input-placeholder {
   color: black;
   font-weight: bold;
}

tr.form-row :-moz-placeholder {
   color: black;
   font-weight: bold;
}

tr.form-row ::-moz-placeholder {
   color: black;
   font-weight: bold;
}

tr.form-row :-ms-input-placeholder {  
   color: black;
   font-weight: bold;
}

tr.form-row .capacity {
   font-size: 15px;
   font-style: italic;
}

tr.form-row .capacity::-webkit-input-placeholder {
   font-size: 12px;
   font-style: normal;
}

tr.form-row .capacity:-moz-placeholder {
   font-size: 12px;
   font-style: normal;
}

tr.form-row .capacity::-moz-placeholder {
   font-size: 12px;
   font-style: normal;
}

tr.form-row .capacity:-ms-input-placeholder {  
   font-size: 12px;
   font-style: normal;
}