.day-picker {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    height: 100px;
    border: 1px solid rgb(216, 216, 216);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}

.day-nav, .day-nav:hover, .day-nav:active {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 100%;
    padding: 0;

    border-color: rgb(216, 216, 216);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 500;
}

.earlier-days {
    float: left;
    border: none;
    border-right: 1px solid rgb(216, 216, 216);
}

.later-days {
    float: right;
    border: none;
    border-left: 1px solid rgb(216, 216, 216);
}

.day-nav i {
    left: 50%;
    top: 50%;
}

.day-picker .day {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 100px;
    margin: 0;
    margin-right: 1px;
    outline: 1px solid rgb(216, 216, 216);
}

.days-container {
    position: absolute;
    padding: 0;
    margin-left: 0;
}


.day-picker .block-title {
    height: 24px;
    display: block;
    font-size: 16px;
    text-align: center;
}

.block {
    height: 32px;
    display: block;
    padding: 3px;
}

.block:hover {
    background-color: rgb(252,252,252);
}

.day a, .day a:hover {
    text-decoration: none;
    color: rgb(72,72,72);
}

.day a div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.middle {
    margin: 10px 0;
    height: 50px;
}

.middle > .block-title {
    float: left;
    margin-left: 5px;
}

.controls {
    float: right;
}

.controls button {
    display: inline-block;
    margin-top: 9px;
}

.middle h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.middle h4 {
    font-size: 16px;
    margin: 0;
}

#activity-picker {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    height: 500px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    overflow: hidden;

}

.search-wrapper {
    position: relative;
    margin-right: 451px;
    z-index: 999;
    background-color: rgb(242,242,244);
    border-bottom: 1px solid rgb(216, 216, 216);
}


.search-wrapper span {
    display: block;
    overflow: hidden;
}

#activity-picker .icon-search {
    margin-left: 5px;
    line-height: 30px;
    float: left;
}

#activity-picker input[type="text"] {
    font-size: 14px;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    box-shadow: none;

    height: 30px;
    margin: 0;
    /*margin-top: -10px;*/
    padding: 0 4px;
    width: 100%;
}

#activity-list {
    float: left;
    left: 0;
    right: 450px;
    top: 31px;
    bottom: 0;
    display: block;
    position: absolute;
    overflow: scroll;
}

#activity-detail {
    display: block;
    position: absolute;
    float: right;
    width: 430px;
    bottom: 0;
    top: 0;
    right: 0;
    border-left: 1px solid rgb(216, 216, 216);
    padding: 10px;
    /*margin-right: -451px;*/
    background-color: rgb(242,242,244);
    z-index: 999;
}


h3 {
    font-size: 20px;
}

#activity-detail h3.empty-state {
    color: rgb(170, 170, 170);
    text-align: center;
}

#activity-list ul {
    padding: 0;
    list-style: none;
    cursor: pointer;
}

#activity-detail dt {
    float: left;
    padding-right: 5px;
}

#activity-detail dd, #activity-detail dt {
    font-size: 15px;
}

#signup-button {
    margin-top: 1em;
}

dt.description {
    margin-top: 1em;
    float: none;
}

dd.description {
    margin-top: 1em;
}

h5 {
    background-color: rgb(252,252,252);
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    padding: 0 10px;
    outline: 1px solid rgb(216, 216, 216);
}

h5.stuck {
    position: absolute;
    top: 31px;
    left: 0;
    right: 0;
    z-index: 999;
    margin-right: 451px;
}

h5.hidden {
    display: none;
}

#activity-list li {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

#activity-list li:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

#activity-list li.selected {
    background-color: rgb(180, 180, 180);
}

/* eighth icons (ripped from iodine) */
.activity-icon {
    background-image: url(/static/img/eighth-pie-icons.png);
    display: block;
    float: left;
    height: 21px;
    width: 21px;
    margin: 1px 0 0 -5px;
    margin-right: 3px;
}

.activity-icon.pie-10 {
    background-position: -210px 0px;
}

.activity-icon.pie-9 {
    background-position: -189px 0px;
}

.activity-icon.pie-8 {
    background-position: -168px 0px;
}

.activity-icon.pie-7 {
    background-position: -147px 0px;
}

.activity-icon.pie-6 {
    background-position: -126px 0px;
}

.activity-icon.pie-5 {
    background-position: -105px 0px;
}

.activity-icon.pie-4 {
    background-position: -84px 0px;
}

.activity-icon.pie-3 {
    background-position: -63px 0px;
}

.activity-icon.pie-2 {
    background-position: -42px 0px;
}

.activity-icon.pie-1 {
    background-position: -21px 0px;
}

.activity-icon.pie-0 {
    background-position: 0px 0px;
}

.activity-icon.cancel {
    background-position: -231px 0px;
}

.activity-icon.restricted {
    background-position: -231px 0px;
}

.activity-icon.fav {
    background-position: -252px 0px;
}

.activity-icon.fav.fav-sel {
    background-position: -273px 0px;
}
