.primary-content {
    width: calc(100% - 92px);
    height: 100%;
}

.primary-content .searchbox {
    margin-left: 50px;
}

.primary-content #box {
    font-size: 32px;
    color: black;
    background-color: transparent;
    min-width: calc(100% - 60px);
    height: 44px;
    display: inline-block;

}

.primary-content #box-btn {
    display: inline-block;
    width: 45px;
    height: 50px;
    float: right;
}

@media (max-width: 580px) {
    .primary-content div.searchbox {
        margin-left: 0;
    }
}

@media (max-width: 530px) {
    .primary-content #box-btn {
        position: relative;
        top: -50px;
    }
}

@media (max-width: 500px) {
    .primary-content #box-btn {
        top: 0;
    }

    .primary-content {
        width: 100%;
    }
}

@media (max-width: 438px) {
    .primary-content #box-btn {
        top: -50px;
    }
}

#box::-webkit-input-placeholder,
#box:-moz-placeholder,
#box::-moz-placeholder,
#box:-ms-input-placeholder {
    color: black;
}