p {
    margin-bottom: 5px;
}
pre {
    font-family: monospace;
    max-height: 400px;
    width: 600px;
    overflow: auto;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
}
