h2 {
    padding-bottom: 10px;
}

h3 {
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

h4 {
    font-weight: bold;
    margin-top: 6px;
}

.admin-dashboard {
    width: 100%;
}

.admin-dashboard td {
    height: 200px;
    padding-right: 40px;
    width: 50%;
}


