.eighth-header {
    display: inline-block;
    width: 100%;

    h2 {
        float: left;
    }

    .start-date {
        float: right;
        text-align: right;
    }

    @media (max-width: 550px) {
        .extra-title {
            display: none;
        }
        .start-date {
            display: none;
        }
    }
}

.selectize-control {
    width: 500px;
    margin-bottom: 2px;
}

table.eighth-absences tr {
    td,
    th {
        padding: 0 8px;
    }
}

@media print {
    .print-hide {
        display: none !important;
    }
}
