.attendance-container {
    display: inline-block;
}

.no-attendance {
    color: rgb(255, 72, 72);
    font-weight: bold;
}

.attendance-taken {
    color: rgb(0, 180, 0);
    font-weight: bold;
}

.take-attendance-roster td {
    padding-right: 20px;
}

.take-attendance-roster tr {
    line-height: 25px;
}

.save-button {
    float: right;
}


h3 {
    font-weight: bold;
    font-size: 18px;
    clear: both;
    margin-top: 70px;
}

.activity-attributes {
    margin-bottom: 10px;
}

.accept-all-passes {
    float: right;
}

.attendance-container td {
    padding-right: 10px;
}

.present-checkbox {
    text-align: center;
}
