.preferred-user-picture > img {
    width: 86px;
    height: 107.5px;
    background-size: 86px 107.5px;
    margin-top: 15px;
}

.user-info h2 {
    padding: 0;
}

table.user-info-contact tr {
    line-height: 10px;
}

table.user-info-contact tr.comments {
    line-height: initial;
}