.eighth-header {
    display: inline-block;
    width: 100%;
}

.eighth-header h2 {
    float: left;
}

.eighth-header .start-date {
    float: right;
    text-align: right;
}

.selectize-control {
    width: 300px;
    margin-bottom: 2px;
}


table.eighth-absences tr td,
table.eighth-absences tr th {
    padding: 0 8px;
}

@media print {
    .print-hide {
        display: none;
    }
}

table.fancy-table td, table.fancy-table, th {
    padding: 5px 10px;
}

table.fancy-table tbody tr:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}
