p {
    margin-bottom: 5px;
}
pre {
    font-family: monospace;
    max-height: 400px;
    width: 600px;
    overflow: auto;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
}
#teacher-list {
    height: 500px;
    width: 100%;
    border :1px solid #ccc;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
}
#teacher-list:focus {
    outline: 0;
}
#teacher-list-search {
    font-family: 'FontAwesome', 'Open Sans';
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}
#edit-title {
    margin-bottom: 15px;
}
#teacher-list-container, #edit-area {
    float: left;
    box-sizing: border-box;
    margin: 0;
}
#teacher-list-container {
    width: 30%;
    width: calc(200px);
}
#edit-area {
    width: 70%;
    width: calc(100% - 200px);
    padding-left: 15px;
}
#teacher-list .teacher {
    padding: 5px;
    cursor: pointer;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#teacher-list .teacher.selected {
    background-color: #ccc;
}
.form-group {
    margin-bottom: 10px;
}
.form-group label {
    font-weight: bold;
}
.form-group input {
    width: 100%;
}
#ldap-loading {
    display: none;
    margin-left: 5px;
    vertical-align: sub;
}
