.login-warning {
    display: none;
}

.login-warning > p {
    vertical-align: middle;
}

body.has-login-warning .login-warning {
    display: block;
    position: absolute;
    top: 10px;
    width: 578px; /* 600px total */
    max-height: 130px;
    left: -200px;
    background-color: yellow;
    border: 1px solid rgb(210, 208, 66);
    padding: 10px;
    border-radius: 4px;
    overflow-y: auto;
    z-index: 999999999999;
}


body.has-login-warning .center {
    margin-top: -220px;
}

body.has-login-warning.has-snow .center {
    margin-top: -229px;
}

@media (max-height: 784px) {
    body.has-login-warning .center {
        margin-top: -220px;
        top: 392px
    }

    body.has-login-warning.has-snow .center {
        margin-top: -229px;
    }
}

@media (max-width: 600px) {
    body.has-login-warning .login-warning {
        width: calc(160% - 20px);
        left: -30%;
    }
}

@media (max-width: 500px) {
    @media (max-height: 784px) {
        body.has-login-warning.has-snow .center {
            margin-top: -229px;
        }
    }

    body.has-login-warning.has-snow .center {
        margin-top: -229px;
    }
}