@import 'login_common.css';

.logo {
    background-image: url(/static/img/logos/Login-Logo.svg);
    background-repeat: no-repeat;
    height: 74px;
    width: 90px;
    margin-top: 70px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: auto;
    cursor: pointer;
}

.no-svg .logo {
  background-image: url("/static/img/logos/Login-Logo@2x.png");
}

.login-warning {
    display: none;
}

.login-warning > p {
    height: 130px;
    vertical-align: middle;
}

body.has-login-warning .login-warning {
    display: block;
    position: absolute;
    width: 600px;
    height: 130px;
    left: -200px;
    background-color: yellow;
    border: 1px solid rgb(210, 208, 66);
    padding: 10px;
    border-radius: 4px;
    z-index: 999999999999;
}


@media (max-width: 600px) {
    body.has-login-warning .login-warning {
        width: calc(160% - 20px);
        top: 20px;
        left: -30%;
    }
}
@media (max-height: 715px) {
    body.has-login-warning .center {
        /* move down 70px */
        margin-top: -200px;
    }
}
