.login-warning {
    display: none;
    > p {
        vertical-align: middle;
    }
}

body.has-login-warning {
    .login-warning {
        display: block;
        position: absolute;
        top: 10px;
        width: 578px; // 600px total
        max-height: 130px;
        left: -200px;
        background-color: yellow;
        border: 1px solid rgb(210, 208, 66);
        padding: 10px;
        border-radius: 4px;
        overflow-y: auto;
        z-index: 999999999999;
        @media (max-width: 600px) {
            width: calc(160% - 20px);
            left: -30%;
        }
    }
    .center {
        margin-top: -220px;
    }
    &.has-snow .center {
        margin-top: -229px;
        @media (max-width: 500px) and (max-height: 784px) {
            margin-top: -229px;
        }
        @media (max-width: 500px) {
            margin-top: -229px;
        }
    }
    @media (max-height: 784px) {
        .center {
            margin-top: -220px;
            top: 392px
        }
        &.has-snow .center {
            margin-top: -229px;
        }
    }
}