.dash-warning {
    max-height: 100vh;
    position: relative;
}

body.has-login-warning {
    .login-warning {
        display: block;
        position: absolute;
        top: 10px;
        width: 578px;
        left: -200px;
        overflow-y: auto;
        z-index: 999999999999;
        max-height: 130px;

        @media (max-width: 600px) {
            width: calc(160% - 20px);
            left: -30%;
        }
    }

    .center {
        margin-top: -220px;
    }

    &.has-snow .center {
        margin-top: -229px;
        @media (max-width: 500px) and (max-height: 784px) {
            margin-top: -229px;
        }
        @media (max-width: 500px) {
            margin-top: -229px;
        }
    }

    @media (max-height: 784px) {
        .center {
            margin-top: -220px;
            top: 392px;
        }
        &.has-snow .center {
            margin-top: -229px;
        }
    }
}

.dash-warning,
.login-warning {
    color: #484848;
    background-color: yellow;
    border: 1px solid #d2d042;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    transition: max-height 0.2s ease-in-out;

    &.collapsed {
        max-height: 50px !important;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            pointer-events: none;
            background-image: linear-gradient(
                            to bottom,
                            rgba(255, 255, 255, 0),
                            yellow 90%
            );
            width: 100%;
            height: 4em;
        }
    }

    ul {
        text-align: left;
    }

    &:hover {
        cursor: pointer;
    }
}
