.enrichment hr {
    border: 1px solid lightgrey;
}

.enrichment-signup-button {
    font-size: 12px !important;
    padding: 3px 5px !important;
}

.remove-signup-text {
    color: rgb(99, 99, 99);
    font-size: 11px;
}

.attend-button, .no-attend-button {
    float: none !important;
    margin-top: 0 !important;
    color: inherit !important;
}

.enrichment-top {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.enrichment-bottom {
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: rgb(245, 245, 245);
    padding: 4px 5px 5px 5px;

    &.signed-up {
        padding: 3px 5px 5px 5px;
    }
}

.enrichment-content {
    padding: 1px 0 1px 0;
}

.signup-status-message {
    font-size: 12px;
}

.enrichment-content {
    .fa-times {
        font-size: 14px;
        margin-right: 2px;
        margin-left: 1px;
    }

    .fa-check {
        margin-right: 1px;
    }
}

.attending-badge {
    display: none;
}

.selectize-control {
    margin-top: 4px;
}

.schedule {
    min-height: 65vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media(min-width: 768px) {
    .signup-notice {
        width: 40vw;
        position: relative;
        left: 15px;
    }
}

@media(max-width: 550px) {
    .attending-badge {
        display: block;
        width: 74vw;
        font-size: 15pt;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 25px;
        border-radius: 10px;

        background: linear-gradient(135deg, rgb(0, 39, 0), rgb(0, 144, 0), rgb(104, 221, 180), rgb(15, 143, 163), rgb(0, 41, 58));
        background-size: 200% 200%;
        animation: gradient 5s linear infinite;

        .fa-check {
            color: rgb(0, 255, 0);
            font-size: 50pt;
        }
    }
}