.enrichment hr {
    border: 1px solid lightgrey;
}

.enrichment-signup-button {
    font-size: 12px !important;
    padding: 3px 5px !important;
}

.remove-signup-text {
    color: rgb(99, 99, 99);
    font-size: 11px;
}

.attend-button, .no-attend-button {
    float: none !important;
    margin-top: 0 !important;
    color: inherit !important;
}

.enrichment-top {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
}

.enrichment-bottom {
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: rgb(245, 245, 245);
    padding: 4px 5px 5px 5px;

    &.signed-up {
        padding: 3px 5px 5px 5px;
    }
}

.enrichment-content {
    padding: 1px 0 1px 0;
}

.signup-status-message {
    font-size: 12px;
}

.enrichment-content {
    .fa-times {
        font-size: 14px;
        margin-right: 2px;
        margin-left: 1px;
    }

    .fa-check {
        margin-right: 1px;
    }
}