.events {
    min-width: 290px; /* for 320x480 screens */
    max-width: 1000px;
    margin-bottom: 100px;
}

.button-container {
    float: right;
    margin-top: -38px;
}

.events h2 {
    padding-left: 10px;
    line-height: 38px;
}


.events h2.category {
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
    height: 33px;
}

.event {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;
    behavior: url("/static/js/PIE/PIE.htc");
}


.event h3 > a.event-link {
    cursor: pointer;
    color: rgb(72,72,72) !important;
}

.events-icon-wrapper {
    float: right;
}

.event-metadata {
    color: rgb(144,144,144);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.event:hover .event-icon-wrapper {
    display: block;
}

.event-icon-wrapper {
    float: right;
    display: none;
}

.event-icon-wrapper > a {
    color: rgb(72, 72, 72);
    text-decoration: none !important;
    padding-left: 2px;
}

.event-icon-wrapper > a:hover {
    color: rgb(32,66,224);
}

.event-icon {
    cursor: pointer;
}

.bottom-row {
    position: relative;
}

.attend-status {
    color: gray;
    position: absolute;
    left: 270px;
    max-width: 280px;
    white-space: nowrap;
}

.bottom-row.show-attend .attend-status {
    width: 280px;
}

.signup-status {
    color: gray;
}

.signup-status > a.button {
    margin-top: -2px;
    position: absolute;
    left: 140px;
}

.attend-status {
    position: absolute;
    left: 270px;
}

a.button.attend-button {
    color: green;
    margin-top: -3px;
    float: right;
}

a.button.no-attend-button {
    color: red;
    margin-top: -3px;
    float: right;
}

@media (max-width: 710px) {
    .event .bottom-row {
        margin-bottom: 23px;
    }

    .event .bottom-row .attend-status {
        left: 0;
        bottom: -27px;
    }
}

/*
 * on announcement page, switch to separate rows more quickly
 */
@media (max-width: 1060px) {
    .announcements.primary-content .announcement .event .bottom-row {
        margin-bottom: 23px;
    }

    .announcements.primary-content .announcement .event .bottom-row .attend-status {
        left: 0;
        bottom: -23px;
    } 
}