@import "colors";

.events {
    min-width: 290px; // for 320x480 screens
    max-width: 1000px;
    margin-bottom: 100px;

    h2 {
        padding-left: 10px;
        line-height: 38px;

        &.category {
            font-size: 18px;
            font-weight: normal;
            padding-left: 10px;
            height: 33px;
        }
    }
}

.button-container {
    float: right;
    margin-top: -38px;
}

.event {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;
    behavior: url("/static/js/vendor/PIE/PIE.htc");

    h3 {
        cursor: pointer;

        > a.event-link {
            cursor: pointer;
            color: $grey !important;
        }

        &:hover .event-icon-wrapper .event-toggle,
        .event-icon-wrapper .event-toggle:hover,
        .event-icon-wrapper:hover .event-toggle:hover {
            color: rgb(32, 66, 224);
        }

        .event-icon-wrapper:hover .event-toggle {
            color: $grey;
        }
    }

    &-metadata {
        color: rgb(144, 144, 144);
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 5px;
    }

    &-icon {
        cursor: pointer;

        &-wrapper {
            float: right;
            display: none;

            .event:hover & {
                display: block;
            }

            > a {
                color: $grey;
                text-decoration: none !important;
                padding-left: 2px;

                &:hover {
                    color: rgb(32, 66, 224);
                }
            }
        }
    }

    @media (max-width: 710px) {
        .bottom-row {
            margin-bottom: 23px;

            .attend-status {
                left: 0;
                bottom: -27px;
            }
        }
    }

    &-approve-table {
        color: grey;
        margin-bottom: 4px;
    }
}

.events-icon-wrapper {
    float: right;
}

.bottom-row {
    position: relative;
}

.attend-status {
    color: gray;
    position: absolute;
    right: 0px;
    max-width: 280px;
    white-space: nowrap;

    .bottom-row.show-attend & {
        width: 280px;
    }
}

.signup-status {
    color: gray;

    > a.button {
        margin-top: -2px;
        position: absolute;
        left: 140px;
    }
}

a.button {
    &.attend-button {
        color: green;
        margin-top: -3px;
        float: right;
    }

    &.no-attend-button {
        color: red;
        margin-top: -3px;
        float: right;
    }
}

/*
 * on announcement page, switch to separate rows more quickly
 */

@media (max-width: 1060px) {
    .announcements.primary-content .announcement .event .bottom-row {
        margin-bottom: 23px;

        .attend-status {
            left: 0;
            bottom: -23px;
        }
    }
}
