table.directory-list a,
table.directory-list a:link,
table.directory-list a:visited,
table.directory-list a:hover,
table.directory-list a:active {
    color: rgb(72, 72, 72);
}

table.directory-list td.item {
    padding: 3px 5px;
}

table.directory-list td.item i.fa {
    width: 13px;
}

.filesystem {
    display: block;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;

    width: 250px;
}

.filesystem a {
    display: block;
    font-size: 22px;
    color: rgb(72, 72, 72);
    text-align: center;
    text-decoration: none
}

.filesystem i.fa {
    display: block;
    font-size: 46px;
    clear: both;
    text-align: center;
}

.filesystem span {
    text-align: center;
}

.filesystem a:hover span {
    text-decoration: underline;
}

#additional-upload-option {
    padding-left:5px;
    display:none;
}
