@import "colors";

table.directory-list {
    width: 100%;

    a {
        &,
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: $grey;
        }

        &.delete:hover {
            color: rgb(220, 0, 0);
            text-decoration: none;
        }

        &.zip {
            padding-right: 5px;

            &:hover {
                color: rgb(168, 168, 0);
                text-decoration: none;
            }
        }
    }

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, .2);

        &:hover {
            background-color: rgb(220, 220, 220);
        }

        &:last-child {
            border-bottom: 0;
        }
    }

    td {
        &.item {
            padding: 3px 5px;
            width: 50%;

            i.far, i.fab, i.fas {
                width: 13px;
            }
        }

        &.file-options {
            text-align: right;
            padding-right: 10px;
            min-width: 30px;
        }
    }
}

.filesystem {
    display: inline-block;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    margin-right: 6px;
    overflow-x: auto;
    width: 250px;

    a {
        display: block;
        font-size: 22px;
        color: $grey;
        text-align: center;
        text-decoration: none
    }

    i.fab, i.far, i.fas {
        display: block;
        font-size: 46px;
        clear: both;
        text-align: center;
    }

    span {
        text-align: center;
    }

    a:hover span {
        text-decoration: underline;
    }
}

.current-directory {
    overflow-x: hidden;
    text-overflow: ellipsis;
    direction: rtl;
    text-align: left;
}

#additional-upload-option {
    padding-left: 5px;
    display: none;

    &.visible {
        display: inline;
    }
}

#upload-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(180, 180, 180, .7);
    z-index: 1043; // search bar is 1042
    text-align: center;
    border: 10px dashed #666;

    div {
        margin-top: 100px;
    }

    h3 {
        font-size: 2em;
    }

    * {
        pointer-events: none;
    }
}

@media (max-width: 480px) {
    .hidden-sm,
    #additional-upload-option.hidden-sm {
        display: none;
    }
    .file {
        &-information {
            font-size: 0.8em;
        }

        &-options {
            font-size: 1.2em;
        }
    }
}

@media (max-width: 700px) {
    .filesystem {
        display: block;
        width: auto;
        margin-right: 0;
    }
}

@media (max-width: 830px) {
    .right-content {
        position: static;
        width: auto;
        margin-top: 30px;
    }
}
