@media (max-width: 960px) {
    .main div.announcements {
        padding-right: 316px;
    }
}

.groups {
    &-header {
        height: 38px;
        margin-bottom: 4px;

        h2 {
            line-height: 38px;
            float: left;
            display: inline;
        }
    }

    &-icon-wrapper {
        float: right;
    }
}

.primary-content {
    input[name="name"],
    select {
        width: 300px;
    }
}