#hoco-scores {
    display: none;
    margin: 15px auto;
    width: 580px;
    text-align: center;

    position: absolute;
    left: calc(50% - 290px);
    top: 0px;

    .box {
        display: inline-block;
        position: relative;
        background-color: #545454;
        color: white;
        padding: 15px 15px 20px;
        margin: 5px;
        width: 100px;
        height: 80px;
        overflow: hidden;

        .class {
            font-size: 1.5em;
        }

        .score {
            font-size: 2em;
        }
    }
}

@media screen and (max-width: 640px) {
    .center-wrapper {
        margin-top: 40px;
    }
    #hoco-scores {
        width: 284px;
        zoom: 0.7;
        left: calc(50% - 142px);
    }
}

.corner-ribbon {
    width: 95px;
    background: #e43;
    position: absolute;
    top: 5px;
    left: -30px;
    text-align: center;
    line-height: 25px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);

    &.gold {
        background-color: #C98910;
    }

    &.silver {
        background-color: #A8A8A8;
    }

    &.bronze {
        background-color: #965A38;
    }
}

@media screen and (max-height: 900px) {
    .center {
        top: 440px;
    }
}
