/* login schedule */

.schedule-bottom {
    position: absolute;
    top: 50%;
    height: 50%;
    left: 0;
    width: 100%;
    cursor: pointer;
}

.schedule-one, .schedule-two, .schedule-four, .schedule-five {
    text-align: center;
    position: absolute;
    top: 0;
    left: 20%;
    margin-top: -2px;
    height: 300px;
    width: 200px;
    color: rgba(72, 72, 72, 0.8);
    display: none;
}

.schedule-one {
    left: 20%;
}

.schedule-two {
    left: 35%;
}

.schedule-three {
    cursor: pointer;
}

.schedule-four {
    left: 65%;
}

.schedule-five {
    left: 80%;
}

@media (max-width: 1300px) {
    .schedule-one {
        left: 10%;
    }

    .schedule-two {
        left: 30%;
    }

    .schedule-four {
        left: 70%;
    }

    .schedule-five {
        left: 90%;
    }
}

@media (max-width: 900px) {
    .schedule-one {
        left: -100%;
    }

    .schedule-two {
        left: 20%;
    }

    .schedule-four {
        left: 80%;
    }

    .schedule-five {
        left: -100%;
    }
}

@media (max-width: 600px) {
    .center-wrapper {
        position: fixed;
    }

    .schedule-two {
        left: -100%;
    }

    .schedule-four {
        background-color: rgb(242,242,244); /* main bg color */
        top: 100%;
        left: 50%;
    }
/*
    .schedule-five {
        background-color: rgb(242,242,244);
        top: 200%;
        left: 50%;
    }
*/
}
