.login p, .login form {
    padding-left: 50px;
}

input[type=text], input[type=password] {
    width: 130px;
    font-size: 12px;
}

input.empty {
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px #ff6666;
}