.login {
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;

    height: 154px;
    margin-top: -139px;

    width: 200px;
    margin-left: -100px;
}

h1 {
    line-height: 40px;
}
input[type=text], input[type=password] {
    width: 192px;
}
input[type=submit] {
    width: 200px;
    margin-top: 6px;
}
input.empty {
    border: 1px solid #ff0000;
    /*box-shadow: 0 0 10px #ff6666;*/
}

.norton-seal {
    position: fixed;
    bottom: 10px;
    right: 10px;

}