@import 'login_common.css';

.logo {
    background-image: url(/static/img/logos/Login-Logo.svg);
    background-repeat: no-repeat;
    height: 74px;
    width: 90px;
    margin: auto;
    cursor: pointer;
}

.no-svg .logo {
  background-image: url("/static/img/logos/Login-Logo@2x.png");
}
