body {
    text-align: center;
}
.center {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -253px;
}

.center-wrapper {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;

    left: 50%;
    margin-left: -100px;
    width: 200px;
    min-height: 518px;
    z-index: 10;
}

.wrapper-message {
    margin-top: -50px;
}

.message {
    padding: 2px 0;
    margin: 3px 0;
    cursor: pointer;
}

input[type=text], input[type=password] {
    width: 192px;
}
input[type=submit] {
    width: 200px;
    margin-top: 6px;
}

h1 {
    height: 37px;
    width: 200px;
    line-height: 37px;
    text-align: center;
}

.title {
    margin-bottom:3px;
}

.logo {
    background-image: url(/static/img/tj_logo_login.png);
    background-repeat: no-repeat;
    height: 74px;
    width: 90px;
    margin: auto;
}

h2 {
    font-weight: bold;
    font-size: 110%;
    display: inline-block;
    vertical-align: top;
}

.login {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.schedule {
    margin-top: 10px;
    font-size: 16px;
    margin-left: -100px;
}

.center .schedule {
    margin-left: 0;
}

.chevron i{
    font-weight: normal;
    font-size: 13px;
    width: 30px;
    display: inline-block;
    color: rgb(72,72,72);
}

.chevron:hover i {
    text-decoration: none;
    color: rgb(32,66,224);
}

.fa-chevron-left {
    text-align: left;
}

.fa-chevron-right {
    text-align: right;
}

.verisign-seal {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

.verisign-seal-sm {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 10;
}

.browser-notice {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -20%;
    width: 40%;
    text-align: center;
}

.browser-notice a {
    color: black;
    text-decoration: none;
}

.browser-notice span {
    font-size: 20px;
    font-weight: 200;
}

/* On small height screens, disable the week view */
@media (max-height: 500px) {
    .schedule-bottom {
        display: none;
    }
}

.schedule > iframe {
    position: absolute;
    left: 50%;
    margin-left: -154px;
    width: 308px;
}

@media (max-height: 696px) {
    .schedule > iframe {
        /* Fill avail height when iframe causes a scrollbar */
        height: 100%;
    }
}
