pre, .mono {
    font-family: monospace;
}

.raw-json {
    background-color: #e7e7e7;
    padding: 5px;
    width: 99.4%;
    margin-right: 0;
    padding-right: 0;
    border-radius: 4px;
}

.iframe-container {
    background-color: #e7e7e7;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 40px;
    width: 400px;
}

iframe.ip-iframe {
    height: calc(100vh - 40px - 28px);
    width: 400px;
}

.iframe-container-header {
    padding: 5px;
}

.raw-json-header, .iframe-container-header {
    cursor: pointer;
    border-bottom: 2px solid rgb(171, 171, 171);
}

.raw-json-container {
    display: none;
}

.fa-angle-up, .fa-angle-down {
    float: right;
    font-size: 14pt;
    position: relative;
    right: 10px;
}

td {
    padding: 2px 10px 2px 4px !important;
}

.no-left-padding {
    padding-left: 0 !important;
}

.key-green {
    color: green;
}

tr.shade:nth-child(even) {
    background-color: #e7e7e7;
}

.key-red {
    color: rgb(153, 0, 0);
}

th.sticky {
    position: sticky;
    top: -1px;
    background-color: #cfcfcf;
    z-index: 1;
    padding: 5px;
}

table.logs-table {
    width: 97.5vw;
    border-bottom: 1px solid rgb(139, 139, 139);
    border-top: 1px solid rgb(139, 139, 139);
}

.primary-content.logs {
    margin-left: -10px;
}

.pagination {
    height: 30px;
    margin-bottom: 5px;

    a {
        color: rgb(255, 255, 255);
        background-color: rgb(141, 141, 141);
        padding: 2px;
        position: relative;
        top: 6px;
        margin-left: 5px;
        cursor: pointer;

        &.current-page {
            background-color: #4e4e4e;
        }

        &.current-page:hover {
            background-color: #4e4e4e;
        }
    }

    a:hover {
        background-color: rgb(171, 171, 171);
        text-decoration: none;
    }

    span.dot {
        position: relative;
        top: 6px;
        left: 2px;
    }

    input.page-input {
        height: 10px;
        position: relative;
        top: 5px;
        left: 5px;
    }

    input.go-to-page {
        height: 23px;
        position: relative;
        top: 5px;
        left: 5px;
        line-height: 0;
    }

    form {
        display: inline;
    }
}

.button-container {
    float: right;
    margin-top: -35px;
}

.query-table {
    width: 97vw;

    th {
        padding: 0 5px;
    }

    td {
        vertical-align: top;
    }

    td.user {
        min-width: 10vw;
        max-width: 16vw;
    }

    td.ip {
        min-width: 10vw;
        max-width: 19vw;
    }

    td.time {
        min-width: 140px;
        max-width: 140px;
    }

    td.method {
        min-width: 90px;
        max-width: 110px;
    }

    td.path-type, td.user-agent-type {
        min-width: 100px;
        max-width: 100px;
    }

    td.path {
        min-width: 9vw;
        max-width: 16vw;
    }

    td.user-agent {
        min-width: 7vw;
        max-width: 12vw;

        input {
            width: 100%;
        }
    }

    td.submit {
        min-width: 60px;
        position: relative;
        left: 15px;
    }

    input[type=text] {
        padding: 9px;
        width: 90%;
        margin-top: -1px;
    }
}

.selectize-control.single {
    position: relative;
    top: 14px;
    margin-top: -14px;
}
