@import "colors";

.items {
    h2 {
        padding-left: 10px;
        line-height: 38px;

        &.category {
            font-size: 18px;
            font-weight: normal;
            padding-left: 10px;
            height: 33px;
        }
    }
}

h4 {
    font-size: 14px;
}

.button-container {
    float: right;
    margin-top: -38px;
}

.item {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;
    behavior: url("/static/js/vendor/PIE/PIE.htc");

    h3 > a.item-link {
        cursor: pointer;
        color: $grey !important;
    }
}

.items-icon-wrapper {
    float: right;

    .item:hover & {
        display: block;
    }
}

.item-metadata {
    color: rgb(144, 144, 144);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.item-icon-wrapper {
    float: right;
    display: none;

    > a {
        color: $grey;
        text-decoration: none !important;
        padding-left: 2px;

        &:hover {
            color: rgb(32, 66, 224);
        }
    }
}

.item-icon {
    cursor: pointer;
}

.item-comment {
    position: relative;
    padding: 3px 5px;

    &-icons {
        position: absolute;
        right: 5px;
    }
}

.items-container {
    width: 100%;
}

.item-header {
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    padding: 5px 0 5px 3px;

    .button {
        float: right;
        margin-top: -1px
    }
}

.items-container {
    .lost-items,
    .found-items {
        display: inline-block;
        width: 50%;
        width: calc(50% - 20px);
        vertical-align: top;
        @media (max-width: 800px) {
            width: 100%;
        }
        @media (max-width: 400px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .lost-items {
        padding-right: 20px;
    }
}

@media (min-width: 1000px) {
    .lostfound {
        .table > .table-row > form {
            display: table-cell;
            padding-right: 8px;
        }
    }
}
