/* Nav */

@media (max-width: 800px) {
    .nav {
        height: 63px;
        list-style-type: none;
        position: absolute;
        top: 40px;
        left: 50%;
        width: 438px;
        margin-left: -219px;

        li {
            float: left;
            min-width: 73px;
        }

        @media (max-width: 438px) {
            left: 0;
            margin-left: 0;
            max-width: 438px;
        }
    }
    .primary-content {
        margin-top: 73px;
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .search input[type="text"] {
        width: 45px;
    }
    h1 {
        font-size: 0;
    }
}


/* Eighth */

@media (max-width: 900px) {
    .activity-detail {
        width: 300px;
    }
    .activities {
        right: 320px;
    }
    .search-wrapper,
    h5.stuck {
        margin-right: 321px;
    }
}