h3 {
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.center {
    padding: 0;
    text-align: left;
}

p {
    text-indent: 0;
}

i {
    font-style: italic;
}

@media (max-width: 500px) {
    .center-wrapper {
        left: 0;
        margin-left: 0;
        width: 100%;
    }

    h3 {
        line-height: 30px;
        height: auto;
    }
}

#oauth-app-list li {
    padding: 5px;
}

hr {
    border: 1px solid #ccc;
}

input[type="text"], textarea {
    box-sizing: border-box;
    width: 100%;
}

input[readonly], textarea[readonly] {
    background-color: #ddd;
}

.desktop-area {
    width: 446px;
    height: 449px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}
