#add_question, #questions .add_choice {
    width: 150px;
}

#question_wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

#questions {
    .question {
        position: relative;
        margin-left: 0;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #d9d9db;
        border-radius: 3px;

        .type-container {
            width: 75%;
            float: left;
        }

        .max-container {
            width: 25%;
            float: left;

            .max-container-padding {
                padding-left: 5px;
            }
        }

        [contenteditable="true"] {
            padding: 6px 3px;
            margin: 2px 0;
            line-height: 18px;
            background-color: white;
            background-repeat: no-repeat;
            background-position: right center;
            border: 1px solid #cccccc;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
            vertical-align: middle;
            font-family: "Open Sans", "Helvetica Neue", sans-serif;
            behavior: url(/static/js/vendor/PIE/PIE.htc);

            &:focus {
                outline: none;
                border-color: #4d90fe;
            }
        }
    }

    .actions {
        position: absolute;
        top: 3px;
        right: 5px;

        .fas, .far, .fab {
            cursor: pointer;

            &:hover {
                color: #2042e0;
            }
        }
    }

    .choice {
        position: relative;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: #c0c0c2;
        border-radius: 3px;
    }
}

@media (max-width: 855px) {
    #questions .question {
        .max-container {
            float: none;

            .max-container-padding {
                padding-left: 0;
            }
        }
    }
}

div.cke_chrome {
    margin: 10px 0;
}

.polls {
    table {
        width: 600px;

        th {
            min-width: 120px;
            vertical-align: top;
            padding-top: 10px;
        }
    }

    input, button {
        width: 100%;
        width: calc(100% - 8px);
    }

    input[type="checkbox"] {
        width: initial;
        margin-top: 14px;
        margin-left: 0px;
        &:last-child, + br + span.helptext {
            margin-bottom: 14px;
        }
    }


    .selectize-control {
        width: 100%;
    }

    .helptext {
        display: inline-block;
    }

    .exp-buttons {
        padding-left: 7px;
    }

    th label {
        display: inline-block;
    }

    @media (max-width: 855px) {
        table {
            width: 342px !important;
        }
        th {
            max-width: 65px;
        }
        #cke_id_content,
        #cke_id_description {
            width: 365px !important;
        }
        input {
            width: 365px;
        }
        .selectize-control {
            width: 373px;
        }
    }
    @media (max-width: 555px) {
        table {
            width: 400px !important;
        }
        th {
            max-width: 65px;
        }
        #cke_id_content,
        #cke_id_description {
            width: 292px !important;
        }
        input {
            width: 292px;
        }
        .selectize-control {
            width: 300px;
        }
    }
}

@media (max-width: 555px) {
    body {
        padding-left: 14px;
    }
}
