@import "colors";

.polls {
    min-width: 290px;
    /* for 320x480 screens */
    max-width: 1000px;
    margin-bottom: 100px;

    h2 {
        padding-left: 10px;
        line-height: 38px;

        &.category {
            font-size: 18px;
            font-weight: normal;
            padding-left: 10px;
            height: 33px;
        }
    }
}

.button-container {
    float: right;
    margin-top: -38px;
}

.poll {
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    padding: 6px 10px;
    margin-bottom: 6px;
    overflow-x: auto;
    behavior: url("/static/js/vendor/PIE/PIE.htc");

    h3 > a.poll-link {
        cursor: pointer;
        color: $grey !important;
    }

    .not-voted {
        color: #F57C00;
    }

    .voted {
        color: #388E3C;
    }

    .poll-content {
        b, strong {
            font-weight: bold;
        }

        i, em {
            font-style: italic;
        }

        ol {
            list-style-type: decimal;
            list-style-position: outside;
            padding-left: 30px;
        }
    }
}

.polls-icon-wrapper {
    float: right;

    .poll:hover & {
        display: block;
    }
}

.poll-metadata {
    color: rgb(144, 144, 144);
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 5px;
}

.poll-icon-wrapper {
    float: right;

    > a {
        color: $grey;
        text-decoration: none !important;
        padding-left: 2px;

        &:hover {
            color: rgb(32, 66, 224);
        }
    }
}

.poll-icon {
    cursor: pointer;
}

.bottom-row {
    position: relative;
}

.attend-status {
    color: gray;
    position: absolute;
    left: 270px;
    max-width: 280px;
    white-space: nowrap;

    .bottom-row.show-attend & {
        width: 280px;
    }
}

.signup-status {
    color: gray;

    > a.button {
        margin-top: -2px;
        position: absolute;
        left: 140px;
    }
}

.attend-status {
    position: absolute;
    left: 270px;
}

a.button {
    &.attend-button {
        color: green;
        margin-top: -3px;
        float: right;
    }

    &.no-attend-button {
        color: red;
        margin-top: -3px;
        float: right;
    }
}

@media (max-width: 710px) {
    .poll .bottom-row {
        margin-bottom: 23px;

        .attend-status {
            left: 0;
            bottom: -27px;
        }
    }
}


/*
 * on announcement page, switch to separate rows more quickly
 */

@media (max-width: 1060px) {
    .announcements.primary-content .announcement .poll .bottom-row {
        margin-bottom: 23px;

        .attend-status {
            left: 0;
            bottom: -23px;
        }
    }
}

.poll-approve-table {
    color: grey;
    margin-bottom: 4px
}

.user-selections {
    display: none;
}

ol.questions {
    list-style: decimal;
    margin-left: 20px;
}

ul.answers {
    list-style: none;
    margin-left: -20px;

    label.clear-vote {
        font-style: italic;
    }
}

.question {
    margin-left: 10px;

    .question-writing {
        width: 400px;
        height: 60px;

        &.short {
            width: 200px;
            height: 20px;
        }
    }
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

ol {
    list-style: decimal;
    padding-left: 25px;
}

@media print {
    .print-hide {
        display: none !important;
    }
}
