.primary-content {
    max-width: 600px;
}
label[for=id_receive_push_notifications] {
	padding-left:0;
}
table.privacy-options th,
table.privacy-options td:not(:last-child) {
    text-align: center;
}
input[type="text"], 
input[type="search"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"] {
    width: 150px;
}
