.primary-content .selectize-control {
    height: 42px;
}

.primary-content tr th,
.primary-content tr td {
    padding: 5px;
}

.primary-content form {
    float: left;
    width: 60%;
}

@media (max-width: 600px) {
    .primary-content form {
        width: 100%;
    }
}

.status {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 6px;

    &.working {
        background-color: #3eae3e;
    }

    &.broken {
        background-color: #c3c310;
    }

    &.error {
        background-color: #e84b4b;
    }
}

.selectize-desc {
    color: gray;
    font-size: 12px;
}

.selectize-header-box {
    display: flex;
    align-items: center;
}