
.preferred-user-picture {
    float: left;
    padding: 20px;
    padding-top: 30px;
    cursor: pointer;
}

.user-pictures img, .preferred-user-picture {
    width: 172px;
    height: 215px;
    display: inline;
}

.user-pictures {
	width: 100%;
    display: none;
    cursor: pointer;
}

.user-pictures table {
	margin-left: auto;
	margin-right: auto;
}

.user-pictures tfoot td {
	text-align: center;
}

.user-info {
    float: left;
}

.user-info h2 {
    font-size: 30px;
}

.user-info h3, .user-info-schedule h3 {
	font-size: 18px;
}

.user-info table tr > * {
	line-height: 20px;
}

.user-info table tr > th {
	width: 100px;
	text-align: left;
}

.user-info-schedule {
	padding-top: 42px;
}

.user-info-schedule table thead {
	display: none;
}

.user-info-schedule table tr td {
	padding: 0 10px 0 5px;
}
