
.preferred-user-picture {
    float: left;
    padding: 20px;
    padding-top: 0;
    cursor: pointer;
}

.user-pictures img, .preferred-user-picture {
    width: 172px;
    height: 215px;
    /*margin-top: 30px;*/
}

.user-pictures {
	width: 100%;
    display: none;
    cursor: pointer;
}

.user-pictures table {
	margin-left: auto;
	margin-right: auto;
}

.user-pictures tfoot td {
	text-align: center;
}

.user-info {
    float: left;
}

.user-info h2 {
    font-size: 30px;
}

.user-info h3, .user-info-schedule h3 {
	font-size: 18px;
}

.user-info table tr {
    /*padding: 20px 0;*/
}

.user-info table tr > * {
	/*line-height: 17px;*/
    padding-bottom: 8px;
}


.user-info table tr > th {
	width: 100px;
	text-align: left;
    font-weight: bold;
}

.user-info-contact {
    float: left;
    margin-right: 60px;
}

.user-info-schedule {
    float: left;
}

.user-info-schedule table thead {
	display: none;
}

.user-info-schedule table tr td {
	padding: 0 10px 0 5px;
}
