.primary-content {
    overflow-x: auto;
}

.absences {
    color: rgb(255, 72, 72);
}

.preferred-user-picture {
    float: left;

    img {
        margin: 0 20px;
        clear: both;
    }

    span {
        display: block;
        text-align: center;
    }
}

.multiple-pics,
.multiple-pics img {
    cursor: pointer;
}

.user-pictures img,
.preferred-user-picture img {
    background-color: rgb(57, 105, 146);
    background-clip: content-box;
    background-size: 172px 215px;
    background-repeat: no-repeat;
    width: 172px;
    /*height: 215px;*/
}

.user-pictures {
    width: 100%;
    display: none;
    cursor: pointer;

    table {
        margin-left: auto;
        margin-right: auto;
    }

    td {
        text-align: center;
        margin-left: 9px;
    }
}

.user-info {
    h2 {
        font-size: 30px;
    }

    h3,
    &-schedule h3 {
        font-size: 18px;
    }

    table tr > th {
        text-align: left;
        font-weight: bold;
        padding: 5px;
    }

    &-left {
        float: left;
        min-width: 400px;
    }

    &-contact {
        margin-right: 60px;
    }

    &-schedule {
        float: left;
    }

    &-eighth {
        clear: both;
        padding-top: 20px;

        .primary-content.eighth-signup & {
            padding-top: 0;
        }
    }
}

.nomination {
    clear: both;
    @media (max-width: 550px) {
        a.button {
            font-size: 12px;
            padding: 3px;
        }
    }
}

table.user-info-contact tr > * {
    padding-bottom: 8px;
}

@media (max-width: 550px) {
    .user-pictures {
        margin-left: auto;
        margin-right: auto;

        td {
            display: block;
        }
    }
    .preferred-user-picture {
        margin-left: auto;
        margin-right: auto;
        width: 215px;
        float: none;
    }
}

.main .class-info table[data-sortable] th,
table[data-sortable] td {
    padding: 5px 10px;
}

td.email-col {
    font-size: 10px;
}

td.senior-unsure {
    font-style: italic;
}

#user-groups .group {
    clear: both;
    display: inline-block;
    width: 300px;
    padding: 3px;
    margin-bottom: 3px;
    background-color: rgba(0, 0, 0, .05);

    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    form {
        float: right;
    }
}

.user-title b {
    display: block;
}
