
/* CORE UI */

.left .dropdown-icon {
    display: none;
}

body.disable-scroll {
    overflow: hidden;
}

@media (max-width: 700px) {
    .header .search input[type="text"] {
        width: 150px;
        font-size: 12px;
    }
}

@media (max-width: 550px) {
    /* absence notification */
    ul.dropdown-menu.absence-notification {
        position: fixed;
        left: 0;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }

    ul.dropdown-menu.absence-notification .arrow {
        right: 148px;
    }

}

@media (max-width: 550px) {

    /* FIXED HEADER */

    h1 {
        margin-right: 0;
    }

    .header {
        position: fixed;
        z-index: 1042;
    }

    .left > a.intranet-title {
        position: absolute;
        left: 50%;
        width: 170px;
        margin-left: -85px;
        z-index: 1045;
    }

    body.mobile-nav-show .left > a.intranet-title {
        opacity: 0;
        z-index: 1042;
    }

    .header .left > form.search {
        position: absolute;
        left: 17.5%;
        opacity: 0;
    }

    .header .search input[type="text"] {
        width: 170px;
    }

    /* adjust for absences label */
    .absence-count-label {
        display: none;
    }

    .header.has-badge .left > form.search {
        /*width: 50%;*/
        /*left: 20%;*/
    }

    body.mobile-nav-show .header .left > form.search {
        opacity: 1;
        z-index: 1050;
    }

    .right > li.notifications {
        display: none;
    }

    /* absence notification */

    ul.dropdown-menu.absence-notification .arrow {
        right: 90px;
    }

    /* TODO: these proportions look off, and I can't figure out exactly why */

    .left .dropdown-taparea {
        position: absolute;
        left: 0;
        top: 0;
        width: 75px;
        height: 40px;
        cursor: pointer;
    }

    .left .dropdown-icon {
        display: block;
        position: absolute;
        left: 20px;
        top: 5px;
        height: 30px;
        width: 30px;
        text-align: center;
        cursor: pointer;
    }

    .left .dropdown-icon > i {
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
    }

    .no-touch .left .dropdown-taparea:hover > .dropdown-icon,
    .disable-scroll .dropdown-taparea > .dropdown-icon {
        background-color: rgba(0, 0, 0, .2);
        border-radius: 5px;
    }

    .main ul.nav {
        position: fixed;
        top: 40px;
        left: -192px;
        width: 190px;
        height: 100%;
        height: calc(100% - 42px);
        overflow-y: auto;
        background-color: rgb(56, 56, 56);
        border-radius: 0;
        border: none;

/*        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;*/

        z-index: 1032;
    }



    .main ul.nav > li {
        padding: 0;
        height: 58px;
        border-right: none;
        border-left: none;
        border-color: rgb(90, 90, 90);
        text-align: left;
    }

    .no-touch .main ul.nav > li:hover {
        background-color: white;
    }

    .main ul.nav > li > a {
        padding: 20px 0;
        margin: 0;
        height: 18px;
        /*color: white;*/
    }

    .main ul.nav > li > a > i {
        /*
        display: inline-block;
        float: left;
        margin-left: 20px;
        margin-top: -5px;
        */
        display: inline-block;
        float: left;
        margin-left: 16.6px;
        margin-top: -8px;
        zoom: 1.5;
        margin-right: 10px;
    }

    div.main > div.primary-content {
        padding-left: 0;
        margin-left: 0;
    }

    /* RIGHT DROPDOWN BUTTON */

    .user-name {
        display: none;
    }

    .header .dropdown-menu a {
        line-height: 3em;
        padding: 0 10px;
    }

    /*.header .right li.username ul.dropdown-menu {
        position: fixed;
        top: 5px;
        right: 0;
        width: 200px;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        background-color: rgb(72, 72, 72);
        border: 1px solid rgb(72, 72, 72);
        padding-top: 0;
        padding-left: 0;
        z-index: 1042;
    }

    .header .right li.username ul.dropdown-menu .arrow {
        display: none;
    }

    .header .right li.username ul.dropdown-menu li {
        height: 59px;
        color: white;
        border-bottom: 1px solid #f0f0f0;
        padding-left: 20px;
        width: 222px;
    }

    .header .right li.username ul.dropdown-menu li a {
        color: white;
        padding: 15px 0;
    }

    .header .left.right-open > form.search {
        position: absolute;
        top: 234px;
        right: 13px;
        z-index: 1000;
        display: block;
    }*/

    .nav-g {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1001;
        background-color: rgba(72, 72, 72, 0.3);
        cursor: pointer;
    }


    .intranet-title, .search {
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
    }

}

/* better support for really small
 * screens (320x480, iPhone 4)
 */
@media (max-width: 325px) {
    body {
        padding-left: 6px;
        padding-right: 6px;
    }
}