/* ANNOUNCEMENTS */

@media (max-width: 1200px) {
/* make the right widgets smaller */
    .main div.widgets {
        width: 300px;
    }

    .main div.widgets div.info {
        font-size: 8px;
        /* TODO: handle this better */
    }

    .main div.announcements {
        padding-right: 316px; /* 116px less */
    }
}

@media (max-width: 900px) {
/* bye bye widgets */
    .main div.widgets {
        display: none;
    }

    .main div.announcements {
        padding-right: 0;
    }
}


/* EIGHTH */
@media (max-width: 950px) {
    /* move buttons to be visible on hover */
    .primary-content .middle div.controls {
        width: 25px;
        height: 25px;
        overflow: hidden;
        padding: 10px 0 10px 20px;
    }

    .primary-content .middle:hover div.controls {
        width: auto;
        height: auto;
        overflow: auto;
        padding-top: 0;
    }

    .primary-content .middle div.controls .overflow-icon {
        display: inline;
    }

    .primary-content .middle:hover div.controls .overflow-icon {
        display: none;
    }

    /* make description 250px from 430px */
    .primary-content #activity-picker div#activity-detail {
        width: 250px;
    }

    .primary-content #activity-picker div#activity-list {
        right: 250px;
    }

    .primary-content #activity-picker h5.stuck {
        margin-right: 251px;
    }
}

#activity-list .backbtn {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 15%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(169, 169, 169, 0.3);
    cursor: pointer;
}

#activity-list .backbtn > i {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 32px;
    height: 40px;
    margin-top: -20px;
}

.primary-content .middle .switch {
    display: none;
}

@media (max-width: 700px) {
    /* just show activities list */
    .primary-content #activity-picker div#activity-list {
        right: 0;
    }

    .primary-content #activity-picker h5.stuck,
    .primary-content #activity-picker .search-wrapper {
        margin-right: 0;
    }

    .primary-content div#activity-detail {
        right: -100%;
        z-index: 1002;
    }

    .primary-content #activity-picker div#activity-detail.visible {
        margin-right: 100%;
        width: 85%;
    }

    .primary-content div#activity-list.hidden .backbtn {
        display: block;
        opacity: 1;
    }

    .primary-content .middle {
        height: 20px;
    }

    .primary-content .middle h2,
    .primary-content .middle h4 {
        display: inline;
        padding-right: 15px;
    }
}

@media (max-width: 500px) {
    .primary-content .middle .switch {
        display: block;
        float: right;
        cursor: pointer;
    }

    .primary-content .middle .switch i {
        font-size: 25px;
        padding-right: 2px;
    }

    .primary-content.viewing .middle .switch i.down {
        display: none;
    }

    .primary-content.viewing .middle .switch i.up {
        display: inline;
    }

    .primary-content .middle .switch i.down {
        display: inline;
    }

    .primary-content .middle .switch i.up {
        display: none;
    }

    .primary-content.viewing {
        margin-top: -120px;
    }
}

@media (max-width: 430px) {
    /* shrink text size */
    .primary-content .middle .block-title {
        height: 22px;
        margin-top: 6px;
    }

    .primary-content .middle .block-title h2 {
        font-size: 16px;
    }

    .primary-content .middle .switch {
        position: fixed;
        right: 26px;
    }
}

@media (max-width: 400px) {
    div#activity-list .backbtn > i {
        left: 5px;
    }
}
@media (max-width: 359px) {
    div#activity-list .backbtn > i {
        left: 0px;
    }
}

#activity-list, #activity-detail, .primary-content {
    /*-webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -ms-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;*/
}

#activity-list .backbtn {
    /*transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;*/
}

.primary-content, .primary-content * {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}