/* DASHBOARD */


@media (max-width: 960px) {
/* make the right widgets smaller */
    .main div.widgets {
        width: 300px;
    }

    .main div.announcements {
        padding-right: 316px; /* 116px less */
    }

    .main div.announcements.no-widgets {
        padding-right: 0;
    }

    .main .widgets,
    .main .announcements {
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
    }
}

@media (max-width: 800px) {
/* move widgets above/below */
    .main div.widgets {
        float: none;
        position: static;
        height: auto;
        width: 100%;
        width: calc(100% - 16px);
        margin-bottom: 10px;
    }

    .main div.widgets > .widget {
        position: relative;
        left: 16px;
    }

    .main div.announcements {
        padding-right: 0;
    }
}

@media (max-width: 550px) {
    .main div.widgets > .widget {
        position: static;
    }

    .main div.widgets {
        width: 100%;
    }

    .announcement {
        clear: both;
    }
}

/* eighth signup info */
.eighth-signup .middle .desktop-info {
    width: 300px;
    height: 50px;
    position: absolute;
    right: 100px;
    color: gray;
    z-index: -1;
}

.eighth-signup .middle .desktop-info .arrow-left {
    position: absolute;
    top: 20px;
    left: -40px;
    font-size: 30px;
    color: gray;
}

.eighth-signup .middle .desktop-info .arrow-right {
    position: absolute;
    top: -20px;
    right: 10px;
    font-size: 30px;
    color: gray;
}

/* EIGHTH */
@media (max-width: 950px) {
    /* make description 250px from 430px */
    #activity-picker div#activity-detail {
        width: 250px;
    }

    #activity-picker .search-wrapper {
        margin-right: 271px;
    }

    #activity-picker div#activity-list {
        right: 270px;
    }

    #activity-picker h5.stuck {
        margin-right: 270px;
    }

    #activity-picker div#activity-list li span.activity-sponsors {
        margin-right: 0px;
    }

    .eighth-signup .middle .desktop-info {
        display: none;
    }

    .eighth-signup h5.all-header .clear-button {
        margin-right: 20px;
    }
}

#activity-picker .backbtn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 15%;
    height: 100%;
    z-index: 1001;
    background-color: rgba(169, 169, 169, 0.3);
    cursor: pointer;
}

#activity-picker .backbtn > i {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 32px;
    height: 40px;
    margin-top: -20px;
}

.eighth-signup .middle .switch {
    display: none;
}

#activity-picker.visible #activity-list {
    overflow: hidden;
}

@media (max-width: 700px) {
    /* just show activities list */
    #activity-picker div#activity-list {
        right: 0;
    }

    #activity-picker h5.stuck,
    #activity-picker .search-wrapper {
        margin-right: 0;
    }

    .eighth-signup #activity-detail {
        right: -100%;
        z-index: 1002;
    }

    #activity-picker.visible div#activity-detail {
        margin-right: 100%;
        width: 85%;
    }

    #activity-picker .backbtn.visible {
        display: block;
        opacity: 1;
    }

    .eighth-signup .middle {
        height: 20px;
    }

    .eighth-signup .middle h2,
    .eighth-signup .middle h4 {
        display: inline;
        padding-right: 5px;
    }

    #activity-picker div#activity-list li span.activity-sponsors {
        margin-right: 0;
    }

    /* comments field shifts to next line */
    .block-title .block-comments {
        display: inline-block;
        clear: left;
    }

    .block-title .block-comments > span {
        display: none;
    }


    .eighth-signup #activity-list h5 .clear-button {
        margin-right: 0;
    }
}

@media (max-width: 500px) {
   .eighth-signup .middle {
        display: table-row;
    }


    /* shrink text size */
    .eighth-signup .middle .block-title {
        display: table-cell;
        margin: 10px 6px;
    }

    .eighth-signup .middle .block-title h2 {
        font-size: 16px;
    }

    .eighth-signup .middle .switch {
        display: table-cell;
        vertical-align: middle;
        cursor: pointer;
    }

    .eighth-signup .middle .switch i {
        font-size: 25px;
        padding-right: 2px;
    }

    .eighth-signup.viewing .middle .switch i.down {
        opacity: 0;
        display: none;
    }

    .eighth-signup.viewing .middle .switch i.up {
        opacity: 1;
        display: inline;
    }

    .eighth-signup .middle .switch i.down {
        opacity: 1;
        display: inline;
    }

    .eighth-signup .middle .switch i.up {
        opacity: 0;
        display: none;
    }

    .eighth-signup.viewing {
        margin-top: -120px;
    }

    /* increase padding on activity list */
    .eighth-signup #activity-list li {
        padding: 3px;
    }

    .eighth-signup #activity-list li.search-hide {
        padding: 0;
    }

    .eighth-signup #activity-list .activity-ids {
        display: none;
    }

    /* padding goes away */
    #activity-picker div#activity-list li span.activity-sponsors {
        margin-right: 10px;
    }
}

@media (max-width: 430px) {

    .eighth-signup .middle .switch {
/*        position: absolute;
        right: 26px;*/

    }
}

@media (max-width: 450px) {
    #activity-picker .backbtn > i {
        left: 7px;
        font-size: 25px;
    }
}
@media (max-width: 359px) {
    #activity-picker .backbtn > i {
        left: 5px;
        font-size: 20px;
    }
}

.eighth-signup,
.eighth-signup > *,
.eighth-signup #activity-detail
{
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}



/* EIGHTH ADMIN UI */

@media (max-width: 695px) {
    /* flatten table */
    .admin-dashboard td.admin-section {
        display: block !important;
        width: 100%;
        height: auto;
        padding-left: 0;
    }

    tr td.admin-section:last-of-type:not(:first-of-type) {
        padding-left: 0;
    }
}
