
/* CORE UI */

.left .dropdown-icon {
    display: none;
}

@media (max-width: 500px) {

    /* FIXED HEADER */
    .header {
        position: fixed;
        z-index: 1000;
    }

    .left > a.intranet-title {
        position: absolute;
        left: 50%;
        width: 170px;
        margin-left: -85px;
    }

    .header .left > form.search {
        display: none;
    }

    .right > li.notifications {
        display: none;
    }

    /* TODO: these proportions look off, and I can't figure out exactly why */

    .left .dropdown-taparea {
        position: absolute;
        left: 0;
        top: 0;
        width: 75px;
        height: 40px;
        cursor: pointer;
    }

    .left .dropdown-icon {
        display: block;
        position: absolute;
        left: 20px;
        top: 5px;
        height: 30px;
        width: 30px;
        text-align: center;
        cursor: pointer;
    }

    .left .dropdown-icon > i {
        font-size: 20px;
        display: inline-block;
        vertical-align: top;
        padding-top: 5px;
    }

    .left .dropdown-taparea:hover > .dropdown-icon {
        background-color: rgba(0, 0, 0, .2);
        border-radius: 5px;
    }

    .main ul.nav {
        position: fixed;
        top: 40px;
        left: -202px;
        width: 200px;
        height: 100%;
        background-color: rgb(72,72,72);
        border-radius: 0;
        border-color: rgb(72, 72, 72);

/*        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;*/

        z-index: 1042;
    }

    .main ul.nav > li {
        padding: 0;
        height: 58px;
    }

    .main ul.nav > li:hover {
        background-color: white;
    }

    .main ul.nav > li > a {
        display: block;
        height: 58px;
        padding: 20px 0;
        margin: 0;
    }

    .main ul.nav > li > a > i {
        /*
        display: inline-block;
        float: left;
        margin-left: 20px;
        margin-top: -5px;
        */
        display: inline-block;
        float: left;
        margin-left: 16.6px;
        margin-top: -8px;
        zoom: 1.5;
    }

    div.main > div.primary-content {
        padding-left: 0;
        margin-left: 0;
    }

    /* RIGHT DROPDOWN BUTTON */


    .header .right li.username ul.dropdown-menu {
        position: fixed;
        top: 5px;
        right: 0;
        width: 200px;
        height: 100%;
        box-shadow: none;
        border-radius: 0;
        background-color: rgb(72, 72, 72);
        border: 1px solid rgb(72, 72, 72);
        padding-top: 0;
        padding-left: 0;
        z-index: 1042;
    }

    .header .right li.username ul.dropdown-menu .arrow {
        display: none;
    }

    .header .right li.username ul.dropdown-menu li {
        height: 59px;
        color: white;
        border-bottom: 1px solid #f0f0f0;
        padding-left: 20px;
        width: 222px;
    }

    .header .right li.username ul.dropdown-menu li a {
        color: white;
        padding: 15px 0;
    }

    .header .left.right-open > form.search {
        position: absolute;
        top: 234px;
        right: 13px;
        z-index: 1000;
        display: block;
    }

    .nav-g {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1001;
        background-color: rgba(72, 72, 72, 0.3);
        cursor: pointer;
    }
}
