@import 'colors';

.widget-content.schedule {
    width: 100%;

    .eighth-block,
    .block-header,
    .block-signup,
    .ui-link {
        height: 20px;
        line-height: 20px;
    }
}

.schedule-arrows {
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
    right: 10px;
}

.schedule-widget {
    font-size: 13px;

    .widget-title h2 {
        width: 100%;
        overflow: hidden;
    }

    .schedule h2 {
        margin: 0;
        font-size: 14px;
        padding: 5px 15px;
        white-space: normal;
        display: inline-block;
        vertical-align: top;
    }

    .bellschedule-table {
        margin-left: auto;
        display: inline-block;
        width: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        float: right;

        .day-name-cell {
            text-align: center;
        }
    }
}

.chevron {
    i {
        font-size: 10px;
        width: 30px;
        display: inline-block;
        color: $grey;
    }

    &:hover i {
        text-decoration: none;
        color: rgb(32, 66, 224);
    }

    .fa-chevron-left,
    .fa-chevron-right {
        text-align: left;
        cursor: pointer;
    }

    &.schedule {
        &-left {
            float: left;
            width: 10px;
            cursor: pointer;
        }

        &-right {
            float: right;
            width: 10px;
            cursor: pointer;
        }
    }
}

.schedule-date {
    color: $grey;
    font-size: 12px;
}

.schedule-admin {
    padding: 0 10px;
    line-height: 22px;
    width: calc(100% - 20px);
    float: left;

    a.button {
        margin-top: 1px;
    }
}

.bellschedule-blank-message {
    margin: 5px;
    text-align: center;
}
