.schedule-widget {
    font-size: 13px;
}

.widget-content.schedule {
    max-width: 350px;
}

.widget-content.schedule .eighth-block,
.widget-content.schedule .block-header,
.widget-content.schedule .block-signup,
.widget-content.schedule .ui-link {
    height: 20px;
    line-height: 20px;
}

.widget-content.schedule {
    padding: 5px 0;
}

.schedule-widget h2 {
    width: 100%;
}

.schedule-arrows {
    width: 175px;
    display: inline-block;
    float: right;
    white-space: nowrap;
    text-align: center;
}

@media (max-width: 960px) {
    .schedule-arrows {
        width: calc(100% - 115px);
    }
}

@media (max-width: 800px) {
    .schedule-arrows {
        width: 175px;
    }
}

.schedule-widget .schedule h2 {
    margin: 0;
    margin-bottom: -15px;
}

.schedule-widget .bellschedule-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.chevron i {
    font-weight: normal;
    font-size: 13px;
    width: 30px;
    display: inline-block;
    color: rgb(72,72,72);
}

.fa-chevron-right {
    text-align: right;
}

.fa-chevron-left {
    text-align: left;
}

.chevron.schedule-right {
    float: right;
}

.chevron.schedule-left {
    float: left;
}

.schedule[data-daytype-name^="Blue"] .block-daytype-name {
    color: blue;
}

.schedule[data-daytype-name^="Red"] .block-daytype-name {
    color: red;
}

.schedule-admin {
    padding: 0 10px;
    line-height: 22px;
}

.schedule-admin a.button {
    margin-top: 1px;
}