.bellschedule-table {
    margin: 0;
    width: 100%;
}

.bellschedule-table tr th {
    text-align: left;
}

.bellschedule-table tr td {
    text-align: right;
    widows: 100px;
    vertical-align: middle;
}


.button-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 107px;
    height: 35px;
    margin-left: -53.5px;
    margin-top: -12.5px;
}
