.bellschedule-table {
    margin: 0;
    width: 100%;

    tr {
        th {
            text-align: right;
            padding-right: 14px;
            white-space: nowrap;
            /* hack that makes text centered when overflowed */
            margin-left: -100%;
            margin-right: -100%;
        }

        td {
            text-align: left;
            width: 100px;
            vertical-align: middle;
            white-space: nowrap;
            /* hack that makes text centered when overflowed */
            margin-left: -100%;
            margin-right: -100%;
        }

        /*
        &.current th {
            &:before {
                content: "\f0da";
                float: left;
                font-family: FontAwesome;
            }

            &:after {
                content: "\f0d9";
                float: right;
                font-family: FontAwesome;
            }
        }
        */
    }
}

body {
    overflow-x: scroll;
}

.schedule {
    margin: 0 !important;
    padding: 0 !important;

    h2 {
        white-space: nowrap;
        /* hack that makes text centered when overflowed */
        margin-left: -100%;
        margin-right: -100%;
    }
}

.week-table {
    overflow-x: scroll;
    border-collapse: separate;
    border-spacing: 30px;
    margin: 0;
    table-layout: fixed;
    width: 100%;
    min-width: 1100px;

    td {
        width: 19%;
        min-width: 175px;

        h2 {
            font-weight:normal;
        }
        &.today {
            h2 {
                font-weight:bold;
            }
        }
        &.chevron {
            width: 2.5%;
        }
    }
}

.button-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 107px;
    height: 35px;
    margin-left: -53.5px;
    margin-top: -12.5px;
}

.day-name {
    &.day-type-blue {
        color: blue;
        //color: rgb(0, 72, 171)?
    }

    &.day-type-red {
        color: red;
        //color: rgb(171, 0, 72)?
    }

    &.day-type-anchor {
        color: green;
        //color: rgb(72, 171, 0)?
    }
}

a.day-name.day-type-other {
    color: black;
}

tr.schedule-block.current {
    display: none;
    .today & {
        display: table-row;
        font-weight: bold;
    }
}


.month-container {
    text-align: center;
    vertical-align: center;
    width: 100%;

    & .month-name {
        font-size: 25px;
        font-weight: bold;
        padding: 5%;
    }
    & .fa {
        color: black;
    }
}

.schedule-container {
    overflow: auto;
}
