.bellschedule-table {
    width: 100%;
}

.bellschedule-table tr td {
    text-align: right;
}

.button-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 107px;
    height: 35px;
    margin-left: -53.5px;
    margin-top: -12.5px;
}