.schedule-widget {
    font-size: 13px;
}

.widget-content.schedule .eighth-block,
.widget-content.schedule .block-header,
.widget-content.schedule .block-signup,
.widget-content.schedule .ui-link {
    height: 20px;
    line-height: 20px;
}

.widget-content.schedule {
    width: 100%;
}

.schedule-arrows {
    width: 175px;
    display: inline-block;
    float: right;
    white-space: nowrap;
    text-align: center;
}

@media (max-width: 960px) {
    .schedule-arrows {
        width: calc(100% - 115px);
    }
}

@media (max-width: 800px) {
    .schedule-arrows {
        width: 175px;
    }
}

.schedule-widget .widget-title h2 {
    width: 100%;
}

.schedule-widget .schedule h2 {
    margin: 0;
    margin-bottom: -10px;
    font-size: 14px;
    padding: 5px 15px;
    white-space: normal;
    display: inline-block;
    vertical-align: top;
}

.schedule-widget .bellschedule-table {
    margin-left: auto;
    display: inline-block;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
}

.schedule-widget .bellschedule-table .day-name-cell {
    text-align: center;
}

.chevron i {
    font-weight: normal;
    font-size: 13px;
    width: 30px;
    display: inline-block;
    color: rgb(72,72,72);
}

.fa-chevron-right {
    text-align: right;
}

.fa-chevron-left {
    text-align: left;
}

.chevron.schedule-right {
/*    float: right;*/
}

.chevron.schedule-left {
    float: left;
}

.schedule-admin {
    padding: 0 10px;
    line-height: 22px;
    width: calc(100% - 20px);
    float: left;
}

.schedule-admin a.button {
    margin-top: 1px;
}

.bellschedule-blank-message {
    margin: 5px;
    text-align: center;
}