.bellschedule-table {
    margin: 0;
    width: 100%;

    tr {
        th {
            text-align: right;
            padding-right: 14px;
        }

        td {
            text-align: left;
            width: 100px;
            vertical-align: middle;
            white-space: nowrap;
        }

        /*
        &.current th {
            &:before {
                content: "\f0da";
                float: left;
                font-family: FontAwesome;
            }

            &:after {
                content: "\f0d9";
                float: right;
                font-family: FontAwesome;
            }
        }
        */
    }
}

.login-page .bellschedule-table {
    transform: translateX(-50%);
    left: 50%;
    position: relative;
}

.schedule {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.week-table {
    border-collapse: separate;
    border-spacing: 30px;
    margin: 0;
    table-layout: fixed;
    width: 100%;
    min-width: 1100px;

    th {
        width: 50%;
    }

    td {
        text-align: center;
        width: 19%;

        h2 {
            font-weight: normal;

            &.schedule-date, &.day-name {
                padding-bottom: 5px;
            }
        }

        &.today {
            h2 {
                font-weight: bold;
            }
        }

        &.chevron {
            width: 2.5%;
        }
    }

    > tbody > tr > td {
        padding-bottom: 10px;
    }
}

.button-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 107px;
    height: 35px;
    margin-left: -53.5px;
    margin-top: -12.5px;
}

.day-name {
    &.day-type-blue {
        color: blue;
        //color: rgb(0, 72, 171)?
    }

    &.day-type-red {
        color: red;
        //color: rgb(171, 0, 72)?
    }

    &.day-type-anchor {
        color: green;
        //color: rgb(72, 171, 0)?
    }
}

a.day-name.day-type-other {
    color: black;
}

tr.schedule-block.current {
    font-weight: bold;

    .week-table & {
        font-weight: normal;
    }

    .today & {
        font-weight: bold;
    }
}

.month-container {
    text-align: center;
    vertical-align: center;
    width: 100%;

    & .month-name {
        font-size: 25px;
        font-weight: bold;
        padding: 5%;
    }

    .far, .fas, .fab {
        color: black;
    }
}
