.bellschedule-table {
    margin: 0;
    width: 100%;

    tr {
        th {
            text-align: right;
            padding-right: 14px;
            white-space: nowrap;
            /* hack that makes text centered when overflowed */
            margin-left: -100%;
            margin-right: -100%;
        }

        td {
            text-align: left;
            width: 100px;
            vertical-align: middle;
            white-space: nowrap;
            /* hack that makes text centered when overflowed */
            margin-left: -100%;
            margin-right: -100%;
        }

        /*
        &.current th {
            &:before {
                content: "\f0da";
                float: left;
                font-family: FontAwesome;
            }

            &:after {
                content: "\f0d9";
                float: right;
                font-family: FontAwesome;
            }
        }
        */
    }
}

.schedule h2 {
    white-space: nowrap;
    /* hack that makes text centered when overflowed */
    margin-left: -100%;
    margin-right: -100%;
}

.button-center {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 107px;
    height: 35px;
    margin-left: -53.5px;
    margin-top: -12.5px;
}

.day-name {
    &.day-type-blue {
        color: blue; /*rgb(0, 72, 171) ? */
    }

    &.day-type-red {
        color: red; /* rgb(171, 0, 72) ? */
    }

    &.day-type-anchor {
        color: green; /* rgb(72, 171, 0) ? */
    }
}

a.day-name.day-type-other {
    color: black;
}

tr.schedule-block.current {
    font-weight: bold;
}
