.primary-content .search input[type="text"] {
    width: 300px;
    @media (max-width: 400px) {
        width: 250px;
    }
    @media (max-width: 350px) {
        width: 200px;
    }
}

.search-example {
    margin-left: 30px;
}