.center, .center-wrapper {
    height: 32px;
}

.center {
    margin-left: 0;
}

.tjlogo {
    height: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 0;
}

.time {
    font-size: 24px;
    color: black;
    width: calc(50% - 16px);
}

.schedule-outer {
    position: absolute;
    top: 0;
    right: 0;
    height: 32px;
    width: calc(50% - 16px);
    overflow: hidden;
}

.schedule {
    margin: 0px -13px;
    zoom: 0.7;
}

@media (max-width: 790px) {
    .schedule {
        margin: 12px -13px;
        zoom: 0.5;
    }
}

.iframe {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
}