.center-wrapper {
    min-height: auto;
}

.center-wrapper .center {
    margin: 0;
    top: 0;
}

body {
    background: transparent;
    zoom: 3;
    overflow: hidden;
    background-color: rgb(242, 242, 244);
}

@media (max-width: 600px) {
    body {
        zoom: 2;
    }
}

.tjlogo {
    width: 50%;
    margin-top: 20px;
}

.time {
    font-size: 30px;
    margin: 10px 0;
    color: black;
}