.center-wrapper {
    min-height: auto;
}

.center-wrapper .center {
    margin: 0;
    top: 0;
}

body {
    background: transparent;
    zoom: 3;
    overflow: hidden;
}

.tjlogo {
    width: 50%;
    margin-top: 20px;
}

.time {
    font-size: 30px;
    margin: 10px 0;
    color: black;
}