ul.nav {
    height: 30px;
}

.nav-icon {
    float: left;
    margin: -6px 22px;
    margin-right: -20px;
}

section {
    height: calc(100% - 40px);
}

.center-wrapper {
    left: 0;
    width: 100%;
    margin-left: 0;
}

.center-wrapper .center {
    height: 50%;
}

.center-wrapper .tjlogo {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 25%;
    margin: -50px;
    top: 50%;
}

.center-wrapper .time {
    position: absolute;
    top: 50%;
    margin: 75px 0;
    left: 25%;
    width: 100px;
    margin-left: -50px;
}

.center-wrapper .schedule-outer {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 200px;
    height: 500px;
    margin-top: -75px;
    margin-left: -100px;
}

.iframe {
    height: calc(100% - 40px);
}