.center-wrapper {
    min-height: auto;

    .center {
        margin: 0;
        top: 0;
    }
}

body {
    background: transparent;
    zoom: 3;
    overflow: hidden;
    background-color: rgb(242, 242, 244);
}

@media (max-width: 600px) {
    body.auto-zoom-out {
        zoom: 2;
    }
}

.tjlogo {
    width: 50%;
    margin-top: 20px;
}

.time {
    font-size: 30px;
    margin: 10px 0;
    color: black;
}

.small-header {
    .tjlogo {
        width: auto;
        margin-top: auto;
        height: 32px;
        position: absolute;
        left: 50%;
        margin-left: -16px;
        top: 0;
    }

    .time {
        font-size: 24px;
        color: black;
        width: calc(50% - 16px);
        margin: 0;
    }

    .schedule-outer {
        position: absolute;
        top: 0;
        right: 0;
        height: 32px;
        width: calc(50% - 16px);
        overflow: hidden;
    }

    .schedule {
        margin: 0 -13px;
        zoom: 0.7;
    }
}

@media (max-width: 790px) {
    .small-header .schedule {
        margin: 12px -13px;
        zoom: 0.5;
    }
}

.iframe {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
}
