ul.nav {
    height: 30px;
}

.nav-icon, .nav li i.fa.fa-fix {
    float: left;
    margin: 22px -20px 22px 22px;
}

section {
    height: calc(100% - 40px);
}

.center-wrapper {
    left: 0;
    width: 100%;
    margin-left: 0;

    .center {
        height: 50%;
    }

    .tjlogo {
        height: 100px;
        width: 100px;
        position: absolute;
        left: 25%;
        margin: -50px;
        top: 50%;
    }

    .time {
        position: absolute;
        top: 50%;
        left: 25%;
        width: 100px;
        margin: 75px 0 75px -50px;
    }

    .schedule-outer {
        position: absolute;
        top: 50%;
        left: 75%;
        width: 200px;
        height: 500px;
        margin-top: -75px;
        margin-left: -100px;
    }
}

.iframe {
    height: calc(100% - 40px);
}
