body, * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-container {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav {
    position: static;
    margin: 0 10px;
    width: 100%;
    width: calc(100% - 20px);
}

.nav li {
    position: relative;
    margin-top: -2px;
    display: inline-block;
    width: 25%;
    width: calc(25% + 1px);
    float: left;
    border: none;
    border-right: 1px solid rgb(0, 72, 171);
    cursor: pointer;
}

.nav li:last-child {
    border-right: none;
}

section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
}

.iframe-hide {
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    z-index: 1000;
}

#info {
    zoom: 0.45;
    overflow-y: scroll;
}

#info h2 {
    margin-top: 25px;
    font-size: 30px;
}

#info .announcements {
    position: absolute;
    top: 75px;
    left: 10%;
    width: 80%;
    padding: 0;
    margin: 0;
    min-width: auto;
    max-width: none;
}

#info .announcements .announcement {
    text-align: left;
    width: 100%;
}