.nav-container {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav {
    position: static;
    margin: 0 10px;
    width: 100%;
    width: calc(100% - 20px);
}

.nav li {
    position: relative;
    margin-top: -2px;
    display: inline-block;
    width: 25%;
    float: left;
    border: none;
    border-right: 1px solid rgb(0, 72, 171);;
}

.nav li:last-child {
    border-right: none;
}

section {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 75px);
}