html, body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* make links "invisible" */
a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none;
    color: inherit;
    cursor: default;
}