/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**********************************************/

body {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    background-color: rgb(242, 242, 242);
}

a:active, a:visited, a {
    text-decoration: none;
    color: inherit;
}


#header {
    position: absolute;
    width: 100%;
    height: 40px;
    color: white;
    overflow: hidden;
    min-width: 500px;

    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgb(14,50,98)), to(rgb(20,69,136)));
    background-image: -webkit-linear-gradient(bottom, rgb(14,50,98), rgb(20,69,136));
    background-image: -moz-linear-gradient(bottom, rgb(14,50,98), rgb(20,69,136));
    background-image: -o-linear-gradient(bottom, rgb(14,50,98), rgb(20,69,136));
    background-image: linear-gradient(bottom, rgb(14,50,98), rgb(20,69,136));

    text-shadow: 0 1px 0 rgb(4,33,71);
    border-bottom: 1px solid white;
}

#header-left {
    float: left;
}

#header-right {
    float: right;
    line-height: 40px;
}


h1 {
    font-weight: normal;
    font-size: 25px;
}

#intranet-title {
    float: left;
    margin-right: 30px;

}

#logo {
    background-image: url("/static/img/tj_logo_shadow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 31px 27px;
    width: 31px;
    height: 40px;
    margin-left: 7px;
    margin-right: 7px;
    float: left;
}

#intranet-title h1 {
    display: inline-block;
    margin: 6px 8px 9px 0;
}

#search-wrapper {
    position: absolute;
    display: inline-block;
    height: 20px;
    top: 10px;

    background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgb(7,54,116)), to(rgb(4,43,96)));
    background-image: -webkit-linear-gradient(bottom, rgb(7,54,116), rgb(4,43,96));
    background-image: -moz-linear-gradient(bottom, rgb(7,54,116), rgb(4,43,96));
    background-image: -o-linear-gradient(bottom, rgb(7,54,116), rgb(4,43,96));
    background-image: linear-gradient(bottom, rgb(7,54,116), rgb(4,43,96));

    -webkit-border-radius: 3px;
    border-radius: 3px;

    /*border-top: 1px solid rgb(7,51,111);
    border-right: 1px solid rgb(6,47,104);
    border-bottom: 1px solid rgb(4,41,90);
    border-left: 1px solid rgb(6,47,104);*/

    box-shadow: inset 0 0 5px rgb(12,39,75);
    line-height: 20px;
}

#search-icon {
    font-family: "FontAwesome";
    font-size: 10px;
    margin-left: 3px;
    float: left;
}

#search-box {
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    height: 20px;
    width: 160px;
    margin: 0 3px 0 3px;
    padding: 0;
    float: right;

    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-shadow: 0 1px 0 rgb(4,33,71);
    color: white;
}

#search-box:focus {
    outline: none;
}

#notifications {
    display: inline;
}

#notifications-icon {
    display: inline;
}

#notifications-count {
    display: inline;
}

#user-dropdown-name {
    display: inline;
}


.announcement {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.announcement-title {
    display: inline;
    font-size: 18px;
}

.news-metatdata {
    color: rgb(178, 178, 178);
    font-size: 12px;
}