body.theme--pattern-weave {
    background-image: url(/static/img/patterns/pixel_weave.png);
}

body.theme--pattern-boxes {
    background-image: url(/static/img/patterns/pw_pattern.png);
}

body.theme--pattern-transparency {
    background-image: url(/static/img/patterns/ps_neutral.png);
}

body.theme--color-grey.header {
    background: rgb(72, 72, 72);
}

body.theme--color-blue.header {
    background: rgb(0, 0, 200);
}

body.theme--color-light-blue.header {
    background: rgb(0, 100, 160);
}

body.theme--color-red.header {
    background: rgb(193, 23, 23);
}

body.theme--color-green.header {
    background: rgb(20, 115, 20);
}

body.theme--color-violet.header {
    background: rgb(51, 51, 175)
}

body.theme--color-purple.header {
    background: rgb(120, 0, 120);
}