@import 'colors';

$color1: #0048ab;
$color2: rgb(1, 94, 222);
$color3: rgb(242, 242, 244);
$color4: rgb(136, 148, 160);
$color5: rgb(60, 105, 182);
$color6: rgb(0, 85, 164);

.header {
    background-color: $color1;
    //background: -webkit-linear-gradient($color1, $color2);
    .search input[type="text"] {
        background-color: $color3;
        color: $color1;
    }
}

.widget {
    border-color: $color1;
}

.widget-title {
    border-bottom-color: $color1;
    font-weight: bold;

    a.ui-link {
        color: $color1;
        text-decoration: underline;
        font-weight: normal;
    }
}

.widget,
.widget-content {
    background-color: white;
}

ul.nav {
    background-color: white;
    border: 1px solid $color4;

    li.selected {
        background-color: $color5;

        a {
            color: white;
        }
    }

    li:not(.selected) a:hover i {
        color: $color6;
    }

    a:hover {
        color: $color2;
    }

    .main & > li {
        //border-color: $color1;
        border-color: $color4;
    }
}

.nav a {
    &,
    &:active,
    &:visited {
        text-decoration: none;
        color: $grey;
    }
}

body.login-page input {
    border: 1px solid fade_out($color1, 0.7);

    &[type=submit] {
        border: 1px solid fade_out($color1, 0.7);
        color: $color1;

        &.load-spinner {
            border-color: transparent;
            background: transparent;
            text-shadow: none;
            box-shadow: none;
        }
    }
}