.header {
    background-color: rgb(0, 72, 171);
    /*background: -webkit-linear-gradient(rgb(0, 72, 171), rgb(1, 94, 222));*/
}

.header .search input[type="text"] {
    background-color: rgb(242, 242, 244);
    color: rgb(0, 72, 171);   
}

.widget {
    border-color: #6890CB;
}

.widget-title {
    border-bottom-color: #6890CB;
    font-weight: bold;
}

.widget-title a.ui-link {
    color: rgb(0, 72, 171);
    text-decoration: underline;
    font-weight: normal;
}

.widget, .widget-content {
    background-color: white;
}

ul.nav {
    /*background-color: white;*/
}

ul.nav li.selected {
    background-color: rgb(1, 94, 222);
}

.nav a, .nav a:active, .nav a:visited {
    text-decoration: none;
    color: rgb(72, 72, 72);
}

ul.nav li.selected a {
    color: white;
}