.header {
    background-color: rgb(0, 72, 171);
}

.header .search input[type="text"] {
    background-color: rgb(242, 242, 244);
    color: rgb(0, 72, 171);   
}

.widget {
    border-color: #6890CB;
}

.widget-title {
    border-bottom-color: #6890CB;
    font-weight: bold;
}

.widget-title a.ui-link {
    color: rgb(0, 72, 171);
    text-decoration: underline;
    font-weight: normal;
}

.widget, .widget-content {
    background-color: white;
}

