.tjstar-ribbon-content {
    display: none;
    background-color: #e6e6e6;
    color: #474747;
    padding: 1rem;
    border: 1px solid #e3e3e3;
    margin-bottom: 6px;
}

.tjstar-ribbon-toggle {
    background-color: #e6e6e6;
    color: #474747;
    border: 1px solid #e3e3e3;
    margin-bottom: 6px;
    padding-left: 1rem;
    cursor: pointer;
}

.tjstar-ribbon-toggle-text {
    font-size: 1rem;
    position: relative;
    bottom: 0.4rem;
    left: 0.2rem;
    color: #494545;
}

.tjstar-ribbon-collapse {
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 0.5rem;
}

.tjstar-ribbon-expand {
    float: right;
    cursor: pointer;
    position: relative;
    right: 1rem;
    top: 0.5rem;
}

.tjstar-countdown {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0fa674;
    opacity: 0;
}

.tjstar-countdown-days {
    color: #F25B54;
}

.tjstar-countdown-hours {
    color: #f0b335;
}

.tjstar-countdown-minutes {
    color: #0fa674;
}

.tjstar-countdown-seconds {
    color: #0a91c4;
}

.tjstar-img-link {
    cursor: pointer;
}

body.login-page div.center {
    top: 470px;
}

