body {
    overflow: hidden;
}

.main, .header {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

#welcome-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(128, 128, 128, 0.5);
    overflow-y: auto;
}

#welcome-container button i.fas,
#welcome-container a.button i.fas {
    margin-left: 8px;
}

#welcome {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#welcome > div:not(#ion-welcome) {
    margin: 15px;
}

#welcome > div#ion-welcome {
    margin: 15px 0;
}

#ion-welcome {
    height: 400px;
    position: relative;
}

#ion-welcome h2 {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    text-align: center;
}

#ion-welcome h2 b {
    color: #0048ab;
}

.ion-welcome-logo {
    height: 120px;
    width: 128px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -64px;
    background-image: url(/static/img/logos/touch/touch-icon128.png);
    background-position: 0;
    border-radius: 10px;
}

#step-3 .ion-welcome-logo {
    top: 150px;
}

@media (max-width: 675px) {
    #step-3 .ion-welcome-logo {
        top: 180px;
    }
}

@-webkit-keyframes animBg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 500px;
    }
}

@keyframes animBg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 500px;
    }
}

.ion-welcome-icons {
    height: 50px;
    width: 100%;
    background-image: url(https://ion.tjhsst.edu/static/img/icons.png);
    background-size: auto 150px;
    background-position: center -51px;
    background-repeat: repeat-x;
    position: absolute;
    top: 74%;
    margin-top: -25px;
    animation: animBg 20s linear infinite;
    -webkit-animation: animBg 20s linear infinite;
}

.ion-welcome-continue {
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
}

#reset-password {
    display: none;
}

#mail-forwarding {
    display: none;
}

#eighth-policy {
    display: none;
}

#eighth-policy b {
    font-weight: bold;
}

#eighth-policy i:not(.fas, .far, .fab) {
    font-style: italic;
}

#eighth-policy u {
    text-decoration: underline;
}

#eighth-policy p, #eighth-policy ul {
    margin-bottom: 15px;
}

#step-1, #step-2, #step-3 {
    display: none;
}

#step-1 p, #step-2 p, #step-3 p {
    margin-bottom: 15px;
}

#step-3 {
    position: relative;
    /* for logo positioning */
}

.credit-text {
    display: table;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
}

.credit-section {
    display: table-cell;
    padding: 5px 10px;
}

.credit-section > b {
    text-align: center;
}

.eighth-mobile {
    padding: 10px;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

@media (max-width: 930px) {
    .desktop {
        zoom: 0.85;
    }
}

@media (max-width: 848px) {
    .desktop {
        zoom: 0.75;
    }

    .mobile {
        zoom: 0.85;
    }
}

@media (max-width: 760px) {
    .eighth-mobile {
        float: none;
    }

    .eighth-mobile-detail {
        display: none;
    }
}

@media (max-width: 681px) {
    .dashboard-desktop {
        zoom: 0.57;
    }
}

@media (max-width: 550px) {
    #welcome {
        width: 100%;
        width: calc(100% - 32px);
        border-radius: 0;;
    }

    img.desktop {
        display: none;
    }

    .eighth-mobile-detail {
        display: block;
    }

    img.mobile {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .brs {
        display: none;
    }

    .dash {
        position: relative;
        margin-bottom: 700px;
    }

    .dash .dashboard-mobile-pics {
        position: absolute;
        top: 100%;
        width: 100%;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }
}

@media (max-width: 700px) {
    .credit-section {
        display: block;
    }
}
