{% extends "eighth/page_eighth_admin.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    .primary-content table {
        width: 70%;
    }

    .primary-content table td {
        padding: 5px;
    }

    .primary-content table td i {
        padding-left: 15px;
    }

    .add {
        position: absolute;
        left: 70%;
        width: 25%;
    }
    </style>
{% endblock %}


{% block eighth-main %}
     <div class="add">
        <h3 style="font-size: 24px">Create an activity</h3>

        <form class="addform" name="addform" method="post" action="/eighth/activities/add/">
        <input type="hidden" name="confirm" value=1 />
        {% csrf_token %}
        <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td><label for="description">Description</label></td>
            <td><textarea name="name"></textarea></td>
        </tr>
        <tr>
        <td>
            <label for="id">ID</label>
        </td>
        <td>
            <select name="id">
                <option value="auto" selected>Automatically select</option>
                {% for id in ids %}
                    <option value="{{ id }}">{{ id }}</option>
                {% endfor %}
            </select>
        </td></tr>
        <tr><td rowspan=2>
            <input type="submit" value="Add activity" />
        </td></tr>
        </table>
        </form>
    </div>

    </div>
    <h3 style="font-size: 24px">Choose an activity</h3>
    <table>
    {% for activity in activities %}
        <tr>
            <th>
                {{ activity.id }}
            </th>
            <td>
                <b>{{ activity.name }}</b><br />
                <i>{{ activity.description|truncatechars:75 }}</i>
            </td>
            <td><a href="/eighth/activities/edit/{{ activity.id }}">
                Edit
            </a></td>
            <td><a href="/eighth/activities/delete/{{ activity.id }}">
                Delete
            </a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
