{% extends "eighth/page_eighth_admin.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    .primary-content table {
        width: 70%;
    }

    .primary-content table td {
        padding: 5px;
    }

    .primary-content table td i {
        padding-left: 15px;
    }

    .add {
        position: absolute;
        left: 70%;
        width: 25%;
    }
    </style>
{% endblock %}


{% block eighth-main %}
     <div class="add">
        <h3 style="font-size: 24px">Create an activity sponsor</h3>

        <form class="addform" name="addform" method="post" action="/eighth/activities/sponsors/add/">
        <input type="hidden" name="confirm" value=1 />
        {% csrf_token %}
        <table>
        <tr>
            <td><label for="name">Name (First/Last)</label></td>
            <td><input type="text" name="first_name" /> <input type="text" name="last_name" /></td>
        </tr>
        <tr>
            <td><label for="user">User</label></td>
            <td>
                <select name="user">
                    <option value="" selected>None</option>
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
        <td>
            <label for="online_attendance">Online Attendance</label>
        </td>
        <td>
            <input type="checkbox" name="online_attendance" value="1" />
        </td>
        </tr>
        <tr>
        <td rowspan=2>
            <input type="submit" value="Add activity sponsor" />
        </td>
        </tr>
        </table>
        </form>
    </div>

    </div>
    <h3 style="font-size: 24px">Choose an activity sponsor</h3>
    <table>
    {% for sponsor in sponsors %}
        <tr>
            <th>
                {{ sponsor.id }}
            </th>
            <td>
                <b>{{ sponsor.first_name }} {{ sponsor.last_name }}</b>
            </td>
            <td>
            {% if sponsor.user %}
                User: <a href="/profile/{{ sponsor.user.id }}">
                    {{ sponsor.user.username }} ({{ sponsor.user.id }})
                </a>
            {% else %}
                Not associated with a user
            {% endif %}
            </td>
            <td><a href="/eighth/activities/sponsors/edit/{{ sponsor.id }}">
                Edit
            </a></td>
            <td><a href="/eighth/activities/sponsors/delete/{{ sponsor.id }}">
                Delete
            </a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
