{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Eighth Period
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.css' %}" />
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>{{ block_info.date|date:"M d, Y" }}: {{ block_info.block_letter }} Block</h2>
        <table>
            <thead>
                <td>Name</td>
                <td>Signups</td>
                <td>Rooms</td>
                <td>Sponsors</td>
            </thead>
            {% for id, activity in block_info.activities.items %}
                <tr>
                    <td>
                        {{ activity.name }}
                    </td>
                    <td>
                        {% if activity.capacity = 0 %}Cancelled{% else %}{{ activity.members }}/{% if activity.capacity = -1 %}∞{% else %}{{ activity.capacity }}{% endif %}{% endif %}
                    </td>
                    <td>
                        {% for room in activity.rooms %}{{ room }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </td>
                    <td>
                        {% for sponsor in activity.sponsors %}{{ sponsor }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>



    </div>
{% endblock %}