{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Eighth Period
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.css' %}" />
{% endblock %}

{% block main %}
    <div class="primary-content">
        <ul>
            {{ block_info.date|date:"M d, Y" }}: {{ block_info.block_letter }}
            {% for id, activity in block_info.activities.items %}
                <li>
                    {{ activity.name }}
                    <ul>
                        <li>{{ activity.members }} student{{ activity.members|pluralize }} signed up</li>
                        <li>Sponsored by {% for sponsor in activity.sponsors %}{{ sponsor }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>



    </div>
{% endblock %}