{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Eighth Period
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            var containerWidth = $(".day-picker").width();
            var blocksWidth = $(".days-container").width();
            $(".days-container").css("margin-left", (containerWidth - blocksWidth) / 2);


            $(".day-nav").click(function(e) {
                var offset = ($(".day").width() + 1) + "px"
                if ($(e.target).parents().andSelf().hasClass("later-days")) {
                    offset = "-=" + offset;
                } else {
                    offset = "+=" + offset;
                }

                $(".days-container").animate({
                    marginLeft: offset
                }, {
                    duration: 200,
                    easing: "swing"
                });
            });

        });


        function stickyHeaders(headers) {
            this.load = function() {
                headers.each(function() {
                    var id = Math.floor(Math.random()*99999);
                    var stuckCopy = $(this).clone().prependTo($(".activity-picker"));
                    stuckCopy.addClass("hidden stuck");
                    $(this).attr("id", id);
                    stuckCopy.attr("id", id + "-stuck");

                    $.data(this, "pos", $(this).position().top);
                    console.log($.data(this));
                });
            }

            this.scroll = function() {
                headers.each(function(i) {
                    var thisHeader = $(this),
                        nextHeader = headers.eq(i + 1),
                        prevHeader = headers.eq(i - 1);


                });

            }


        }

        $(document).ready(function() {
            var sh = new stickyHeaders($(".sticky-header"));
            sh.load();

            $(".activities").on("scroll", function() {
                sh.scroll();

            });
        });

    </script>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <div class="day-picker">
            <button class="day-nav earlier-days">
                <i class="icon-chevron-left"></i>
            </button>

            <button class="day-nav later-days">
                <i class="icon-chevron-right"></i>
            </button>
            <ul class="days-container">
                {% for i in "123456789123456788"|make_list %}
                    <li class="day{% if i = 9 %} today{% endif %}">
                        <div class="block-title">
                            Monday, January {{ i }}
                        </div>
                        {% for b in "AB"|make_list %}
                            <div class="block">
                                {{ b }}
                            </div>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="middle">
            <div class="block-title">
                <h2>
                    Monday, June 3
                </h2>
                <h4>
                    B Block
                </h4>
            </div>

            <div class="controls">
                <button>Hide Restricted</button>
                <button>Skip to Date</button>
                <button>Manage Favorites</button>
                <button>Manage Absences</button>
            </div>
        </div>

        <div class="activity-picker">
            <div class="activities">
                <h5 class="sticky-header">All</h5>
                <ul>
                    {% for id, block in block_info.activities.items %}
                        <li>{{ block.name }}</li>
                    {% endfor %}
                </ul>
                <h5 class="sticky-header">Favorites</h5>
                <ul>
                    {% for id, block in block_info.activities.items %}
                        <li>{{ block.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="activity-detail">
                <h3>
                    Basket Weaving
                </h3>
                <dl>
                    <dt>Room:</dt><dd>73</dd>
                    <dt>Sponsor:</dt><dd>Chuck Norris</dd>
                    <dt>Capacity:</dt><dd>42</dd>
                    <dt class="description">Description:</dt><dd class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, possimus tenetur inventore maiores impedit ullam nam earum quos eveniet quidem. Quisquam, consequatur doloremque commodi debitis distinctio. Officia, ab odit error!</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}