<h3 class="empty-state">
    Select an activity
</h3><br>
<p>
The listing on the left shows activities available on: <b style="white-space: nowrap">{{ block_info.date|date:"l, F j, Y" }} {{ block_info.block_letter }} Block.</b>
</p>
<p>
To change your signup for another day, select a block from the list above.
</p>
<p>
You may have to press the left and right arrow buttons to navigate through to the day on which the block occurs.
</p>
<p>The activity selections for the block will appear on the left. To view additional information or sign up for an activity, click on it. Details will appear on the right.
</p>
<p>
To use the search function, type in the input box above the activity listing. You can enter substrings of the activity's name, sponsor(s), or room(s).
</p>
<p>
You may also search for flags, such as Restricted, Special, and Sticky. To do this, use the syntax <em>is:restricted</em>, <em>is:special</em>, or <em>is:sticky</em>.
</p>
<p>
To exclude results, use the minus operator. For example, to hide activities that are restricted and thus not available to you, type <em style="white-space: nowrap">-is:restricted</em>.
</p>