{% extends "eighth/page_eighth_admin.html" %}
{% load staticfiles %}

{% block eighth-main %}
    <h3 style="font-size: 24px">Modify {{ room.name }}</h3>
    <form action="/eighth/rooms/edit/{{ room.id }}" method="post">
    <input type="hidden" name="confirm" value="1" />
    {% csrf_token %}
    <table>
    <tr>
    <td><label for="name">Name</label></td>
    <td>
        <input type="text" name="name" value="{{ room.name }}" />
    </td>
    </tr>
    <tr>
    <td><label for="capacity">Capacity</label></td>
    <td>
    <input type="text" name="capacity" value="{{ room.capacity }}" />
    </td>
    </tr>
    <tr>
    <td rowspan=2>
        <input type="submit" value="Edit Room" /><br />
        <a href="/eighth/rooms/delete/{{ room.id }}">Delete Room</a>
    </td>
    </tr>
    </table>
    </form>
{% endblock %}