{% extends "page_with_nav.html" %}
{% load phone_numbers %}
{% load static %}
{% load pipeline %}

{% block title %}{{ block.super }} - Signup History - {{ profile_user.full_name }}{% endblock %}


{% block css %}
    {{ block.super }}
    {% stylesheet 'eighth.admin' %}
    {% stylesheet 'profile' %}
    {% stylesheet 'eighth.profile' %}
    <style type="text/css">
    tr.highlight, tr.highlight td {
        background-color: yellow;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/admin.js' %}"></script>
{% endblock %}

{% block main %}
<div class="primary-content">

    {% if request.user.is_eighth_admin %}
        <div class="eighth-header">
            {% include "eighth/admin/start_date.html" %}
        </div>
    {% endif %}
    {% if show_profile_header %}
        {% with show_eighth_profile_link=1 show_view_often_link=1 %}
            {% include "eighth/profile_header.html" %}
        {% endwith %}
    {% else %}
        <a href="{% url 'eighth_signup' %}" class="button">
            <i class="fa fa-arrow-left"></i> Eighth Home
        </a>
        &nbsp; <a href="{% url 'eighth_profile' profile_user.id %}" class="button"><i class="fa fa-table"></i> Classic Signup</a>
        &nbsp; <a href="{% url 'eighth_profile_often' profile_user.id %}" class="button">Frequent Signups</a>
        <br />
        <h2>
            Signup History{% if profile_user != request.user %}: {{ profile_user.full_name }} {% if profile_user.student_id %}({{ profile_user.student_id }}){% endif %}{% endif %} - {{ eighth_block }}
        </h2>
    {% endif %}

    <section class="user-history">
        {% if show_profile_header %}
            <h3>
                Attendance History{% if profile_user != request.user %}: {{ profile_user.full_name }} {% if profile_user.student_id %}({{ profile_user.student_id }}){% endif %}{% endif %}
            </h3>
        {% endif %}

        <table class="fancy-table user-signups-table">
        <thead>
            <tr>
                <th>Time</th>
                <th>Activity</th>
                <th>Teacher</th>
                <th>Room</th>
                <th>Attended</th>
            </tr>
        </thead>
        <tbody>
            {% for signup in history %}
            <tr>
                <td>{{ signup.time }}</td>
                <td>{{ signup.scheduled_activity.activity.name }}</td>
                <td>{{ signup.scheduled_activity.get_true_sponsors|join:", " }}</td>
                <td>{{ signup.scheduled_activity.get_true_room|join:", " }}</td>
                <td>
                {% if signup.scheduled_activity.attendance_taken %}
                    {% if signup.was_absent %}
                        No{% if request.user.is_eighth_admin and not signup.pass_accepted %}: Pass Rejected{% endif %}
                    {% else %}
                        {% if signup.after_deadline and not signup.pass_accepted %}
                            ...{% if request.user.is_eighth_admin %} (Pass Waiting){% endif %}
                        {% else %}
                            Yes{% if request.user.is_eighth_admin and signup.pass_accepted %}: Pass Accepted{% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    &mdash;
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

    </section>
</div>
{% endblock %}
