{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load math %}
{% load strings %}

{% block title %}
    {{ block.super }} - Eighth Period
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.signup.css' %}" />
    {% if not real_user.is_eighth_admin %}
    <style type="text/css">
    #activity-list li[data-administrative=true] {
        display: none;
    }
    dl.activityid {
        display: none;
    }
    </style>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.profile.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vendor/jquery.scrollto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/json2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/spin.min.js' %}"></script>
    <script type="text/javascript">
        window.loadModels = function() {
            window.activityModels = new eighth.ActivityList();
            jsonData = $.parseJSON("{% if no_blocks %}[]{% else %}{{ activities_list }}{% endif %}");

            data = _.values(jsonData);

            if(data.length < 1) {
                console.log("Empty dataset")
                $(function() {
                    $("ul.all-activities").append("<p>There are no activities available for signup at this time.</p>");
                });
            }
            activityModels.reset(data);
            _.each(activityModels.models, function(activity) {
                activity.attributes.selected = (activity.attributes.id == "{{ active_block_current_signup }}");
            });

            window.activeBlockLocked = {% if active_block.locked %}true{% else %}false{% endif %};
        }
        window.isEighthAdmin = {% if request.user.is_eighth_admin %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static 'js/eighth/responsive.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/signupUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/signup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/signup.search.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        var width = $(window).width();
        var height = $(window).height();
        if(width <= 500 && height <= 745) {
            setTimeout(function() {
                $(".eighth-signup .switch").click();
            }, 450);
        }
    })
    </script>
{% endblock %}

{% block main %}
    <script type="text/template" id="activity-list-row-template">
        {% verbatim %}
            <span class="activity-icons">
                <span class="activity-icon fav <% if (favorited) { %>fav-sel<% } %>"></span>
                <% if (cancelled) { %>
                    <span class="activity-icon cancelled"></span>
                <% } else if (restricted_for_user) { %>
                    <span class="activity-icon restricted"></span>
                <% } else { %>
                    <% var pieNumber = Math.min(Math.round(roster.count / roster.capacity * 10), 10); %>
                    <span class="activity-icon pie-<%= pieNumber %>"></span>
                <% } %>
            </span>
            <% var full_name = name_with_flags_for_user + (cancelled ? " (Cancelled)" : ""); %>
            <span class="activity-name" title="<%= full_name %>"><%= full_name %></span>
            <% var sponsors_all = ""; %>
            <% _.each(sponsors, function(sp) { sponsors_all += sp+", "; }); %>
            <% sponsors_all = sponsors_all.substring(0, sponsors_all.length-2); %>
            <span class="activity-sponsors" title="<%= sponsors_all %>"><%= sponsors_all %></span>

        {% endverbatim %}
    </script>

    <script type="text/template" id="activity-details-template">
        {% verbatim %}
        <h3>
            <%= name %><% if (title) { %> - <%= title %><% } %>
        </h3>

        <% if (cancelled) { %>
            <span class="badge red">Cancelled</span>
        <% } %>

        <% if (special) { %>
            <span class="badge green">Special</span>
        <% } %>

        <% if (restricted_for_user) { %>
            <span class="badge">Restricted</span>
        <% } %>

        <% if (administrative) { %>
            <span class="badge">Administrative</span>
        <% } %>

        <% if (sticky) { %>
            <span class="badge">Sticky</span>
        <% } %>

        <% if (both_blocks) { %>
            <span class="badge">Both Blocks</span>
        <% } %>

        <dl>
            <% if (isEighthAdmin) { %>
                <dt>Activity ID:</dt>
                <dd><%= aid %></dd>
            <% } %>

            <% rooms = _.uniq(rooms)%>
            <dt>Room<% if (rooms.length > 1) { %>s<% } %>:</dt>
            <dd>

                <% if (rooms.length != 0) {%>
                        <%_.each(rooms, function(r, i) { if (i + 1 != rooms.length) {%><%= r %>, <%} else { %><%= r %><%} })%>
                <%} else {%>
                    None
                    <br />
                <%}%>
            </dd>

            <% sponsors = _.uniq(sponsors) %>
            <dt>Sponsor<% if (sponsors.length > 1) { %>s<% } %>:</dt>
            <dd>
                <% if (sponsors.length != 0) {%>
                        <%_.each(sponsors, function(s, i) { if (i + 1 != sponsors.length) {%><%= s %>, <%} else { %><%= s %><%} })%>
                <%} else {%>
                    None
                    <br />
                <%}%>
            </dd>

            <dt>Signups:</dt>
            <dd>
                <%= roster.count %>/<% if (roster.capacity == -1) {%>Unlimited<%} else {%><%= roster.capacity %><%}%>
            </dd>

            <% if (both_blocks) {%>
                <div>This activity runs both blocks.</div>
            <%}%>

            <% if (comments) {%>
                <br />
                <dt>Comments:</dt><dd><%= comments %></dd>
            <%}%>

            <% if (description) {%>
                <br />
                <p><%= description %></p>
            <%}%>


            <div id="signup-section">
                <% var showingRosterButton = false %>
                <% if (!cancelled) {%>
                    <% if (!selected) {%>
                        <% if (roster.capacity == -1 || (roster.count < roster.capacity) || isEighthAdmin) {%>
                            <% showingRosterButton = true %>
                            <button id="roster-button" data-endpoint="/eighth/roster/raw">
                                View Roster
                            </button>
                            <button id="signup-button">
                                Sign Up
                            </button>
                            <div id="signup-spinner-container">
                                <div id="signup-spinner"></div>
                            </div>
                        <%} else { %>
                            <strong>This activity is full.</strong>
                        <%}%>
                    <%} else {%>
                        <% if (display_text.length > 0) {%>
                            <strong><%= display_text %></strong><br /><br />
                        <% }else{ %>
                            <strong>You are currently signed up for this activity.</strong>
                        <% } %>
                    <%}%>
                <%}%>

                <div class="error-feedback">
                </div>
            </div>
            <% if (!showingRosterButton) { %>
                <button id="roster-button" data-endpoint="/eighth/roster/raw">
                    View Roster
                </button>
            <% } %>
            <div id="roster-section">
            </div>
        </dl>
        {% endverbatim %}
    </script>



    <div class="primary-content eighth-signup" data-next-url="{% url 'eighth_profile' profile_user.id %}">
        {% if request.user.is_eighth_admin %}
            <div class="eighth-header">
                {% include "eighth/admin/start_date.html" %}
            </div>
        {% endif %}

        <section class="user-info-eighth user-info">
        <form action="{% url 'eighth_signup' %}" method="GET">

            <input type="hidden" name="user" value="{{ profile_user.id }}" />
            <h3>
                Eighth Period - <a href="{% url 'eighth_profile' user.id %}">{{ user.full_name }} ({{ user.graduation_year }})</a>
            </h3>
            {% if skipped_ahead %}
                There were no blocks the week of {{ date_now }}. Skipped to the next block in the future.
            {% endif %}
            {% if not profile_user.is_student %}
                <b>This user is not a student. They may not be signed up for activities.</b>
            {% endif %}
            <table class="eighth-table {% if eighth_schedule %}zebra{% endif %}">
            <thead>
                <tr>
                    <td class="button-container" colspan="7" style="text-align: center">
                        {% if show_eighth_profile_link %}
                            <a href="{% url 'eighth_profile' profile_user.id %}" class="button">View Eighth Profile</a> &nbsp;
                        {% endif %}
                        <a href="/profile/{{ profile_user.id }}?full=1" class="button">View All Info</a> &nbsp;
                        {% if request.user.is_eighth_admin %}
                            <a href="{% url 'eighth_edit_profile' profile_user.id %}" class="button">Edit Info</a> &nbsp;
                        {% endif %}
                                </td>
                </tr>
                <tr class="desc">
                    <th class="center checkbox">
                        <input type="checkbox" />
                    </th>
                    <th>
                        <a href="" onclick="return false" class="select-blocks-popover-toggle">Select All <i class="fa fa-caret-down"></i></a>
                        <div class="select-blocks-popover closed">
                            <a href="" onclick="return false" class="block-type">Mon B</a>
                            <a href="" onclick="return false" class="block-type">Wed A</a>
                            <a href="" onclick="return false" class="block-type">Wed B</a>
                            <a href="" onclick="return false" class="block-type">Fri A</a>
                            <a href="" onclick="return false" class="block-type">Fri B</a>
                        </div>
                    </th>
                    <th class="center">Block</th>
                    <th>Activity</th>
                    <th>Teacher</th>
                    <th>Room</th>
                    <th></th>
                </tr>
            </thead>
            {% for sch in eighth_schedule %}
            {% if sch.block.date == active_block.date %}
                <tr class="form-row"{% if sch.block == active_block %} style="background-color: yellow"{% endif %}>
                    <td class="center checkbox">
                        <input type="checkbox" name="block" value="{{ sch.block.id }}" />
                    </td>
                    <td>
                        {{ sch.block.date|date:'D, N j, Y' }}
                    </td>
                    <td class="center">
                        {{ sch.block.block_letter }}
                    </td>
                    {% if sch.signup %}
                    <td>
                    <a href="{% url 'eighth_roster' sch.signup.scheduled_activity.id %}">
                        {{ sch.signup.scheduled_activity.full_title }}
                    </a>
                    </td>
                    <td>
                        {% for sponsor in sch.signup.scheduled_activity.get_true_sponsors %}
                            {{ sponsor.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ sch.signup.scheduled_activity.get_true_rooms|join:", " }}
                    </td>
                    {% else %}
                    <td colspan="3">
                        <span class="no-activity-selected">No activity selected</span>
                    </td>
                    {% endif %}

                    <td class="button-row">
                        <a href="{% url 'eighth_profile_signup' profile_user.id sch.block.id %}" class="button"{% if sch.block == active_block %} style="visibility: hidden"{% endif %}>
                            {% if sch.signup %}
                                Change
                            {% else %}
                                Sign Up
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endif %}
            {% empty %}
                <tr>
                <td colspan="7">
                    You have reached a point beyond the last eighth period block that has been created.
                </td>
                </tr>
            {% endfor %}
        </table>
    </form>
    </section>


        <div class="day-picker" style="display: none">
            <span class="day-picker-buttons">
            </span>
            <ul class="days-container">
            </ul>
        </div>

        <div class="middle-wrapper">
            <div class="middle">
                <div class="block-title">
                    <h2>
                        {% if active_block.locked %}
                            <i class="fa fa-lock"></i>
                        {% endif %}
                        {{ active_block.date|date:"l, F j, Y" }}
                    </h2>
                    <h4>
                        {% if active_block.block_letter %}
                            {% if active_block.block_letter|contains_digit %}
                                Block {{ active_block.block_letter }}
                            {% else %}
                                {{ active_block.block_letter }} Block
                            {% endif %}
                        {% endif %}
                    </h4>
                </div>
                {% if user.is_eighth_admin %}
                <div class="unsignup">
                    <button id="unsignup-button" data-bid="{{ active_block.id }}" data-uid="{{ user.id }}">Remove Signup</button>
                </div>
                {% endif %}

                <div class="switch">
                    <i class="fa fa-chevron-up up"></i>
                    <i class="fa fa-chevron-down down"></i>
                </div>
            </div>
        </div>

        <div id="activity-picker" class="{% if request.user != user %}different-user{% endif %}">
            <div class="search-wrapper">
                <i class="fa fa-search"></i>
                <span>
                    <input type="search" placeholder="Search names, sponsors, rooms..." disabled>
                </span>
            </div>
            <div class="backbtn">
                <i class="fa fa-chevron-left"></i>
            </div>
            <div id="activity-list" data-toggle-favorite-endpoint="{% url 'eighth_toggle_favorite' %}">
                <h5 class="sticky-header favorites-header">Favorites</h5>
                <ul class="favorite-activities"></ul>
                <h5 class="sticky-header">All</h5>
                <ul class="all-activities"></ul>
            </div>
            <div id="activity-detail" data-bid="{{ active_block.id }}" data-uid="{{ user.id }}" data-signup-endpoint="{% url 'eighth_signup' %}">
                <h3 class="empty-state">
                    Select an activity
                </h3>
            </div>
        </div>
    </div>
{% endblock %}
