{% extends "page_with_nav.html" %}
{% load phone_numbers %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Profile - {{ profile_user.full_name }}{% endblock %}


{% block css %}
    {{ block.super }}
    {% stylesheet 'eighth.admin' %}
    {% stylesheet 'profile' %}
    {% stylesheet 'eighth.profile' %}
    <style type="text/css">
    #signups-chart {
        position: absolute;
        right: 40px;
    }

    @media (max-width: 850px) {
        #signups-chart {
            position: initial;
            padding: 10px;
        }
    }

    @media (min-width: 1000px) {
        #signups-chart {
            position: absolute;
            left: 735px;
        }
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/admin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/Chart.min.js' %}"></script>
    <script type="text/javascript">
        Chart.defaults.global.customTooltips = function(tooltip) {
            var tooltipEl = $('#chartjs-tooltip');
            if (!tooltip) {
                tooltipEl.css({
                    opacity: 0
                });
            return;
            }
            tooltipEl.removeClass('above below');
            tooltipEl.addClass(tooltip.yAlign);
            tooltipEl.html(tooltip.text);
            var top;
            if (tooltip.yAlign == 'above') {
                top = tooltip.y - tooltip.caretHeight - tooltip.caretPadding;
            } else {
                top = tooltip.y + tooltip.caretHeight + tooltip.caretPadding;
            }
            tooltipEl.css({
                opacity: 1,
                left: tooltip.chart.canvas.offsetLeft + tooltip.x + 'px',
                top: tooltip.chart.canvas.offsetTop + top + 'px',
                fontFamily: tooltip.fontFamily,
                fontSize: tooltip.fontSize,
                fontStyle: tooltip.fontStyle,
            });
        };
        $(document).ready(function() {
            var data = [];
            $(".user-signups-table>tbody>tr").each(function(k, v) {
                data.push({
                    value: parseInt($(v).find("td:nth-child(1)").text()),
                    label: $(v).find("td:nth-child(2)").text().trim()
                });
            });
            var chart, canvas;
            if (data) {
                $("#signups-chart").show();
                canvas = $("#signups-chart")[0];
                canvas.width = 225;
                canvas.height = 225;
                chart = new Chart(canvas.getContext("2d")).Pie(data, {
                    tooltipTemplate: "<%= label %> - <%= value %>",
                    animation: false
                });
            }
        });
    </script>
{% endblock %}

{% block main %}
<div class="primary-content">

    {% if request.user.is_eighth_admin %}
        <div class="eighth-header">
            {% include "eighth/admin/start_date.html" %}
        </div>
    {% endif %}
    {% if show_profile_header %}
        {% with show_eighth_profile_link=1 show_view_history_link=1 %}
            {% include "eighth/profile_header.html" %}
        {% endwith %}
    {% else %}
        <a href="{% url 'eighth_signup' %}" class="button">
            <i class="fa fa-arrow-left"></i> Eighth Home
        </a>
        &nbsp; <a href="{% url 'eighth_profile' profile_user.id %}" class="button"><i class="fa fa-table"></i> Classic Signup</a>
        &nbsp; <a href="{% url 'eighth_profile_history' profile_user.id %}" class="button">View History</a>
        <br />
        <h2>Most Frequent Signups{% if profile_user != request.user %}: {{ profile_user.full_name }} {% if profile_user.student_id %}({{ profile_user.student_id }}){% endif %}{% endif %}</h2>
    {% endif %}

    <section class="user-history">
        {% if show_profile_header %}
            <h3>
                Most Frequent Signups{% if profile_user != request.user %}: {{ profile_user.full_name }} {% if profile_user.student_id %}({{ profile_user.student_id }}){% endif %}{% endif %}
            </h3>
        {% endif %}

        <canvas id="signups-chart" style="display:none"></canvas>
        <div id="chartjs-tooltip"></div>

        <table class="fancy-table user-signups-table">
        <thead>
            <tr>
                <th>Signups</th>
                <th>Activity</th>
                <th>Sponsor(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for sch in oftens %}
        <tr>
            <td>
                <a href="{% url 'eighth_profile_history' profile_user.id %}?activity={{ sch.activity.id }}">
                    {{ sch.count }}
                </a>
            </td>
            <td>
                <a href="{% url 'eighth_activity' sch.activity.id %}">
                    {{ sch.activity.id }}: {{ sch.activity }}
                </a>
            </td>
            <td>
            {% for sp in sch.activity.sponsors.all %}
                {{ sp }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No default
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

    </section>
</div>
{% endblock %}
