{% extends "page_with_nav.html" %}
{% load phone_numbers %}
{% load static %}
{% load pipeline %}

{% block title %}{{ block.super }} - Profile - {{ profile_user.full_name }}{% endblock %}


{% block css %}
    {{ block.super }}
    {% stylesheet 'eighth.admin' %}
    {% stylesheet 'profile' %}
    {% stylesheet 'eighth.profile' %}
    <style>
    #signups-chart {
        position: absolute;
        right: 40px;
    }

    @media (max-width: 1225px) {
        #signups-chart {
            position: initial;
            padding: 10px;
        }
    }

    @media (min-width: 1000px) {
        #signups-chart {
            position: absolute;
            left: 870px;
        }
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/eighth/admin.js' %}"></script>
    <script src="{% static 'js/vendor/Chart.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            var data = { labels: [], datasets: [{ data: [], backgroundColor: [] }] };
            var colors = ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd", "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"];
            var cindex = 0;
            $(".user-signups-table>tbody>tr").each(function(k, v) {
                data.datasets[0].data.push(parseInt($(v).find("td:nth-child(1)").text()));
                data.labels.push($(v).find("td:nth-child(2)").text().split(":")[1].trim());
                data.datasets[0].backgroundColor.push(colors[cindex]);
                cindex = (cindex + 1) % colors.length;
            });
            var chart, canvas;
            if (data) {
                $("#signups-chart").show();
                canvas = $("#signups-chart")[0];
                chart = new Chart(canvas.getContext("2d"), {
                    type: "pie",
                    data: data,
                    options: {
                        maintainAspectRatio: true,
                        responsive: false,
                        animation: {
                            animateRotate: false
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="primary-content">

    {% if request.user.is_eighth_admin %}
        <div class="eighth-header">
            {% include "eighth/admin/start_date.html" %}
        </div>
    {% endif %}
    {% if show_profile_header %}
        {% with show_eighth_profile_link=1 show_view_history_link=1 %}
            {% include "eighth/profile_header.html" %}
        {% endwith %}
    {% else %}
        <a href="{% url 'eighth_redirect' %}" class="button">
            <i class="fas fa-arrow-left"></i> Eighth Home
        </a>
        &nbsp; <a href="{% url 'eighth_profile' profile_user.id %}" class="button"><i class="fas fa-table"></i> Classic Signup</a>
        &nbsp; <a href="{% url 'eighth_profile_history' profile_user.id %}" class="button">View History</a>
        <br>
        <h2>Most Frequent Signups{% if profile_user != request.user %}: {{ profile_user.full_name }} {% if profile_user.student_id %}({{ profile_user.student_id }}){% endif %}{% endif %}</h2>
    {% endif %}

    <section class="user-history">
        {% if show_profile_header %}
            <h3>
                Most Frequent Signups{% if profile_user != request.user %}: {{ profile_user.full_name }} {% if profile_user.student_id %}({{ profile_user.student_id }}){% endif %}{% endif %}
            </h3>
        {% endif %}

        <canvas id="signups-chart" style="display:none" width="225" height="225"></canvas>

        <table class="fancy-table user-signups-table">
        <thead>
            <tr>
                <th>Signups</th>
                <th>Activity</th>
                <th>Sponsor(s)</th>
            </tr>
        </thead>
        <tbody>
        {% for sch in oftens %}
        <tr>
            <td>
                <a href="{% url 'eighth_profile_history' profile_user.id %}?activity={{ sch.activity.id }}">
                    {{ sch.count }}
                </a>
            </td>
            <td>
                <a href="{% url 'eighth_activity' sch.activity.id %}">
                    {{ sch.activity.id }}: {{ sch.activity }}
                </a>
            </td>
            <td>
            {% for sp in sch.activity.sponsors.all %}
                {{ sp }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                No default
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

    </section>
</div>
{% endblock %}
