<a href="{% url 'eighth_roster' scheduled_activity.id %}" class="button">View Roster (full page)</a>
<dl>
<dd>Roster:</dd>
</dl>
<table class="members-table fancy-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
    {% for user in scheduled_activity.members.all %}
        <tr class="item-row">
            <td>{{ user.last_name }}, {{ user.first_name }}</td>
            <td>{{ user.grade.number }}</td>
        </tr>
    {% empty %}
        <tr class="item-row">
            <td colspan="2">There are no signups.</td>
        </tr>
    {% endfor %}
    </tbody>
</table>