{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load math %}

{% block title %}
    {{ block.super }} - Eighth Period
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.signup.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery.scrollto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/json2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/spin.min.js' %}"></script>
    <script type="text/javascript">
        window.loadModels = function() {
            window.activityModels = new eighth.ActivityList();
            data = _.values($.parseJSON("{% if no_blocks %}[]{% else %}{{ activities_list|escapejs }}{% endif %}"));
            activityModels.reset(data);
            _.each(activityModels.models, function(activity) {
                activity.attributes.selected = (activity.attributes.id == "{{ active_block_current_signup }}");
            });

            window.activeBlockLocked = {% if active_block.locked %}true{% else %}false{% endif %};
        }
        window.showForceButton = {% if request.user.is_eighth_admin %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static 'js/eighth/signupUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/signup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/responsive.js' %}"></script>
{% endblock %}

{% block main %}
    <script type="text/template" id="activity-details-template">
        {% verbatim %}
        <h3>
            <%= name + (cancelled ? " (Cancelled)" : "") %>
        </h3>
        <dl>
            <dt>Rooms:</dt>
            <dd>
                <% rooms = _.uniq(rooms)%>
                <% if (rooms.length != 0) {%>
                        <%_.each(rooms, function(r, i) { if (i + 1 != rooms.length) {%><%= r %>, <%} else { %><%= r %><%} })%>
                <%} else {%>
                    <br />
                <%}%>
            </dd>
            <dt>Sponsors:</dt>
            <dd>
                <% sponsors = _.uniq(sponsors) %>
                <% if (sponsors.length != 0) {%>
                        <%_.each(sponsors, function(s, i) { if (i + 1 != sponsors.length) {%><%= s %>, <%} else { %><%= s %><%} })%>
                <%} else {%>
                    <br />
                <%}%>
            </dd>

            <dt>Capacity:</dt><dd><% if (roster.capacity == -1 || roster.capacity == 0) {%>Unlimited<%} else {%><%= roster.capacity %><%}%></dd>
            <div>
                <%= roster.count %>
                <% if (roster.count == 1){ %>
                    student has
                <%} else {%>
                    students have
                <%}%> already signed up.
            </div>

            <% if (both_blocks) {%>
                <div>This activity runs both blocks.</div>
            <%}%>

            <% if (description) {%>
                <dt class="description">Description:</dt><dd class="description"><%= description %></dd>
            <%}%>


            <div id="signup-section">
                <% if (!cancelled) {%>
                    <% if (!selected) {%>
                        <% if (roster.capacity == -1 || (roster.count < roster.capacity)) {%>
                            <button id="signup-button">
                                Sign Up
                            </button>
                            <div id="signup-spinner-container">
                                <div id="signup-spinner"></div>
                            </div>
                        <%} else { %>
                            <strong>This activity is full.</strong>
                        <%}%>
                    <%} else {%>
                        <strong>You are currently signed up for this activity.</strong>
                    <%}%>
                <%}%>

                <div class="error-feedback">
                </div>
            </div>
        </dl>
        {% endverbatim %}
    </script>
    <div class="primary-content">
        <div class="day-picker">
            <span class="day-picker-buttons">
                <button class="earlier-days">
                    <i class="fa fa-chevron-left"></i>
                </button>

                <button class="later-days">
                    <i class="fa fa-chevron-right"></i>
                </button>
            </span>
            <ul class="days-container">
                {% spaceless %}
                    {% for day in block_info.schedule %}
                        <li class="day">
                            <div class="day-title">
                                {{ day.date|date:"M d, Y" }}
                            </div>
                                <div class="blocks{% if day.blocks|length > 2 %} many-blocks{% endif %}">
                                    {% for b in day.blocks %}
                                        <a href="{% url 'eighth_signup' b.id %}{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" data-bid="{{ b.id }}">
                                            <div class="block{% if active_block.id == b.id %} active-block{% endif %}{% if b.current_signup_cancelled %} cancelled{% endif %}{% if b.current_signup.both_blocks %} both-blocks{% endif %}">
                                                <span class="block-letter">
                                                    {{ b.block_letter }}
                                                </span>

                                                <span class="selected-activity">
                                                    {% if b.locked %}
                                                        <i class="fa fa-lock"></i>
                                                    {% endif %}
                                                    {% if b.current_signup_cancelled %}
                                                        <strong>Cancelled</strong> -
                                                    {% endif %}
                                                    {{ b.current_signup.name }}
                                                </span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                        </li>
                    {% endfor %}
                {% endspaceless %}
            </ul>
        </div>

        <div class="middle">
            <div class="block-title">
                <h2>
                    {% if active_block.locked %}
                        <i class="fa fa-lock"></i>
                    {% endif %}
                    {{ block_info.date|date:"l, F d, Y" }}{% if request.user != user %} - {{ user.full_name }} ({{ user.graduation_year }}){% endif %}
                </h2>
                <h4>
                    {{ block_info.block_letter }} Block
                </h4>
            </div>

            <div class="switch">
                <i class="fa fa-chevron-up up"></i>
                <i class="fa fa-chevron-down down"></i>
            </div>

            <!--div class="controls">
                <i class="fa fa-wrench overflow-icon"></i>
                <button>Hide Restricted</button>
                <button>Jump to Date</button>
                <button>Manage Favorites</button>
                <button>Manage Absences</button>
            </div-->
        </div>

        <div id="activity-picker" class="hidden-detail">
            <div class="search-wrapper">
                <i class="fa fa-search"></i>
                <span>
                    <input type="text" placeholder="Search">
                </span>
            </div>
            <div id="activity-list">
                <div class="backbtn">
                    <i class="fa fa-chevron-left"></i>
                </div>
                <!--
                <h5 class="sticky-header">Favorites</h5>
                <ul class="favorite-activities">
                    {% for id, b in block_info.activities.items %}
                        {% if forloop.counter0 < 10 %}
                            <li data-activity-id="{{ id }}">
                                <span class="activity-icons">
                                    <span class="activity-icon pie-{{ b.roster.count|divide:b.roster.capacity|multiply:10|round_num|to_int|minimum:10 }}">&nbsp;</span>
                                </span>
                                <span class="activity-name">{{ b.name }}</span>
                                <span class="sponsor-name"></span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                -->
                <h5 class="sticky-header">All</h5>
                <ul class="all-activities">
                    {% for id, act in block_info.activities.items %}
                        <li data-activity-id="{{ id }}">
                            <span class="activity-icons">
                                <span class="activity-icon fav"></span>
                                {% if act.cancelled %}
                                    <span class="activity-icon cancelled"></span>
                                {% else %}
                                    <span class="activity-icon pie-{{ act.roster.count|divide:act.roster.capacity|multiply:10|round_num|to_int|minimum:10 }}"></span>
                                {% endif %}
                            </span>
                            <span class="activity-name">{{ act.name }}{% if act.cancelled %} (Cancelled){% endif %}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="activity-detail" data-bid="{{ block_info.id }}" data-uid="{{ user.id }}" data-signup-endpoint="{% url 'eighth_signup' %}">
                <h3 class="empty-state">
                    Select an activity
                </h3>
            </div>
        </div>
    </div>
{% endblock %}
