{% load dates %}
{% load static %}

{% block js %}
    <script src="{% static 'js/vendor/jquery.timeago.js' %}"></script>
{% endblock %}

<div class="widget eighth-widget">
    <div class="widget-title">
        <h2>
            {% if no_signup_today %}
            <div class="warning-icon" title="You have not signed up today.">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            {% endif %}
            Upcoming Eighth Periods
        </h2>
        <div class="info">
            <a href="{% url 'eighth_signup' %}" class="btn-link">View more blocks</a>
        </div>

    </div>
    <div class="widget-content">
    {% for block in schedule %}
        <div class="eighth-block clickable {{ block.flags }}">
            <div class="block-header">
                <span class="block-letter-date">
                    <span class="block-letter">
                        {{ block.block_letter }}
                    </span>
                    <span class="block-date">
                        {{ block.date|date:"D, N j" }}
                    </span>
                </span>
                {% if block.locked %}
                    {% if block.current_signup %}
                        <span class="block-signup locked{% if block.is_today %} today{% endif %}" title="{% if block.current_signup_cancelled %}Your signup was cancelled. Questions? Ask 8th Pd. Office{% else %}You {% if block.current_signup_sticky %}are stuck to this activity. Questions? Ask 8th Pd. Office{% else %}have signed up for this activity.{% endif %}{% endif %}">
                            <!--<i class="fas fa-lock"></i>-->
                            {{ block.current_signup }}
                        </span>
                        {% if block.rooms and block != last_displayed_block and not block.is_today and not block.current_signup_cancelled %}
                            <span class="block-rooms">
                                {% for r in block.rooms %}
                                    {{ r.formatted_name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        {% endif %}
                    {% else %}
                         <span class="block-signup locked no-activity-selected{% if block.is_today %} today{% endif %}" title="You have not selected an activity, and signups are locked. Questions? Ask 8th Pd. Office">
                            <!--<i class="fas fa-lock"></i>-->
                            No activity selected
                        </span>
                    {% endif %}
                    <a href="{% url 'eighth_signup' block.id %}" class="btn-link" title="Signups are locked.">
                        <i class="fas fa-lock"></i>
                        View
                    </a>
                {% elif block.current_signup %}
                    <span class="block-signup{% if block.is_today %} today{% endif %}" title="{% if block.current_signup_cancelled %}The activity you signed up for was cancelled. Click to change.{% else %}You {% if block.current_signup_sticky %}are stuck to this activity. Questions? Ask 8th Pd. Office{% else %}have signed up for this activity. Click to change.{% endif %}{% endif %}">
                        {{ block.current_signup }}
                    </span>
                    {% if block.rooms and block != last_displayed_block and not block.is_today and not block.current_signup_cancelled %}
                        <span class="block-rooms">
                            {% for r in block.rooms %}
                                {{ r.formatted_name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </span>
                    {% endif %}
                    {% if block.current_signup_sticky %}
                        <a href="{% url 'eighth_signup' block.id %}" class="btn-link" title="You are stuck to this activity. Click to view other activities.">Stickied</a>
                    {% else %}
                        <a href="{% url 'eighth_signup' block.id %}" class="btn-link" title="Click to change.">Change</a>
                    {% endif %}
                {% else %}
                    <span class="block-signup no-activity-selected{% if block.is_today %} today{% endif %}" title="You have not selected an activity. Click to change.">
                        No activity selected
                    </span>
                    <a href="{% url 'eighth_signup' block.id %}" class="btn-link" title="Click to sign up.">Sign Up</a>
                {% endif %}
            </div>
            {% if block.current_signup_cancelled %}
                <div class="block-info{% if block.is_today and block.signup_time %} with-timeleft{% endif %}">
                    <i class="fas fa-info-circle"></i> This activity was <b style="color: red">cancelled.</b> {% if block.locked %}Visit 8th Pd. Office{% else %}Select another activity.{% endif %}
                </div>
            {% endif %}
            {% if block.is_today and block.signup_time %}
                <div class="block-timeleft">
                    {% if block.signup_time_future %}
                        Signups close <b class="timeago" title="{{ block.signup_time|time_to_date|date:'c' }}">{{ block.signup_time|fuzzy_time }}</b> ({{ block.signup_time }})
                    {% else %}
                        {% if block.locked %}
                            Signups are <b>locked</b>. Questions? Visit 8th Pd. Office
                        {% else %}
                            Signups are <b>closing</b>. Questions? Visit 8th Pd. Office
                        {% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    {% empty %}
        <div class="eighth-block">
            <div class="block-header">
            There are no blocks available at this time.
            </div>
        </div>
    {% endfor %}
    </div>
</div>
