<div class="sponsor-widget-outer">
<div class="widget sponsor-widget" data-endpoint="{% url 'eighth_sponsor_schedule_widget' %}" data-date="{{ sponsor_schedule_cur_date|date:'Y-m-d' }}" data-prev-date="{{ sponsor_schedule_prev_date|date:'Y-m-d' }}" data-next-date="{{ sponsor_schedule_next_date|date:'Y-m-d' }}">
    <div class="widget-title">
        <h2>
            Activity Schedule
            <span class="eighth-date-arrows">
                <a id="eighth-sponsor-left" class="chevron arrow-left"><i class="fas fa-chevron-left"></i></a>
                <span id="eighth-sponsor-date" class="schedule-date">{{ sponsor_schedule_cur_date|date:"D, N j" }}</span>
                <a id="eighth-sponsor-right" class="chevron arrow-right"><i class="fas fa-chevron-right"></i></a>
            </span>
        </h2>
        <!--<div class="info">
            <a href="{% url 'eighth_attendance_choose_scheduled_activity' %}" class="btn-link">View more blocks</a>
        </div>-->
    </div>
    <div class="widget-content sponsor-widget-content">
{% if num_attendance_acts == 0 and not request.user.is_teacher %}
    <div class="eighth-block">
        <div class="block-header no-activity-selected">
            You are not sponsoring any activities.
        </div>
    </div>
{% else %}
    {% for schact in sponsor_schedule %}
        <div class="eighth-block{% if schact.block.is_today %} today{% endif %}{% if schact.activity and not schact.attendance_taken %} no-attendance{% endif %}{% if schact.has_open_passes %} open-passes{% endif %}{% if schact.activity %} clickable{% endif %}{% if schact.block.locked %} locked{% else %} unlocked{% endif %}{% if schact.block.locked and not schact.block.attendance_locked %} no-attendance-lock{% endif %}">
            <div class="block-header">
                <span class="block-letter-date">
                    <span class="block-letter">
                        {{ schact.block.block_letter }}
                    </span>
                    <span class="block-date">
                        {{ schact.block.date|date:"D, N j" }}
                    </span>
                </span>
                {% if schact.activity %}

                    {% if schact.has_open_passes %}
                        <span class="block-sponsorship open-passes" title="You have open student passes.">
                            {{ schact.full_title }}
                        </span>

                        <a href="{% url 'eighth_take_attendance' schact.id %}" class="block-attendance-take btn-link" title="You have open student passes.">
                            <i class="fas fa-info-circle"></i>
                            View Pass
                        </a>
                    {% elif schact.attendance_taken %}
                        <span class="block-sponsorship attendance-taken" title="You have taken attendance.">
                            {{ schact.full_title }}
                        </span>

                        <a href="{% url 'eighth_take_attendance' schact.id %}" class="block-attendance-take btn-link" title="You have taken attendance.">
                            <i class="fas fa-check"></i>
                            Attendance
                        </a>
                    {% elif schact.block.locked %}
                        <span class="block-sponsorship locked" title="You can take attendance now.">
                            {{ schact.full_title }}
                        </span>

                        <a href="{% url 'eighth_take_attendance' schact.id %}" class="block-attendance-take btn-link" title="You can take attendance now.">
                            <i class="fas fa-arrow-right"></i>
                            Attendance
                        </a>
                    {% elif schact.block.attendance_locked %}
                        <span class="block-sponsorship unlocked" title="Click to view the roster for this activity.">
                            {{ schact.full_title }}
                        </span>

                        <a href="{% url 'eighth_take_attendance' schact.id %}" class="block-attendance-take btn-link" title="Click to view the roster for this activity.">
                            <i class="fas fa-lock"></i>
                            View Roster
                        </a>
                    {% else %}
                        <span class="block-sponsorship unlocked" title="Click to view the roster for this activity.">
                            {{ schact.full_title }}
                        </span>

                        <a href="{% url 'eighth_take_attendance' schact.id %}" class="block-attendance-take btn-link" title="Click to view the roster for this activity.">
                            View Roster
                        </a>
                    {% endif %}

                    </a>
                {% else %}
                    <a href="{% url 'eighth_attendance_choose_scheduled_activity' %}?block={{ schact.block.id }}" class="ui-link">
                        <span class="block-sponsorship no-activity-selected{% if not schact.block.locked %} unlocked{% endif %}" title="You are not sponsoring an activity. Click to view other rosters.">
                            Not sponsoring an activity
                        </span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <div class="eighth-block">
            <div class="block-header">
                {% if eighth_sponsor %}
                    You are not sponsoring any activities.
                {% else %}
                    You are not an Eighth Period sponsor.
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
    </div>
</div>
</div>