{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Activity Statistics: {{ activity }}{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.admin.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.profile.css' %}" />
    <style>
    #members-table td:nth-child(2)
    {
        text-align:right;
    }
    .sparkline
    {
        padding:5px;
        background-color:rgba(100,100,200,0.5);
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vendor/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/statistics.js' %}"></script>
    <script type="text/javascript">
        var raw_data = $.parseJSON("{{ chart_data }}");
        var capacity = {{ capacity }};
    </script>
{% endblock %}

{% block main %}
<div class="primary-content">

    {% if request.user.is_eighth_admin %}
        <div class="eighth-header" style="width: 200px">
            {% include "eighth/admin/start_date.html" %}
        </div>
    {% endif %}


    <a href="{% url 'eighth_signup' %}" class="button">
        <i class="fa fa-arrow-left"></i> Sign Up
    </a>

    {% if request.user.is_eighth_admin %}
        <a class="button" href="{% url 'eighth_admin_edit_activity' activity.id %}">
            Edit Activity
        </a>
    {% endif %}

    <a class="button" href="{% url 'eighth_activity' activity.id %}">
        View Activity
    </a>

    <h2 style="padding-bottom: 0">Activity Statistics: {{ activity }}</h2>

    <h3>Activity Information</h3>

    <b>Total blocks:</b> {{ total_blocks }}<br />
    <b style="margin-left: 15px">Scheduled blocks:</b> {{ scheduled_blocks }}<br />
    <b style="margin-left: 15px">Empty blocks:</b> {{ empty_blocks }}<br />
    <b style="margin-left: 15px">Cancelled blocks:</b> {{ cancelled_blocks }}<br />
    <b>Total signups:</b> {{ total_signups }}<br />
    <b>Average signups:</b> {{ average_signups }}<br />
    <b>Capacity:</b> {{ capacity }}<br />

    <br />

    <h3>Block Signups</h3>

    <div style="max-width:500px"><canvas id="members-chart" style="display:none" width="500" height="300"></canvas></div>

    <table id="members-table" class="fancy-table">
        <thead>
            <tr><th>Student</th><th>Total Signups</th></tr>
        </thead>
        <tbody>
            {% for user, signups in members %}
                <tr><td><a href="{% url 'eighth_profile' user.id %}">{{ user.username }}</a></td><td>{{ signups }}</td></tr>
                {% empty %}
                <tr><td colspan="2">No one has signed up for this activity yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>

    <br />
    The statistics shown on this page are not guaranteed to be accurate.<br />
    <b>{{ past_start_date }}</b> block{% if past_start_date != 1 %}s{% endif %} exist that are past the start date and not included in these calculations.<br />
    <b>{{ old_blocks }}</b> block{% if old_blocks != 1 %}s{% endif %} exist that are from previous years and not included in these calculations.<br />
    <br />
</div>
{% endblock %}
