{% extends "page_with_nav.html" %}
{% load phone_numbers %}
{% load static %}
{% load pipeline %}

{% block title %}{{ block.super }} - Submit Attendance{% endblock %}


{% block css %}
    {{ block.super }}
    {% stylesheet 'eighth.schedule' %}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="primary-content" id="quick-schedule">
    <h2>Submit attendance for today's eighth periods:</h2>
    <br>
    {% for s in sch_acts %}
    <h3>{{ s.0.hybrid_text }} Block ({{ s.0.date }})</h3>
        <div class="block-display">
            {% if s.1 is not None %}
            <h4><a href="{% url 'eighth_activity' s.1.activity.id %}">{{ s.1.full_title }}</a></h4>
            <h5><strong>Room(s):</strong> {{ s.2 }}</h5>
            <h5><strong>Sponsor(s):</strong> {{ s.3 }}</h5>
            <br>
            <p><strong>Comments:</strong> {% if s.1.comments %}{{ s.1.comments }}{% else %}None{% endif %}</p>
            <br>
            <p>{{ s.1.activity.description }}</p>
            {% if s.0 in att_marked%}
            <p style="color: green;">Attendance marked.</p>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <p><strong>Attendance Code: </strong></p>
                <input
                  type="text"
                  id="attendance-code"
                  name="{{ s.0.block_letter }}"
                  maxlength="6"
                  pattern="[A-Za-z0-9]{6}"
                />
                <button type="submit">Submit</button>
            </form>
            {% if s.0 == attc %}
            <p style="color: green;">Attendance marked successfully.</p>
            {% elif s.0 == attimef %}
            <p style="color: red;">Invalid time. Please fill this out during {{ s.0.block_letter }} block.</p>
            {% elif s.0 == attf %}
            <p style="color: red;">Invalid Code.</p>
            {% elif s.0 == atteachf %}
            <p style="color: red;">Error. Ask your teacher to open the attendance code.</p>
            {% endif %}
            {% else %}
            <p>You are not signed up for any activity.</p>
            {% endif %}
        </div>
        <br><br>
    {% endfor %}
    <a class="button" href="{% url 'index' %}">Return to Dashboard</a>
</div>
{% endblock %}
