{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }}{% if request.user.is_eighth_admin %} - Eighth Admin{% endif %} - {% if scheduled_activity.block.locked %}Take Attendance{% else %}View Roster{% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize.js-0.12.0/dist/css/selectize.default.css' %}">
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.attendance.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/selectize.js-0.12.0/dist/js/standalone/selectize.min.js' %}"></script>
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
    <script type="text/javascript" src="{% static 'js/eighth/attendance.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/ui_init.js' %}"></script>
    {% if wizard %}
    <script type="text/javascript">
$(function() {
    $("form > select").on("change", function() {
        this.form.submit();
    })
});
    </script>
    {% else %}
    <script type="text/javascript">
$(function() {
    $("form[name='choose-activity'] > select").on("change", function() {
        var val = $(this).val();
        if(val.length > 0) {
            location.href = $(".choose-activity").attr("data-endpoint") + "/" + val;
        }
    });
})
    </script>
    {% endif %}
{% endblock %}


{% block main %}
    <div class="primary-content">
        <div class="eighth-header">
            <h2>
                {% if scheduled_activity.block.locked %}
                    Take Attendance
                {% else %}
                    View Roster
                {% endif %}
            </h2>

            {% if request.user.is_eighth_admin %}
                {% include "eighth/admin/start_date.html" %}
            {% endif %}
        </div>
    {% if request.user.is_eighth_admin and not wizard %}
        <div class="choose-block">
            <form action="{% url 'eighth_admin_attendance_choose_scheduled_activity' %}" method="post" name="choose-block">
                {% csrf_token %}
                <input type="hidden" name="eighth_attendance_select_scheduled_activity_wizard-current_step" value="block" />
                <b>Block:</b>
                <select name="block-block" onchange="if(this.value.length > 0) this.form.submit()" id="block-select">
                    {% for blk in blocks %}
                        <option value="{{ blk.id }}" {% if blk.id == scheduled_activity.block.id %} selected{% endif %}>
                            {{ blk.id }}: {{ blk }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="choose-activity" data-endpoint="/eighth{% if request.user.is_eighth_admin %}/admin{% endif %}/attendance">
            <form name="choose-activity">
                <b>Activity:</b>
                <select name="scheduled-activities" id="activity-select">
                {% for schact in scheduled_activities %}
                    <option value="{{ schact.id }}" {% if schact.id == scheduled_activity.id %} selected{% endif %}>
                        {{ schact.activity.id }}: {{ schact.activity }}
                    </option>
                {% endfor %}
                </select>
            </form>
        </div>
    {% endif %}


        {% if request.GET.ns %}
            <strong>You are not sponsoring any activities. You are not an eighth period sponsor.</strong>
            <br />
        {% endif %}

        {% if request.GET.na %}
            <strong>You are not sponsoring any activities for the block you selected.</strong>
            <br />
        {% endif %}

        {% if request.GET.no_attendance %}
            <a href="{% url 'eighth_admin_view_activities_without_attendance' %}?block={{ request.GET.no_attendance|escape }}" class="button">
                <i class="fa fa-arrow-left"></i>
                Activities w/o Attendance
            </a>
            <br />
        {% endif %}

        {% if wizard %}
            <form action="" method="post">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form }}
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</button>
                {% endif %}
                {% if wizard.steps.next %}
                    <input type="submit" value="Next"/>
                {% else %}
                    <input type="submit" value="{% if scheduled_activity.block.locked %}Take Attendance{% else %}View Roster{% endif %}"/>
                {% endif %}
            </form>
        {% else %}
            <div class="attendance-container">
                <table class="key-value-table activity-attributes">
                {% if not request.user.is_eighth_admin %}
                    <tr>
                        <th>Activity:</th>
                        <td>{{ scheduled_activity.activity.name_with_flags }} ({{ scheduled_activity.activity.id }})</td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td>{{ scheduled_activity.block.date|date:"EIGHTH_BLOCK_DATE_FORMAT" }}, {{ scheduled_activity.block.block_letter }} Block</td>
                    </tr>
                {% endif %}
                    <tr>
                        <th>Rooms:</th>
                        <td>{{ scheduled_activity.get_true_rooms|join:", " }}</td>
                    </tr>
                    <tr>
                        <th>Sponsors:</th>
                        <td>{{ scheduled_activity.get_true_sponsors|join:", " }}</td>
                    </tr>
                    <tr>
                        <th>Signups:</th>
                        {% with scheduled_activity.get_true_capacity as capacity %}
                            <td>{{ members|length }}/{% if capacity == -1%}Unlimited{% else %}{{ capacity }}{% endif %} </td>
                        {% endwith %}
                    </tr>
                </table>

                <a class="button" href="{% url 'eighth_admin_export_attendance_csv' scheduled_activity.id %}">Export CSV</a>

                {% if scheduled_activity.attendance_taken %}
                    <div class="attendance-taken">
                        <i class="fa fa-check"></i> Attendance Taken
                    </div>
                {% elif scheduled_activity.block.locked %}
                    <div class="no-attendance">
                        <i class="fa fa-exclamation-triangle"></i> Attendance Not Taken
                    </div>
                {% endif %}

                <div class="pass-container">
                {% if passes and scheduled_activity.block.locked %}
                    <h3>Passes</h3>
                    <table class="take-passes">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Student ID</th>
                                <th>Grade</th>
                                <th>Accept/Reject</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pass in passes %}
                            <tr class="pass-student">
                                <td>
                                    {{ pass.user.last_name }}, {{ pass.user.first_name }}
                                </td>
                                <td>
                                    {% if pass.user.student_id %}
                                        {{ pass.user.student_id }}
                                    {% else %}
                                        (Ion {{ pass.user.id }})
                                    {% endif %}
                                </td>
                                <td style="text-align: center">
                                    {{ pass.user.grade.number }}
                                </td>
                                <td class="form">
                                    <form name="pass-form-{{ pass.id }}" action="{% url 'eighth_accept_pass' pass.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="status" value="" />
                                        <a href="#" onclick="return false" class="pass-form-submit-link button" data-form="pass-form-{{ pass.id }}" data-status="accept"><i class="fa fa-check"></i></a> 
                                         &nbsp; 

                                        <a href="#" onclick="return false" class="pass-form-submit-link button" data-form="pass-form-{{ pass.id }}" data-status="reject"><i class="fa fa-times"></i></a>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <form action="{% url 'eighth_accept_all_passes' scheduled_activity.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="button accept-all-passes" value="Accept All">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <br />
                    <br />
                    <br />
                {% else %}
                    There are no passes to accept.
                {% endif %}
                </div>

                <form class="attendance-form" action="" method="post">
                    {% csrf_token %}
                    <table class="take-attendance-roster">
                        <thead>
                            <tr>
                                {% if scheduled_activity.block.locked %}
                                    <th><input type="checkbox" class="">Present</th>
                                {% endif %}
                                <th>Student</th>
                                <th>Student ID</th>
                                <th>Grade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    {% if scheduled_activity.block.locked %}
                                        <td class="present-checkbox"><input type="checkbox" name="{{ member.id }}"{% if member.present %} checked{% endif %}{% if not scheduled_activity.attendance_taken and member.had_pass and not member.was_absent %} checked{% endif %}></td>
                                    {% endif %}
                                    <td>{{ member.name }}</td>
                                    <td>{% if member.student_id %}
                                        {{ member.student_id }}
                                    {% else %}
                                        (Ion {{ member.id }})
                                    {% endif %}</td>
                                    <td style="text-align: center">{{ member.grade }}</td>
                                    <td>{% if member.had_pass %}(Had Pass){% endif %}</td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4">
                                        There are no students signed up.
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                {% if not scheduled_activity.block.locked %}
                                    <br />
                                    <br />
                                    <b>You may not take attendance for this activity - signups are not yet locked.</b>
                                    <br />
                                    {% if user.is_eighth_admin %}
                                        <input type="submit" class="save-button" value="Force {% if scheduled_activity.attendance_taken %}Update{% else %}Take{% endif %} Attendance" onclick="return confirm('Are you sure you want to {% if scheduled_activity.attendance_taken %}update{% else %}take{% endif %} attendance on an activity where signups are not locked?')" />
                                    {% endif %}
                                {% else %}
                                    {% if not scheduled_activity.attendance_taken %}
                                        <i class="fa fa-icon-right"></i>
                                    {% endif %}
                                    <input type="submit" class="save-button" value="{% if scheduled_activity.attendance_taken %}Update{% else %}Take{% endif %} Attendance" />
                                    {% if not scheduled_activity.attendance_taken %}
                                        <i class="fa fa-icon-left"></i>
                                    {% endif %}

                                {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
                {% if user.is_eighth_admin %}
                    <br />
                    <br />
                    <br />
                    <form action="" method="post" onsubmit="return confirm('Are you sure you want to reset attendance on this activity?');">
                        {% csrf_token %}
                        <input type="hidden" name="clear_attendance_bit" value="true" />
                        <input type="submit" value="Clear Attendance Bit" />
                    </form>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
