{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - {{ action|title }} Board Post
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/selectize.js-0.12.1/dist/js/standalone/selectize.min.js' %}"></script>
    
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize.js-0.12.1/dist/css/selectize.default.css' %}">
    {% stylesheet 'announcements.form' %}
{% endblock %}

{% block main %}
<div class="board announcements primary-content">
    <a class="button" href="javascript:history.go(-1)">
        <i class="fa fa-arrow-left"></i> Back
    </a>
    <h2>
        {{ action|title }} Board Post
    </h2>
    <form action="" method="post">
    <table>
    {% csrf_token %}
    <tr><td colspan="2">
        {% if action == "add" %}
            <p>
                {% include "board/disclaimer_text.html" %}
            </p>
            <p>
                {% if course_title %}
                    <b>You are posting to the {{ course_title }} course board.</b> The teacher(s) of this course will have permission to view this posting.
                {% elif section %}
                    <b>You are posting to the {{ section.course_title }}, Period {{ section.periods }} class board.</b> The teacher(s) of this class will have permission to view this posting.
                {% endif %}
            </p>
            <br />
        {% endif %}
    </td></tr>
    {{ form.as_table }}
    <tr><td colspan="2">
        {% if id %}
            <a href="" class="button">Delete</a>
        {% endif %}
        <input type="submit" style="width: 150px" /></td></tr>
    </table>
    </form>
</div>
<script type="text/javascript">
    // name of <textarea> is content
    CKEDITOR.replace("id_content", {
        width: "600px"
    });
</script>
{% endblock %}
