{% load staticfiles %}
<link rel="stylesheet" href="{% static 'themes/afd2016/reactions.css' %}" />
<style type="text/css">
.bulletin-text {
    display: inline-block;
    margin-top: 7px;
    font-size: 18px;
}

.bulletin-text b {
    white-space: nowrap;
}

.bulletin-reaction {
    float: left;
    width: 53px;
    height: 48px;
}

@media (max-width: 400px) {
    .bulletin-text {
        font-size: 16px;
    }

    .bulletin-text b {
        white-space: normal;
    }
}
</style>

<div class="announcement announcement-meta">
    <span class="bulletin-text">
        <div class="reaction-icon reaction-1 bulletin-reaction"></div>
        Introducing the new way to collaborate at TJ: <b>Ion Bulletin Boards</b>.
    </span>
    <a href="{% url 'board' %}" class="button" style="float: right">Learn more&nbsp;<i class="fa fa-arrow-right"></i></a>
</div>
