{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - Board
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}" />
{% endblock %}

{% block main %}
<div class="board primary-content">
    <h2>
        Boards
    </h2>

    <h2>Sorry, you don't have access to this page.</h2>
    <p>{{ reason }}</p>
    
</div>
{% endblock %}
