{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - Board
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}" />
{% endblock %}

{% block main %}
<div class="board primary-content">
    <h2>
        {{ board.type|title }} Feed{% if board.type == "class" %}:
            <a href="{% url 'class_section' class_obj.section_id %}">
                {{ class_obj.name }}, Period {{ class_obj.periods|join:", " }}
            </a>
        {% elif board.type == "section" %}:
            {{ section.classes.0.name }}
        {% endif %}
    </h2>
    <div class="button-container">
        {% if class_obj %}
            <a class="button" href="{% url 'board_section' class_obj.class_id %}">View All Class Periods</a> &nbsp; 
        {% endif %}
        <a href="{% url board.add_button_route board.add_button_arg %}" class="button">
            <i class="fa fa-plus"></i>
            Create Post
        </a>
    </div>

    {% if section %}
        <p>There {% if section.classes|length == 1 %}is 1 period{% else %}are {{ section.classes|length }} periods{% endif %} of this class.</p>
    {% endif %}

    {% for post in posts %}
        {% include "board/post.html" %}
    {% empty %}
        <p>There are no board posts! Press the button above to create one.</p>
    {% endfor %}
    
</div>
{% endblock %}
