{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - Board
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}" />
{% endblock %}

{% block main %}
<div class="board primary-content">
    <h2>
        {{ board.type|title }} Feed{% if board.type == "section" %}:
            <a href="{% url 'ionldap_class_section' section.section_id %}">
                {{ section.course_title }}, Period {{ section.periods }}
            </a>
        {% elif board.type == "course" %}:
            {{ course_title }}
        {% endif %}
    </h2>
    <div class="button-container">
        {% if board.type == "section" %}
            <a class="button" href="{% url 'board_course' section.course_id %}">View All Class Periods</a> &nbsp; 
        {% elif board.type == "course" and my_section %}
            <a class="button" href="{% url 'board_section' my_section.section_id %}">View Only Period {{ my_section.periods }} with {{ my_section.teacher }}</a> &nbsp; 
        {% endif %}
        <a href="{% url board.add_button_route board.add_button_arg %}" class="button">
            <i class="fa fa-plus"></i>
            Create Post
        </a>
    </div>

    {% if ldap_courses %}
        <p>You can collaborate with {% if ldap_courses|length == 1 %}1 period{% else %}{{ ldap_courses|length }} periods{% endif %} of <b>{{ course_title }}</b>.</p>
    {% endif %}

    {% for post in posts %}
        {% include "board/post.html" %}
    {% empty %}
        <p>There are no board posts! Press the button above to create one.</p>
    {% endfor %}
    
</div>
{% endblock %}
