{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - Board
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}" />
{% endblock %}

{% block main %}
<div class="board primary-content">
    <h2>
        {{ board.type|title }} Feed: {{ board.type_title }}
    </h2>
    <div class="button-container">
        <a href="{% url board.add_button_route board.add_button_arg %}" class="button">
            <i class="fa fa-plus"></i>
            Create Post
        </a>
    </div>

    {% for post in posts %}
        {% include "board/post.html" %}
    {% empty %}
        <p>There are no board posts! Press the button above to create one.</p>
    {% endfor %}
    
</div>
{% endblock %}
