{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - Board
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/board.js' %}"></script>
    {% include "board/reactions_inc.html" %}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'board' %}
    <style>
    @media (max-width: 1105px) {
        .boardpost {
            max-width: none !important;
            width: 100% !important;
        }
    }
    </style>
{% endblock %}

{% block main %}
<div class="board primary-content">
    <h2>
        Boards
    </h2>

    {% include "board/reactions_text.html" %}

    <div class="left-pane board-classes">
        {% if not request.user.is_teacher %}
            {% if classes %}
                <span class="left-pane-header">Your classes:</span><br />
            {% endif %}
            {% comment %}
            {% for c in classes %}
                <div class="board-class">
                    <b><a href="{% url 'board_section' c.section_id %}">{{ c.course_title }}</a></b>
                    <br />
                    <span class="class-specifics">
                        {{ c.teacher }} - Period {{ c.periods }}
                    </span>
                </div>
            {% endfor %}
            {% endcomment %}
            {% for c in classes %}
                <div class="board-class">
                    <b><a href="{% url 'board_course' c.course_id %}">{{ c.course_title }}</a></b>
                    <br />
                    <span class="class-specifics">
                        {{ c.teacher }} - Period {{ c.periods }}
                    </span>
                </div>
            {% endfor %}
        {% endif %}
        {% if teacher_courses %}
            <span class="left-pane-header">Your courses:</span><br />
        {% endif %}
        {% for c in teacher_courses %}
            <div class="board-class">
                <b><a href="{% url 'board_course' c.course_id %}">{{ c.course_title }}</a></b>
                <br />
                <span class="class-specifics">
                    {{ c.count }} periods of this course
                </span>
            </div>
        {% endfor %}
        <br />
        <br />
    </div>

    <div class="posts-content">
        <h2>Post Feed</h2>
    {% for post in posts %}
        {% with show_type=1 %}
            {% include "board/post.html" %}
        {% endwith %}
    {% empty %}
        <p>There are no board posts available to you at this time.</p>
    {% endfor %}
    </div>
    
</div>
{% endblock %}
