{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - Board
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}" />
{% endblock %}

{% block main %}
<div class="board primary-content">
    <h2>
        Boards
    </h2>

    <div class="left-pane board-classes">
        <span class="left-pane-header">Your classes:</span><br />
        {% for c in classes %}
            <div class="board-class">
                <b><a href="{% url 'board_class' c.section_id %}">{{ c.course_title }}</a></b>
                <br />
                <span class="class-specifics">
                    {{ c.teacher }} - Period {{ c.periods }}
                </span>
            </div>
        {% endfor %}
        <br />
        <br />
    </div>

    <div class="posts-content">
    {% for post in posts %}
        {% with show_type=1 %}
            {% include "board/post.html" %}
        {% endwith %}
    {% empty %}
        <p>There are no board posts available to you at this time.</p>
    {% endfor %}
    </div>
    
</div>
{% endblock %}
