{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - Board
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/board.css' %}" />
{% endblock %}

{% block main %}
<div class="board primary-content">
    <h2>
        Board
    </h2>

    {% for post in posts %}
        <div class="boardpost" data-id="{{ post.id }}">
            <h3>
                {{ post.title }}

                {% if is_board_admin or post.user == request.user %}
                    <div class="boardpost-icon-wrapper">
                        <a href="">
                            <i class="boardpost-icon fa fa-pencil"></i>
                        </a>
                        <a href="" class="boardpost-delete">
                            <i class="boardpost-icon fa fa-trash-o"></i>
                        </a>
                    </div>
                {% endif %}
            </h3>

            <div class="boardpost-metadata">
                by {{ post.user.full_name|escape }} &bull; {{ post.added|fuzzy_date|capfirst }}
            </div>

            <div class="event-content">
                {{ post.content|safe }}
            </div>
        </div>
    {% empty %}
        <p>There are no board posts available to you at this time.</p>
    {% endfor %}
    
</div>
{% endblock %}
