{% load staticfiles %}
<link rel="stylesheet" href="{% static 'themes/afd2016/reactions.css' %}" />
<style type="text/css">
body.has-login-warning div.login-warning {
    
}

.bulletin-text {
    display: inline-block;
    font-size: 18px;
    text-align: center;
}

.bulletin-text b {
    white-space: nowrap;
}

.bulletin-text .reaction-icons {
    width: auto;
    margin-bottom: 5px;
}

.bulletin-text .reaction-icon {
    margin: 5px;
    zoom: 0.7;
}

@media (max-width: 600px) {
    .bulletin-text .reaction-icon.extra {
        display: none;
    }
}

@media (max-width: 400px) {
    .bulletin-text {
        font-size: 16px;
    }

    .bulletin-text b {
        white-space: normal;
    }
}
</style>

    <span class="bulletin-text">
        <div class="reaction-icons">
            <div class="reaction-icon reaction-1" data-reaction="1"></div>
            <div class="reaction-icon reaction-2" data-reaction="2"></div>
            <div class="reaction-icon reaction-3" data-reaction="3"></div>
            <div class="reaction-icon reaction-4" data-reaction="4"></div>
            <div class="reaction-icon reaction-5" data-reaction="5"></div>
            <div class="reaction-icon reaction-6" data-reaction="6"></div>
            <div class="reaction-icon reaction-7 extra" data-reaction="7"></div>
            <div class="reaction-icon reaction-8 extra" data-reaction="8"></div>
        </div>
        Introducing the fast new way to collaborate at TJ: <b>Ion Connect</b>.
    </span>

