{% load dates %}
<div class="boardpost" data-id="{{ post.id }}">
    <h3>
        {{ post.title }}

        {% if request.user.is_board_admin or post.user == request.user %}
            <div class="boardpost-icon-wrapper">
                <a href="{% url 'board_modify_post' post.id %}">
                    <i class="boardpost-icon fa fa-pencil"></i>
                </a>
                <a href="{% url 'board_delete_post' post.id %}" class="boardpost-delete">
                    <i class="boardpost-icon fa fa-trash-o"></i>
                </a>
            </div>
        {% endif %}
    </h3>

    <div class="boardpost-metadata">
    {% if show_type %}
        {% if post.board.activity %}
            Activity: {{ post.board.activity }} &bull; 
        {% elif post.board.class_id %}
            Class: <a href="{% url 'board_class' post.board.class_id %}">
                {{ post.board.class_obj }}
            </a> &bull; 
        {% elif post.board.section_id %}
            Class: <a href="{% url 'board_section' post.board.section_id %}">
                {{ post.board.section_obj }}
            </a> &bull;
        {% elif post.board.group %}
            Group: {{ post.board.group }} &bull;
        {% else %}
            Public &bull; 
        {% endif %}
    {% endif %}
        by {{ post.user.full_name|escape }} &bull; {{ post.added|fuzzy_date|capfirst }}
    </div>

    <div class="event-content">
        {{ post.content|safe }}
    </div>

    <a class="button react-button">
        <i class="fa fa-heart"></i> <u>React</u>
    </a> &nbsp; &nbsp; {{ post.comments.count }} reaction{{ post.comments.count|pluralize }}<br />


    <div class="reactions-outer" data-endpoint="{% url 'board_react_post' post.id %}" data-view="{% url 'board_post' post.id %}" >
        <div class="reactions-box">
            <div class="reaction-icon reaction-1" data-reaction="1"></div>
            <div class="reaction-icon reaction-2" data-reaction="2"></div>
            <div class="reaction-icon reaction-3" data-reaction="3"></div>
            <div class="reaction-icon reaction-4" data-reaction="4"></div>
            <div class="reaction-icon reaction-5" data-reaction="5"></div>
            <div class="reaction-icon reaction-6" data-reaction="6"></div>
        </div>
    </div>

<script>
$(function() {
    $(".react-button").click(function() {
        var p = $(this).parent().parent();
        var ro = $(".reactions-outer", p);
        var vis = ro.attr("data-visible");

        if(vis == "true") {
            ro.animate({
                "opacity": 0
            }, 200).css({
                "transform": "scale(1, 1) translate(0, 0)",
                "transition": "transform 200ms ease"
            }, 350);
            setTimeout(function() {
                ro.hide();
            }, 500);
            ro.attr("data-visible", false);
        } else {
            ro.show().animate({
                "opacity": 1
            }, 200).css({
                "transform": "scale(.8, .8) translate(0, 0)",
                "transition": "transform 200ms ease"
            }, 250);
            ro.attr("data-visible", true);
        }
    });

    giveReaction = function(icon) {
        var react = icon.attr("data-reaction");
        var outer = icon.parent().parent();
        $.post(outer.attr("data-endpoint"), {"reaction": react}, function(res) {
            location.href = outer.attr("data-view");
        });
    }

    $(".reaction-icon").click(function() {
        var t = $(this);
        t.addClass("click");
        setTimeout(function() {
            giveReaction(t);
            t.removeClass("click");
            t.addClass("click-out");
            setTimeout(function() {
                t.removeClass("click-out");
            }, 200);
        }, 1000);
    })
})
</script>

<style>
.reactions-outer {
    position: relative;
    top: 10px;
    left: 0px;
    opacity: 0;
    display: none;
    z-index: 9998;
}

.react-button {
    z-index: 9999;
}

.reactions-box {
    bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 0px 0px 1px, rgba(0, 0, 0, 0.14902) 0px 2px 2px 0px;
    color: rgb(145, 151, 163);
    content: '""';
    height: 52px;
    left: 10px;
    overflow-wrap: break-word;
    position: absolute;
    right: 10px;
    width: 318px; /*292px;*/
    word-wrap: break-word;
    z-index: -1;
    perspective-origin: 146px 26px;
    transform-origin: 146px 26px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(145, 151, 163);
    border-radius: 40px 40px 40px 40px;
    font: normal normal normal normal 0px / 0px helvetica, arial, sans-serif;
    outline: rgb(145, 151, 163) none 0px;
    transition: height 0.2s ease 0s;
    padding: 5px 0 5px 5px;
}

.reaction-icon {
    background: rgba(0, 0, 0, 0) url("/static/themes/afd2016/reaction-sprite.png") no-repeat scroll 0px -96px / auto padding-box border-box;
    background-position: 0px -96px;
    color: rgb(145, 151, 163);
    cursor: pointer;
    display: inline-block;
    height: 48px;
    overflow-wrap: break-word;
    text-align: left;
    white-space: nowrap;
    width: 48px;
    word-wrap: break-word;
    perspective-origin: 24px 24px;
    transform-origin: 24px 24px;
    padding-right: 5px;
    vertical-align: middle;
}

.reaction-icon:hover {
    transform: scale(1.2, 1.2) translate(0, 0);
    transition: transform 200ms ease;
}

.reaction-icon.click {
    transform: scale(1.5, 1.5) translate(0, 0);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1 {
    background-position: 0px -144px;
}

/*
.reaction-icon.reaction-1:hover {
    transform: scale(1.2, 1.2) rotate(180deg);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1.click {
    transform: scale(1.5, 1.5) rotate(-180deg);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1.click-return {
    transform: scale(0.8, 0.8) rotate(0deg);
    transition: transform 200ms ease;
}
*/

.reaction-icon.reaction-2 {
    background-position: 0px -192px;
}

.reaction-icon.reaction-3 {
    background-position: 0px -96px;
}

.reaction-icon.reaction-4 {
    background-position: 0px -288px;
}

.reaction-icon.reaction-5 {
    background-position: 0px -240px;
}

.reaction-icon.reaction-6 {
    background-position: 0px 0px;
}
</style>

    {% if post.comments.count > 0 %}
        <hr />
    {% endif %}
    <div class="boardpost-comments">
    {% for comment in post.comments.all %}
        <div class="boardpost-comment">
            <b>{{ comment.user.full_name }}</b>: {% if comment.safe_html %}{{ comment.content|safe }}{% else %}{{ comment.content }}{% endif %}
            {% if comment.user == request.user %}
                <span class="boardpost-comment-icons">
                    <a href="#" data-endpoint="{% url 'board_delete_comment' comment.id %}" data-view="{% url 'board_post' post.id %}" class="boardpost-delete-comment">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </span>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>