{% load dates %}
<div class="boardpost" data-id="{{ post.id }}">
    <h3>
        {{ post.title }}

        {% if request.user.is_board_admin or post.user == request.user %}
            <div class="boardpost-icon-wrapper">
                <a href="{% url 'board_modify_post' post.id %}">
                    <i class="boardpost-icon fa fa-pencil"></i>
                </a>
                <a href="{% url 'board_delete_post' post.id %}" class="boardpost-delete">
                    <i class="boardpost-icon fa fa-trash-o"></i>
                </a>
            </div>
        {% endif %}
    </h3>

    <div class="boardpost-metadata">
    {% if show_type %}
        {% if post.board.activity %}
            Activity: {{ post.board.activity }} &bull; 
        {% elif post.board.class_id %}
            Class: <a href="{% url 'board_class' post.board.class_id %}">
                {{ post.board.class_obj }}
            </a> &bull; 
        {% elif post.board.section_id %}
            Class: <a href="{% url 'board_section' post.board.section_id %}">
                {{ post.board.section_obj }}
            </a> &bull;
        {% elif post.board.group %}
            Group: {{ post.board.group }} &bull;
        {% else %}
            Public &bull; 
        {% endif %}
    {% endif %}
        by {{ post.user.full_name|escape }} &bull; {{ post.added|fuzzy_date|capfirst }}
    </div>

    <div class="event-content">
        {{ post.content|safe }}
    </div>

    <a class="button small-button" href="{% url 'board_comment' post.id %}">
        <i class="fa fa-comment-o"></i> Add Comment
    </a> &nbsp; &nbsp; {{ post.comments.count }} comment{{ post.comments.count|pluralize }}<br />
    {% if post.comments.count > 0 %}
        <hr />
    {% endif %}
    <div class="boardpost-comments">
    {% for comment in post.comments.all %}
        <div class="boardpost-comment">
            <b>{{ comment.user.full_name }}</b>: {{ comment.content }}
            {% if comment.user == request.user %}
                <span class="boardpost-comment-icons">
                    <a href="#" data-endpoint="{% url 'board_delete_comment' comment.id %}" data-view="{% url 'board_post' post.id %}" class="boardpost-delete-comment">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </span>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>