{% load staticfiles %}
<style type="text/css">
.bulletin-text {
    display: inline-block;
    padding-top: 8px;
    font-size: 18px;
    float: left;
    margin-left: 55px;
}

.bulletin-text b {
    white-space: nowrap;
}

.bulletin-reaction {
    float: left;
    width: 53px;
    height: 48px;
    position: absolute;
    left: 8px;
    margin-top: -5px;
}

.boardpost-reactions {
    position: relative;
}

.boardpost-reactions p {
    display: inline-block;
    margin-left: 55px;
}

@media (max-width: 400px) {
    .bulletin-text {
        font-size: 16px;
    }

    .bulletin-text b {
        white-space: normal;
    }
}
</style>

<div class="boardpost boardpost-meta boardpost-reactions">

    <div class="reaction-icon reaction-1 bulletin-reaction"></div>
    <span class="bulletin-text">
        Introducing the new way to collaborate at TJ: <b>Ion Connect</b>
    </span><br />
    <p>
        Ion Connect was created with the dream of allowing students to communicate and collaborate with each other as effortlessly as possible. Our research team embarked on an extensive, year-long study to answer one overarching question: <b>How can students foster their desire to embark on frictionless and instantaneous methods of communication in our inherently competitive TJ environment?</b> The answer, of course, was simple: <b>internet memes</b>, the societal backbone of 21st century Internet users. An equally important component in today's social media-driven world is the ability to effortlessly communicate your opinions through <b>emoji</b>. Thus, by combining modern society's two most vital components, we have created a social media platform for the modern age.
    </p>
    <p><b>What are you waiting for?</b> Choose a class from the list below, choose a message, and <span style="text-decoration: underline">start communicating now!</span></p>
    
</div>
