{% extends "eighth/admin/eighth_admin_page_base.html" %}

{% block admin_main %}

<h3>Add Block</h3>
<form id="add-block-form" action="{% url 'eighth_admin_add_multiple_blocks' %}" method="post" autocomplete="off" onsubmit="return check_submit(this)">
    {% csrf_token %}
    <table>
        <tr>
            <th><label for="id_date">Date:</label></th>
            <td><input id="id_date" name="date" type="text" value="{% if date %}{{ date }}{% endif %}" /></td>
        </tr>
        {% if show_letters %}
        <input type="hidden" name="modify_blocks" value="true" />
        <tr>
            <th><label for="blocks">Block letters:</label></th>
            <td>
                <table>
                <tr>
                {% for letter in letters %}
                    <td>
                    <input type="checkbox" name="blocks" value="{{ letter.name }}" {% if letter.exists %}checked{% endif %}/> {{ letter.name }}
                    </td>
                    {% if forloop.counter|divisibleby:4 %}</tr><tr>{% endif %}
                {% endfor %}
                </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="right-buttons" colspan=2>
                <input type="submit" value="Add" />
            </td>
        </tr>
        {% endif %}
    </table>

    <script type="text/javascript">
$(function() {
    $("#id_date").on("change", function(d) {
        console.debug($(this).val());
        location.search = "date=" + $(this).val();
    });
});

{% if show_letters %}
var original_letters = {
    {% for letter in letters %}
    "{{ letter.name }}": {% if letter.exists %}true{% else %}false{% endif%}
    {% if not forloop.last %},{% endif %}
    {% endfor %}
};
var current_letters = {};
for(i in original_letters) current_letters[i] = original_letters[i];
$(function() {
    $("input[name=blocks]").click(function() {
        console.debug($(this).val(), $(this).prop("checked"));
        current_letters[$(this).val()] = $(this).prop("checked");
    });
});
check_submit = function() {
    var txt = "";
    var date = $("#id_date").val();
    for(ltr in current_letters) {
        if(current_letters[ltr] != original_letters[ltr]) {
            txt += (current_letters[ltr] ? "Add" : "Remove") + " block "+ltr+"\n";
        }
    }
    console.debug(txt);
    if(txt.length > 0) {
        return confirm("The following changes are about to be made for "+date+".\n\n"+txt+"\nShould these actions be completed?");
    }
    return true;
}
{% endif %}

    </script>
</form>

{% endblock %}
