{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block admin_main %}
<form id="add-sponsor-form" action="{% url 'eighth_admin_add_sponsor' %}" method="post" autocomplete="off">
    <h4>Add Sponsor</h4>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td class="right-buttons" colspan=2>
                <input type="submit" value="Add">
            </td>
        </tr>
    </table>
</form>
{% endblock %}
