{% extends "eighth/admin/eighth_admin_page_base.html" %}

{% block js %}
    <script type="text/javascript">
        window.urlIDPlaceholder = "{{ url_id_placeholder }}";
    </script>
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $("#{{ scroll_to_id }}").parent("td").each(function(){this.scrollIntoView()});
        });
    </script>
{% endblock %}

{% block admin_main %}
<table class="admin-dashboard">
    <tr>
        <td class="admin-section">
            <h3>Activities</h3>

            <form id="add-activity-form" action="{% url 'eighth_admin_add_activity' %}" method="post" autocomplete="off">
                <h4>Add Activity</h4>
                {% csrf_token %}
                <table>
                    {{ add_activity_form.as_table }}
                    <tr>
                        <td class="right-buttons" colspan=2>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>

            <h4>Edit/Schedule Activity</h4>
            <select id="activity-select" placeholder="Select or search for an activity">
                <option value="">Select or search for an activity</option>
                {% for activity in all_activities %}
                    <option value="{{ activity.id }}">{{ activity.id }}: {{ activity.name_with_flags }}</option>
                {% endfor %}
            </select>
            <div class="right-buttons">

                <a class="dynamic-link button" data-select="activity-select" data-href-pattern="{% url 'eighth_admin_schedule_activity' %}?activity={{ url_id_placeholder }}" class="button">Schedule Activity</a>

                <a class="dynamic-link button" data-select="activity-select" data-href-pattern="{% url 'eighth_admin_edit_activity' url_id_placeholder %}" class="button">Edit Activity</a>
            </div>
        </td>
        <td class="admin-section">
            <h3>Blocks</h3>

            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_add_multiple_blocks' %}"><i class="fa-li fa fa-list-alt"></i>Add/remove multiple blocks</a></li>
            </ul>

            <form id="add-block-form" action="{% url 'eighth_admin_add_block' %}" method="post" autocomplete="off">
                <h4>Add Block</h4>
                {% csrf_token %}
                <table>
                    {{ add_block_form.as_table }}
                    <tr>
                        <td class="right-buttons" colspan=2>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>


            <h4>Block Actions</h4>
            <select id="block-select" placeholder="Select or search for a block">
                <option value="">Select or search for a block</option>
                {% for block in blocks_after_start_date %}
                    <option value="{{ block.id }}">{{ block.id }}: {{ block.date|date:"EIGHTH_BLOCK_DATE_FORMAT" }} ({{ block.block_letter }}){% if block.locked %} (Locked){% endif %}</option>
                {% endfor %}
            </select>
            <div class="right-buttons">
                <a class="dynamic-link button" data-select="block-select" data-href-pattern="{% url 'eighth_admin_print_block_rosters' url_id_placeholder %}" class="button">Print Rosters</a>
                <a class="dynamic-link button" data-select="block-select" data-href-pattern="{% url 'eighth_admin_edit_block' url_id_placeholder %}" class="button">Edit Block</a>
            </div>
        </td>
    </tr>
    <tr>
        <td class="admin-section">
            <h3>Scheduling</h3>
            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_schedule_activity' %}"><i class="fa-li fa fa-list-alt"></i>Schedule an activity</a></li>
                <li><a href="{% url 'eighth_admin_view_activity_schedule' %}"><i class="fa-li fa fa-calendar"></i>View when an activity is scheduled</a></li>
                <li><a href="{% url 'eighth_admin_transfer_students' %}"><i class="fa-li fa fa-share"></i>Transfer students from one scheduled activity to another</a></li>
                <li><a href="{% url 'eighth_admin_distribute_students' %}"><i class="fa-li fa fa-book"></i>Distribute students among a range of activities</a></li>
            </ul>
        </td>
        <td class="admin-section">
            <h3>Attendance</h3>
            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_attendance_choose_scheduled_activity' %}"><i class="fa-li fa fa-check-square"></i>View/take attendance</a></li>
                <li><a href="{% url 'eighth_admin_view_delinquent_students' %}"><i class="fa-li fa fa-gavel"></i>View delinquent students</a></li>
                <li><a href="{% url 'eighth_admin_view_after_deadline_signups' %}"><i class="fa-li fa fa-clock-o"></i>View list of after-deadline signups</a></li>
                <li><a href="{% url 'eighth_admin_view_activities_without_attendance' %}"><i class="fa-li fa fa-frown-o"></i>View activities that haven't taken attendance</a></li>
                <li><a href="{% url 'eighth_admin_migrate_outstanding_passes' %}"><i class="fa-li fa fa-ban"></i>Migrate all outstanding passes</a></li>
                <li><a href="{% url 'eighth_admin_export_out_of_building_schedules' %}"><i class="fa-li fa fa-building-o"></i>Export out-of-building schedules</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="admin-section">
            <h3>Groups</h3>

            <form id="add-group-form" action="{% url 'eighth_admin_add_group' %}" method="post" autocomplete="off">
                <h4>Add Group</h4>
                {% csrf_token %}
                <table>
                    {{ add_group_form.as_table }}
                    <tr>
                        <td class="right-buttons" colspan=2>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>

            <h4>Regular Group Actions</h4>
            <select id="group-select" placeholder="Select or search for a group">
                <option value="">Select or search for a group</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>

            <div class="right-buttons">
                <a class="dynamic-link button" data-select="group-select" data-href-pattern="{% url 'eighth_admin_signup_group' url_id_placeholder %}" class="button">Sign Up for Activity</a>
                <a class="dynamic-link button" data-select="group-select" data-href-pattern="{% url 'eighth_admin_distribute_group' url_id_placeholder %}" class="button">Distribute among activities</a>
                <a class="dynamic-link button" data-select="group-select" data-href-pattern="{% url 'eighth_admin_download_group_csv' url_id_placeholder %}" class="button">Download as CSV</a>
                <a class="dynamic-link button" data-select="group-select" data-href-pattern="{% url 'eighth_admin_edit_group' url_id_placeholder %}" class="button">Edit Group</a>
            </div>

            <h4>Class Group Actions</h4>
            <select id="class-group-select" placeholder="Select or search for a group">
                <option value="">Select or search for a group</option>
                <option value="9">Freshmen</option>
                <option value="10">Sophomores</option>
                <option value="11">Juniors</option>
                <option value="12">Seniors</option>
            </select>

            <div class="right-buttons">
                <a class="dynamic-link button" data-select="class-group-select" data-href-pattern="{% url 'eighth_admin_edit_group' url_id_placeholder %}" class="button">Sign Up for Activity</a>
            </div>
        </td>
        <td class="admin-section">
            <h3>Rooms</h3>

            <form id="add-room-form" action="{% url 'eighth_admin_add_room' %}" method="post" autocomplete="off">
                <h4>Add Room</h4>
                {% csrf_token %}
                <table>
                    {{ add_room_form.as_table }}
                    <tr>
                        <td class="right-buttons" colspan=2>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>

            <h4>Room Actions</h4>
            <select id="room-select" placeholder="Select or search for a room">
                <option value="">Select or search for a room</option>
                {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.name }} ({{ room.capacity }})</option>
                {% endfor %}
            </select>
            <div class="right-buttons">
                <a class="dynamic-link button" data-select="room-select" data-href-pattern="{% url 'eighth_admin_edit_room' url_id_placeholder %}" class="button">Edit Room</a>
            </div>

            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_room_sanity_check' %}"><i class="fa-li fa fa-check-square-o"></i>Room assignment sanity check</a></li>
                <li><a href="{% url 'eighth_admin_room_utilization_for_block' %}"><i class="fa-li fa fa-map-marker"></i>View utilization of all rooms for a given block</a></li>
                <li><a href="{% url 'eighth_admin_room_utilization' %}"><i class="fa-li fa fa-arrows-h"></i>View utilization of a room over a range of blocks</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="admin-section">
            <h3>Sponsors</h3>

            <form id="add-sponsor-form" action="{% url 'eighth_admin_add_sponsor' %}" method="post" autocomplete="off">
                <h4>Add Sponsor</h4>
                {% csrf_token %}
                <table>
                    {{ add_sponsor_form.as_table }}
                    <tr>
                        <td class="right-buttons" colspan=2>
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>

            <h4>Sponsor Actions</h4>
            <select id="sponsor-select" placeholder="Select or search for a sponsor">
                <option value="">Select or search for a sponsor</option>
                {% for sponsor in sponsors %}
                    <option value="{{ sponsor.id }}">{{ sponsor.first_name }} {{ sponsor.last_name }}{% if sponsor.user %} (User {{ sponsor.user.id }}){% endif %}</option>
                {% endfor %}
            </select>
            <div class="right-buttons">
                <a class="dynamic-link button" data-select="sponsor-select" data-href-pattern="{% url 'eighth_admin_sponsor_schedule' url_id_placeholder %}" class="button">View Schedule</a>
                <a class="dynamic-link button" data-select="sponsor-select" data-href-pattern="{% url 'eighth_admin_edit_sponsor' url_id_placeholder %}" class="button">Edit Sponsor</a>
            </div>
        </td>
    </tr>
</table>
{% endblock %}
