{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load dates %}
{% load static %}
{% load cacheops %}

{% block js %}
    <script type="text/javascript">
        window.urlIDPlaceholder = "{{ url_id_placeholder }}";
    </script>
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $("#{{ scroll_to_id }}").parent("td").each(function(){this.scrollIntoView()});
        });
    </script>
{% endblock %}

{% block admin_main %}
<table class="admin-dashboard">
    <tr>
        <td class="admin-section">
            <h3>Activities</h3>

            {% cached_as all_activities None dash_activities %}
            <select id="activity-select" placeholder="Select or search for an activity">
                <option value="">Select or search for an activity</option>
                {% for activity in all_activities %}
                    <option value="{{ activity.id }}" data-name="{{ activity.name_with_flags }}">{{ activity.aid }}: {{ activity.name_with_flags }}</option>
                {% endfor %}
            </select>
            {% endcached_as %}
            <div class="right-buttons">

                <a class="dynamic-link button" data-select="activity-select" data-href-pattern="{% url 'eighth_admin_schedule_activity' %}?activity={{ url_id_placeholder }}" class="button">Schedule Activity</a>
                <a class="dynamic-link button" data-select="activity-select" data-href-pattern="{% url 'eighth_admin_edit_activity' url_id_placeholder %}" class="button">Edit Activity</a>
                <a class="dynamic-link button" data-select="activity-select" data-href-pattern="{% url 'eighth_statistics' url_id_placeholder %}">View Statistics</a>
                <a class="button" href="{% url 'eighth_admin_add_activity' %}">Add Activity</a>
            </div>

            <ul class="fa-ul">
                <!--<li><a href="{% url 'eighth_admin_add_activity' %}"><i class="fa fa-li fa-plus-square"></i>Add Activity</a></li>-->
                <!--li><a href="{% url 'eighth_admin_schedule_activity' %}"><i class="fa-li fa fa-list-alt"></i>Schedule an activity</a></li-->
                <li><a href="{% url 'eighth_admin_view_activity_schedule' %}"><i class="fa-li fa fa-calendar"></i><b>Activity</b> schedule</a></li>
                <li><a href="{% url 'eighth_admin_transfer_students' %}"><i class="fa-li fa fa-share"></i><b>Transfer</b> students from activity</a></li>
                <li><a href="{% url 'eighth_admin_unsignup_students' %}"><i class="fa-li fa fa-user-times"></i><b>Clear</b> student signups</a></li>
                <li><a href="{% url 'eighth_admin_distribute_unsigned' %}"><i class="fa-li fa fa-book"></i><b>Distribute students</b> with no signup</a></li>
                <li><a href="{% url 'eighth_statistics_global' %}"><i class="fa-li fa fa-globe"></i>Generate <b>global statistics</b></a></li>
            </ul>

        </td>

        <td class="admin-section attendance">
            <h3>Attendance</h3>
            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_attendance_choose_scheduled_activity' %}"><i class="fa-li fa fa-check-square"></i><b>Take attendance</b> and view rosters</a></li>
                <li><a href="{% url 'eighth_admin_view_activities_without_attendance' %}"><i class="fa-li fa fa-frown-o"></i><b>Activities without attendance</b></a></li>
                <li><a href="{% url 'eighth_admin_view_open_passes' %}"><i class="fa-li fa fa-moon-o"></i><b>Open passes</b></a></li>
                <li><a href="{% url 'eighth_admin_migrate_outstanding_passes' %}"><i class="fa-li fa fa-ban"></i><b>Migrate</b> outstanding passes</a></li>
                <li><a href="{% url 'eighth_admin_view_delinquent_students' %}"><i class="fa-li fa fa-gavel"></i><b>Absence information</b> (delinquent students)</a></li>
                <li><a href="{% url 'eighth_admin_view_after_deadline_signups' %}"><i class="fa-li fa fa-clock-o"></i><b>After-deadline signups</b></a></li>
                <li><a href="{% url 'eighth_admin_export_out_of_building_schedules' %}"><i class="fa-li fa fa-building-o"></i><b>Out-of-building schedules</b></a></li>
            </ul>
        </td>

        
    </tr>
    <tr>
        <td class="admin-section">
            <h3>Groups</h3>

            {% cached_as groups None dash_groups %}
            <select id="group-select" placeholder="Select or search for a group">
                <option value="">Select or search for a group</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}{% if group.properties.student_visible %} (Student-visible){% endif %} -- {{ group.user_set.count }} members</option>
                {% endfor %}
            </select>
            {% endcached_as %}

            <div class="right-buttons">
                <a class="dynamic-link button" data-select="group-select" data-href-pattern="{% url 'eighth_admin_edit_group' url_id_placeholder %}" class="button">Edit Group</a>
                <a class="dynamic-link button" data-select="group-select" data-href-pattern="{% url 'eighth_admin_signup_group' url_id_placeholder %}" class="button">Register Group for Activity</a>
                <a class="dynamic-link button" data-select="group-select" data-href-pattern="{% url 'eighth_admin_distribute_group' url_id_placeholder %}" class="button">Distribute Group</a>
            </div>



            <form id="add-group-form" action="{% url 'eighth_admin_add_group' %}" method="post" autocomplete="off">
                <h4>Add Group</h4>
                {% csrf_token %}
                <table>
                    <tr>
                        <th>Name:</th>
                        <td>{{ add_group_form.name }}</td>
                        <td class="right-buttons">
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>

            {% comment %}
            <h4>Class Group Actions</h4>
            <select id="class-group-select" placeholder="Select or search for a group">
                <option value="">Select or search for a group</option>
                <option value="9">Freshmen</option>
                <option value="10">Sophomores</option>
                <option value="11">Juniors</option>
                <option value="12">Seniors</option>
            </select>

            <div class="right-buttons">
                <a class="dynamic-link button" data-select="class-group-select" data-href-pattern="{% url 'eighth_admin_edit_group' url_id_placeholder %}" class="button">Sign Up for Activity</a>
            </div>
            {% endcomment %}
        </td>

        <td class="admin-section">
            <h3>Rooms</h3>

            {% cached_as rooms None dash_rooms %}
            <select id="room-select" placeholder="Select or search for a room">
                <option value="">Select or search for a room</option>
                {% for room in rooms %}
                    <option value="{{ room.id }}">{{ room.name }} ({{ room.capacity }})</option>
                {% endfor %}
            </select>
            {% endcached_as %}

            <div class="right-buttons">
                <a class="dynamic-link button" data-select="room-select" data-href-pattern="{% url 'eighth_admin_edit_room' url_id_placeholder %}" class="button">Edit Room</a>
            </div>

            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_room_sanity_check' %}"><i class="fa-li fa fa-check-square-o"></i><b>Room assignment</b> sanity check</a></li>
                <li><a href="{% url 'eighth_admin_sponsor_sanity_check' %}"><i class="fa-li fa fa-check-square-o"></i><b>Sponsor assignment</b> sanity check</a></li>
                <li><a href="{% url 'eighth_admin_room_utilization_for_block' %}"><i class="fa-li fa fa-map-marker"></i><b>Room utilization</b> for a specific block</a></li>
                <li><a href="{% url 'eighth_admin_room_utilization' %}"><i class="fa-li fa fa-arrows-h"></i><b>Room utilization</b> across blocks</a></li>
                <li><a href="{% url 'eighth_admin_list_sponsor' %}"><i class="fa-li fa fa-list"></i><b>List</b> sponsor schedule</a></li>
            </ul>



            <form id="add-room-form" action="{% url 'eighth_admin_add_room' %}" method="post" autocomplete="off">
                <h4>Add Room</h4>
                {% csrf_token %}
                <table>
                    <tr>
                        <th><label>Name:</label></th>
                        <td>{{ add_room_form.name }}</td>
                        <th><label>Capacity:</label></th>
                        <td>{{ add_room_form.capacity }}</td>
                        <td class="right-buttons">
                            <input type="submit" value="Add">
                        </td>
                    </tr>
                </table>
            </form>
        </td>
        
    </tr>
    <tr>

        <td class="admin-section">
            <h3>Sponsors</h3>

            {% cached_as sponsors None dash_sponsors %}
            <select id="sponsor-select" placeholder="Select or search for a sponsor">
                <option value="">Select or search for a sponsor</option>
                {% for sponsor in sponsors %}
                    <option value="{{ sponsor.id }}">{{ sponsor.name }}{% if sponsor.user.id %} (User {{ sponsor.user.id }}){% else %} (No user){% endif %}</option>
                {% endfor %}
            </select>
            {% endcached_as %}

            <div class="right-buttons">
                <a class="dynamic-link button" data-select="sponsor-select" data-href-pattern="{% url 'eighth_admin_sponsor_schedule' url_id_placeholder %}" class="button">View Schedule</a>
                <a class="dynamic-link button" data-select="sponsor-select" data-href-pattern="{% url 'eighth_admin_edit_sponsor' url_id_placeholder %}" class="button">Edit Sponsor</a>
            </div>

            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_add_sponsor' %}"><i class="fa-li fa fa-user-plus"></i><b>Add</b> Sponsor</a></li>
            </ul>

            <h3 style="margin-top:6px"></h3>

            <ul class="fa-ul">
                <li><a href="{% url 'eighth_admin_maintenance' %}"><i class="fa-li fa fa-cog"></i><b>Maintenance</b> tools</a></li>
                <li><a href="{% url 'eighth_admin_cache' %}"><i class="fa-li fa fa-bomb"></i><b>Clear</b> Cache</a></li>
            </ul>
        </td>

        <td class="admin-section">
            <h3>Blocks</h3>

            {% cached_as blocks_after_start_date None dash_blocks %}
            <select id="block-select" placeholder="Select or search for a block">
                <option value="">Select or search for a block</option>
                {% for block in blocks_after_start_date %}
                    <option value="{{ block.id }}">{{ block.id }}: {{ block.formatted_date }} ({{ block.block_letter }}){% if block.locked %} (Locked){% endif %}</option>
                {% endfor %}
            </select>
            {% endcached_as %}

            <div class="right-buttons">
                <a class="dynamic-link button" data-select="block-select" data-href-pattern="{% url 'eighth_admin_print_block_rosters' url_id_placeholder %}" class="button">Print Rosters</a>
                <a class="dynamic-link button" data-select="block-select" data-href-pattern="{% url 'eighth_admin_edit_block' url_id_placeholder %}" class="button">Edit Block</a>
            </div>

            {% if blocks_next %}
                <b>{{ blocks_next_date }}:</b>
                <ul class="fa-ul blocks-next">
                {% for blk in blocks_next %}
                    <li>
                        {% if blk.locked %}
                            <a href="{% url 'eighth_admin_edit_block' blk.id %}">
                                <i class="fa-li fa fa-lock"></i>
                                <b>{{ blk.block_letter }} Block:</b></a> 
                            Locked
                        {% elif blk.signup_time_future %}
                            <a href="{% url 'eighth_admin_edit_block' blk.id %}">
                                <i class="fa-li fa fa-unlock"></i>
                                <b>{{ blk.block_letter }} Block:</b></a> 
                            Close time set to {{ blk.signup_time }}
                        {% else %}
                            <a href="{% url 'eighth_admin_edit_block' blk.id %}">
                                <i class="fa-li fa fa-exclamation-triangle"></i>
                                <b>{{ blk.block_letter }} Block:</b></a> 
                            <b>Unlocked; close time set to {{ blk.signup_time }}</b>
                        {% endif %} &mdash; 
                        <a href="{% url 'eighth_admin_no_signups_roster' blk.id %}">
                            <b>{{ blk.num_signups }}</b>/{{ signup_users_count }} signup{{ blk.num_signups|pluralize }}, {{ blk.num_no_signups }} not signed up
                        </a>
                    </li>
                {% endfor %}
                    <li><a href="{% url 'eighth_admin_add_block' %}"><i class="fa-li fa fa-list-alt"></i><b>Add or remove</b> blocks</a></li>
                </ul>
            {% else %}
                <ul class="fa-ul">
                    <li><a href="{% url 'eighth_admin_add_block' %}"><i class="fa-li fa fa-list-alt"></i><b>Add or remove</b> blocks</a></li>
                </ul>
            {% endif %}

        </td>
        
    </tr>
    <tr>
        
        <td class="admin-section" colspan="2">
            <br />
            <br />
            <br />
            <br />
            <center>
                <img src="{% static 'img/eighth.png' %}" alt="Eighth Period Office Online" />
            </center>
        </td>
    </tr>
</table>
{% endblock %}
