{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script>
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
{% endblock %}

{% block admin_main %}

    <form action="" method="get">
        <table>
            <tr>
                <th>Lower Limit:</th>
                <td><input type="text" name="lower" value="{{ lower_absence_limit }}" placeholder="1"></td>

                <td><input type="checkbox" name="freshmen" {% if include_freshmen %}checked{% endif %}> Freshmen</td>
            </tr>
            <tr>
                <th>Upper Limit:</th>
                <td><input type="text" name="upper" value="{{ upper_absence_limit }}" placeholder="100"></td>

                <td><input type="checkbox" name="sophomores" {% if include_sophomores %}checked{% endif %}> Sophomores</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td><input type="text" class="datepicker" name="start" value="{{ start_date|date:'Y-m-d' }}"></td>

                <td><input type="checkbox" name="juniors" {% if include_juniors %}checked{% endif %}> Juniors</td>
            </tr>
            <tr>
                <th>End Date:</th>
                <td><input type="text" class="datepicker" name="end" value="{{ end_date|date:'Y-m-d' }}"></td>

                <td><input type="checkbox" name="seniors" {% if include_seniors %}checked{% endif %}> Seniors</td>
            </tr>
        </table>

        <input type="submit" value="Filter">
    </form>
    <br>
    <br>
    {% if delinquents != None %}
        Click on column titles to sort. Showing {{ delinquents|length }} result{{ delinquents|length|pluralize }}.
        <table data-sortable class="fancy-table">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>ID</th>
                    <th>Absences</th>
                    <th>Grade</th>
                    <th>Counselor</th>
                    <th>TJ Email</th>
                    <th>Personal Email</th>
                </tr>
            </thead>
            <tbody>
                {% for delinquent in delinquents %}
                    <tr>
                        <td>
                            <a href="{% url 'user_profile' delinquent.user.id %}">
                                {{ delinquent.user.last_name }}, {{ delinquent.user.first_name }}
                            </a>
                        </td>
                        <td>
                            {% firstof delinquent.user.student_id "" %}
                        </td>
                        <td>
                            <a href="{% url 'eighth_absences' delinquent.user.id %}">{{ delinquent.absences }}</a>
                        </td>
                        <td>
                            {{ delinquent.user.grade_number }}
                        </td>
                        <td>
                            {{ delinquent.user.counselor.last_name }}
                        </td>
                        <td>
                            <a href="mailto:{{ delinquent.user.tj_email }}">
                                {{ delinquent.user.tj_email }}
                            </a>
                        <td>
                            {% if delinquent.user.non_tj_email %}
                            <a href="mailto:{{ delinquent.user.non_tj_email }}">
                                {{ delinquent.user.non_tj_email }}
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                        There were no results.
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="button" href="{% url 'eighth_admin_download_delinquent_students_csv' %}?{{ request.META.QUERY_STRING }}">Download as CSV</a>
    {% endif %}

{% endblock %}
