{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendor/sortable-0.6.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sortable-0.6.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
{% endblock %}


{% block admin_main %}

    <form action="" method="get">
        <table>
            <tr>
                <th>Lower Limit:</th>
                <td><input type="text" name="lower" value="{{ lower_absence_limit }}" placeholder="0" /></td>
            </tr>
            <tr>
                <th>Upper Limit:</th>
                <td><input type="text" name="upper" value="{{ upper_absence_limit }}" placeholder="1000" /></td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td><input type="text" class="datepicker" name="start" value="{{ start_date|date:'m/d/Y' }}" /></td>
            </tr>
            <tr>
                <th>End Date:</th>
                <td><input type="text" class="datepicker" name="end" value="{{ end_date|date:'m/d/Y' }}" /></td>
            </tr>
            <tr>
                <th>Freshmen</th>
                <td><input type="checkbox" name="freshmen" {% if include_freshmen %}checked{% endif %} /></td>
            </tr>
            <tr>
                <th>Sophomores</th>
                <td><input type="checkbox" name="sophomores" {% if include_sophomores %}checked{% endif %} /></td>
            </tr>
            <tr>
                <th>Juniors</th>
                <td><input type="checkbox" name="juniors" {% if include_juniors %}checked{% endif %} /></td>
            </tr>
            <tr>
                <th>Seniors</th>
                <td><input type="checkbox" name="seniors" {% if include_seniors %}checked{% endif %} /></td>
            </tr>
        </table>

        <input type="submit" value="Filter">
    </form>
    <br>
    <br>
    {% if delinquents != None %}
        Click on column titles to sort.
        <table data-sortable>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Student ID</th>
                    <th>Absences</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for delinquent in delinquents %}
                    <tr>
                        <td>
                            <a href="{% url 'user_profile' delinquent.user.id %}">
                                {{ delinquent.user.last_name }}, {{ delinquent.user.first_name }}
                            </a>
                        </td>
                        <td>
                            {% firstof delinquent.user.student_id "" %}
                        </td>
                        <td>
                            {{ delinquent.absences }}
                        </td>
                        <td>
                            {{ delinquent.user.grade.number }}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">
                        There were no results.
                        </td>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a class="button" href="{% url 'eighth_admin_download_delinquent_students_csv' %}?{{ request.META.QUERY_STRING }}">Download as CSV</a>
    {% endif %}

{% endblock %}
