{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sortable-0.6.0/css/sortable-theme-minimal.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.schedule.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/sortable-0.6.0/js/sortable.min.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            Sortable.init();
        });
    </script>
{% if show_selection %}
    <script type="text/javascript">
$(function() {
    $(".select-all").change(function() {
        var chk = $(this).prop("checked");
        var name = $(this).attr("data-name");
        console.debug(chk, name);
        $(".user-item").each(function() {
            if($(this).attr("name") == name) {
                $(this).prop("checked", chk);
            }
        });
    });

    $(".user-item").change(function() {
        var chk = $(this).prop("checked");
        var name = $(this).attr("name");
        var num_checked = 0;
        var $checkboxes = $(".user-item[name='"+name+"']");

        $checkboxes.each(function() {
            if($(this).prop("checked")) {
                num_checked++;
            }
        });

        $e = $(".select-all[data-name='"+ name + "']");
        if(num_checked == 0) {
            $e.prop("checked", false);
            $e.prop("indeterminate", false);
        } else if(num_checked == $checkboxes.length) {
            $e.prop("checked", true);
            $e.prop("indeterminate", false);
        } else {
            $e.prop("checked", false);
            $e.prop("indeterminate", true);
        }
    });

    distribute = function() {
        var acts = [];
        var act_names = []
        var $salls = $(".select-all");
        $salls.each(function() {
            acts.push($(this).attr("data-name"));
            act_names.push($(this).parent().text());
        });

        var $rows = $("tr.user-row");
        var max = $rows.length / $salls.length;
        max = Math.floor(max);
        console.debug("max:",max);
        var rowi = 0;
        var acti = 0;
        var curi = 0;
        var done = 0;
        var maxi = acts.length;
        var sus = {};


        $rows.each(function() {
            var act = acts[acti];
            $("input", $(this)).prop("checked", false);
            $("input[name='"+act+"']", $(this)).prop("checked", true);
            curi++;
            done++;
            if(curi >= max && (acti+1) < acts.length) {
                sus[acti] = curi;
                acti++;
                curi = 0;
            }
        });
        sus[acti] = curi;

        if(done < $rows.length) {
            for(var i=done; i<$rows.length; i++) {

            }
        }

        console.debug(sus);

        var msg = "";
        for(su in sus) {
            if(sus.hasOwnProperty(su) && sus[su] > 0) {
                msg += sus[su] + " students were placed into: " + act_names[su] + ".\n";
            }
        }
        alert(msg);
    }

})
    </script>
{% else %}
    <script type="text/javascript">
        $(function() {
            $("form[name=wizard] select#id_block-block").on("change", function() {
                document.forms["wizard"].submit();
            });
        })
    </script>
{% endif %}
{% endblock %}

{% block admin_main %}
    {% if show_selection %}
    <form action="{% url 'eighth_admin_distribute_action' %}" method="post">
        
        {% if users_type == "unsigned" %}
            <p>These users have not signed up for any activities on {{ eighthblock }}.</p>
        {% elif users_type == "group" %}
            <b>Group:</b> {{ group }}<br />
            <a href="{% url 'eighth_admin_edit_group' group.id %}" class="button">Modify Group</a>
            <br />
        {% endif %}
        <br />
        <button onclick="distribute(); return false">Evenly Distribute</button>
        <br />
        <input type="hidden" name="users" value="true" />
        {% csrf_token %}
        Click on column titles to sort.
        <table data-sortable class="distribute-group-grid fancy-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Student ID</th>
                    <th>Grade</th>
                    {% for sch in schacts %}
                    <th>
                        {{ sch.activity }}<br />
                        {{ sch.block }}<br />
                        <input type="checkbox" name="select-all-{{ sch.id }}" class="select-all" data-name="schact{{ sch.id }}" />
                    </th>
                    {% empty %}
                    <th>No activities found.</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr class="user-row">
                <td>{{ user.last_name }}, {{ user.first_name }}{% if user.nickname %} ({{ user.nickname }}){% endif %}</td>
                <td>{{ user.student_id }}</td>
                <td>{{ user.grade.number }}</td>
                {% for sch in schacts %}
                <td>
                    <input type="checkbox" class="user-item" name="schact{{ sch.id }}" value="{{ user.id }}" />
                </td>
                {% endfor %}
            </tr>
            {% empty %}
                <td>No users found.</td>
            {% endfor %}
            </tbody>
        </table>

        <input type="submit" value="Finish" onclick="return confirm('Are you sure you want to sign these users up for these activities?')" />
    {% else %}
    <form method="post" name="wizard">{% csrf_token %}
        {{ wizard.management_form }}
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <br>
        {{ wizard.form }}
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
        {% endif %}
        {% if wizard.steps.next %}
            <input type="submit" value="Next"/>
        {% else %}
            <input type="submit" value="Distribute Group" onclick="showWaitScreen()" />
        {% endif %}
    {% endif %}
    </form>
{% endblock %}
