{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {% stylesheet 'eighth.schedule' %}
{% endblock %}

{% block head %}
    {{ block.super }}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/eighth.schedule' %}
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    <script>
        $(function() {
            Sortable.init();
        });
    </script>
{% if show_selection %}
    <script src="{% static 'js/eighth/distribute_group.js' %}"></script>
{% else %}
    <script>
        $(function() {
            $("form[name=wizard] select#id_block-block").on("change", function() {
                document.forms["wizard"].submit();
            });
        })
    </script>
{% endif %}
{% endblock %}

{% block admin_main %}
    {% if show_selection %}
        <form action="{% url 'eighth_admin_distribute_action' %}" method="post">

            {% if users_type == "unsigned" %}
                <p>{{ users|length }} user{{ users|length|pluralize }} have not signed up for any activities on {{ eighthblock }}.</p>
            {% elif users_type == "group" %}
                <b>Group:</b> {{ group }} - {{ users|length }} member{{ users|length|pluralize }}<br>
                <a href="{% url 'eighth_admin_edit_group' group.id %}" class="button">Modify Group</a> &nbsp;
            {% endif %}
            <button onclick="distribute(); return false">Evenly Distribute</button>
            <br>
            <br>
            <input type="hidden" name="users" value="true">
            <input type="submit" value="Register Users" onclick="if(confirm('Are you sure you want to sign these users up for these activities?')){showWaitScreen();return true;}else return false;">
            {% csrf_token %}
            <br>
            Click on column titles to sort.
            <table data-sortable class="distribute-group-grid fancy-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Student ID</th>
                        <th>Grade</th>
                        {% for sch in schacts %}
                        <th>
                            {{ sch.activity }}<br>
                            {{ sch.block }}<br>
                            <input type="checkbox" name="select-all-{{ sch.id }}" class="select-all" data-name="schact{{ sch.id }}">
                        </th>
                        {% empty %}
                        <th>No activities found.</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                <tr class="user-row">
                    <td>{{ user.last_name }}, {{ user.first_name }}{% if user.nickname %} ({{ user.nickname }}){% endif %}</td>
                    <td>{{ user.student_id }}</td>
                    <td>{{ user.grade_number }}</td>
                    {% for sch in schacts %}
                    <td>
                        <input type="checkbox" class="user-item" name="schact{{ sch.id }}" value="{{ user.id }}">
                    </td>
                    {% endfor %}
                </tr>
                {% empty %}
                    <td>No users found.</td>
                {% endfor %}
                </tbody>
            </table>

            <input type="submit" value="Register Users" onclick="if(confirm('Are you sure you want to sign these users up for these activities?')){showWaitScreen();return true;}else return false">
    {% else %}
        <form method="post" name="wizard" onsubmit="if(confirm('Are you sure you want to sign these users up for these activities?')){showWaitScreen();return true;} else return false;">{% csrf_token %}
            {{ wizard.management_form }}
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            {% if group %}
                <p>Group: <b>{{ group }}</b></p>
            {% elif eighthblock %}
                <p>{% if users %}{{ users|length }} user{{ users|length|pluralize }}{% else %} 0 users{% endif %} have not signed up for any activities on {{ eighthblock }}.</p>
            {% else %}
                <p>Users who have not signed up for an activity</p>
            {% endif %}

            {{ wizard.form }}
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
            {% endif %}
            {% if wizard.steps.next %}
                <!--input type="submit" value="Next"/-->
            {% else %}
                <input type="submit" value="Distribute Group">
            {% endif %}

            {% if redirect_block_id %}
                    <input type="hidden" name="block-block" value="{{ redirect_block_id }}">
                    <script>
                        document.forms["wizard"].action = location.href.split("?")[0];
                        document.forms["wizard"].submit()
                    </script>
                {% endif %}
    {% endif %}
    </form>
{% endblock %}
