{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script>
        $(function() {
            Sortable.init();
            $(".group-edit-table #query").focus();
        });
    </script>
    <script src="{% static 'js/eighth/groups.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
    <style>
    .group-edit-table td {
        padding: 0 50px;
    }
    </style>
{% endblock %}

{% block admin_main %}
<table class="group-edit-table">
    <tr>
        <td>
            <form action="" method="post" autocomplete="off">
                {% csrf_token %}
                <label for="id_name"><b>Group Name</b></label>
                <br>
                {{ edit_form.name }} <input type="submit" value="Save">
                <br>
                <label for="id_student_visible"><b>Student Visible:</b></label>
                {{ edit_form.student_visible }}
            </form>
        </td>
        <td>
            <form action="{% url 'eighth_admin_add_member_to_group' group.id %}" method="post">
                {% csrf_token %}
                <label for="student-id"><b>Add user(s) by search query</b></label>
                <br>
                <input type="text" name="query" id="query"> <input type="submit" value="Add">
                {% if request.GET.error %}
                <p class="error-color">
                    {% if request.GET.error == "s" %}
                        Invalid student ID
                    {% elif request.GET.error == "n" %}
                        No users match that query
                    {% endif %}
                </p>
                {% endif %}
            </form>
        </td>
        <td>
            <br>
            <a href="{% url 'eighth_admin_upload_group_members' group.id %}" class="button">Import members</a>
        </td>
    </tr>
</table>

<br>
<h2>{{ group.name }}: {{ member_count }} members</h2>
{% if linked_activities %}
    This group is on the restriction list for these activities:
    <ul>
    {% for act in linked_activities %}
        <li><a href="{% url 'eighth_admin_edit_activity' act.id %}">{{ act }}</a></li>
    {% endfor %}
    </ul>
    <br>
{% endif %}
{% if "remove_all" in request.GET %}
    <form action="" method="post">
        {% csrf_token %}
        <p><b>Are you sure you want to remove all of the group members?</b></p>
        <input type="hidden" name="remove_all" value="1">
        <input type="submit" value="Remove All">
    </form>
{% else %}
    <a href="?remove_all=1" class="button small-button">
    Remove All Group Members
    </a>
{% endif %}
<br>
<br>
<div id="member_search">
    <h2>Search members of this group by Ion Username:</h2>
    <input type="text" name="search" placeholder="Split multiple IDs using commas" style="width:250px">
    <a href="#" id="search_students" class="button">Search</a>
    <a href="#" id="clear" class="button">Clear</a>
</div>
<br>
<table data-sortable class="fancy-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Email</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr style="{% if member.id in added_ids %}font-weight: bold;background-color:yellow{% endif %}">
                <td><a href="{% url 'user_profile' member.id %}">{{ member.last_name }}, {{ member.first_name }}</a></td>
                <td>{% if member.student_id %}{{ member.student_id }}{% else %}Ion ID: {{ member.id }}{% endif %}</td>
                <td>{% if member.email %}
                    <a href="mailto:{{ member.email }}">{{ member.email }}</a>{% endif %}</td>
                <td>{{ member.grade }}</td>
                <td>
                    <form action="{% url 'eighth_admin_remove_member_from_group' group.id member.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">There are no users in this group.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div class="pagination">
    <span class="step-links">
        <a class="button" {% if members_page.has_previous %} href="?p={{ members_page.previous_page_number }}" {% else %} disabled {% endif %}>Previous</a>
        <span class="current">Page {{ members_page.number }} of {{ members_page.paginator.num_pages }}</span>
        <a class="button" {% if members_page.has_next %} href="?p={{ members_page.next_page_number }}" {% else %} disabled {% endif %}>Next</a>
    </span>
</div>
<br>
<a href="{% url 'eighth_admin_download_group_csv' group.id %}" class="button">Download as CSV</a>
<br>
<br>
<a class="button" href="{% url 'eighth_admin_dashboard' %}">Cancel</a>
{% if delete_url %}
    <a class="button" href="{{ delete_url }}">Delete</a>
{% endif %}

{% endblock %}
