{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendor/sortable-0.6.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sortable-0.6.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
    <style type="text/css">
    .group-edit-table td {
        padding: 0 50px;
    }
    </style>
{% endblock %}

{% block admin_main %}

<table class="group-edit-table">
    <tr>
        <td>

        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            <label for="id_name"><b>Edit Group Name</b></label>
            <br />
            {{ edit_form.name }} <input type="submit" value="Save">
        </form>

        </td>
        <td>

        <form action="{% url 'eighth_admin_add_member_to_group' group.id %}" method="post">
            {% csrf_token %}
            <label for="student-id"><b>Add user(s) by search query</b></label>
            <br />
            <input type="text" name="query" id="query"> <input type="submit" value="Add">
            {% if request.GET.error %}
            <p class="error-color">
                {% if request.GET.error == "s" %}
                    Invalid student ID
                {% elif request.GET.error == "n" %}
                    No users match that query
                {% endif %}
            </p>
            {% endif %}
        </form>
        </td>

        <td>
        <br />
        <a href="{% url 'eighth_admin_upload_group_members' group.id %}" class="button">Import members</a>
        </td>
    </tr>
</table>

<br />
<h2>{{ group.name }}: {{ members|length }} members</h2>
<table data-sortable class="fancy-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Email</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        {% for member in members %}
            <tr style="{% if member.id in added_ids %}font-weight: bold;{% endif %}">
                <td><a href="{% url 'user_profile' member.id %}">{{ member.last_name }}, {{ member.first_name }}</a></td>
                <td>{% if member.student_id %}{{ member.student_id }}{% else %}Ion ID: {{ member.id }}{% endif %}</td>
                <td>{% if member.email %}<a href="mailto:{{ member.email }}">{{ member.email }}</a>{% endif %}</td>
                <td>{{ member.grade }}</td>
                <td>
                    <form action="{% url 'eighth_admin_remove_member_from_group' group.id member.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Remove">
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4">There are no users in this group.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br />
<a href="{% url 'eighth_admin_download_group_csv' group.id %}" class="button">Download as CSV</a>
<br />
<br />
<a class="button" href="{% url 'eighth_admin_dashboard' %}">Cancel</a>
{% if delete_url %}
    <a class="button" href="{{ delete_url }}">Delete</a>
{% endif %}

{% endblock %}
