{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/selectize.js-0.10.1/dist/css/selectize.default.css' %}">
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.admin.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/selectize.js-0.10.1/dist/js/standalone/selectize.min.js' %}"></script>
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
    <script type="text/javascript" src="{% static 'js/eighth/eighth.admin.js' %}"></script>
{% endblock %}

{% block main %}
<div class="primary-content">
    <h2>Eighth Period Admin{% if admin_page_title %} - {{ admin_page_title }}{% endif %}</h2>
    {% block admin_main %}{% endblock %}
</div>
{% endblock %}
