{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
{{ block.super }} - Eighth Admin - {{ admin_page_title }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/eighth/ui_init.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/admin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/eighth/maintenance_ldap.js' %}"></script>
    <script type="text/javascript">
        var list_endpoint = "{% url 'eighth_admin_maintenance_ldap_list' %}";
        var modify_endpoint = "{% url 'eighth_admin_maintenance_ldap_modify' %}";
        var delete_endpoint = "{% url 'eighth_admin_maintenance_ldap_delete' %}";
        var next_id_endpoint = "{% url 'eighth_admin_maintenance_ldap_next_id' %}";
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'eighth.admin' %}
    {% stylesheet 'eighth.maintenance' %}
{% endblock %}

{% block main %}
<div class="primary-content">
    <div class="eighth-header">
        <h2 class="pull-left">{{ admin_page_title }} - <span class="account-type"></span> Accounts</h2>
        <button id="type-switch" class="pull-right">Switch to <span class="reverse-account-type">Student</span> Accounts</button>
    </div>
    <div id="account-list-container">
        <input type="text" id="account-list-search" placeholder="&#xf002; Search" />
        <div id="account-list" tabindex="0"></div>
    </div>
    <div id="edit-area">
        <h3 id="edit-title" style="margin-bottom:5px">Create Teacher Account</h3>
        <p id="create-notif" style="display:none">Deselect the currently selected user to create new accounts.</p>
        <div class="normal-fields">
            <input type="hidden" class="ldap-field" id="ldap-dn" />
            {% for field, name in fields %}
            <div class="form-group">
                <label for="ldap-{{ field }}"><b>{{ name }}</b> ({{ field }})</label>
                {% if field == "iodineUidNumber" %}
                <a href="#" class="pull-right" id="generate-id">Generate ID</a>
                {% endif %}
                <input class="ldap-field" id="ldap-{{ field }}" type="text" />
            </div>
            {% endfor %}
        </div>
        <div id="default-fields">
            {% for field, value in default_fields.items %}
            <div class="form-group">
                <label><b>Additional Field</b> ({{ field }})</label>
                <input class="ldap-field" id="ldap-{{ field }}" readonly type="text" value="{{ value }}" />
            </div>
            {% endfor %}
        </div>
        <div id="additional-fields"></div>
        <div id="edit-area-buttons">
            <button id="edit-teacher">Create Teacher</button> <span id="ldap-loading"><i class="fa fa-cog fa-spin fa-2x"></i></span> <button style="display:none" id="delete-teacher" class="pull-right"><i class="fa fa-trash-o"></i> Delete Account</button>
        </div>
    </div>
</div>
<div id="delete-modal-background">
    <div id="delete-modal">
        <h3>Are you sure you want to delete:</h3>
        <b id="delete-fullname"></b> (<span id="delete-username"></span>)
        <p style="color:red">This action is irreversible!</p>
        <button id="delete-modal-cancel">Cancel</button> <button id="delete-modal-confirm" class="pull-right"><i class="fa fa-trash-o"></i> Delete</button>
    </div>
</div>
{% endblock %}
