{% extends "eighth/admin/eighth_admin_page_base.html" %}

{% block admin_main %}
    <h4>Select a Block:</h4>

    <form action="{% url 'eighth_admin_migrate_outstanding_passes' %}" method="post" class="select-form">
            {% csrf_token %}
            <select name="block" placeholder="Select or search for a block">
                {% for block in blocks %}
                    <option value="{{ block.id }}"{% if block == chosen_block %} selected{% endif %}>{{ block.id }}: {{ block.date|date:"EIGHTH_BLOCK_DATE_FORMAT" }} ({{ block.block_letter }})</option>
                {% endfor %}
            </select>
            <div class="right-buttons">
                <input type="submit" value="Migrate Passes">
            </div>
    </form>
{% endblock %}
