{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script>
        $(function() {
            Sortable.init();

            $("")
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
    <style>
    #open-passes .center {
        padding-left: 15px;
    }
    </style>
{% endblock %}

{% block admin_main %}
    {% if block %}
        Click on column titles to sort.
        <form method="post" action="">
        {% csrf_token %}
        <table id="open-passes" data-sortable>
            <thead>
                <tr>
                    <th>Block</th>
                    <th>Activity</th>
                    <th>Student</th>
                    <th>Grade</th>
                    <th>Absences</th>
                    <th>Time</th>
                    <th>Accept</th>
                    <th>Reject</th>
                </tr>
            </thead>
            <tbody>
            {% for pass in passes %}
                <tr>
                    <td>{{ pass.scheduled_activity.block }}</td>
                    <td>
                        <a href="{% url 'eighth_admin_take_attendance' pass.scheduled_activity.id %}">
                            {{ pass.scheduled_activity.full_title }}
                        </a>
                    </td>
                    <td><a href="{% url 'user_profile' pass.user.id %}">{{ pass.user.last_name }}, {{ pass.user.first_name }}</a> ({{ pass.user.student_id }})</td>
                    <td>{{ pass.user.grade_number }}</td>
                    <td>{{ pass.user.absence_count }}</td>
                    <td>{{ pass.last_modified_time|date:'Y-m-d h:i A' }}</td>
                    <td class="center">
                        <input type="radio" name="{{ pass.id }}" value="accept">
                    </td>
                    <td class="center">
                        <input type="radio" name="{{ pass.id }}" value="reject">
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">
                    There were no results.
                    </td>
            {% endfor %}
            </tbody>
            {% if passes %}
            <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="2">
                    <input type="reset" value="Reset">
                    <input type="submit" value="Submit">
                </td>
            </tr>
            </tfoot>
            {% endif %}
        </table>
        </form>
        <br>
        <a class="button" href="{% url 'eighth_admin_view_open_passes_csv' %}">Download as CSV</a>
    {% endif %}

{% endblock %}
