{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script>
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
{% endblock %}

{% block admin_main %}

<h4>Select a Block:</h4>

<select class="url-param-selector" data-param="block" placeholder="Select or search for a block">
    <option value="">Select or search for a block</option>
    {% for block in blocks %}
        <option value="{{ block.id }}"{% if block == chosen_block %} selected{% endif %}>{{ block.id }}: {{ block.formatted_date }} ({{ block.block_letter }})</option>
    {% endfor %}
</select>

{% if chosen_block %}
    <strong>Out of building schedule for block {{ chosen_block.id }}: {{ chosen_block.formatted_date }} ({{ chosen_block.block_letter }}):</strong>
    <br>
    <a class="button" href="{% url 'eighth_admin_export_out_of_building_schedules_csv' chosen_block.id %}">Export CSV</a>
    <br>
    Click on column titles to sort.
    <table data-sortable class="fancy-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Student ID</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
            {% for signup in signups %}
                <tr>
                    <td>{{ signup.user.last_name }}, {{ signup.user.first_name }}</td>
                    <td>{{ signup.user.student_id }}</td>
                    <td>{{ signup.scheduled_activity.title_with_flags }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}
