{% extends "eighth/admin/eighth_admin_page_base.html" %}

{% block admin_main %}
<form action="{% url 'eighth_admin_add_member_to_group' group.id %}" method="post" id="add_to_group">
    {% csrf_token %}
    <p class="error-color">
        That input matched the following students:
        <table class="fancy-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Ion ID</th>
                <th>Student ID</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>
            {% for member in users %}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.id }}</td>
                <td>{% if not member.graduation_year %}Teacher{% else %}{{ member.student_id }}{% endif %}</td>
                <td>{{ member.grade }}</td>
                <td>
                    <button onclick="with(document.forms['add_to_group']){query.value = 'id:{{ member.id }}';submit()}">
                        Add
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </p>

    <label for="student-id"><b>Add user by search query</b></label><br />
    <input type="text" name="query" id="query"> <input type="submit" value="Add">
</form>
{% endblock %}