{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script>
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
{% endblock %}

{% block admin_main %}
    <h4>Select a Block:</h4>

    <select class="url-param-selector" data-param="block" placeholder="Select or search for a block">
        {% for b in blocks %}
            <option value="{{ b.id }}"{% if b == chosen_block %} selected{% endif %}>{{ b.id }}: {{ b.date }} ({{ b.block_letter}})</option>
        {% endfor %}
    </select>
{% comment %}
    {% if chosen_block %}
        <a href="{% url 'eighth_admin_room_utilization_for_block_csv' %}?block={{ chosen_block.id }}" class="button">Export CSV</a>
        <br>
        <input type="checkbox" id="only-show-overbooked">
        <label for="only-show-overbooked">Only show overbooked</label>
        <br><br>
        Click on column titles to sort.
        <table data-sortable class="fancy-table">
            <thead>
                <tr>
                    <th>Room(s)</th>
                    <th>Activity ID</th>
                    <th>Activity Name</th>
                    <th>Sponsor(s)</th>
                    <th>Signups</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
                {% for sched_act in scheduled_activities %}
                    <tr {% if not sched_act.is_overbooked %} class="underbooked"{% endif %}>
                        <td>{{ sched_act.get_true_rooms|join:", " }}</td>
                        <td>{{ sched_act.activity.aid }}</td>
                        <td>{{ sched_act.activity.name_with_flags }}</td>
                        <td>{{ sched_act.get_true_sponsors|join:", " }}</td>
                        <td>{{ sched_act.members.count }}</td>
                        <td>{% if sched_act.get_true_capacity != -1 %}{{ sched_act.get_true_capacity }}{% else %}Unlimited{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endcomment %}
{% endblock %}
