{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendor/sortable-0.6.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sortable-0.6.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
{% endblock %}

{% block admin_main %}
    {% if not scheduled_activities %}
        <form action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <br>
            {{ wizard.form }}
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
            {% endif %}
            {% if wizard.steps.next %}
                <input type="submit" value="Next"/>
            {% else %}
                <input type="submit" value="Show Room Utilization"/>
            {% endif %}
        </form>
    {% else %}
        <strong>Start Block:</strong> {{ start_block.date|date:"D, N j, Y" }} ({{ start_block.block_letter }})
        <br />
        <strong>End Block:</strong> {{ end_block.date|date:"D, N j, Y" }} ({{ end_block.block_letter }})
        <br /><br />

        
        Choose the fields that you wish to display:
        <form action="" method="get" name="choose-fields">
        <table class="choose-fields fancy-table">
            <tr>
                <td><input type="checkbox" name="show" value="block"{% if show.block %} checked{% endif %} />Block</td>
                <td><input type="checkbox" name="show" value="rooms"{% if show.rooms %} checked{% endif %} />Rooms</td>
                <td><input type="checkbox" name="show" value="aid"{% if show.aid %} checked{% endif %} />Activity ID</td>
                <td><input type="checkbox" name="show" value="activity"{% if show.activity %} checked{% endif %} />Activity Name</td>
                <td><input type="checkbox" name="show" value="sponsors"{% if show.sponsors %} checked{% endif %} />Sponsor(s)</td>
                <td><input type="checkbox" name="show" value="signups"{% if show.signups %} checked{% endif %} />Signups</td>
                <td><input type="checkbox" name="show" value="capacity"{% if show.capacity %} checked{% endif %} />Capacity</td>
                <th><input type="submit" value="Apply" /></th>
            </tr>
        </table>
        <br />
        Click on column titles to sort.
        <table data-sortable class="fancy-table">
            <thead>
                <tr>
                    {% if show.block %}<th>Block</th>{% endif %}
                    {% if show.rooms %}<th>Room(s)</th>{% endif %}
                    {% if show.aid %}<th>Activity ID</th>{% endif %}
                    {% if show.activity %}<th>Activity Name</th>{% endif %}
                    {% if show.sponsors %}<th>Sponsor(s)</th>{% endif %}
                    {% if show.signups %}<th>Signups</th>{% endif %}
                    {% if show.capacity %}<th>Capacity</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for sched_act in scheduled_activities %}
                    <tr>
                        {% if show.block %}
                            <td>{{ sched_act.block.date|date:"D, N j, Y" }} ({{ sched_act.block.block_letter }})</td>
                        {% endif %}
                        {% if show.rooms %}
                            <td>{{ sched_act.get_true_rooms|join:", " }}</td>
                        {% endif %}
                        {% if show.aid %}
                            <td>{{ sched_act.activity.aid }}</td>
                        {% endif %}
                        {% if show.activity %}
                            <td>{{ sched_act.activity.name_with_flags }}</td>
                        {% endif %}
                        {% if show.sponsors %}
                            <td>{{ sched_act.get_true_sponsors|join:", " }}</td>
                        {% endif %}
                        {% if show.signups %}
                            <td>{{ sched_act.members.count }}</td>
                        {% endif %}
                        {% if show.capacity %}
                            <td>{% if sched_act.get_true_capacity != -1 %}{{ sched_act.get_true_capacity }}{% else %}Unlimited{% endif %}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
    {% endif %}

{% endblock %}
