{% extends "eighth/admin/eighth_admin_page_base.html" %}

{% block admin_main %}
    {% if not scheduled_activities %}
        <form action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
            <br>
            {{ wizard.form }}
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
            {% endif %}
            {% if wizard.steps.next %}
                <input type="submit" value="Next"/>
            {% else %}
                <input type="submit" value="Show Room Utilization"/>
            {% endif %}
        </form>
    {% else %}
        <strong>Start Block:</strong> {{ start_block.date|date:"D, N j, Y" }} ({{ start_block.block_letter }})
        <br>
        <strong>End Block:</strong> {{ end_block.date|date:"D, N j, Y" }} ({{ end_block.block_letter }})
        <br>

        <table class="fancy-table">
            <thead>
                <tr>
                    <th>Block</th>
                    <th>Room(s)</th>
                    <th>Activity ID</th>
                    <th>Activity Name</th>
                    <th>Sponsor(s)</th>
                    <th>Students Enrolled</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
                {% for sched_act in scheduled_activities %}
                    <tr>
                        <td>{{ sched_act.block.date|date:"D, N j, Y" }} ({{ sched_act.block.block_letter }}</td>
                        <td>{{ sched_act.get_true_rooms|join:", " }}</td>
                        <td>{{ sched_act.activity.aid }}</td>
                        <td>{{ sched_act.activity.name_with_flags }}</td>
                        <td>{{ sched_act.get_true_sponsors|join:", " }}</td>
                        <td>{{ sched_act.members.count }}</td>
                        <td>{% if sched_act.get_true_capacity != -1 %}{{ sched_act.get_true_capacity }}{% else %}Unlimited{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
