{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load widget_tweaks %}
{% load dictionaries %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript">
        window.all_sponsors = _.values($.parseJSON("{{ sponsors_json|escapejs }}"));
        window.all_rooms_lookup = $.parseJSON("{{ rooms_json|escapejs }}");
        window.all_rooms = _.values(all_rooms_lookup);
    </script>

    <script type="text/javascript" src="{% static 'js/eighth/schedule.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.schedule.css' %}" />
{% endblock %}

{% block bodyclass %}{{ block.super }} schedule-activity-page{% if activity %} floating{% endif %}{% endblock %}

{% block admin_main %}

<form method="post" action="" class="schedule-form">
    <div class="schedule-activity-head">
        <h4>Select an Activity:</h4>

        <select class="url-param-selector" data-param="activity" placeholder="Select or search for an activity">
            {% for a in activities %}
                <option value="{{ a.id }}"{% if a == activity %} selected{% endif %}>{{ a.id }}: {{ a.name_with_flags }}</option>
            {% endfor %}
        </select>

        {% if activity %}
            <div class="schedule-activity-buttons">
                <a class="button" href="{% url 'eighth_admin_dashboard' %}">Cancel</a>
                <input type="submit" value="Save" />
                <a class="button" href="{% url 'eighth_admin_edit_activity' activity.id %}">Edit Activity</a>
            </div>


            <div class="propagate-direction">
                <b>Propagate Direction:</b>
                <select onchange="window.updatePropagate(this.value)">
                    <option value="both" default>Both</option>
                    <option value="up">Up</option>
                    <option value="down">Down</option>
                </select>
            </div>
        {% endif %}

    </div>
    {% if activity %}
        {% csrf_token %}

        {{ formset.management_form }}
        <table class="schedule-activity-grid">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>
                        <a href="" onclick="return false" class="select-blocks-popover-toggle">Select All <i class="fa fa-caret-down"></i></a>
                        <div class="select-blocks-popover closed">
                            <a href="" onclick="return false" class="block-type">Mon B</a>
                            <a href="" onclick="return false" class="block-type">Wed A</a>
                            <a href="" onclick="return false" class="block-type">Wed B</a>
                            <a href="" onclick="return false" class="block-type">Fri A</a>
                            <a href="" onclick="return false" class="block-type">Fri B</a>
                        </div>
                    </th>
                    <th>Rooms</th>
                    <th>Signups/Capacity</th>
                    <th>Sponsors</th>
                    <th>Title suffix</th>
                    <th>Comments</th>
                    <th>Admin Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for block, form in rows %}
                    {% if form.errors %}
                        <tr>
                            <td></td>
                            <td colspan=6>{{ form.non_field_errors }}</td>
                        </tr>
                    {% endif %}
                    <tr class="form-row{% if form.scheduled.value %} scheduled{% endif %}">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            {% if field.name != "cancelled" %}
                                <td data-field="{{ field.name }}">
                                {{ field.errors }}
                                {% if field.name == "rooms" %}
                                    <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="remote-source remote-rooms" multiple="multiple" placeholder="{{ default_rooms|join:", " }}">
                                        {% for val in field.value %}
                                            <option value="{{ val }}" selected="selected">
                                                {% with room=rooms|lookup:val %}
                                                    {{ room.name }} ({{ room.capacity }})
                                                {% endwith %}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% elif field.name == "sponsors" %}
                                    <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="remote-source remote-sponsors" multiple="multiple" placeholder="{{ default_sponsors|join:", " }}">
                                        {% for val in field.value %}
                                            <option value="{{ val }}" selected="selected">
                                                {% with sponsor=sponsors|lookup:val %}
                                                    {{ sponsor.first_name }} {{ sponsor.last_name }}
                                                {% endwith %}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% elif field.name == "capacity" %}
                                    {% with bid=form.block.value %}
                                        {{ all_signups|lookup:bid }} / {% render_field field placeholder=default_capacities|lookup:bid class='capacity' data-default-capacity=default_capacities|lookup:bid %}
                                    {% endwith %}
                                {% else %}
                                    {{ field }}
                                {% endif %}
                                {% if field.name in "rooms capacity sponsors title comments admin_comments" %}
                                    <span class="propagate {{ field.name }}" title="Propagate" data-block="{{ form.block.value }}" data-field="{{ field.name }}" data-input="{{ field.id_for_label }}">
                                        <i class="fa fa-arrows-v"></i>
                                    </span>
                                {% endif %}
                                </td>
                            {% endif %}

                            {% if field.name == "scheduled" %}
                                <td class="block-name">
                                    <a href="{% url 'eighth_admin_edit_block' block.id %}" class="ui-link">
                                        {{ block.date|date:"D" }} {{ block.block_letter }}, {{ block.date|date:"m/d/y" }}
                                    </a>
                                    {% if form.cancelled.value %}
                                        <br>
                                        <b class="cancelled">Cancelled</b>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endfor %}
                        {% if form.cancelled.value %}
                            <td>
                                <button>Unschedule</button>
                            </td>
                        {% endif %}
                    </tr>

                    {% if not forloop.last %}
                        <tr class="spacer">
                            <td colspan=7></td>
                        </tr>
                        <tr class="divider">
                            <td colspan=7></td>
                        </tr>
                        <tr class="spacer">
                            <td colspan=7></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <div class="footer-buttons">
            <a class="button" href="{% url 'eighth_admin_dashboard' %}">Cancel</a>
            <input type="submit" value="Save" />
            <a class="button" href="{% url 'eighth_admin_edit_activity' activity.id %}">Edit Activity</a>
        </div>
    {% endif %}
</form>
{% endblock %}
