{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load pipeline %}

{% block js %}
    {{ block.super }}
    <script>
        $(function() {
            $("form[name=wizard] select").on("change", function() {
                document.forms["wizard"].submit();
            });
        })
    </script>
{% endblock %}

{% block admin_main %}
    {% if wizard %}
        <form action="" method="post" name="wizard">{% csrf_token %}
            {{ wizard.management_form }}
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>


            {% if block_obj %}
                <b>Block:</b> {{ block_obj }}
                <br>
                {% if block_obj.locked %}
                This block is locked. This action would result in an after-deadline signup.
                <br>
                {% endif %}
                <br>
            {% endif %}

            {{ wizard.form }}

            {% comment %}
                {% if wizard.steps.prev %}
                    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
                {% endif %}
                {% if wizard.steps.next %}
                    <input type="submit" value="Next">
                {% else %}
                    <input type="submit" value="Sign Up Group">
                {% endif %}
            {% endcomment %}
        </form>
    {% else %}
        <p>Are you sure you want to sign up <b>{{ users_num }} users</b> in group:</p>
        <p><b>{{ group }}</b></p>
        for:<br><br>
        <p><b>{{ scheduled_activity }}</b></p>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="confirm" value="true">
            <input type="checkbox" name="run_in_background" id="run_in_background" checked>
            <label for="run_in_background">Run this process in the background and email me when it's done (make sure to check your email address under Preferences)</label><br>
            <a href="/eighth/admin" class="button">Cancel</a>
            <input type="submit" value="Register Group">
        </form>
    {% endif %}
{% endblock %}
