{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.maintenance.css' %}">
{% endblock %}

{% block admin_main %}

{% if completed %}
<h3>Success!</h3>
<p>The import process has been started. When it is complete, you will receive an email at <b>{{ email }}</b>.</p>
<p>If you do not get an email within one hour, please email <b>{{ help_email }}</b>.</p>
<a class="button" href="{% url 'eighth_admin_maintenance' %}">Go Back</a>
{% else %}
<form id="sis-import" action="{% url 'eighth_admin_maintenance_sis_import' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Please upload a csv file with student, teacher, and class information. You can obtain this file by exporting from SIS.</p>
    <p><b>Make sure to verify that you are uploading a valid file.</b> An incorrectly formatted file could result in corrupted student information.</p>
    <p>The process will take a while to run. An email will be sent to <b>{{ email }}</b> after the process is complete. Verify that this is a valid email before continuing.</p>
    <input type="file" id="data" name="data" accept=".csv" style="margin:10px 0"><br>
    <a class="button" style="margin-top:5px" href="{% url 'eighth_admin_maintenance' %}">Go Back</a> <button {% if already_importing %}disabled{% endif %} type="submit">Import</button>
    {% if already_importing %}
        <span style="margin-left: 5px"><i class="fa fa-exclamation-triangle"></i> An import is currently in progress!</span>
    {% endif %}
</form>
{% endif %}
{% endblock %}
