{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'vendor/sortable-0.6.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sortable-0.6.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
{% endblock %}

{% block admin_main %}

<h4>Select an Activity:</h4>

<select class="url-param-selector" data-param="activity" placeholder="Select or search for an activity">
    <option value="">Select or search for an activity</option>
    {% for a in activities %}
        <option value="{{ a.id }}"{% if a == activity %} selected{% endif %}>{{ a.id }}: {{ a.name_with_flags }}</option>
    {% endfor %}
</select>

<h4>Schedule for {{ sponsor }}</h4>
Click on column titles to sort.
<table data-sortable class="fancy-table">
    <thead>
        <tr>
            <th>Block</th>
            <th>Activity</th>
            <th>Comments</th>
            <th>Room</th>
            <th>Students Enrolled</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        {% for scheduled_activity in scheduled_activities %}
            <tr>
                <td>{{ scheduled_activity.block.date|date:"D, M d, Y" }}, {{ scheduled_activity.block.block_letter }} Block</td>
                <td>{{ scheduled_activity.activity.name_with_flags }}</td>
                <td>{{ scheduled_activity.comments }}</td>
                <td>{{ scheduled_activity.get_true_rooms|join:", " }}</td>
                <td>{{ scheduled_activity.eighthsignup_set.count }}</td>
                <td>{{ scheduled_activity.get_true_capacity }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
