{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
    pre {
        font-family: monospace;
        max-height: 400px;
        width: 600px;
        overflow: auto;
        padding: 5px;
        margin-bottom: 10px;
        background-color: white;
        border: 1px solid #ccc;
    }
    </style>
{% endblock %}

{% block admin_main %}

<form id="clear-comments" action="{% url 'eighth_admin_maintenance_start_of_year' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="confirm" value="true" />
    <p style="margin-bottom:10px"><b>Are you sure?</b> Pressing the button below will run the start of year scripts you have selected.</p>
    <a class="button" href="{% url 'eighth_admin_maintenance' %}">Go Back</a> <button disabled type="submit">Run Start of Year Scripts</button>
</form>
{% endif %}

{% endblock %}
