{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }}{% if request.user.is_eighth_admin %} - Eighth Admin{% endif %} - Take Attendance
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'lib/selectize.js-0.10.1/dist/css/selectize.default.css' %}">
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.attendance.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/selectize.js-0.10.1/dist/js/standalone/selectize.min.js' %}"></script>
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js"></script><![endif]-->
    <script type="text/javascript" src="{% static 'js/eighth/attendance.js' %}"></script>
{% endblock %}


{% block main %}
    <div class="primary-content">
        <div class="eighth-header">
                <h2>
                    Take Attendance
                </h2>

                {% if request.user.is_eighth_admin %}
                    {% include "eighth/admin/start_date.html" %}
                {% endif %}
        </div>

        {% if request.GET.na %}
            <strong>You are not sponsoring any activities for the block you selected.</strong>
            <br>
        {% endif %}

        <form action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            {{ wizard.form }}
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Back</button>
            {% endif %}
            {% if wizard.steps.next %}
                <input type="submit" value="Next"/>
            {% else %}
                <input type="submit" value="Take Attendance"/>
            {% endif %}
        </form>
    </div>
{% endblock %}
