{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/eighth/maintenance_teacher.js' %}"></script>
    <script type="text/javascript">
        var list_endpoint = "{% url 'eighth_admin_maintenance_teacher_list' %}";
        var modify_endpoint = "{% url 'eighth_admin_maintenance_teacher_modify' %}";
        var delete_endpoint = "{% url 'eighth_admin_maintenance_teacher_delete' %}";
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/eighth.maintenance.css' %}" />
{% endblock %}

{% block admin_main %}

<div id="teacher-list-container">
    <input type="text" id="teacher-list-search" placeholder="&#xf002; Search" />
    <div id="teacher-list" tabindex="0"></div>
</div>
<div id="edit-area">
    <h3 id="edit-title">Create Teacher Account</h3>
    <div class="normal-fields">
        <input type="hidden" class="ldap-field" id="ldap-dn" />
        {% for field in fields %}
        <div class="form-group">
            <label for="ldap-{{ field }}">{{ field }}</label>
            <input class="ldap-field" id="ldap-{{ field }}" type="text" />
        </div>
        {% endfor %}
    </div>
    <button style="display:none" id="delete-teacher">Delete Teacher</button> <button id="edit-teacher">Create Teacher</button> <span id="ldap-loading"><i class="fa fa-cog fa-spin fa-2x"></i></span>
</div>

{% endblock %}
