{% extends "eighth/admin/eighth_admin_page_base.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $("form[name=wizard] select").on("change", function() {
                document.forms["wizard"].submit();
            });
        })
    </script>
{% endblock %}

{% block admin_main %}
    <form action="" method="post" name="wizard">{% csrf_token %}
        {{ wizard.management_form }}
        <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        <br>
        {{ wizard.form }}
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Previous Step</button>
        {% endif %}
        {% if wizard.steps.next %}
            <input type="submit" value="Next"/>
        {% else %}
            <input type="submit" value="Transfer Students"/>
        {% endif %}
    </form>
{% endblock %}
