{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load static %}
{% load pipeline %}

{% block js %}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    {{ block.super }}
    <script>
        $(function() {
            Sortable.init();
        });
    </script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {{ block.super }}
    <style>
textarea[name=filetext] {
    width: 500px;
    height: 200px;
}
    </style>
{% endblock %}

{% block admin_main %}

{% if stage == "upload" %}
    <h3>Upload Info</h3>
    <p style="width: 600px">Upload a file containing either Student IDs (e.x. 1231234), Ion IDs (31863), or TJ usernames (2016jwoglom), separated by line breaks. CSV files with Student IDs or only student names are also supported.</p>
    <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.file }}
        <br><br>
        <input type="submit" value="Upload">
    </form>
    <br>
    <hr>
    <br>
    <h3>Enter Info</h3>
    <p style="width: 600px">Enter text in the box below containing either Student IDs (e.x. 1231234), Ion IDs (31863), or TJ usernames (2016jwoglom), separated by line breaks.</p>
    <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="filetext"><b>Enter text:</b></label><br>
        <textarea name="filetext"></textarea>
        <br>
        <input type="submit" value="Read Data">
    </form>
    <br>
    <hr>
    <br>
    <h3>Import From Group</h3>
    <p style="width: 500px">Select a group to import members from. This process cannot be undone.</p>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <select id="group-select" placeholder="Select or search for a group" name="import_group">
            <option value="">Select or search for a group</option>
            {% for grp in all_groups %}
                {% if grp.id != group.id %}
                    <option value="{{ grp.id }}">{{ grp.name }}{% if grp.properties.student_visible %} (Student-visible){% endif %}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Import Members From Group">
    </form>
{% elif stage == "import_confirm" %}
    <p>Are you sure you want to add {{ num_users }} members of {{ import_group }}?</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="import_group" value="{{ import_group.id }}">
        <input type="hidden" name="import_confirm" value="true">
        <input type="submit" value="Import Members From Group">
    </form>
    <br>
    <ul>
    {% for member in import_group.user_set.all %}
        <li>{{ member.full_name }} ({{ member.student_id }})</li>
    {% endfor %}
    </ul>
{% elif stage == "parse" %}
    <h3>There {% if sure_users|length == 1 %}was {{ sure_users|length }} user{% else %}were {{ sure_users|length }} users{% endif %} matched:</h3>
    Check the boxes for the users you wish to import. Click on column titles to sort.
    <form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Add Users">
    <table data-sortable class="fancy-table">
    <thead>
        <tr>
            <th>Input line</th>
            <th></th>
            <th>User Matched</th>
        </tr>
    </thead>
    <tbody>
    {% for user in sure_users %}
        <tr>
            <td>{{ user.0 }}</td>
            <td>
                <input type="checkbox" name="user_id" value="{{ user.1.id }}" checked>
            </td>
            <td>
                {% if user.1.display_name %}{{ user.1.display_name }}{% else %}{{ user.1.full_name }}{% endif %} ({{ user.1.student_id }}{% if user.1.grade_number %}, {{ user.grade_number }}{% elif user.1.is_teacher %}, Staff{% endif %})
            </td>
        </tr>
    {% empty %}
        No valid user identifiers were found.
    {% endfor %}
    </tbody>
    </table>
    <input type="submit" value="Add Users">
    <br><br>
    <h3>There {% if unsure_users|length == 1 %}was {{ unsure_users|length }} user{% else %}were {{ unsure_users|length }} users{% endif %} not matched:</h3>
    Click on column titles to sort.
    <table data-sortable class="fancy-table">
    <thead>
        <tr>
            <th>Input line</th>
            <th></th>
            <th>User Matched</th>
        </tr>
    </thead>
    <tbody>
    {% for user in unsure_users %}
        <tr>
            <th>{{ user.0 }}</th>
            {% if user.1 %}
                {% for u in user.1 %}
                <td>
                    <input type="checkbox" name="add_user" value="{{ u.id }}">
                </td>
                <td>
                    {{ u.display_name }} ({{ u.student_id }}, {{ u.grade }})
                </td>
                {% endfor %}
            {% else %}
                <td></td>
                <td>No unique matches found.</td>
            {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="3">All users were properly matched.</th>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </form>
{% endif %}

{% endblock %}
