{% extends "eighth/admin/eighth_admin_page_base.html" %}
{% load widget_tweaks %}

{% block admin_page_title %}View Activity Schedule{% endblock %}

{% block admin_main %}

<h4>Select an Activity:</h4>

<select class="schedule-activity-select" placeholder="Select or search for an activity">
    {% for a in activities %}
        <option value="{{ a.id }}"{% if a == activity %} selected{% endif %}>{{ a.id }}: {{ a.name }}</option>
    {% endfor %}
</select>

{% if activity %}
    <h3>Schedule for {{ activity.name }}</h3>
    <table class="activity-schedule">
        <thead>
            <td>Date</td>
            <td>Rooms</td>
            <td>Sponsors</td>
            <td>Students Enrolled</td>
            <td>Capacity</td>
        </thead>
        <tbody>
            {% for scheduled_activity in scheduled_activities %}
                <tr>
                    <td>{{ scheduled_activity.block.date|date:"M d, Y" }}, {{ scheduled_activity.block.block_letter }} Block</td>
                    <td>{% for room in scheduled_activity.get_true_rooms %}{{ room }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td>{% for sponsor in scheduled_activity.get_true_sponsors %}{{ sponsor }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                    <td>{{ scheduled_activity.eighthsignup_set.count }}</td>
                    <td>{{ scheduled_activity.get_true_capacity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endif %}

{% endblock %}
