<div class="widget extra-widget links-widget admin-widget">
    <div class="widget-title">
        <h2>
            Intranet Administration
        </h2>
        <div class="info">
            <a href="/djangoadmin/" class="button small-button">Django Admin</a>
        </div>
    </div>
    <div class="widget-content">
    <table>
    <tr><td>
        {% if request.user.is_announcements_admin %}
            <a href="{% url 'admin_request_status' %}">Announcement Approval</a><br>
        {% endif %}
        {% if request.user.is_schedule_admin %}
            <a href="{% url 'schedule_admin' %}">Bell Schedule</a><br>
        {% endif %}
        {% if request.user.is_eighth_admin %}
            <a href="{% url 'eighth_admin_dashboard' %}">Eighth Admin</a><br>
        {% endif %}
    </td><td>
        {% if is_global_admin %}
            <a href="/djangoadmin/oauth2_provider/application/">OAuth Applications</a><br>
            <a href="/djangoadmin/printing/printjob/">Print Jobs</a><br>
        {% endif %}
        {% if request.user.is_eighth_admin %}
            <a href="{% url 'privacy_options' %}">Privacy Options</a><br>
        {% endif %}
        {% if is_global_admin %}
            <a href="/djangoadmin/signage/sign/">Signage Displays</a><br>
        {% endif %}
    </td></tr>
    </table>
    </div>
</div>

