<div class="widget extra-widget birthdays-widget">
    <style type="text/css">
    .birthdays-widget .widget-content {
        padding: 5px;
    }

    .birthdays-widget .widget-content table {
        width: 100%;
    }
    </style>
    <div class="widget-title">
        <h2>
            Birthdays
        </h2>
        <div class="info">
            
    </div>
    </div>
    <div class="widget-content">
        <table>
            <tr>
            {% with birthdays.today as day %}
                <th>
                    Today:<br />{{ day.date }}
                </th>
                <td>
                {% for u in day.users %}
                    <a href="{% url 'user_profile' u.id %}">{{ u.full_name }}</a> ({{ u.grade.name|title }})
                    {% if u.age %}turns {{ u.age }}!{% endif %}
                    {% if not forloop.last %}<br />{% endif %}
                {% empty %}
                    No birthdays!
                {% endfor %}
                </td>

              {% endwith %}
            </tr>
            <tr>
            {% with birthdays.tomorrow as day %}
                <th style="padding-top: 10px">
                    Tomorrow:<br />{{ day.date }}
                </th>
                <td>
                {% for u in day.users %}
                    <a href="{% url 'user_profile' u.id %}">{{ u.full_name }}</a> ({{ u.grade.name|title }})
                    {% if u.age %}turns {{ u.age }}!{% endif %}
                    {% if not forloop.last %}<br />{% endif %}
                {% empty %}
                    No birthdays!
                {% endfor %}
                </td>

              {% endwith %}
            </tr>
        </table>
    </div>
</div>