{% extends "page_with_nav.html" %}
{% load static %}
{% load dates %}
{% load cacheops %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - {{ dashboard_title }}
{% endblock %}

{% block meta %}
    {{ block.super }}
    <link rel="prerender" href="{{ prerender_url }}">
    <link rel="prefetch" href="{{ prerender_url }}">
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'events' %}
    {% stylesheet 'dashboard' %}
    {% stylesheet 'dashboard.widgets' %}
    {% stylesheet 'schedule' %}
    {% stylesheet 'schedule.widget' %}
    {% if dash_warning %}
        {% stylesheet 'emerg' %}
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}

    <script src="{% static 'js/dashboard/eighth-widget.js' %}"></script>
    <script src="{% static 'js/schedule.js' %}"></script>
    <script src="{% static 'js/dashboard/common.js' %}"></script>
    <script src="{% static 'js/dashboard/announcements.js' %}"></script>
    <script src="{% static 'js/dashboard/events.js' %}"></script>
    {% if is_senior %}
        <script src="{% static 'js/dashboard/seniors.js' %}"></script>
    {% endif %}
    <script src="{% static 'js/features.js' %}"></script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/dashboard' %}
        {% stylesheet 'dark/dashboard.widgets' %}
        {% stylesheet 'dark/schedule' %}
        {% stylesheet 'dark/schedule.widget' %}
        {% stylesheet 'dark/events' %}
    {% endif %}
{% endblock %}

{% block main %}

{% if show_widgets %}

<div class="widgets{% if eighth_sponsor and request.user.is_student %} student-sponsor{% endif %}">
    {% if is_student %}
        {% include "eighth/signup_widget.html" %}
    {% endif %}
    {% if is_teacher or eighth_sponsor %}
        {% include "eighth/sponsor_widget.html" %}
    {% endif %}

    {% if tjstar_uuid %}
        {% include "events/tjstar_widget.html" %}
    {% endif %}

    {% include "schedule/widget.html" %}

    <button class="widget extra-widgets-show">Show more widgets</button>
    {% if show_admin_widget %}
        {% include "dashboard/admin.html" %}
    {% endif %}

    {% include "dashboard/eighth_info.html" %}

    {% include "dashboard/links.html" %}

    {% if is_student %}
        {% include "dashboard/seniors.html" %}
    {% endif %}
</div>
{% endif %}

<div class="primary-content">
    {% include "feature_announcements.html" %}
</div>

<div class="announcements primary-content{% if not show_widgets %} no-widgets{% endif %}">
    {% if dash_warning %}
        <div class="dash-warning collapsed">{{ dash_warning|safe }}</div>
    {% endif %}

    <div class="announcements-header">

        <h2>{{ dashboard_header }}</h2>

            <span class="announcements-icon-wrapper">
            {% if show_expired or not show_widgets %}
                <a href="{% url 'index' %}" class="button" style="float:left"><i class="fas fa-arrow-left" style="width: 11px"></i> Dashboard</a>
                &nbsp;
            {% endif %}
            {% if request.user.is_restricted %}
                <a class="button announcement-request" href="{% url 'request_announcement' %}">
                    <i class="far fa-file-alt"></i>
                    Request Post
                </a>
            {% else %}
            {% if announcements_admin %}
                {% if "show_all" not in request.GET %}
                    <a class="button" href="{% url view_announcements_url %}?show_all=1">
                        Show All
                    </a>
                {% else %}
                    <a class="button" href="{% url view_announcements_url %}">
                        <i class="fas fa-times"></i> Don't Show All
                    </a>
                {% endif %}
                <a class="button announcement-add" href="{% url 'add_announcement' %}">
                    <i class="fas fa-plus"></i>
                    Add
                </a>
            {% else %}
                <a class="button announcement-request" href="{% url 'request_announcement' %}">
                    <i class="far fa-file-alt"></i>
                    Request Post
                </a>
            {% endif %}
            {% endif %}
            </span>
    </div>

    <div class="announcements-container">
        {% if show_homecoming %}
        {% include "special/hoco_ribbon.html" %}
        {% endif %}
        {% if announcements_admin %}
            {% if awaiting_teacher or awaiting_approval %}
                <div class="announcement announcement-meta">
                {% if awaiting_approval %}
                    <h3>
                    <i class="fas fa-exclamation-circle" style="color: red"></i> There {% if awaiting_approval|length == 1 %}is 1 announcement request{% else %}are {{ awaiting_approval|length }} announcement requests{% endif %} waiting for admin approval</h3>
                    <ul>
                    {% for req in awaiting_approval %}
                        <li><a href="{% url 'admin_approve_announcement' req.id %}">{{ req }}</a> -- requested by {{ req.user.full_name }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if awaiting_teacher %}
                    <h3> <i class="fas fa-info-circle"></i> There {% if awaiting_teacher|length == 1 %}is 1 announcement request{% else %}are {{ awaiting_teacher|length }} announcement requests{% endif %} pending teacher approval</h3>
                {% endif %}
                </div>
            {% endif %}
        {% endif %}
        {% if self_awaiting_teacher %}
            <div class="announcement announcement-meta">
                <h3>
                    <i class="fas fa-exclamation-circle" style="color: red"></i> There {% if self_awaiting_teacher|length == 1 %}is 1 announcement request{% else %}are {{ self_awaiting_teacher|length }} announcement requests{% endif %} waiting for your approval
                </h3>
                <ul>
                {% for req in self_awaiting_teacher %}
                    <li><a href="{% url 'approve_announcement' req.id %}">{{ req }}</a> -- requested by {{ req.user.full_name }}</li>
                {% endfor %}
                </ul>
                <br>
                Click on the link{{ self_awaiting_teacher|length|pluralize }} above to approve or reject {% if self_awaiting_teacher|length == 1 %}this announcement{% else %}these announcements{% endif %}.
            </div>
        {% endif %}

        {% if is_senior %}
            {% include "dashboard/senior_forwarding.html" %}
        {% endif %}

        {% for item in items %}
            {% if item.dashboard_type in ignore_dashboard_types %}
                <!-- {{ item.dashboard_type }} hidden -->
            {% elif item.dashboard_type == "announcement" %}
                {% with announcement=item show_icon=True %}
                    {% include "announcements/announcement.html" %}
                {% endwith %}
            {% elif item.dashboard_type == "event" %}
                {% with event=item show_icon=True %}
                    {% include "events/event.html" %}
                {% endwith %}
            {% endif %}
        {% empty %}
            <div class="announcement">
                {% if not request.user.is_restricted %}
                There are no announcements to display at this time.
                {% else %}
                You do not have permission to view announcements.
                {% endif %}
            </div>
        {% endfor %}
        {% if not request.user.is_restricted %}
        {% if start_num == 0 and view_announcements_url != 'announcements_archive' %}
            <a href="{% url 'announcements_archive' %}" class="button" style="float:left"><i class="fas fa-archive" style="width: 13px"></i> View Archive</a>
        {% endif %}

        {% if start_num > 0 %}
            <a href="{% url view_announcements_url %}?start={{ prev_page }}{{ paginate_link_suffix }}" class="button" style="float:left">&larr; Newer Posts</a>
        {% endif %}
        {% if more_items %}
            <a href="{% url view_announcements_url %}?start={{ end_num }}{{ paginate_link_suffix }}" class="button" style="float:right">Older Posts &rarr;</a>
        {% endif %}
        {% endif %}
    </div>
</div>



{% endblock %}
