<div class="widget extra-widget links-widget useful-links-widget">
  <div class="widget-title">
    <h2>
      Eighth Period Information
    </h2>
    <div class="info">
    </div>
  </div>
  <div class="widget-content">
    <table>
      <tr>
        <td>
            <h5 class="link-heading">General Information</h5>
            <a href="/uploads/AttendanceFAQ.pdf">Attendance FAQ</a><br>
            <a href="/uploads/GuestSpeakers.pdf">Guest Speakers</a><br>
            <a href="/uploads/PosterGuidelines.pdf">Poster Guidelines</a><br>
            <a href="/uploads/WeightRoom.pdf">Weight Room Authorization</a><br>
            <a href="/uploads/FundraisingProcedures.pdf">Fundraising Procedures</a><br>
            <a href="/uploads/PrayerGuidelines.pdf">Guidelines Regarding Prayer</a><br>
        </td>
        <td>
            <h5 class="link-heading">Starting a New Club</h5>
            <a href="/uploads/ClubInfo.pdf">General Information</a><br>
            <a href="/uploads/CoverSheetChecklist.pdf">Cover Sheet Checklist</a><br>
            <a href="/uploads/ClubApp.pdf">Club Application</a><br>
            <a href="/uploads/ClubAppContact.pdf">Application Contact Info</a><br>
            <a href="/uploads/StudentInterest.pdf">Student Interest Form</a><br>
            <a href="/uploads/SampleConstitution.pdf">Sample Constitution</a><br>
        </td>
      </tr>
    </table>
  </div>
</div>
