<div class="widget extra-widget links-widget useful-links-widget">
  <div class="widget-title">
    <h2>
      Useful Links
    </h2>
    <div class="info">
    </div>
  </div>
  <div class="widget-content">
    <table>
      <tr>
        <td>
          <a href="https://docs.google.com/a/fcpsschools.net/spreadsheet/viewform?pli=1&amp;formkey=dHRCU2U0SUxDQ2VOWURjTEs4U0tjUEE6MQ">Academic Integrity</a><br />
          <a href="https://fcps.blackboard.com">Blackboard</a><br />
          <a href="https://calendar.tjhsst.edu">Calendar</a><br />
          <a href="https://www.tjhsst.edu/studentservices/career-center/index.html">College/Career Center</a><br />
          <a href="https://www.tjhsst.edu/research-academics/library/databases.html">Library Databases/Proxy</a><br />
          <a href="https://docs.google.com/forms/d/1bv8aG3CRDC-F4W138ivuwKI61a5ZVSCDaVXaAlGkBHM/viewform">Morning Announcements</a><br />
          <a href="https://bugs.tjhsst.edu/">Report a Bug in the CSL</a><br />
          <a href="https://www.tjhsst.edu/abouttj/integrity/docs/Student%20advocacy%20brochure%202015.pdf">Student Advocacy</a><br />
        </td>
        <td>
          <a href="https://sysadmins.tjhsst.edu/">Student Sysadmins + CSL</a><br />
          <a href="http://colonialathletics.org/">TJ Athletics</a><br />
          <a href="https://livedoc.tjhsst.edu/wiki/Forwarding_your_TJ_Email">TJ Email Forwarding</a><br />
          {% if request.user.is_teacher %}
            <a href="https://www.tjhsst.edu/portal.html">TJ Portal/Staff Intranet</a><br />
          {% else %}
            <a href="https://www.tjhsst.edu/portal.html">TJ Portal</a><br />
          {% endif %}
          <a href="https://leadership.tjhsst.edu/sga">TJ SGA</a><br />
          <a href="http://tjtoday.org/">tjToday</a><br />
          <a href="https://webmail.tjhsst.edu/">Webmail</a><br />
          <a href="/static/WiFiFAQ.pdf">Wi-Fi FAQ</a><br />
        </td>
      </tr>
    </table>
  </div>
</div>
