<div class="announcement announcement-meta">
    <i class="fas fa-bookmark dashboard-item-icon" title="Pinned announcement" style="color: red;"></i>
    <h3 style="color: red; font-size: 20px;">
        Email Forwarding
    </h3>
    <style>.announcement b { font-weight: bold }</style>
    <div class="announcement-toggle-content">
        <div class="announcement-content" style="font-size: 16px;">
            <b>Seniors,</b> as you are preparing to leave TJ, if you would like to maintain your TJ Email address please <a href="/emailfwd/senior">click this link and follow the directions</a>.
        </div>
    </div>
</div>
