{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Parking
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <style>b { font-weight: bold }
p {
    padding: 10px 0;
}</style>
{% endblock %}

{% block main %}
<div class="parking primary-content" style="max-width: 700px">
    {% if request.user.is_parking_admin %}
        <p>You are a parking admin. <a href="/djangoadmin/parking/">View the admin interface</a></p>
    {% endif %}

    <h2>
        Parking Applications
    </h2>

    <p>For the 2016-2017 school year, an unknown number of parking spaces will be available for student parking. The TJHSST campus will be going through many changes as we continue renovation. Due to changes during the summer/fall of 2016 only SENIORS will be allowed to park on campus with mentorship students being given the highest priority.
    </p>
    <p>
    Complete the following online application <b>no later than June 17th, 2016</b>.
    In addition to completing this online component,
    <a href="/uploads/ParkingLetter2016-2017.doc">THIS FORM</a> and <a href="/uploads/ParkingApp2016-2017.doc">THIS ADDITIONAL PAGE</a> must be downloaded, completed, and TURNED IN to the Security Office by June 17th, 2016. Do not include payment with the application; payment is due in the fall when you pick up your parking permit. You must also plan to have your driver's license by September 8, 2015 and have no more than 5 eighth period unexcused absences to be eligible. You must have no outstanding debts to TJHSST.
    </p>
    <p>
    Based on the number of student applications received, the following prioritized criteria will be used for allocating student parking spaces:
    </p>
    <ul>
        <li>Mentorship students driving to work locations</li>
        <li>Seniors with no Eighth Period Unexcused Absences</li>
        <li>Seniors with 1 to 5 Eighth Period Unexcused Absences.
            <b>All Juniors and Seniors with 6 or more Unexcused Absences are INELIGIBLE.</b>
        </li>
    </ul>
    <p>Students failing to apply online during the designated "online application period" will be allocated a parking space AFTER all other spaces have been assigned, if any are available.</p>
    <p>Parking spaces will be assigned randomly within the above listed priorities.
    </p>
    <p>You can help your odds by completing both applications on time, clearing incorrect unexcused absences with the 8th period office no later than June 17th, 2016. A joint application means that two students will share one spot and one parking permit. This allows the two students to collectively only ever have one car on campus on a given day. Joint applications must be stapled together when turned in to the Safety & Security Office.</p>

    <a href="{% url 'parking_form' %}" class="button">Continue</a>

</div>
{% endblock %}
