{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Administration
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin/nav.css' %}" />
{% endblock %}

{% block nav %}
	<li {% if page = "home" %}class="selected"{% endif %}>
        <a href="/">
            <i class="nav-icon blank-icon text-icon">&larr;</i>
            Home
        </a>
    </li>
{% endblock %}

{% block main %}
    <div class="primary-content">
    
    </div>
{% endblock %}