{% extends "admin/admin_base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="primary-content">
        <h2>Administration</h2>
        <table class="large-nav-buttons">
            <tr>
                <td class="ni">
                <a href="/admin/dashboard">
                    <i class="large-nav-icon dashboard-icon"></i>
                    Dashboard
                </a>
                </td>

                <td class="ip">
                <a href="/admin/eighth">
                    <i class="large-nav-icon eighth-icon"></i>
                    Eighth
                </a>
                </td>

                <td class="ni">
                <a href="/admin/events">
                    <i class="large-nav-icon events-icon"></i>
                    Events
                </a>
                </td>
            </tr>
            <tr>
                <td class="ni">
                <a href="/admin/groups">
                    <i class="large-nav-icon groups-icon"></i>
                    Groups
                </a>
                </td>

                <td class="ni">
                <a href="/admin/polls">
                    <i class="large-nav-icon polls-icon"></i>
                    Polls
                </a>
                </td>

                <td class="ni">
                <a href="/admin/files">
                    <i class="large-nav-icon files-icon"></i>
                    Files
                </a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}