{% extends "admin/admin_base.html" %}
{% load staticfiles %}

{% block nav %}
	{{ block.super }}
    
    <li {% if page = "admin" %}class="selected"{% endif %}>
        <a href="/admin">
            <i class="nav-icon blank-icon text-icon">
            	<i class="icon-gear icon-2x"></i>
            </i>
            Admin
        </a>
    </li>

    <li {% if page = "dashboard" %}class="selected"{% endif %}>
        <a href="/admin/dashboard">
            <i class="nav-icon dashboard-icon"></i>
            Dashboard
        </a>
    </li>

    <li {% if page = "eighth" %}class="selected"{% endif %}>
        <a href="/admin/eighth">
            <i class="nav-icon eighth-icon"></i>
            Eighth
        </a>
    </li>

    <li {% if page = "events" %}class="selected"{% endif %}>
        <a href="/admin/events">
            <i class="nav-icon events-icon"></i>
            Events
        </a>
    </li>

    <li {% if page = "groups" %}class="selected"{% endif %}>
        <a href="/admin/groups">
            <i class="nav-icon groups-icon"></i>
            Groups
        </a>
    </li>

    <li {% if page = "polls" %}class="selected"{% endif %}>
        <a href="/admin/polls">
            <i class="nav-icon polls-icon"></i>
            Polls
        </a>
    </li>

    <li {% if page = "files" %}class="selected"{% endif %}>
        <a href="/admin/files">
            <i class="nav-icon files-icon"></i>
            Files
        </a>
    </li>
{% endblock %}
