[run]
branch = True
source = intranet
omit =
    */migrations/*
    */apps.py
    */urls.py
    */wsgi.py
    */middleware/profiler.py
    */settings/travis_secret.py

# Needed for the Coveralls reporter
relative_files = True
