# Python-specific ignores
*.pyc
__pycache__
__pycache__/*
.eggs

# Build stuff ignores
build
.coverage
dist/*.tar.gz

# General ignores
*.crt
*.key
*.swp
*.dbg
*.DS_Store
*.log
dump.rdb
.DS_STORE

# Development-specific ignores
devconfig.json
.vagrant

# Text editors ignores
*.sublime-project
*.sublime-workspace
.idea/

# mypy-related ignores
.mypy_cache

# Ion-specific ignores
intranet/apps/files/cred.py*
uploads/*
intranet/collected_static
maintenance_mode_state.txt

# Fixture-related ignores
fixtures/**/*.json
fixtures/*.sql
fixtures/README.txt
*fixtures*.tar*

# NPM-related ignores
node_modules/
package-lock.json
