*.pyc
.eggs
build
.coverage
dist/*.tar.gz
testing_database.db
intranet/collected_static
*.crt
*.key
*.swp
*.dbg
*.DS_Store
dump.rdb
.vagrant
.DS_STORE
devconfig.json
*.sublime-project
*.sublime-workspace
intranet/apps/files/cred.py*
uploads/*
__pycache__
__pycache__/*
localdata
config/nginx/ldap_server.conf
localdata/
fixtures/**/*.json
