[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# TODO: These probably shouldn't all be locked.
"beautifulsoup4" = "==4.6.0"
bleach = "==2.0.0"
channels = "==1.1.6"
django-cacheops = "==4.0.6"
django-cors-headers = "==2.1.0"
django-debug-toolbar = "==1.8"
django-debug-toolbar-line-profiler = "==0.6.1"
django-extensions = "==1.8.1"
django-formtools = "==2.1"
django-inline-svg = "==0.1.1"
django-maintenance-mode = "==0.9.0"
django-oauth-toolkit = "==1.0.0"
django-pipeline = "==1.6.13"
django-redis-cache = "==1.7.1"
django-redis-sessions = "==0.5.6"
django-requestlogging-redux = "==1.2.1"
django-simple-history = "==2.0"
django-sslserver = "==0.20"
django-widget-tweaks = "==1.4.1"
djangorestframework = "==3.6.3"
hiredis = "==0.2.0"
icalendar = "==3.11.6"
paramiko = "==2.3.1"
"psycopg2" = "==2.7.4"
pycrypto = "==2.6.1"
pysftp = "==0.2.9"
python-dateutil = "==2.6.1"
python-magic = "==0.4.13"
raven = "==6.1.0"
reportlab = "==3.4.0"
requests-oauthlib = "==0.8.0"
sphinx-bootstrap-theme = "==0.6.0"
sqlparse = "==0.2.4"
Django = "==1.11.4"
Sphinx = "==1.7.3"
Werkzeug = "==0.12.2"
# TODO: This shouldn't be necessary, but pipenv tries to pull in a non-existant version otherwise...
futures = "==3.1.1"
