argon2-cffi==20.1.0
autobahn==20.4.3
Babel==2.8.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.1.5
celery==4.4.5
certifi==2020.04.05.2
channels==2.4.0
channels-redis==2.4.2
contextlib2==0.6.0
cryptography==2.9.2
decorator==4.4.2
Django==2.2.13
django-cacheops==5.0
django-cors-headers==3.3.0
django-debug-toolbar==2.2
django-extensions==2.2.9
django-formtools==2.2
django-inline-svg==0.1.1
django-maintenance-mode==0.14.0
django-oauth-toolkit==1.3.2
django-pipeline==2.0.4
django-prometheus==2.0.0
django-redis-cache==2.1.1
django-redis-sessions==0.6.1
django-referrer-policy==1.0
django-requestlogging-redux==1.2.1
django-simple-history==2.10.0
django-user-agents==0.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
docutils==0.16
Fabric3==1.14.post1
flower==0.9.4
gunicorn==20.0.4
hiredis==1.0.1
ipython==7.13
objgraph==3.4.1
pexpect==4.8.0
psycopg2==2.8.5
pycryptodome==3.9.7
pysftp==0.2.9
python-dateutil==2.8.1
python-magic==0.4.18
reportlab==3.5.42
requests==2.23.0
requests-oauthlib==1.3.0
sentry-sdk==0.14.4
setuptools-git==1.2
Sphinx==3.0.4
sphinx-bootstrap-theme==0.7.1

# Not direct dependencies, but need to be bumped for some reason
# (for example, bug or security fixes)
pillow>=6.2.2
asgiref>=3.2.3
twisted>=20.3.0
# Needed for sentry-sdk 0.12.0
aiocontextvars==0.2.2; python_version < "3.7"
