# Dependencies for development
autopep8==2.1.0
black==24.3.0
flake8==7.0.0
isort==5.13.2
pycodestyle==2.11.0
pylint==3.1.0
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
names==0.3.0
whitenoise==6.6.0
