import os

SECRET_KEY = "XXXX"
SECRET_DATABASE_URL = "postgres://ion:XXXX@/ion"

MASTER_PASSWORD = "XXXX"

EMAIL_ANNOUNCEMENTS = True

ENABLE_WAITLIST = True

#############
# Optional: #
#############

# GCM_PROJECT_ID = 0000
# GCM_AUTH_KEY = "XXXX"

# TWITTER_KEYS = {
#     "consumer_key": "XXXX",
#     "consumer_secret": "XXXX",
#     "access_token_key": "XXXX",
#     "access_token_secret": "XXXX"
# }

# LOGIN_WARNING = "Login warning"

# GLOBAL_WARNING = "Global warning"

NOMINATION_POSITION = "Test Nomination"

SENTRY_PUBLIC_DSN = 'https://<key>@sentry.domain/project'
