{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Events
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}" />
{% endblock %}

{% block main %}
    <div class="primary-content">
        <i class="fa fa-calendar" style="font-size: 50px;"></i> <span style="font-size: 50px; padding-left: 10px;">Events</span>
        <div>
            <h3>Events is still in the works &mdash; Coming Fall 2015!</h3>
            <p class="narrow-paragraph">Events is a central student-run calendar of things happening at TJ. Add your club's bake sale or other special activities to promote your club and to get more involved in activities at TJ.</p>
            <p>Have a suggestion for Events? Tell us at <a href="mailto:intranet@tjhsst.edu">intranet@tjhsst.edu</a>.</p>
        </div>
    </div>
{% endblock %}
