{% load dates %}
{% load static %}

{% if event.scheduled_activity and announcement %}
    {% with schact=event.scheduled_activity link_to_scheduled_activity=1 %}
        {% include "events/scheduled_activity.html" %}
    {% endwith %}
{% endif %}

{% block js %}
    <script src="{% static 'js/vendor/jquery.timeago.js' %}"></script>
{% endblock %}

<div class="event{% if hide_events and event.id in user_hidden_events %} hidden{% endif %}" data-id="{{ event.id }}">
    <h3>
        {% if show_icon %}
            <i class="far fa-calendar-alt dashboard-item-icon" title="Event"></i>
        {% endif %}

        {% if not event.approved %}<span style="color: red">UNAPPROVED:</span>{% endif %}
        {% if link_to_event %}
            <a href="{% url 'event' event.id %}" class="event-link">
                {{ event.title }}
            </a>
        {% else %}
            {{ event.title }}
        {% endif %}

            <div class="event-icon-wrapper">
                {% if hide_events %}
                    <a href="#" class="event-toggle">
                    {% if event.id in user_hidden_events %}
                        <i class="announcement-icon fas fa-expand" title="You have hidden this event. Click to show." data-visible-title="This event is visible. Click to hide." hidden-title="You have hidden this event. Click to show."></i>
                    {% else %}
                        <i class="announcement-icon fas fa-compress" title="This event is visible. Click to hide." data-visible-title="This event is visible. Click to hide." data-hidden-title="You have hidden this event. Click to show."></i>
                    {% endif %}
                    </a>
                {% endif %}
                    <a href="{% url 'event' event.id %}" title="Event permalink">
                        <i class="fas fa-share-square"></i>
                    </a>
                {% if events_admin %}
                    <a href="{% url 'modify_event' event.id %}">
                        <i class="event-icon fas fa-pencil-alt"></i>
                    </a>
                    <a href="{% url 'delete_event' event.id %}" class="event-delete">
                        <i class="event-icon far fa-trash-alt"></i>
                    </a>
                {% endif %}
            </div>
    </h3>

    <div class="event-metadata">
        by {{ event.user.full_name_nick|escape }} {% if event.show_fuzzy_date %}&bull; <time class="timeago" datetime="{{ event.time|date:'c' }}">{{ event.time|fuzzy_date|capfirst }}</time>{% endif %} &bull; {{ event.time|date:"l, F j, Y"}}{% if event.time|date:"P" != "midnight" %} {{ event.time|date:"P" }}{% endif %} @ {{ event.location }} &bull; for
        {% for group in event.groups.all %}
            {{ group }}
            {% if not forloop.last %},{% endif %}
        {% empty %}
            everyone
        {% endfor %}
    </div>
    <div class="event-toggle-content"{% if hide_events and event.id in user_hidden_events %} style="display:none"{% endif %}>
        {% if event.scheduled_activity and not announcement %}
            {% with schact=event.scheduled_activity link_to_scheduled_activity=1 %}
                {% include "events/scheduled_activity.html" %}
            {% endwith %}
        {% endif %}

        {% if event.announcement and not announcement %}
            {% with announcement=event.announcement link_to_announcement=1 %}
                {% include "announcements/announcement.html" %}
            {% endwith %}
        {% endif %}

        <div class="event-content">
            {{ event.description|safe }}
        </div>
        {% if show_attend %}
            <form action="{% url 'join_event' event.id %}" method="post" name="no-attend-form-{{ event.id }}">
                {% csrf_token %}
                <input type="hidden" name="attending" value="false">
            </form>

            <form action="{% url 'join_event' event.id %}" method="post" name="attend-form-{{ event.id }}">
                {% csrf_token %}
                <input type="hidden" name="attending" value="true">
            </form>
        {% endif %}

        {% if is_events_admin %}
            <table class="event-approve-table">
                <tr>
                    <td>
                    {% if not event.approved %}
                        <form action="{% url 'events' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="approve" value="{{ event.id }}">
                            <input type="submit" value="Approve" class="small-button">
                        </form>
                    {% else %}
                        Approved by {{ event.approved_by.full_name }}.
                    {% endif %}
                    </td>
                    <td>
                    {% if not event.approved %}
                        <form action="{% url 'events' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="reject" value="{{ event.id }}">
                            <input type="submit" value="Reject" class="small-button">
                        </form>
                    {% elif event.rejected %}
                        Rejected by {{ event.rejected_by.full_name }}.
                    {% endif %}
                    </td>
                </tr>
            </table>
        {% endif %}

        {% if event.show_attending %}
        <div class="bottom-row{% if show_attend %} show-attend{% endif %}">
            <span class="signup-status">
                People attending: {{ event.attending.count }}
                {% if show_attend %}
                <a href="{% url 'event_roster' event.id %}" class="button small-button view-roster-button">
                    View Roster
                </a>
                {% endif %}
            </span>

            {% if request.user in event.attending.all %}
                <span class="attend-status">
                    You are <b style="color: green">attending</b> this event.
                    {% if show_attend %}
                        <a href="#" data-form-submit="no-attend-form-{{ event.id }}" class="button small-button no-attend-button">
                            <i class="fas fa-times"></i>
                            Don't Attend
                        </a>
                    {% endif %}
                </span>
            {% else %}
                <span class="attend-status">
                    You are <b style="color: red">not attending</b> this event.
                    {% if show_attend %}
                        <a href="#" data-form-submit="attend-form-{{ event.id }}" class="button small-button attend-button">
                            <i class="fas fa-check"></i>
                            Attend
                        </a>
                    {% endif %}
                </span>
            {% endif %}
        </div>
        {% endif %}
    </div>

</div>
