{% load dates %}
{% load static %}

{% block js %}
    <script src="{% static 'js/vendor/jquery.timeago.js' %}"></script>
{% endblock %}

<div class="event">
    <h3>
        <a href="{% url 'event' event.id %}" class="event-link">{{ event.title }}</a>
    </h3>

    <div class="event-metadata">
        {{ event.time|date:"l, F j, Y"}}{% if event.time|date:"P" != "midnight" %} {{ event.time|date:"P" }}{% endif %}<br>@ {{ event.location }}
    </div>
        <div class="bottom-row{% if show_attend %} show-attend{% endif %}">
            <span class="signup-status">
                {% if event.open_to == "students" %}Students Only{% elif event.open_to == "parents" %}Parents Only{% else %}Everyone{% endif %}
                {% if event.show_attending %}
                &bull; People attending: {{ event.attending.count }}
                {% endif %}
            </span>
        </div>

</div>
