{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Event Roster
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'dashboard' %}
    {% stylesheet 'events' %}
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/dashboard' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/events' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content events">

        <div class="events-container">
        {% with show_attend=1 %}
            {% include "events/event.html" %}
        {% endwith %}
        </div>

        {% if event.show_attending %}
            <h2>Public Roster</h2>

            <ul>
                {% for attendee in viewable_roster %}
                    <li>
                        <a href="{% url 'user_profile' attendee.id %}">
                            {{ attendee.full_name }} ({{ attendee.grade_number }})
                        </a>
                    </li>
                {% empty %}
                    <li>There are no users to display.</li>
                {% endfor %}
            </ul>

            {% if num_hidden_members > 0 %}
                <br>
                <p>{{ num_hidden_members }} {% if num_hidden_members == 1 %}user {% if not request.user.can_view_eighth %}(you) {% endif %}has{% else %}users {% if not request.user.can_view_eighth %}(including you) {% endif %}have{% endif %} not given permission to appear on this list.</p>
            {% endif %}

            {% if is_events_admin %}
                <br>
                <h2>Full Roster</h2>

                <ul>
                    {% for attendee in full_roster %}
                        <li>
                            <a href="{% url 'user_profile' attendee.id %}">
                                {{ attendee.full_name }} ({{ attendee.grade_number }})
                            </a>
                        </li>
                    {% empty %}
                        <li>There are no users to display.</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
