{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Preferences
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/prefs.css' %}" />
    <style type="text/css">
    .primary-content {
        max-width: 500px;
    }

    .primary-content ul li {
        margin-bottom: 10px;
    }

    .primary-content img {
        margin-top: 10px;
        zoom: 0.7;
    }

    </style>
{% endblock %}

{% block main %}
    <div class="primary-content" style="background-color: white; padding: 30px; border-radius: 5px; border: 1px solid rgb(216, 216, 216); max-width: 400px;">
        <i class="fa fa-gear" style="font-size: 50px; margin-right: 10px;"></i> <span style="font-size: 50px;">Preferences</span>
        <div>
            <h3>This page is still under development &mdash; coming soon</h3>
            <p class="narrow-paragraph">Preferences allows you to modify your student information and notification settings.</p>
            <p>At this time, visit <a href="https://iodine.tjhsst.edu/prefs">https://iodine.tjhsst.edu/prefs</a> to modify your student information.
            <p>Have a suggestion for Intranet? Tell us at <a href="mailto:intranet@tjhsst.edu">intranet@tjhsst.edu</a>.</p>
        </div
    </div>
{% endblock %}
