body, input[type="text"], ::placeholder, a, a:active, a:visited, body.login-page .login form input[type=submit], .git-version, .schedule .chevron i, .login-page .sidebar-trigger {
    color: orange !important;
}


.login-page .sidebar-trigger {
    border-color: orange;
}

.login-page {
    animation: fade-in-out 1.5s ease-out infinite alternate;
}

.login-page .logo {
    background-image: url(/static/img/logos/Login-Logo-halloween.svg);
}

body.login-page input[type="text"], body.login-page input[type="password"] {
    color: orange;
}
body.login-page input[type="text"]::placeholder, body.login-page input[type="password"]::placeholder {
    opacity: 0.7;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes move-ghost {
    0% {
        right: 120vw;
        top: 10vh;
    }
    20% {
        right: calc(25vw - 92.5px);
        top: 10vh;
    }
    30% {
        right: calc(25vw - 92.5px);
        top: 75vh;
    }
    40% {
        right: calc(75vw - 92.5px);
        top: 75vh;
    }
    46.6% {
        right: calc(75vw - 92.5px);
        top: 10vh;
    }
    66.6% {
        right: -195px;
        top: 10vh;
    }
    100% {
        right: -195px;
        top: 10vh;
    }
}

@keyframes move-broom {
    0% {
        right: 100vw;
        top: 60vh;
    }
    66.6% {
        right: 100vw;
        top: 60vh;
    }
    80% {
        right: 30vw;
        top: 40vh;
    }
    90% {
        right: calc(-85px);
        top: 90vh;
    }
    100% {
        right: calc(-85px);
        top: 90vh;
    }
}

@keyframes move-hat-wizard {
    0% {
        right: -130px;
        top: 30vh;
    }
    85% {
        right: -130px;
        top: 30vh;
        transform: rotate(0deg);
    }
    100% {
        right: 100vw;
        top: 60vh;
        transform: rotate(1800deg);
    }
}

.ghost {
    position: fixed;
    right: -1000px;
    z-index: -2000;
    font-size: 20em;
    color: white;
    opacity: 0.2;
    animation-name: move-ghost;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
}

.broom {
    position: fixed;
    right: -1000px;
    z-index: -2000;
    font-size: 5em;
    color: orange;
    opacity: 0.5;
    animation-name: move-broom;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
}

.hat-wizard {
    position: fixed;
    right: -1000px;
    z-index: -2000;
    font-size: 10em;
    color: lightblue;
    opacity: 0.5;
    animation-name: move-hat-wizard;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
}
