body, input[type="text"], ::placeholder, a, a:active, a:visited, body.login-page .login form input[type=submit], .git-version, .schedule .chevron i, .login-page .sidebar-trigger {
    color: orange !important;
}

body {
    /*background-image: url('/static/themes/halloween/background.jpg');*/
    background-size: cover;
    background-attachment: fixed;
    animation: fade-in-out 2s ease-out infinite alternate;
}

body.login-page .day-name {
    color: orange !important;
}

.footer, .sidebar-trigger, .sidebar {
    display: none !important;
}

body.login-page input[type="text"], body.login-page input[type="password"], body.login-page input[type="submit"] {
    color: orange;
    background-color: #181a18;
    border: none;
}

body.login-page input[type="text"]::placeholder, body.login-page input[type="password"]::placeholder {
    opacity: 0.7;
}

body.login-page .logo {
    background-image: url(/static/img/logos/Login-Logo-halloween.svg);
}

body.login-page .center {
    background-color: rgba(0,0,0,0.8);
    padding: 23px 15px 0 15px;
    border-radius: 10px;
    position: relative;
    right: 15px;
}

.widget, .widget-title, .widget-content, .announcement, .event, .button, .btn-link, ul.nav {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

.header {
    background-color: orange;
    opacity: 0.8;
    z-index: 999;  /* set the z-index because opacity will set it to 0 */
}

ul.nav .selected {
    background-color: orange !important;
    opacity: 0.7;
}

ul.nav .selected a {
    color: white !important;
}

.logout-button {
    color: rgb(242,242,244) !important;
}

.btn-link {
    text-decoration: none;
    color: rgb(72, 72, 72);
    display: inline-block;
    line-height: 18px;
    padding: 0 3px;
    margin: 5px 0;
    font-size: 9px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgb(255 255 255 / 90%);
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f7f7f4;
    background: -moz-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: -webkit-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: linear-gradient(to bottom, #f7f7f4 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f4", endColorstr="#eaeaea", GradientType=0);
    border: 1px solid rgb(221, 221, 221);
    border-bottom-color: rgb(197, 197, 197);
    box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    behavior: url(/static/js/vendor/PIE/PIE.htc);
    font-size: 8pt;
    margin-right: 10px;
    border: none;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes move-ghost {
    0% {
        right: 120vw;
        top: 10vh;
    }
    20% {
        right: calc(25vw - 92.5px);
        top: 10vh;
    }
    30% {
        right: calc(25vw - 92.5px);
        top: 75vh;
    }
    40% {
        right: calc(75vw - 92.5px);
        top: 75vh;
    }
    46.6% {
        right: calc(75vw - 92.5px);
        top: 10vh;
    }
    66.6% {
        right: -195px;
        top: 10vh;
    }
    100% {
        right: -195px;
        top: 10vh;
    }
}

@keyframes move-broom {
    0% {
        right: 100vw;
        top: 60vh;
    }
    66.6% {
        right: 100vw;
        top: 60vh;
    }
    80% {
        right: 30vw;
        top: 40vh;
    }
    90% {
        right: calc(-85px);
        top: 90vh;
    }
    100% {
        right: calc(-85px);
        top: 90vh;
    }
}

@keyframes move-hat-wizard {
    0% {
        right: -130px;
        top: 30vh;
    }
    85% {
        right: -130px;
        top: 30vh;
        transform: rotate(0deg);
    }
    100% {
        right: 100vw;
        top: 60vh;
        transform: rotate(1800deg);
    }
}

.ghost {
    position: fixed;
    right: -1000px;
    z-index: -2000;
    font-size: 20em;
    color: white;
    opacity: 0.2;
    animation-name: move-ghost;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
}

.broom {
    position: fixed;
    right: -1000px;
    z-index: -2000;
    font-size: 5em;
    color: orange;
    opacity: 0.5;
    animation-name: move-broom;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
}

.hat-wizard {
    position: fixed;
    right: -1000px;
    z-index: -2000;
    font-size: 10em;
    color: lightblue;
    opacity: 0.5;
    animation-name: move-hat-wizard;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 2s;
}

@media (max-width: 550px) {
    .toggle-halloween-theme {
        position: fixed;
        bottom: 5px;
        right: 15px;
        font-size: 8pt;
        padding: 10px;
    }

    body.login-page .center {
        top: 360px;
    }
}