.btn-link {
    text-decoration: none;
    color: rgb(72, 72, 72);
    display: inline-block;
    line-height: 18px;
    padding: 0 3px;
    margin: 5px 0;
    font-size: 9px;
    font-weight: bold;
    text-shadow: none !important;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f7f7f4;
    background: -moz-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: -webkit-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: linear-gradient(to bottom, #f7f7f4 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f4", endColorstr="#eaeaea", GradientType=0);
    border: 1px solid rgb(221, 221, 221);
    border-bottom-color: rgb(197, 197, 197);
    box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    behavior: url(/static/js/vendor/PIE/PIE.htc);
    font-size: 8pt;
    margin-right: 10px;
    border: none;
}

@media (max-width: 550px) {
    .toggle-halloween-theme {
        position: fixed;
        bottom: 5px;
        right: 15px;
        font-size: 8pt;
        padding: 10px;
    }
}
