{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super}} - {% if action == "modify" %} Modify {% elif action == "add" %} Add {% endif %} Group
{% endblock %}

{% block main %}
<div class="announcements primary-content">
    <h2>
        {% if action == "modify" %} Modify {% elif action == "add" %} Add {% endif %} Group
    </h2>
    <form action="" method="post">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td><input type="submit" /></td></tr>
    </table>
    </form>
</div>
{% endblock %}
