{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Groups
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/groups.css' %}" />
{% endblock %}

{% block main %}
    <div class="primary-content">
        <div class="groups-header">
            <h2>
                Groups
            </h2>
            <span class="groups-icon-wrapper">
                <a class="button groups-add" href="{% url 'add_groups' %}">
                    <i class="fa fa-plus"></i>
                    Add
                </a>
            </span>
        </div>
        You are in the following groups:
        <ul>
            {% for group in user.groups.all %}
                <li>
                    <a href="#{{ group.id }}">{{ group }}</a>
                </li>
            {% empty %}
                (no groups)
            {% endfor %}
        </ul>
        <br />
        The following groups exist:
        <ul>
            {% for group in all_groups %}
                <li>
                    <a href="#{{ group.id }}">{{ group }}</a>
                </li>
            {% empty %}
                (no groups)
            {% endfor %}
        </ul>
    </div>
{% endblock %}