@use "colors" as *;

body {
    color: #B7B7B7;
    background-color: $page_background;
}

button, a.button, input[type="button"], input[type="submit"], input[type="reset"] {
    color: #B7B7B7;
    background-color: #151515;
    background-image: linear-gradient(to bottom, #0E0E0E 0%, #121212 100%);
    text-shadow: none;
    border-color: $dark_border;
}

button:hover, a.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: #CDCDCD;
    background-color: #1C1C1C;
    background-image: linear-gradient(to bottom, #1C1C1C 0%, #202020 100%);
}

.widget, .widget-content {
    background-color: $widget_background;
    border-color: $dark_border;
    border-width: 1px;
}

.widget-title {
    background: #151515;
    border-color: $dark_border;
}

.header .search input[type="text"] {
    background-color: $widget_background;
    color: white;
    font-weight: bold;
}

.main ul.nav > li {
    border-color: $dark_border;
}

input[type="text"] {
    background-color: $widget_background;
    border-color: $dark_border;
    color: white;
}

textarea {
    background-color: $widget_background;
    border-color: $dark_border;
    color: white;
}

.selectize-input {
    background-color: $widget_background !important;
    border-color: $dark_border !important;
    color: $text_primary !important;
}
/* who's big brain idea was it to make the stuff important??? */
.selectize-input input[type="text"] {
    background-color: $widget_background !important;
    border-color: $dark_border !important;
    color: $text_primary !important;
}

.selectize-dropdown {
    background: $widget_background;
    border: 1px solid $dark_border;
    outline: $dark_border;
}

.selectize-dropdown-content {
    background: $widget_background;
    border-color: $dark_border;
    color: $text_primary;
    scrollbar-color: $dark_border $widget_background;
}