@use "colors" as *;

.cke {
    background: $page_background !important;
    border-color: $dark_border !important;
}

.cke_top {
    background: $page_background !important;
}

.cke_contents iframe {
    background-color: $widget_background !important;
}