@use 'colors' as *;

.announcement, .club-announcements, .announcement-meta, .event {
    background: $announcement_background;
    border-color: $dark_border;
    border-radius: 5px;

    h3 > a.announcement-link {
        color: #D8D8D8 !important;
    }

    &-metadata {
        color: darkgray;
    }

    &.partially-hidden .announcement-toggle-content::after {
        background-image: linear-gradient(
                        to bottom,
                        rgba(255, 255, 255, 0),
                        black 80%
        );
    }

    &.club-announcements {
        background-color: rgb(24, 24, 24);
    }
}

.club-announcement-filters > .club-announcement-filter {
    background-color: $widget_background;
    border-color: $dark_border;
    outline-color: $dark_border;
}