@import './colors';

.day-picker {
    border-color: $dark_border;

    &-buttons button {
        border-color: $dark_border;
    }

    &-buttons button:hover {
        border-color: $dark_border;
    }

    .day {
        outline-color: $dark_border;
        scrollbar-color: $dark_border $widget_background;
    }
}

.search-wrapper {
    background-color: $widget_background;
    border-color: $dark_border;
}

#activity-picker {
    border-color: $dark_border;
    scrollbar-color: $dark_border $widget_background;

    * { /* for each child element */
        border-color: $dark_border;
        outline-color: $dark_border;
    }
}

#activity-detail {
    background-color: $widget_background;
    border-color: $dark_border;
}