@import './colors';

.filesystem {
    background-color: $widget_background;
    border-color: $dark_border;
}

.filesystem a {
    color: white;
}

table.directory-list a, table.directory-list a:link, table.directory-list a:visited, table.directory-list a:hover, table.directory-list a:active {
    color: $text_primary;
}