@import './colors';

body.login-page input {
    background-color: $widget_background;
    border-color: $dark_border;
    color: $text_primary;
}

body.login-page .login input[type="submit"] {
    background-color: $widget_background;
    border-color: $dark_border;
    color: $text_primary;
}

body.login-page input:hover {
    border-color: $accent_color;
}

body.login-page .login input[type="submit"]:hover {
    border-color: $accent_color;
}

.footer {
    background: $page_background;
}