@use 'colors' as *;

#questions .question [contenteditable="true"] {
    background-color: $widget_background;
    border-color: $dark_border;
}

input {
    background-color: $widget_background !important;
    border-color: $dark_border !important;
    color: white;
}

.poll {
    background-color: $page_background;
    font-weight: bold;
    border-color: $dark_border;
}