@use 'colors' as *;

.working {
    background-color: #00c951;
    color: $text_primary;
}

.broken {
    background-color: #efb100;
    color: $text_primary;
}

.error {
    background-color: #fb2c36;
    color: $text_primary;
}
