.logo {
    background-image: url("/static/img/logos/Login-Logo-schoology.svg");
    height: 70px;
    width: 200px;
}

.center {
	padding:  20px;
	border-radius: 5px;
	background-color: #dfdddd;
}

.footer {
	background:  rgba(242, 242, 242, 0.9);
}

body {
	background-image: url("/static/themes/april_fools/background.png") !important;
	background-size:  contain;
	color: #484848;
}

body.login-page input {
	background: linear-gradient(to bottom, #f7f7f4 0%, #eaeaea 100%);
    color: #484848;

    font-weight: bold;
    border: 1px solid rgba(0, 103, 127, 0.3);
}

body.login-page .login input[type="submit"] {
    color: #00677f;
}