.header .logo {
    background-image: url(/static/themes/april_fools/april_fools_logo.png);
}

.intranet-title h1 {
    color: #ECD294;
    font-weight: bold;
    font-size: 16pt;
}

.header {
    background: linear-gradient(90deg, #001135, #2b1de8, #ff2400, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #001135);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 60s ease infinite;
    -z-animation: rainbow 60s ease infinite;
    -o-animation: rainbow 60s ease infinite;
    animation: rainbow 60s ease infinite;
}

.nav .selected {
    background-color: #eab63b !important;
}

.widget, .nav {
    border: 2px solid #eab63b;
    border-color: #eab63b !important;
    box-shadow: 0 0 5px #efc96e;
}

.widget-title {
    border-bottom-color: #eab63b !important;
}

.nav li {
    border-color: #eab63b !important;
}

.chat-nav-icon {
    font-size: 18pt;
    position: relative;
}

.chat-iframe {
    width: 90vw;
    height: 90vh;
    border: 0;
}

.chat-warning {
    position: relative;
    top: 25px;
    right: 5vw;
    float: right;
}

@-webkit-keyframes animBg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 500px;
    }
}

@keyframes animBg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 500px;
    }
}

.ion-welcome-icons {
    height: 50px;
    width: 100%;
    background-image: url(https://ion.tjhsst.edu/static/img/icons.png);
    background-size: auto 150px;
    background-position: center -51px;
    background-repeat: repeat-x;
    position: absolute;
    top: 74%;
    margin-top: -25px;
    animation: animBg 20s linear infinite;
    -webkit-animation: animBg 20s linear infinite;
}

.ion-welcome-continue {
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    width: 120px;
}

@media (max-width: 767px) {
    .chat-warning {
        position: static;
        margin-bottom: 10px
    }
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

