.logo {
  background-image: url("/static/img/logos/Login-Logo-schoology.svg") !important;
  height: 70px;
  width: 200px;
}

.center {
  padding: 20px;
  border-radius: 5px;
  background-color: #dfdddd;
}

.footer {
  background: rgba(242, 242, 242, 0.9);
}

body {
  background-image: url("/static/themes/april_fools/background.png") !important;
  background-size: contain;
  color: #484848;
}

body.login-page input {
  background: linear-gradient(to bottom, #f7f7f4 0%, #eaeaea 100%);
  color: #484848;
  font-weight: bold;
  border: 1px solid rgba(0, 103, 127, 0.3);
}

body.login-page .login input[type="submit"] {
  color: #00677f;
}

ul.nav li.selected {
  background-color: #00677f;
}

.nav a, .nav a:active, .nav a:visited {
  color: #00677f;
}

a, a:active, a:visited {
  color: #00677f;
}

.main div.widgets .widget, button {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.fas {
  padding-top: 42.5%;
}

.admin-dashboard {
  border-bottom: #00677f;
}

#username-warning {
  color: #DD373A;
}

div.user-title h3 a {
  color: #DD373A;
}

button, a.button, input[type="button"], input[type="submit"], input[type="reset"] {
  border: 1px solid rgba(0, 103, 127, 0.3);
}
