<style type="text/css" scoped>

.ap-schedule-container {
    width: 100%;
    transition: margin-left 0.2s ease-in-out;
    overflow: hidden;
}

.ap-schedule-day {
    width: 450px;
    margin-left: 75px;
    float: left;
    display: none;
}

.dash-warning .ap-schedule-day {
    margin-left: 0px;
}

.ap-schedule-day .dbl {
    display: none;
}

.ap-schedule td {
    vertical-align: middle;
}

.login-warning, .dash-warning {
    overflow-x: hidden;
}

.aps {
    text-align: left;
}

.aps em {
    padding-left: 30px;
    font-style: normal;
}

.aps ul {
    font-style: italic;
    list-style: none;
}

.ap-right-arrow.button {
    display: none;
    position: absolute;
    /*right: -1px;*/
    left: calc(100% - 32px);
    width: 10px;
    height: calc(100% - 14px);
    top: -3px;
    z-index: 10;
    border-radius: 0 3px 3px 0;
    transition: left 0.2s ease-in-out;
}

.ap-right-arrow span {
    vertical-align: middle;
    top: 50%;
    position: absolute;
    height: 20px;
    margin-top: -10px;
    margin-left: -5px;
}

.ap-right-arrow .left {
    display: none;
}

.ap-right-arrow.left {
    left: 0;

}

.ap-right-arrow.left .left {
    display: block;
    margin-left: 0;
}

.ap-right-arrow.left .right {
    display: none;
}

@media (max-width: 600px) {
    .ap-schedule-container {
        width: 1500px;
    }

    .login-warning .ap-schedule-container {
        height: 130px;
        overflow-y: scroll;
    }

    .ap-schedule-day {
        margin: 0;
        width: 550px;
    }

    .ap-schedule-day h2 {
        width: 300px;
        float: left;
    }

    .ap-schedule-day .dbl {
        width: 200px;
        display: inline-block;
    }

    .ap-schedule-day .dty {
        display: none;
    }

    td.spacer {
        width: 50px;
    }

    .ap-right-arrow.button {
        display: block;
    }
}

@media (min-width: 600px) {
    .login-warning .ap-schedule-container {
        margin-left: 0 !important;
    }
}

.ap-schedule-day.day-{{ day }} {
    display: table;
}

</style>
<script type="text/javascript">
$(function() {
    apDate = function(date) {
        var d = parseInt(date.split("-")[2]);
        var e = $(".ap-schedule-day.day-"+d);
        if(e.length > 0) {
            $(".ap-schedule-day").hide();
            e.show();
        }
    }
    oscheduleBind = scheduleBind;
    scheduleBind = function() {
        apDate($(".schedule-outer .schedule").attr("data-date"));
        oscheduleBind();
    }
    {% if date %}
    apDate("{{ date|escape }}");
    {% endif %}
    $(".ap-right-arrow").click(function(e) {
        e.stopPropagation();
        var l = $(this).hasClass("left");
        if(l) {
            $(".ap-schedule-container").css('margin-left', 0);
            $(this).removeClass("left");
        } else {
            $(".ap-schedule-container").css('margin-left', '-240px');
            $(this).addClass("left");
        }
    })
});
</script>
<div class="ap-schedule-container">
<table class="ap-schedule-day day-7">
<tr>
    <td colspan=3>
        <h2>Monday, May 7<span class="dty"> - Blue Day</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Chemistry</span>
        <br />
        <ul>
            <li>Gym 2 (A - S)</li>
            <li>Lecture Hall (T - Z)</li>
        </ul>
        <span><b>8:40 AM:</b> Spanish Literature and Culture</span>
        <br />
        <ul>
            <li>Room 118</li>
        </ul>
        <span><b>1:15 PM:</b> Psychology</span>
        <ul>
            <li>Gym 2</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 1" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 1:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 2:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="1:10" data-block-end="2:30" data-block-order="4">
            <th class="block">Period 3:</th>
            <td class="times">1:10 - 2:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 4" data-block-start="2:40" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 4:</th>
            <td class="times">2:40 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-8">
<tr>
    <td colspan=3>
        <h2>Tuesday, May 8<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Spanish Lang</span>
        <ul>
            <li>Lecture Hall (A - Go)</li>
            <li>Library (Gr - Mar)</li>
            <li>Black Box (Mat - Z)</li>
        </ul>
        <br />
        <span><b>12:30 PM:</b> Art History</span>
        <ul>
            <li>Room 118</li>
        </ul>
        <br />
        <span><b>12:30 PM:</b> Physics I</span>
        <ul>
            <li>Room 12</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="1:10" data-block-end="3:00" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">1:10 - 3:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:10" data-block-end="4:00" data-block-order="7">
            <th class="block">Period 8B:</th>
            <td class="times">3:10 - 4:00</td>
            </tr></tbody></table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-9">
<tr>
    <td colspan=3>
        <h2>Wednesday, May 9<span class="dty"> - Blue Day (REVERSE ORDER)</span></h2>
        <h2 class="dbl">Blue Day (REVERSE ORDER)</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> English Lit</span>
        <ul>
            <li>Gym 2</li>
        </ul>
        <br />
        <span><b>1:00 PM:</b> Japanese Lang</span>
        <ul>
            <li>Library</li>
        </ul>
        <br />
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 4" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 4:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 3:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="1:10" data-block-end="2:30" data-block-order="4">
            <th class="block">Period 2:</th>
            <td class="times">1:10 - 2:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 1" data-block-start="2:40" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 1:</th>
            <td class="times">2:40 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-10">
<tr>
    <td colspan=3>
        <h2>Thursday, May 10<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> U.S. Gov</span>
        <ul>
            <li>Gym 2 (A - Kh)</li>
            <li>Lecture Hall (Ki - Mar)</li>
            <li>Room 57 (Mat - N)</li>
            <li>Room 59 (O - Raj)</li>
            <li>Room 214 (Ram - Sa)</li>
            <li>Room 215 (Sc - St)</li>
            <li>Room 12 (Su - Wang, J)</li>
            <li>Cafeteria (Wang, L - Z)</li>
        </ul>
        <br />
        <span><b>12:30 PM:</b> Chinese</span>
        <ul>
            <li>Library</li>
            <li>Room 118</li>
            <li>Black Box</li>
        </ul>
        <br />
        <span><b>12:30 PM</b> Env Sci</span>
        <ul>
            <li>Room 12</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:15" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:25" data-block-end="12:00" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:25 - 12:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:00" data-block-end="12:40" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:00 - 12:40</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="12:40" data-block-end="2:15" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">12:40 - 2:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8A" data-block-start="2:30" data-block-end="3:10" data-block-order="5">
            <th class="block">Period 8A:</th>
            <td class="times">2:30 - 3:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:20" data-block-end="4:00" data-block-order="6">
            <th class="block">Period 8B:</th>
            <td class="times">3:20 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-11">
<tr>
    <td colspan=3>
        <h2>Friday, May 11<span class="dty"> - Blue Day</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> US History</span>
        <ul>
            <li>Gym 2 (A - Krie)</li>
            <li>Lecture Hall (Kris - Pan)</li>
            <li>Room 57 (Pap - Reg)</li>
            <li>Room 59 (Rej - Tran, D)</li>
            <li>Room 214 (Tran, V - Wis)</li>
            <li>Room 215 (Wo - Z)</li>
        </ul>
        <br />
        <span><b>8:40 AM:</b> German</span>
        <ul>
            <li>Black Box</li>
        </ul>
        <br />
        <span><b>1:15 PM:</b> CS Principles</span>
        <ul>
            <li>Room 118</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 1" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 1:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 2:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="1:10" data-block-end="2:30" data-block-order="4">
            <th class="block">Period 3:</th>
            <td class="times">1:10 - 2:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 4" data-block-start="2:40" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 4:</th>
            <td class="times">2:40 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-14">
<tr>
    <td colspan=3>
        <h2>Monday, May 14<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Biology</span>
        <ul>
            <li>Room 57 (A - De)</li>
            <li>Room 59 (Dh - Joi)</li>
            <li>Room 214 (Jos - Mun)</li>
            <li>Room 215 (Mut - Sr)</li>
            <li>Room 12 (St - Z)</li>
        </ul>
        <br />
        <span><b>8:40 AM:</b> Music Theory</span>
        <ul>
            <li>Black Box</li>
        </ul>
        <br />
        <span><b>12:30 PM:</b> Physics C</span>
        <ul>
            <li>Gym 2</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="1:10" data-block-end="3:00" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">1:10 - 3:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:10" data-block-end="4:00" data-block-order="7">
            <th class="block">Period 8B:</th>
            <td class="times">3:10 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-15">
<tr>
    <td colspan=3>
        <h2>Tuesday, May 15<span class="dty"> - Blue Day (REVERSE ORDER)</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Calculus AB</span>
        <ul>
            <li>Gym 2 (A - Va)</li>
            <li>Room 12 (Ve - Z)</li>
        </ul>
        <br />
        <span><b>8:40 AM:</b> Calculus BC</span>
        <ul>
            <li>Cafeteria (A - G)</li>
            <li>Lecture Hall (H - Ling)</li>
            <li>Library (Lingam - Mah)</li>
            <li>Room 57 (Maj - Old)</li>
            <li>Room 59 (Ong - Qa)</li>
            <li>Room 214 (Qi - Set)</li>
            <li>Room 215 (Sh - Tian)</li>
            <li>Room 10 (To - Wu)</li>
            <li>Room 118 (Xu - Z)</li>
        </ul>
        <br />
        <span><b>12:30:</b> French</span>
        <ul>
            <li>Library (A - G)</li>
            <li>Room 118 (H - Ma)</li>
            <li>Black Box (Mo - Z)</li>
        </ul>
        <br />
        <span><b>12:30:</b> Computer Science A</span>
        <ul>
            <li>Gym 2 (A - Man)</li>
            <li>Lecture Hall (Mar - Su)</li>
            <li>Room 215 (Sub - Wi)</li>
            <li>Room 214 (Wo - Z)</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 4" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 4:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 3:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="1:10" data-block-end="2:30" data-block-order="4">
            <th class="block">Period 2:</th>
            <td class="times">1:10 - 2:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 1" data-block-start="2:40" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 1:</th>
            <td class="times">2:40 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-16">
<tr>
    <td colspan=3>
        <h2>Wednesday, May 16<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> English Lang</span>
        <ul>
            <li>Gym 2 (A - M)</li>
            <li>Lecture Hall (N - Sara)</li>
            <li>Room 57 (Sard - Wad)</li>
            <li>Room 59 (Wan - Z)</li>
        </ul>
        <br />
        <span><b>1:15 PM:</b> Macroeconomics</span>
        <ul>
            <li>Gym 2</li>
        </ul>
        <br />
        <span><b>12:15 PM</b> Italian</span>
        <ul>
            <li>Office</li>
        </ul>
        <br />
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="1:10" data-block-end="3:00" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">1:10 - 3:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:15" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 8B:</th>
            <td class="times">3:15 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-17">
<tr>
    <td colspan=3>
        <h2>Thursday, May 17<span class="dty"> - Blue Day</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> World History</span>
        <ul>
            <li>Gym 2</li>
        </ul>
        <br />
        <span><b>12:30 PM:</b> Statistics</span>
        <ul>
            <li>Gym 2</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 1" data-block-start="8:40" data-block-end="10:15" data-block-order="1">
            <th class="block">Period 1:</th>
            <td class="times">8:40 - 10:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="10:25" data-block-end="12:00" data-block-order="2">
            <th class="block">Period 2:</th>
            <td class="times">10:25 - 12:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:00" data-block-end="12:40" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:00 - 12:40</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="12:40" data-block-end="2:15" data-block-order="4">
            <th class="block">Period 3:</th>
            <td class="times">12:40 - 2:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 4" data-block-start="2:25" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 4:</th>
            <td class="times">2:25 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-18">
<tr>
    <td colspan=3>
        <h2>Friday, May 18<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Microeconomics</span>
        <ul>
            <li>Gym 2</li>
        </ul>
        <br />
        <span><b>8:40 AM:</b> Human Geography</span>
        <ul>
            <li>Black Box</li>
        </ul>
        <br />
        <span><b>12:30 PM:</b> Latin-Vergil</span>
        <ul>
            <li>Gym 2</li>
        </ul>
        <br />
        <span><b>12:30 PM:</b> European History</span>
        <ul>
            <li>Black Box</li>
        </ul>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:15" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:15" data-block-end="12:00" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:25 - 12:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:00" data-block-end="12:40" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:00 - 12:40</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="12:40" data-block-end="2:15" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">12:40 - 2:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8A" data-block-start="2:30" data-block-end="3:10" data-block-order="6">
            <th class="block">Period 8A:</th>
            <td class="times">2:30 - 3:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:20" data-block-end="4:00" data-block-order="7">
            <th class="block">Period 8B:</th>
            <td class="times">3:20 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
</div>

<a class="ap-right-arrow button">
    <span class='right'>
        <i class="fa fa-arrow-right"></i>
    </span>
    <span class='left'>
        <i class="fa fa-arrow-left"></i>
    </span>
</a>
