<style style="text/css">

body.has-login-warning .login-warning {
    overflow: hidden;
}

.ap-schedule-container {
    width: 1500px;
    overflow: hidden;
    zoom: 0.8;
    margin-left: -160px;
}

.ap-schedule-day {
    width: 450px;
    margin-left: 75px;
    float: left;
}

.ap-schedule-day .dbl {
    display: none;
}

.ap-schedule td {
    vertical-align: middle;
}

.aps {
    text-align: left;
}

.aps em {
    padding-left: 30px;
    font-style: normal;
}

.ap-schedule-day {
    display: none;
}

.ap-right-arrow.button {
    display: none;
    position: absolute;
    /*right: -1px;*/
    left: 289px;
    width: 10px;
    height: 116px;
    top: -3px;
    z-index: 1000000000000;
    border-radius: 0 3px 3px 0;    
}

.ap-right-arrow span {
    vertical-align: middle;
    top: 50%;
    position: absolute;
    height: 20px;
    margin-top: -10px;
    margin-left: -5px;
}

.ap-right-arrow .left {
    display: none;
}

.ap-right-arrow.left {
    left: 239px;

}

.ap-right-arrow.left .left {
    display: block;
    margin-left: 0;
}

.ap-right-arrow.left .right {
    display: none;
}

@media (max-width: 600px) {
    .ap-schedule-day {
        margin: 0;
        width: 550px;
    }

    .ap-schedule-day h2 {
        width: 300px;
        float: left;
    }

    .ap-schedule-day .dbl {
        width: 200px;
        display: inline-block;
    }

    .ap-schedule-day .dty {
        display: none;
    }

    td.spacer {
        width: 50px;
    }

    .ap-right-arrow.button {
        display: block;
    }
}

@media (min-width: 600px) {
    .login-warning .ap-schedule-container {
        margin-left: 0 !important;
    }
}

.ap-schedule-day.day-{{ day }} {
    display: block;
}

</style>
<script type="text/javascript">
$(function() {
    apDate = function(date) {
        var d = parseInt(date.split("-")[2]);
        var e = $(".ap-schedule-day.day-"+d);
        if(e.length > 0) {
            $(".ap-schedule-day").hide();
            e.show();
        }
    }
    oscheduleBind = scheduleBind;
    scheduleBind = function() {
        apDate($(".schedule-outer .schedule").attr("data-date"));
        oscheduleBind();
    }
    {% if date %} 
    apDate("{{ date|escape }}");
    {% endif %}
    $(".ap-right-arrow").click(function() {
        var l = $(this).hasClass("left");
        if(l) {
            $(".ap-schedule-container").animate({'margin-left':0}, 500);
            $(this).animate({'left': '289px'}, 500);
            $(this).removeClass("left");
        } else {
            $(".ap-schedule-container").animate({'margin-left':'-240px'}, 500);
            $(this).animate({'left': '0'}, 500);
            $(this).addClass("left");
        }
    })
});
</script>
<div class="ap-schedule-container">
<table class="ap-schedule-day day-2">
<tr>
    <td colspan=2>
        <h2>Monday, May 2<span class="dty"> - Blue Day</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Chemistry - Gym 2 (All)</span>
        <br />
        <span><b>8:40 AM:</b> Environmental Science - T15 (All)</span>
        <br />
        <span><b>1:00 PM:</b> Psychology - Gym 2 (All)</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 1" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 1:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 2:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="1:10" data-block-end="2:30" data-block-order="4">
            <th class="block">Period 3:</th>
            <td class="times">1:10 - 2:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 4" data-block-start="2:40" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 4:</th>
            <td class="times">2:40 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-3">
<tr>
    <td colspan=2>
        <h2>Tuesday, May 3<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Computer Science<br />
        <em>Gym 2 (A-S) &bull; Library (T-Z)</em></span>
        <br />
        <span><b>8:40 AM:</b> Spanish Lang - Room 69-70</span>
        <br />
        <span><b>12:30 PM:</b> Art History - T14 (All)</span>
        <br />
        <span><b>12:30 PM:</b> Physics I - T15 (All)</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:15" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:25" data-block-end="12:00" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:25 - 12:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:00" data-block-end="12:40" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:00 - 12:40</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="12:40" data-block-end="2:15" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">12:40 - 2:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8A" data-block-start="2:30" data-block-end="3:10" data-block-order="6">
            <th class="block">Period 8A:</th>
            <td class="times">2:30 - 3:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:20" data-block-end="4:00" data-block-order="7">
            <th class="block">Period 8B:</th>
            <td class="times">3:20 - 4:00</td>
            </tr></tbody></table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-4">
<tr>
    <td colspan=2>
        <h2>Wednesday, May 4<span class="dty"> - Blue Day</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> English Lit - Gym 2</span>
        <br />
        <span><b>12:50 PM:</b> Japanese Lang - T11</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 1" data-block-start="8:40" data-block-end="10:20" data-block-order="1">
            <th class="block">Period 1:</th>
            <td class="times">8:40 - 10:20</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="10:30" data-block-end="12:10" data-block-order="2">
            <th class="block">Period 2:</th>
            <td class="times">10:30 - 12:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:10" data-block-end="12:50" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:10 - 12:50</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="12:50" data-block-end="2:20" data-block-order="4">
            <th class="block">Period 3:</th>
            <td class="times">12:50 - 2:20</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 4" data-block-start="2:30" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 4:</th>
            <td class="times">2:30 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-5">
<tr>
    <td colspan=2>
        <h2>Thursday, May 5<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Calculus AB - Gym 2</span>
        <br />
        <span><b>8:40 AM:</b> Calculus BC - Gym 1 (A-Se)<br />
        <em>Library (Sh-Wa) &bull; Room 118 (We-Z)</em>
        </span>
        <br />
        <span><b>1:00 PM:</b> Chinese - Room 73, T11, T19</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="1:10" data-block-end="3:00" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">1:10 - 3:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:15" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 8B:</th>
            <td class="times">3:15 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
<table class="ap-schedule-day day-6">
<tr>
    <td colspan=2>
        <h2>Friday, May 6<span class="dty"> - Blue Day (REVERSE ORDER)</span></h2>
        <h2 class="dbl">Blue Day (REVERSE ORDER)</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> US History - Gym 2 (A-Se)<br />
        <em>Library (Sh-V) &bull; Room 118 (W-Z)</em></span>
        <br />
        <span><b>8:40 AM:</b> German - Room 61</span>
        <br />
        <span><b>1:00 PM:</b> Studio Art - Room 111</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 4" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block" style="color: red;font-weight:bold">Period 4:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block" style="color: red;font-weight:bold">Period 3:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="1:10" data-block-end="2:30" data-block-order="4">
            <th class="block" style="color: red;font-weight:bold">Period 2:</th>
            <td class="times">1:10 - 2:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 1" data-block-start="2:40" data-block-end="4:00" data-block-order="5">
            <th class="block" style="color: red;font-weight:bold">Period 1:</th>
            <td class="times">2:40 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-9">
<tr>
    <td colspan=2>
        <h2>Monday, May 9<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Biology - Gym 2</span>
        <br />
        <span><b>8:40 AM:</b> Music Theory - Room 118</span>
        <br />
        <span><b>12:20 PM:</b> Physics C: Mech - Gym 2</span>
        <br />
        <span><b>2:00 PM:</b> Physics C: E&amp;M - Gym 2</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:15" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:25" data-block-end="12:00" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:25 - 12:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:00" data-block-end="12:40" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:00 - 12:40</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="12:40" data-block-end="2:15" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">12:40 - 2:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8A" data-block-start="2:30" data-block-end="3:10" data-block-order="6">
            <th class="block">Period 8A:</th>
            <td class="times">2:30 - 3:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:20" data-block-end="4:00" data-block-order="7">
            <th class="block">Period 8B:</th>
            <td class="times">3:20 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-10">
<tr>
    <td colspan=2>
        <h2>Tuesday, May 10<span class="dty"> - Blue Day</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> U.S. Gov - Gym 2 (A-Pa)<br />
        <em>Library (Pe-R) &bull; Tesla Cmns (S-Sun, M)<br /></em>
        <em>249 (Sun, V-Vi) &bull; 250 (Vo-Yac)</em><br />
        <em>251 (Yal-Z)</em></span>
        <br />
        <span><b>12:20 PM:</b> French - Room 65, 66</span>
        <br />
        <span><b>12:20 PM:</b> Spanish Lit - Room 71</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 1" data-block-start="8:40" data-block-end="10:10" data-block-order="1">
            <th class="block">Period 1:</th>
            <td class="times">8:40 - 10:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="10:20" data-block-end="11:50" data-block-order="2">
            <th class="block">Period 2:</th>
            <td class="times">10:20 - 11:50</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="11:50" data-block-end="12:30" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">11:50 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="12:30" data-block-end="2:10" data-block-order="4">
            <th class="block">Period 3:</th>
            <td class="times">12:30 - 2:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 4" data-block-start="2:20" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 4:</th>
            <td class="times">2:20 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-11">
<tr>
    <td colspan=2>
        <h2>Wednesday, May 11<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> English Lang<br />
        <em>Gym 2 (A-S) &bull; Library (T-Z)</em></span>
        <br />
        <span><b>12:50 PM:</b> Macroeconomics (Gym 2)</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:30" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:40" data-block-end="12:30" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:40 - 12:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:30" data-block-end="1:10" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:30 - 1:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="1:10" data-block-end="3:00" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">1:10 - 3:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:15" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 8B:</th>
            <td class="times">3:15 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-12">
<tr>
    <td colspan=2>
        <h2>Thursday, May 12<span class="dty"> - Blue Day</span></h2>
        <h2 class="dbl">Blue Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> World History - Library</span>
        <br />
        <span><b>12:20 PM:</b> Statistics - Gym 2</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 1" data-block-start="8:40" data-block-end="10:05" data-block-order="1">
            <th class="block">Period 1:</th>
            <td class="times">8:40 - 10:05</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 2" data-block-start="10:15" data-block-end="11:40" data-block-order="2">
            <th class="block">Period 2:</th>
            <td class="times">10:15 - 11:40</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="11:40" data-block-end="12:20" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">11:40 - 12:20</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 3" data-block-start="12:20" data-block-end="2:05" data-block-order="4">
            <th class="block">Period 3:</th>
            <td class="times">12:20 - 2:05</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 4" data-block-start="2:15" data-block-end="4:00" data-block-order="5">
            <th class="block">Period 4:</th>
            <td class="times">2:15 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>

<table class="ap-schedule-day day-12">
<tr>
    <td colspan=2>
        <h2>Friday, May 13<span class="dty"> - Red Day</span></h2>
        <h2 class="dbl">Red Day</h2>
    </td>
</tr>
<tr>
    <td class="aps">
        <span><b>8:40 AM:</b> Microeconomics - Gym 2</span>
        <br />
        <span><b>12:20 PM:</b> Latin - Room 62, 64</span>
    </td>
    <td>
        <table class="bellschedule-table">
            <tbody><tr class="schedule-block" data-block-name="Period 5" data-block-start="8:40" data-block-end="10:15" data-block-order="1">
            <th class="block">Period 5:</th>
            <td class="times">8:40 - 10:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 6" data-block-start="10:25" data-block-end="12:00" data-block-order="2">
            <th class="block">Period 6:</th>
            <td class="times">10:25 - 12:00</td>
            </tr>
            <tr class="schedule-block" data-block-name="Lunch" data-block-start="12:00" data-block-end="12:40" data-block-order="3">
            <th class="block">Lunch:</th>
            <td class="times">12:00 - 12:40</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 7" data-block-start="12:40" data-block-end="2:15" data-block-order="4">
            <th class="block">Period 7:</th>
            <td class="times">12:40 - 2:15</td>
            </tr>
            <tr class="schedule-block" data-block-name="Break" data-block-start="2:15" data-block-end="2:30" data-block-order="5">
            <th class="block">Break:</th>
            <td class="times">2:15 - 2:30</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8A" data-block-start="2:30" data-block-end="3:10" data-block-order="6">
            <th class="block">Period 8A:</th>
            <td class="times">2:30 - 3:10</td>
            </tr>
            <tr class="schedule-block" data-block-name="Period 8B" data-block-start="3:20" data-block-end="4:00" data-block-order="7">
            <th class="block">Period 8B:</th>
            <td class="times">3:20 - 4:00</td>
            </tr>
            </tbody>
        </table>
    </td>
    <td class="spacer">
    </td>
</tr>
</table>
</div>

<a class="ap-right-arrow button">
    <span class='right'>
        <i class="fa fa-arrow-right"></i>
    </span>
    <span class='left'>
        <i class="fa fa-arrow-left"></i>
    </span>
</a>