{% extends "page_base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Login
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            /* Input */
            var $username = $("input[name=username]");
            var $password = $("input[name=password]");
            if(!$username.hasClass("error") && $password.hasClass("error")) {
                $password.focus();
            } else {
                $username.focus();
            }

            // /* Message */
            // $msg = $(".message");
            // $msg.click(function() {
            //     $(this).slideUp();
            // });
            // setTimeout(function() {
            //     $msg.slideUp();
            // }, 2000);

            /* Schedule */
            $(".schedule-left").click(function() {
                console.log("Last week");
            });
            $(".schedule-right").click(function() {
                console.log("Next week");
            })

            if($("body").hasClass("touch")) {
                $(".schedule-one, .schedule-two").fadeIn("slow");
                $(".schedule-four, .schedule-five").fadeIn("slow");
                $(".schedule-bottom").addClass("hovered");
            } else {
                $(".schedule-bottom").hover(function() {
                    $(".schedule-one, .schedule-two").fadeIn();
                    $(".schedule-four, .schedule-five").fadeIn();
                    $(".schedule-bottom").addClass("hovered");
                }, function() {
                    $(".schedule-one, .schedule-two").fadeOut();
                    $(".schedule-four, .schedule-five").fadeOut();
                    $(".schedule-bottom").removeClass("hovered");
                });
            }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="center-wrapper{% if request.GET.next %} wrapper-message{% endif %}">
    {% if not debug %}
        {% include "testing_warning.html" %}
    {% endif %}
        <div class="center">
            <div class="login">
                    <div class="title">
                        <div class="logo">
                        </div>
                        <h1>TJ Intranet</h1>
                    </div>
                {% if request.GET.next %}
                    <div class="message message-next">
                        Log in to access this page.
                    </div>
                {% endif %}
                <form {% if auth_form.errors %}autocomplete="off"{% endif %} action="/login{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
                    {% csrf_token %}
                    {% for field in auth_form %}
                        {{ field }}<br />
                    {% endfor %}
                    <input type="submit" value="Login" />
                </form>
            </div>
            {% include "schedule/view.html" %}
        </div>
    </div>
    <div class="verisign-seal-sm">
    </div>
    <script type="text/javascript">
    var __dcid = __dcid || [];__dcid.push(["verisign-seal-sm", "7", "m", "black", "5VDyXkwz"]);
    </script>
    <script type="text/javascript" async="" src="//seal.digicert.com/seals/cascade/seal.min.js"></script>

    <div class="git-version" title="{{ git_info.commit_info|escape }}">
        <i class="fa fa-flask"></i><span onclick="location.href = '{{ git_info.commit_github_url }}'">Revision {{ git_info.commit_short_hash }}</span>
    </div>
{% endblock %}
