{% extends "page_base.html" %}
{% load staticfiles %}

{% block title %}
    TJ {{ block.super }} - Login
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    {% if login_warning %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/emerg.css' %}" />
    {% endif %}
    {% if bg_pattern %}
        <style type="text/css">
        body {
            background-image: url('{{ bg_pattern }}');
        }
        </style>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/swregistration.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/schedule.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/spin.min.js' %}"></script>
{% endblock %}

{% block bodyclass %} login-page{% if login_warning %} has-login-warning{% endif %}{% endblock %}

{% block body %}
    <div class="center-wrapper{% if request.GET.next %} wrapper-message{% endif %}">
        {% if login_warning %}
            <div class="login-warning">{{ login_warning|safe }}</div>
        {% endif %}
        {% comment %}
        <div class="login-warning">
            {% include "board/login_text.html" %}
        </div>
        {% endcomment %}
        <div class="center">
            <div class="login">
                    <div class="title">
                        <div class="logo">
                        </div>
                        <h1>TJ Intranet</h1>
                    </div>
                {% if request.GET.next %}
                    <div class="message message-next">
                    {% if not user.is_anonymous %}
                        You cannot access this page.<br />
                    {% endif %}
                        Log in to access this page.
                    </div>
                {% endif %}
                {% if auth_message %}
                    <div class="message">
                    {{ auth_message }}
                    </div>
                {% endif %}
                <form {% if auth_form.errors %}autocomplete="off"{% endif %} action="/login" method="post" name="auth_form">
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next|escape }}" />
                {% elif request.POST.next %}
                    <input type="hidden" name="next" value="{{ request.POST.next|escape }}" />
                {% endif %}
                    {% csrf_token %}
                    {% for field in auth_form %}
                        {{ field }}<br />
                    {% endfor %}
                    <input type="submit" value="Login" />
                    <div class='spinner-container'></div>
                </form>
            </div>
            <div class="schedule-outer">
            {% include "schedule/view.html" %}
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="git-version" title="{{ git_info.commit_info|escape }}" data-github-url="{{ git_info.commit_github_url }}">
            <span id="revision">revision {{ git_info.commit_short_hash }}</span> &nbsp;<span id="git-oss">open source software &nbsp;</span><span id="git-logo"><i class="fa fa-flask git-flask"></i><i class="fa fa-github git-github"></i></span>
        </div>
        <div class="links">
            <a href="{% url 'about' %}">About/Credits</a> &nbsp; &mdash; &nbsp;
            <a href="https://www.tjhsst.edu">TJHSST</a> &nbsp; &mdash; &nbsp;
            <a href="https://webmail.tjhsst.edu">Webmail</a> &nbsp; &mdash; &nbsp;
            <a href="https://calendar.tjhsst.edu">Calendar</a>
        </div>
    </div>
    {% comment %}
    <div class="ssl-seal">
        <a href="https://seal.digicert.com/seals/popup/?tag=5VDyXkwz&amp;url=ion.tjhsst.edu&amp;lang=en_US" target="_blank">
            <img src="{% static 'img/digicert-seal.png' %}" />
        </a>
    </div>
    {% endcomment %}
{% endblock %}
