{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Ion - Login
{% endblock %}

{% block css %}
    <style type='text/css'>
        @import url('{% static 'css/login.css' %}');
    </style>
{% endblock %}

{% block js %}
    <script type='text/javascript'>
        $(document).ready(function() {
            $('input[name=username]').focus();
            $('input').each(function() {
                empty_text = 'This field is required.';
                if($(this).attr('value') == empty_text) {
                    $(this).addClass('empty');
                    $(this).attr('value', '');
                    $(this).attr('placeholder', empty_text);
                }
            })
        });
    </script>
{% endblock %}

{% block content %}
    {{ next }}
    <div class='login'>
        <h1>Welcome to TJ Intranet</h1>
        <p>Enter your username and password to log in:</p>
        {% if auth_form.errors %}
            <p class='error'>Invalid username or password</p>
        {% endif %}

        <form action='/login' method='post'>
            {% csrf_token %}
            {% for field in auth_form %}
                {{ field }}
            {% endfor %}
            <input type='submit' value='Login' />
        </form>
    </div>
{% endblock %}