{% extends "page_base.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    TJ {{ block.super }} - Reset Password
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'login' %}
    {% if bg_pattern %}
        <style>
        body {
            background-image: url('{{ bg_pattern }}');
        }
        </style>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/schedule.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/vendor/spin.min.js' %}"></script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/login' %}
        <script>spinnerOptions.color = "#FFF";</script>
    {% endif %}
{% endblock %}

{% block bodyclass %} login-page{% if login_warning %} has-login-warning{% endif %}{% endblock %}

{% block body %}
    <div class="center-wrapper{% if request.GET.next %} wrapper-message{% endif %}">
        <div class="center">
            <div class="login">
                    <div class="title">
                        <div class="logo">
                        </div>
                        <h1>TJ Intranet</h1>
                    </div>
                    <div class="message message-next">
                        {% if password_expired %}Your password has expired!{% else %}Use the form below to reset your password.{% endif %}
                    </div>
                <form autocomplete="off" method="post">
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next|escape }}">
                {% elif request.POST.next %}
                    <input type="hidden" name="next" value="{{ request.POST.next|escape }}">
                {% endif %}
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" aria-label="Enter username" value="{% if request.user.is_authenticated %}{{ request.user.username }}{% else %}{{ request.POST.username }}{% endif %}" {% if request.user.is_authenticated %}disabled{% endif %}>
                    <input type="password" name="old_password" class="{% if unable_to_set %}error{% endif %}" placeholder="Current Password" aria-label="Enter Current Password" {% if unable_to_set %}autofocus{% endif %}>
                    <input type="password" name="new_password" class="{% if not password_match %}error{% endif %}" placeholder="New Password" aria-label="Enter New Password">
                    <input type="password" name="new_password_confirm" class="{% if not password_match %}error{% endif %}" placeholder="Confirm New Password" aria-label="Confirm New Password">
                    <input type="submit" value="Reset">
                    <div class='spinner-container'></div>
                </form>
            </div>
            <div class="message message-info">Changing your password here will change it for ALL CSL services (Webmail, CSL Workstations, Remote Access Servers).</div>
        </div>
    </div>
{% endblock %}
