{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Schedule - {{ date }}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'schedule' %}
    <style>
    .primary-content {
        position: relative;
    }

    .bellschedule-table {
        position: absolute;
        width: 300px;
        left: 50%;
        margin-left: -150px;
        font-size: 18px;
    }

    .bellschedule-table thead th.special {
        font-size: 12px;
        text-align: right;
    }

    .bellschedule-table #id_name {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    .bellschedule-table td.block-order {
        width: 20px;
    }

    .bellschedule-table input[name=block_order] {
        width: 20px;
        text-align: center;
    }

    .bellschedule-table td {
        padding: 4px 0;
    }

    .bellschedule-table td.time {
        font-size: 12px;
        text-align: right;
    }

    .bellschedule-table td.submit > input {
        width: 100%;
        width: calc(100% - 6px);
    }

    .bellschedule-table td.add > button {
        width: 100%;
        width: calc(100% - 8px);
    }

    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/template" id="bellschedule-row-tpl">
        <tr>
            <td class="block-order">
                <input type="text" name="block_order" value=1 placeholder="#">
            </td>
            <th>
                <input type="text" name="block_name" value="" placeholder="Block Title">
            </th>
            <td class="time">
                Start: <input type="time" name="block_start" value="" size="5"><br>
                End: <input type="time"name="block_end" value="" size="5">
            </td>
            <td class="remove">
                <button class="block-remove">
                    <i class="fas fa-times"></i>
                </button>
            </td>
        </tr>
    </script>

    <script>
    $(document).ready(function() {
        var num_blocks = 1;
        var bt = $($("#bellschedule-row-tpl").html()).clone();
        bt.removeClass("tpl");
        add_block = function() {
            var clone = bt.clone();
            num_blocks = 0;
            $("input[name=block_order]").each(function() {
                num_blocks += 1;
            });
            num_blocks += 1;
            console.debug(num_blocks);
            $("input[name=block_order]", clone).val(num_blocks);
            $(".bellschedule-table > tbody").append(clone);
            update_buttons();
        }

        update_buttons = function() {
            $("button.block-remove").click(function() {
                $(this).parent().parent().remove();
                num_blocks = 0;
                $("input[name=block_order]").each(function() {
                    num_blocks += 1;
                    $(this).val(num_blocks);
                });
            });
        }

        $("button.block-add").click(function(event) {
            event.preventDefault();
            add_block();
        });

        update_buttons();

    })
    </script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/schedule' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content">
        <a href="{% url 'schedule_admin' %}" class="button">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <h2>{% if daytype %}Edit{% else %}Create{% endif %} Day Type</h2>

        {% if daytype %}
        <table>
            <tr>
                <td>
        <form action="{% url 'schedule_daytype' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ daytype.id }}">
            <input type="hidden" name="make_copy" value="1">
            <input type="submit" value="Make Copy">
        </form>
                </td>
                <td>
        <form action="{% url 'schedule_daytype' %}" method="post" onsubmit="return confirm('Are you sure you want to delete this day type?')">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ daytype.id }}">
            <input type="hidden" name="delete" value="1">
            <input type="submit" value="Delete">
        </form>
                </td>
                <td style="vertical-align: middle;">
                    For a line break, enter <b><code>&lt;br&gt;</code></b> in any field.
                </td>
            </tr>
        </table>
        {% endif %}

        <form action="{% url 'schedule_daytype' %}" method="post">
        {% csrf_token %}
        {% if daytype %}
            <input type="hidden" name="id" value="{{ daytype.id }}">
        {% endif %}

        {% if assign_date %}
            <input type="hidden" name="assign_date" value="{{ assign_date|escape }}">
            <b>Assigning to {{ assign_date|escape }}</b>
        {% endif %}

        <br><br>
            <table class="bellschedule-table">
            <thead>
                <tr>
                    <th colspan="3">
                        <input type="text" id="id_name" name="name" placeholder="Day Name" value="{% if daytype %}{{ daytype.name }}{% endif %}">
                    </th>
                </tr>
                <tr>
                    <th colspan="3" class="special">
                        <label for="special">Special</label>
                        <input type="checkbox" name="special"{% if daytype and daytype.special %} checked="checked"{% endif %}>
                    </th>
                </tr>
                <tr>&nbsp;</tr>
            </thead>
            <tbody>
            {% if daytype and daytype.blocks.count > 0 %}
            {% for block in daytype.blocks.all %}
                <tr>
                    <td class="block-order">
                        <input type="text" name="block_order" value={{ block.order }} placeholder="#">
                    </td>
                    <th>
                        <input type="text" name="block_name" value="{{ block.name }}" placeholder="Block Title">
                    </th>
                    <td class="time">
                        Start: <input type="time" name="block_start" value="{% if block.start.hour < 10 %}0{% endif %}{{ block.start }}" size="5"><br>
                        End: <input type="time" name="block_end" value="{% if block.end.hour < 10 %}0{% endif %}{{ block.end }}" size="5">
                    </td>
                    <td class="remove">
                        <button class="block-remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            {% else %}
                <tr>
                    <td class="block-order">
                        <input type="text" name="block_order" value=1 placeholder="#">
                    </td>
                    <th>
                        <input type="text" name="block_name" value="" placeholder="Block Title">
                    </th>
                    <td class="time">
                        Start: <input type="time" name="block_start" value="" size="5"><br>
                        End: <input type="time"name="block_end" value="" size="5">
                    </td>
                    <td class="remove">
                        <button class="block-remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </td>
                </tr>
            {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="submit" colspan="2">
                        <input type="submit" value="{% if daytype %}Modify{% else %}Create{% endif %}" class="button">
                    </td>
                    <td class="add">
                        <button class="block-add">
                            <i class="fas fa-plus"></i> Add Block
                        </button>
                    </td>
                </tr>
            </tfoot>
            </table>
        </form>
    </div>
{% endblock %}
