{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Schedule
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>

    <script>
function modify_daytype_form() {
    var v = $("select#modify_daytypes").val();
    location.href = "{% url 'schedule_daytype' %}/" + v;
    return false;
}

defaultFillWarning = function() {
    return confirm("\n>>> {{ month_name }} {{ year_name }} <<<\n\nThis operation will change all Mondays to 'Anchor Day,' Tuesday/Thursdays to 'Blue Day,' and Wednesday/Fridays to 'Red Day' on days that currently have no schedule in this month.\n\nThis operation cannot be undone. Continue?");
}

$(function() {
    $("select#modify_daytypes").selectize();


    $(".change-daytype-form #id_day_type").selectize();
    $(".change-daytype-form #id_date").datepicker();

    $(".change-daytype-button").click(function(event) {
        event.preventDefault();
        var td = $(this).parent().parent();
        console.debug("Change daytype", td);
        var pos = td.position();


        var fm = $(".change-daytype-form");
        fm.css(pos);
        fm.show();
        $("input[name=date]", fm).val($(this).attr("data-date"));

    });

    $(".make-copy-button").click(function(event) {
        event.preventDefault();
        console.debug("Make copy", $(this).parent().parent(), $(this).attr("data-id"));

        if(!confirm("Press OK to make a copy of '" + $(this).attr("data-name") + "', or hit Cancel to modify the original")) {
            location.href = $(this).attr("data-endpoint") + "/" + $(this).attr("data-id");
            return;
        }

        $.post($(this).attr("data-endpoint"), {
            "id": $(this).attr("data-id"),
            "make_copy": 1,
            "return_url": 1
        }, function(r) {
            console.info(r);
            location.href = r;
        });
    });

});
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    {% stylesheet 'schedule' %}
    <style>
    .primary-content h2 {
        text-align: center;
    }
    .schedule-month {
        width: 875px;
        height: 100%;
    }

    .schedule-month > tbody > tr > th {
        text-align: center;
    }

    .schedule-month > tbody > tr > td {
        position: relative;
        height: 150px;
        width: 175px;
        border: 1px solid black;
        padding: 0;
    }

    .schedule-month > tbody > tr > td > b {
        display: inline-block;
        margin: 4px 8px;
    }

    .schedule-month > tbody > tr > td > em.day {
        display: block;
        margin-top: -22px; /* keep in line with day */
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        font-weight: bold;
        font-style: normal;
    }

    .schedule-month .bellschedule-table th {
        padding: 0 8px;
    }

    .schedule-month .bellschedule-table td {
        padding: 0 8px;
    }

    .schedule-month > tbody > tr > td .buttons {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        margin: 8px -40px;
        text-align: center;
        left: 50%;
        width: 160px;
        height: 30px;
        margin-left: -80px;
    }

    .schedule-month > tbody > tr > td .buttons .button {
        padding: 4px 8px;
        font-size: 18px;
    }

    .schedule-month > tbody > tr > td:hover .buttons,
    .schedule-month > tbody > tr > td .buttons:hover,
    .schedule-month > tbody > tr > td .buttons:focus,
    .schedule-month > tbody > tr > td .buttons *:hover,
    .schedule-month > tbody > tr > td .buttons *:focus {
        visibility: visible;
    }

    .weekend {
        display: none;
    }

    form[name=modify_daytypes] {
        display: inline-block;
    }

    #modify_daytypes,
    form[name=modify_daytypes] .selectize-control {
        width: 250px;
        height: 40px !important;
    }

    .modify-daytype-table {
        height: 40px;
    }

    .modify-daytype-table tr td {
        padding: 0 5px;
        vertical-align: middle;
    }

    .change-daytype-form {
        display: none;
        position: absolute;
        border: 1px solid black;
        background: #f0f0f0;
        height: 150px;
        width: 215px;
        margin-left: -20px;
        z-index: 10;
    }

    .change-daytype-form tr {
        height: 42px;
    }

    .change-daytype-form .close {
        float: right;
    }

    .schedule-methods {
        display: inline-block;
        float: right;
    }

    </style>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/schedule' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content">
        <div class="change-daytype-form">
            <h2>Create Day Mapping</h2>
            <form action="{% url 'schedule_add' %}" method="post">
                {% csrf_token %}
                <table>
                    {{ add_form.as_table }}
                    <tr><td colspan="2" style="padding-left: 5px">
                        <input type="submit" value="Create Mapping">
                        <button class="close" onclick="$('.change-daytype-form').hide(); return false">
                            <i class="fas fa-times"></i>
                        </button>
                    </td></tr>
                </table>
            </form>
        </div>

        <form action="" name="modify_daytypes" onsubmit="return modify_daytype_form()">
        <table class="modify-daytype-table">
        <tr>
            <td>
                <select id="modify_daytypes">
                    <option value="">Modify DayType</option>
                {% for daytype in daytypes %}
                    <option value="{{ daytype.id }}">{{ daytype }}</option>
                {% endfor %}
                </select>
            </td>
            <td>
                <input type="submit" value="Modify">
                <a href="{% url 'schedule_daytype' %}" class="button">Create</a>
            </td>
        </tr>
        </table>
        </form>

        <div class="schedule-methods">
            <form action="" method="post" onsubmit="return defaultFillWarning()" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="default_fill" value="1">
                <input type="hidden" name="month" value="{{ this_month }}">
                <input type="submit" value="Fill Month with Defaults">
            </form>
            <form action="" method="post" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="delete_cache" value="1">
                <input type="submit" value="Clear Cache" class="small-button">
            </form>
        </div>

        <table class="schedule-month">
        <tbody>
        <tr>
            <th></th>
            <th>
                <a class="button" title="Last month" href="?month={{ last_month }}">
                <i class="fas fa-arrow-left"></i>
                </a>
            </th>
            <th colspan="1">
                <h2>{{ month_name }} {{ year_name }}</h2>
            </th>
            <th>
                <a class="button" title="Next month" href="?month={{ next_month }}">
                <i class="fas fa-arrow-right"></i>
                </a>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th class="weekend">Saturday</th>
            <th class="weekend">Sunday</th>
        </tr>
        {% for week in sch %}
        <tr>
            {% for day in week %}
            <td{% if forloop.counter == 6 or forloop.counter == 7 %} class="weekend"{% endif %}>
            {% if not day.empty %}
                <b>{{ day.day }}</b>
                {% if day.schedule %}
                        <em class="day">
                            <a href="{% url 'schedule_daytype' day.schedule.id %}" class="day-name {{ day.schedule.class_name }}">
                                {{ day.schedule.name|safe }}{% if day.dayobj.comment %} {{ day.dayobj.comment }}{% endif %}
                            </a>
                        </em>
                    <table class="bellschedule-table">
                    {% for blk in day.schedule.blocks.all %}
                        <tr>
                            <th>{{ blk.name|safe }}:</th>
                            <td> {{ blk.start.str_12_hr }} - {{ blk.end.str_12_hr }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    <em class="day">
                        {% if day.dayobj.comment %} {{ day.dayobj.comment }}{% endif %}
                    </em>
                    <br>
                    <b>No schedule assigned.</b>
                {% endif %}
                <span class="buttons"{% if not day.schedule %} style="visibility: visible"{% endif %}>

                    <a class="button change-daytype-button" title="Change Day Type" href="{% url 'schedule_add' %}?date={{ day.formatted_date }}" data-endpoint="{% url 'schedule_add' %}" data-date="{{ day.formatted_date }}">
                        <i class='edit fas fa-exchange-alt'></i>
                    </a>

                    {% if day.schedule %}
                        <a href="{% url 'schedule_daytype' day.schedule.id %}" class="button make-copy-button" title="Make Copy of Schedule" data-endpoint="{% url 'schedule_daytype' %}" data-id="{{ day.schedule.id }}" data-name="{{ day.schedule.name }}">
                            <i class='edit fas fa-reply'></i>
                        </a>
                    {% endif %}

                    <a href="{% url 'schedule_comment' %}?date={{ day.formatted_date }}" class="button make-comment-button" title="Add Comment on Day" data-endpoint="{% url 'schedule_comment' %}" data-date="{{ day.formatted_date }}">
                        <i class='edit fas fa-comment'></i>
                    </a>

                    <a href="{% url 'schedule_daytype' %}?assign_date={{ day.formatted_date }}" class="button" title="Custom Schedule">
                        <i class='edit fas fa-star'></i>
                    </a>
                </span>
            {% else %}
                &nbsp;
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock %}
