{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Schedule
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/schedule.css" %}" />
    <style type="text/css">
    .primary-content h2 {
        text-align: center;
    }
    .schedule-month {
        width: 875px
        height: 100%;
    }

    .schedule-month > tbody > tr > th {
        text-align: center;
    }

    .schedule-month > tbody > tr > td {
        position: relative;
        height: 150px;
        width: 175px;
        border: 1px solid black;
        padding: 0;
    }

    .schedule-month > tbody > tr > td > b {
        display: inline-block;
        margin: 4px 8px;
    }

    .schedule-month > tbody > tr > td > em.day {
        display: block;
        margin-top: -22px; /* keep in line with day */
        text-align: center;
        font-weight: bold;
    }

    .schedule-month .bellschedule-table th {
        padding: 0 8px;
    }

    .schedule-month .bellschedule-table td {
        padding: 0 8px;
    }

    .schedule-month > tbody > tr > td .buttons {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        margin: 8px;
    }

    .schedule-month > tbody > tr > td .buttons .button {
        padding: 4px 8px;
        font-size: 18px;
    }

    .schedule-month > tbody > tr > td:hover .buttons,
    .schedule-month > tbody > tr > td .buttons:hover,
    .schedule-month > tbody > tr > td .buttons:focus,
    .schedule-month > tbody > tr > td .buttons *:hover,
    .schedule-month > tbody > tr > td .buttons *:focus {
        visibility: visible;
    }

    .weekend {
        display: none;
    }

    </style>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <table class="schedule-month">
        <tbody>
        <tr>
            <th></th>
            <th>
                <a class="button" title="Last month" href="?month={{ last_month }}">
                <i class="fa fa-arrow-left"></i>
                </a>
            </th>
            <th colspan="1">
                <h2>{{ month_name }}</h2>
            </th>
            <th>
                <a class="button" title="Next month" href="?month={{ next_month }}">
                <i class="fa fa-arrow-right"></i>
                </a>
            </th>
            <th></th>
        </tr>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th class="weekend">Saturday</th>
            <th class="weekend">Sunday</th>
        </tr>
        {% for week in sch %}        
        <tr>
            {% for day in week %}
            <td{% if forloop.counter == 6 or forloop.counter == 7 %} class="weekend"{% endif %}>
            {% if not day.empty %}
                <b>{{ day.day }}.</b>
                {% if day.schedule %}
                    <em class="day {{ day.schedule.class }}">{{ day.schedule.name }}</em>
                    <table class="bellschedule-table">
                    {% for blk in day.schedule.blocks %}
                        <tr>
                            <th>{{ blk.name }}:</th>
                            <td> {{ blk.start }} - {{ blk.end }}</td>
                        </tr>
                    {% endfor %}
                    </table>
                    <span class="buttons">
                        <a class="button" title="Change Day Type">
                            <i class='edit fa fa-exchange'></i>
                        </a>
                        <a class="button" title="Custom Schedule">
                            <i class='edit fa fa-pencil'></i>
                        </a>
                    </span>
                {% else %}
                    <span class="button-center">
                        <a class="button" title="Create Day">
                            <i class='add fa fa-plus'></i>
                            Create Day
                        </a>
                    </span>
                {% endif %}
                
            {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </div>
{% endblock %}