{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Schedule - {{ date }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/schedule.css" %}" />
    <style type="text/css">

    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>Create Day</h2>
        <form action="" method="post">
            {{ form.as_table }}
        </form>
    </div>
{% endblock %}