{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Schedule
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/schedule.css" %}" />
    <style type="text/css">
    .primary-content h2 {
        text-align: center;
    }
    .schedule-month {
        width: 875px
        height: 100%;
    }

    .schedule-month > tbody > tr > th {
        text-align: center;
    }

    .schedule-month > tbody > tr > td {
        position: relative;
        height: 150px;
        width: 175px;
        border: 1px solid black;
        padding: 0;
    }

    .schedule-month > tbody > tr > td > b {
        display: inline-block;
        margin: 4px 8px;
    }

    .schedule-month > tbody > tr > td > em.day {
        display: block;
        margin-top: -22px; /* keep in line with day */
        text-align: center;
        font-weight: bold;
    }

    .schedule-month .bellschedule-table th {
        padding: 0 8px;
    }

    .schedule-month .bellschedule-table td {
        padding: 0 8px;
    }

    .schedule-month > tbody > tr > td .buttons {
        visibility: hidden;
        position: absolute;
        bottom: 0;
        margin: 8px;
    }

    .schedule-month > tbody > tr > td .buttons .button {
        padding: 4px 8px;
        font-size: 18px;
    }

    .schedule-month > tbody > tr > td:hover .buttons,
    .schedule-month > tbody > tr > td .buttons:hover,
    .schedule-month > tbody > tr > td .buttons:focus,
    .schedule-month > tbody > tr > td .buttons *:hover,
    .schedule-month > tbody > tr > td .buttons *:focus {
        visibility: visible;
    }

    </style>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <table class="schedule-month">
        <tbody>
        <tr>
            <th colspan="5">
            <h2>September</h2>
            </th>
        </tr>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
        </tr>
        {% for i in "1234" %}
        <tr>
            {% for j in "12345" %}
            <td>
                <b>{{ j }}.</b>
                <em class="day day-blue">Blue Day</em>
                <table class="bellschedule-table">
                {% for blk in dayobj.type.blocks.all %}
                    <tr>
                        <th>{{ blk.name }}:</th>
                        <td> {{ blk.start }} - {{ blk.end }}</td>
                    </tr>
                {% endfor %}
                </table>
                <span class="buttons">
                    <a class="button" title="Change Day Type">
                        <i class='edit fa fa-exchange'></i>
                    </a>
                    <a class="button" title="Custom Schedule">
                        <i class='edit fa fa-pencil'></i>
                    </a>
                </span>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </div>
{% endblock %}