{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Schedule - {{ date }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datetimepicker-2.4.3/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}" />

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/selectize.js-0.12.0/dist/js/standalone/selectize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datetimepicker-2.4.3/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        $("#id_date").datepicker();
    })
    </script>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <a href="{% url 'schedule_admin' %}" class="button">
            <i class="fa fa-arrow-left"></i> Back
        </a>
        <h2>Add Day Comment</h2>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Date</th>
                    <td><input type="text" name="date" id="id_date" value="{{ date }}" /></td>
                </tr>
                <tr>
                    <th>Comment</th>
                    <td><input type="text" name="comment" value="{{ comment }}" /></td>
                </tr>
                <tr><td colspan="2">
                    <input type="submit" value="Update Comment" />
                </td></tr>
            </table>
        </form>
    </div>
{% endblock %}