{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load pipeline %}
{% block title %}
    {{ block.super }} - Calendar
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/schedule.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript">
        var view = "{{ view }}";
        function setView(view_name){
            if(view_name == "month") {
                $("#view-div").html(`{% include "schedule/month.html" %}`)
            }
            else {
                $("#view-div").html(`{% include "schedule/week.html" %}`)
            }
        }
        $( document ).ready(function() {
            setView(view);
            $("#month-button").click(function(e){
                e.preventDefault();
                setView('month');
            });
            $("#week-button").click(function(e){
                e.preventDefault();
                setView('week');
            });
        });
    </script>

{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />


    {% stylesheet 'schedule' %}
    {% stylesheet 'login' %}

    <style type="text/css">
    body {
        background: transparent;
    }
    {% if signage %}
    body {
        zoom: 3;
    }
    {% endif %}
    .change-view {
        position: relative;
        z-index: 1;
        height: 20px;
    }
    .change-view a{
        float: right;
        margin: 5px;
    }
    </style>
{% endblock %}

{% block main %}
    <div class="change-view">
        <a id="week-button" class="button" href="#">Week</a>
        <a id="month-button" class="button" href="#">Month</a>
    </div>
    <div class="primary-content" id="view-div">
    </div>
{% endblock %}
