{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load pipeline %}
{% block title %}
    {{ block.super }} - Calendar
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/schedule.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript">
        var view = "{{ view }}";
        function setView(view_name){
            if(view_name == "month") {
                $("#view-div").html(`{% include "schedule/month.html" %}`);
            }
            else {
                $("#view-div").html(`{% include "schedule/week.html" %}`);
            }
        }
        $(document).ready(function() {
            setView(view);
            $("#month-button").click(function(e){
                e.preventDefault();
                setView('month');
            });
            $("#week-button").click(function(e){
                e.preventDefault();
                setView('week');
            });
        });
    </script>

{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'schedule' %}

    <style type="text/css">
    {% if signage %}
    body {
        background: transparent;
        zoom: 3;
    }
    {% endif %}
    .change-view {
        position: relative;
        z-index: 1;
        height: 20px;
    }
    .change-view a {
        float: right;
        margin: 5px;
    }
    </style>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/schedule' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="change-view">
        <a id="week-button" class="button" href="#">Week</a>
        <a id="month-button" class="button" href="#">Month</a>
    </div>
    <div class="primary-content" id="view-div">
    </div>
{% endblock %}
