{% load staticfiles %}
<div class="month-container">
    <a href="?date={{ last_month }}" title="Previous Month"><button><i class="fa fa-chevron-left"></i></button></a><span class="month-name">{{ current_month }}</span><a href="?date={{ next_month }}" title="Next Week"><button><i class="fa fa-chevron-right"></i></button></a>
</div>
<div class="schedule-container">
{% for week in weeks %}
<div class="schedule" data-endpoint="{% url 'week' %}" data-prev-date="{{ last_month }}" data-next-date="{{ next_month }}" data-date="{{ week.today }}">
            <table class="week-table">
        <tr>
    {% for day in week.days %}
    <td {% if week.today == day.sched_ctx.date_today %}class="today"{% endif %}>
            <h2 class="schedule-date">{{ day.sched_ctx.date|date:"D, N j" }}</h2>
         <br>
        {% if day.sched_ctx.dayobj %}
        <h2 class="day-name {{ day.sched_ctx.dayobj.day_type.class_name }}">{{ day.sched_ctx.dayobj.day_type.name|safe }}{% if day.sched_ctx.comment %} {{ day.sched_ctx.comment }}{% endif %}</h2>
            <br>
            <table class="bellschedule-table">
            {% for block in day.sched_ctx.blocks %}
                <tr class="schedule-block" data-block-name="{{ block.name|safe }}" data-block-start="{{ block.start.str_12_hr }}" data-block-end="{{ block.end.str_12_hr }}" data-block-order="{{ block.order }}">
                    <th class="block">{{ block.name|safe }}:</th>
                    <td class="times">{{ block.start.str_12_hr }} - {{ block.end.str_12_hr }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            {% if day.sched_ctx.is_weekday %}
                <h3 class="day-name">No schedule available</h3>
            {% else %}
                <h3 class="day-name">No school</h3>
            {% endif %}
        {% endif %}
        <br>
    </td>
    {% endfor %}
    </tr>
    
</table>
</div>
{% endfor %}
</div>
