{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "css/schedule.css" %}" />

<div class="schedule" data-endpoint="{% url 'schedule' %}" data-prev-date="{{ sched_ctx.date_yesterday }}" data-next-date="{{ sched_ctx.date_tomorrow }}">
    <a href="/?date={{ sched_ctx.date_yesterday }}" class="chevron schedule-left"><i class="fa fa-chevron-left"></i></a>
    {{ sched_ctx.date|date:"D, F j" }}
    <a href="/?date={{ sched_ctx.date_tomorrow }}" class="chevron schedule-right"><i class="fa fa-chevron-right"></i></a>
    <br>
    {% if sched_ctx.dayobj %}
        <h2>{{ sched_ctx.dayobj.day_type.name }}</h2>
        <br>
        <table class="bellschedule-table">
        {% for block in sched_ctx.blocks %}
            <tr>
                <th>{{ block.name }}:</th>
                <td>{{ block.start }} - {{ block.end }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        {% if sched_ctx.is_weekday %}
            No schedule available
        {% else %}
            No school
        {% endif %}
    {% endif %}
</div>
