{% block schedule %}
<div class="schedule">
    <a href="/" class="chevron schedule-left"><i class="fa fa-chevron-left"></i></a>
    {{ dayname }}
    <a href="/" class="chevron schedule-right"><i class="fa fa-chevron-right"></i></a>
    <br>
    {% if dayobj %}
        <h2>{{ dayobj.type.name }}</h2>
        <br>
        {% for blk in dayobj.type.blocks.all %}
            {{ blk.name }}: {{ blk.start }} - {{ blk.end }}<br>
        {% endfor %}
    {% else %}
        No schedule information available.
    {% endif %}
</div>

{% endblock %}