{% load staticfiles %}
{% load dates %}
{% if not request.GET.no_outer %}<div class="widget schedule-widget schedule-outer">{% endif %}
    <div class="widget-title">
        <h2>
            Bell Schedule
            <span class="schedule-arrows">
                <a href="/?date={{ sched_ctx.date_yesterday }}" class="chevron schedule-left"><i class="fa fa-chevron-left"></i></a>
                <span class="schedule-date">{{ sched_ctx.date|date:"D, N j" }}</span>
                <a href="/?date={{ sched_ctx.date_tomorrow }}" class="chevron schedule-right"><i class="fa fa-chevron-right"></i></a>
            </span>
        </h2>
        <!--div class="info">
            <a href="{% url 'eighth_signup' %}" class="ui-link">View more blocks</a>
        </div-->
    </div>
    <div class="widget-content schedule" data-endpoint="{% url 'schedule_widget' %}" data-prev-date="{{ sched_ctx.date_yesterday }}" data-next-date="{{ sched_ctx.date_tomorrow }}"{% if sched_ctx.dayobj %} data-daytype-name="{{ sched_ctx.dayobj.day_type.name }}"{% endif %}>
    {% if sched_ctx.dayobj %}
        {% for block in sched_ctx.blocks %}
            <div class="eighth-block">
                <div class="block-header">
                    {% if forloop.first %}
                        <span class="block-daytype-name day-name {{ sched_ctx.dayobj.day_type.class_name }}">{{ sched_ctx.dayobj.day_type.name }}</span>
                    {% endif %}
                    <div class="block-signup"{% if forloop.first %} style="top: 0"{% endif %}>
                        {{ block.name }}:
                    </div>
                    <a class="ui-link">
                        {{ block.start.str_12_hr }} - {{ block.end.str_12_hr }}
                    </a>
                </div>
            </div>
        {% endfor %}
        
    {% else %}
        {% if sched_ctx.is_weekday %}
            <div class="eighth-block">
                <div class="block-header">
                    <span class="block-noschedule">No schedule available</span>
                </div>
            </div>
        {% else %}
            <div class="eighth-block">
                <div class="block-header">
                    <span class="block-noschedule noschool">No school</span>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if user.is_eighth_admin %}
        <div class="schedule-admin">
            {% if sched_ctx.schedule_tomorrow %}
                <span title="{{ sched_ctx.date_tomorrow }}">
                    Tomorrow: <span class="{{ sched_ctx.schedule_tomorrow.day_type.class_name }}">{{ sched_ctx.schedule_tomorrow.day_type.name }}</span>
                </span>
            {% else %}
                <span style="color: red" title="{{ sched_ctx.date_tomorrow"><i class="fa fa-exclamation-triangle"></i> No schedule tomorrow</b>
            {% endif %}

            <a href="{% url 'schedule_admin' %}" class="button small-button" style="float: right">Schedule Admin</a>
        </div>
    {% endif %}
    </div>
    
{% if not request.GET.no_outer %}</div>{% endif %}