{% load dates %}
<div class="widget schedule-widget">
    <div class="widget-title">
        <h2>
            Bell Schedule
        </h2>
        <!--div class="info">
            <a href="{% url 'eighth_signup' %}" class="ui-link">View more blocks</a>
        </div-->
    </div>
    <div class="widget-content">
        {% include "schedule/view.html" %}
    </div>
</div>
<style type="text/css">
.schedule-widget {
    font-size: 13px;
    text-align: center;
}

.schedule-widget .schedule h2 {
    margin: 0;
    margin-bottom: -15px;
    text-align: center;
}

.schedule-widget .bellschedule-table {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.chevron i {
    font-weight: normal;
    font-size: 13px;
    width: 30px;
    display: inline-block;
    color: rgb(72,72,72);
}

.fa-chevron-right {
    text-align: right;
}

.fa-chevron-left {
    text-align: left;
}

</style>