@import "../colors";

body {
    color: #B7B7B7;
    background-color: #0D0D0B;
}

.inline-warning {
    color: black;
    background-color: #9F9F00;
    border-color: #9F9F00;
}

a, a:active, a:visited {
    color: #6082FF;
}

ul.nav {
    background-color: black;
    border-color: $darkborder;
}

.main ul.nav > li {
    border-color: $darkborder;
}

.nav a, .nav a:active, .nav a:visited {
    color: #B7B7B7;
}

ul.nav a:hover {
    color: #618EFF;
}

ul.nav li:not(.selected) a:hover i {
    color: #3065F4;
}

button, a.button, input[type="button"], input[type="submit"], input[type="reset"] {
    color: white;
    background-color: #121212;
    background-image: linear-gradient(to bottom, #0E0E0E 0%, #121212 100%);
    text-shadow: none;
    border-color: $darkborder;
}

button:hover, a.button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    color: white;
    background-color: #1C1C1C;
    background-image: linear-gradient(to bottom, #1C1C1C 0%, #202020 100%);
}

button:active, a.button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
    background-color: #282828;
    background-image: linear-gradient(to bottom, #262626 0%, #2A2A2A 100%);
}

button:focus, a.button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus {
    outline: none;
    background-color: #282828;
    background-image: linear-gradient(to bottom, #262626 0%, #2A2A2A 100%);
}

button:disabled, button:disabled:hover, a.button:disabled, a.button:disabled:hover, input[type="button"]:disabled, input[type="button"]:disabled:hover, input[type="submit"]:disabled, input[type="submit"]:disabled:hover, input[type="reset"]:disabled, input[type="reset"]:disabled:hover {
    color: #999;
    background-color: #333;
}

input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    background-color: black;
    color: white;
    border-color: $darkborder;
}

table.cke_dialog {
    input {
        color: black;
    }
}

.selectize-input {
    background-color: black !important;
    color: white;
    background-image: none !important;
    border-color: $darkborder !important;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    border-color: $darkborder !important;
}

.selectize-input > input {
    background-color: black !important;
    color: white;
}

.selectize-dropdown {
    background: black;
    color: white;

    &.single {
        border-color: $darkborder;
    }

    .active {
        background: #444;
        color: white;
    }
}

.selectize-dropdown-content {
    background: black;
    color: white;
}

a.btn-link:link, a.btn-link:visited, a.btn-link:hover, a.btn-link:active {
    color: white;
    background-color: black;
    text-shadow: none;
}

.btn-link {
    color: #B7B7B7;
    background-color: #08080B;
    background: linear-gradient(to bottom, #08080B 0%, #0F0F0F 100%);
}

.widget {
    border-color: $darkborder;
}

.widget, .widget-content {
    background-color: black;
}

.widget-title {
    background: #060606;
    border-color: $darkborder;
}

.header .search input[type="text"] {
    background-color: #0d0d0b;
    color: white;
    font-weight: bold;
}

.header .dropdown-menu {
    background-color: black;
    color: #B7B7B7;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.header .dropdown-menu .arrow {
    border-bottom-color: black;
}

.header .dropdown-menu a {
    color: #B7B7B7;
}

.header .dropdown-menu a:hover {
    color: #F4F4F4;
}

.header .dropdown-menu a.feedback {
    color: #00CC00;
}

.header .dropdown-menu a.feedback:hover {
    color: #00FF00;
}

.bordered-element {
    background-color: black;
    border-color: $darkborder;
}

table.fancy-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.075);
}

table.zebra tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.075);
}

.block-letter {
    color: #222;
}

.please-wait {
    background-color: #0F0F0F;
}

