.action-view {
    color: rgb(183, 183, 183);
}

svg path.a {
    fill: #444;
}

svg path.a[style*="stroke: black;"] {
    stroke: white !important;
}

@media (max-width: 550px) {
    .action-view.search-widget {
        &, .search-widget {
            background-color: black;
        }
    }
}
