@import "../colors";

.birthdays-widget .slash {
    color: white;
}

.birthdays-widget .birthday-field {
    color: white;
    border-color: $darkborder;
}

.no-activity-selected {
    color: #7F7F7F;
}

.btn-link {
    border-color: $darkborder;
}
