@import "../colors";

.dashboard-item-icon {
    opacity: 0.75;
}

.announcement {
    background: black;
    border-color: $darkborder;

    h3 > a.announcement-link {
        color: #D8D8D8 !important;
    }

    &-metadata {
        color: darkgray;
    }

    &.partially-hidden .announcement-toggle-content::after {
        background-image: linear-gradient(
                        to bottom,
                        rgba(255, 255, 255, 0),
                        black 80%
        );
    }
}

.announcement-icon-wrapper > a, .announcement h3 .announcement-icon-wrapper:hover .announcement-toggle {
    color: #9F9F9F;
}

.announcement-icon-wrapper > a:hover, .announcement h3 .announcement-icon-wrapper:hover .announcement-toggle:hover {
    color: #6060FF;
}

