@media (min-width: 500px) {
    .schedule-activity-page.floating .eighth-header {
        background-color: black;
    }
}

table.schedule-activity-grid thead {
    background-color: #262626;
}

tr.form-row.hidden .selectize-input::placeholder, tr.form-row.hidden input::placeholder, tr.form-row.hidden textarea::placeholder {
    color: white;
}

tr.form-row.scheduled .selectize-input, tr.form-row.scheduled input, tr.form-row.scheduled textarea {
    background-color: black;
}

