@import "../colors";

.active-block {
    background-color: #383838;
}

.block:hover {
    background-color: #282828;
}

.activity-icon {
    background-image: url("/static/img/Eighth-Icons-dark.svg");
}

.day-picker {
    border-color: $darkborder;

    &-buttons button {
        border-color: $darkborder;
    }

    .day {
        outline-color: $darkborder;
    }
}

.day a, .day a:hover {
    color: #F0F0F0;
}

.no-activity-selected {
    color: #888888;
}

.middle > .block-title {
    background-color: inherit;
}

.search-wrapper {
    background-color: black;
    border-color: $darkborder;
}

#activity-list li {
    &:nth-child(odd) {
        background-color: rgba(255, 255, 255, 0.07);
    }

    &.selected {
        background-color: #2B2B2B;
    }
}

h5 {
    background-color: #333;
    outline-color: $darkborder;
}

h3 > a, h3 > a:link, h3 > a:visited, h3 > a:hover, h3 > a:active {
    color: #B7B7B7;
}

#activity-detail {
    background-color: #0D0D0B;
    border-color: $darkborder;
}

#activity-picker {
    border-color: $darkborder;
}
