.active-block {
    background-color: #383838;
}

.block:hover {
    background-color: #282828;
}

.day a, .day a:hover {
    color: #F0F0F0;
}

.no-activity-selected {
    color: #888888;
}

.middle > .block-title {
    background-color: inherit;
}

.search-wrapper {
    background-color: black;
}

#activity-list li.selected {
    background-color: #2B2B2B;
}

h5 {
    background-color: #333;
}

h3 > a, h3 > a:link, h3 > a:visited, h3 > a:hover, h3 > a:active {
    color: #B7B7B7;
}

#activity-detail {
    background-color: #0D0D0B;
}

