@import "../colors";

.event {
    background-color: black;
    border: 1px solid $darkborder;
    font-weight: bold;
}

.event h3 > a.event-link {
    color: #B7B7B7 !important;
}

.event-icon-wrapper > a, .event h3 .event-icon-wrapper:hover .event-toggle {
    color: #9F9F9F;
}

.event-icon-wrapper > a:hover, .event h3 .event-icon-wrapper .event-toggle:hover, .event h3 .event-icon-wrapper:hover .event-toggle:hover{
    color: #6060FF;
}

a.button.no-attend-button:hover {
    color: #CC0000;
}

