@import "../colors";

.filesystem {
    background-color: #111;
    border-color: $darkborder;
}

.filesystem a {
    color: white;
}

table.directory-list a, table.directory-list a:link, table.directory-list a:visited, table.directory-list a:hover, table.directory-list a:active {
    color: #B7B7B7;
}

table.directory-list tr:hover {
    background-color: #333;
}

