.logo {
    background-image: url(/static/img/logos/Login-Logo-dark.svg);
}

body {
    background-color: #0D0D0B;
    color: #B7B7B7;
}

.footer {
    background: rgba(13, 13, 13, 0.5);
}

body.login-page input {
    background-color: black;
    color: #B7B7B7;
    font-weight: bold;
    border-color: rgba(0, 100, 255, 0.3);
}

body.login-page .login input[type="submit"] {
    color: #2058DF;
}

.login {
    border-bottom-color: rgba(255, 255, 255, .065);
}

.sidebar-trigger {
    color: #B7B7B7;
    background: #151515;
    background: linear-gradient(to bottom, #151515 0%, #181818 100%);
    border-color: #CCC;
}

.sidebar.has-events {
    background-color: #282828;
    border-right: 1px solid #333;
}

.git-version {
    color: rgba(255, 255, 255, 0.5);
}

.git-version:hover {
    color: rgba(0, 140, 220, 0.8);
}

body.login-page.has-snow {
    .center {
        background: rgba(100, 100, 100, 0.8);
    }

    @media (max-width: 500px), (max-height: 630px) {
        .center {
            background: none;
        }
    }

    .chevron i {
        color: #808080;
    }

    .git-version {
        color: rgba(255, 255, 255, 0.5);

        i, #revision {
            color: white;
        }
    }

    .footer {
        background: rgba(13, 13, 13, 0.7);
    }
}

