ul.nav {
    background-color: black;
}

.nav a, .nav a:active, .nav a:visited {
    color: #B7B7B7;
}

.nav-icon {
    background-position-y: 28px;
    opacity: 0.8;
}

.nav li:hover .nav-icon, .nav li.selected .nav-icon {
    opacity: 1;
}

@media(max-width: 550px) {
    .main ul.nav {
        background-color: #0D0D0B;
    }
}

