@import "../colors";

.poll {
    background-color: black;
    font-weight: bold;
    border-color: $darkborder;
}

.poll-icon-wrapper > a {
    color: #b7b7b7;
}

.poll-icon-wrapper > a:hover {
    color: #6060FF;
}

#questions .question {
    background-color: #2A2A28;
}

#questions .question [contenteditable="true"] {
    background-color: black;
    border-color: $darkborder;
}

#questions .choice {
    background-color: #3F3F3D;
}

#questions .actions {
    .fas:hover, .far:hover, .fab:hover {
        color: #6060FF;
    }
}

