.schedule-date {
    color: #B7B7B7;
}

.chevron .fa-chevron-left, .chevron .fa-chevron-right {
    color: #B7B7B7;
}

.schedule-widget .schedule h2 {
    font-weight: bold;
}

.schedule-widget .schedule h2.day-type-blue {
    color: #4F4FFF;
}

