.day-name.day-type-red {
    color: #DF2020;
}

.day-name.day-type-blue {
    color: #2020DF;
}

.change-daytype-form {
    border-color: white;
    background-color: #333
}

.month-container .fa {
    color: white;
}

input[type="time"] {
    background-color: black;
    color: white;
    border-color: #CCC;
}

