{% extends "page_with_nav.html" %}
{% load static %}
{% load svg %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Bus
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {{ block.super }}
    {% stylesheet 'bus' %}
    {% stylesheet 'polls' %}
    {% stylesheet 'dashboard' %}
    <style>
        svg text.extra-small {
            font-size: 90%;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        window.firstname = "{{ request.user.first_name }}";
        window.isAdmin = {{ admin | yesno:"true,false" }};
        window.isStudent = {{ request.user.is_student | yesno:"true,false" }}
        window.enableBusDriver = {{ enable_bus_driver | yesno:"true,false" }}
        window.label_status_strings = {
            "a": {
                empty_text: "No buses have arrived yet.",
                name: "Arrived",
                personal: "already here!"
            },
            "o": {
                empty_text: "All buses have arrived or are delayed.",
                name: "On Time",
                personal: "on time."
            },
            "d": {
                empty_text: "No delays.",
                name: "Delayed",
                personal: "delayed. 😢"
            },
        };
    </script>
    <script src="{% static 'js/vendor/reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'js/vendor/svg.min.js' %}"></script>
    {% if enable_bus_driver %}
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'>
    {% endif %}
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'js/bus.js' %}"></script>
    <script src="{% static 'js/vendor/underscore-min.js' %}"></script>
    <script src="{% static 'js/vendor/backbone-min.js' %}"></script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/bus' %}
    {% endif %}
{% endblock %}

{% block main %}
    {% verbatim %}
    <script type="text/template" id="personal-status">
        <% if (route_name !== "Empty route") { %>
            <h2 class="personal-status bordered-element">Hi <%= firstname %>, your bus (<strong><%= route_name %></strong>) is <%= label_status_strings[status].personal %> Have a great day!</h2>
        <% } else { %>
        {% endverbatim %}
            <h2 class="personal-status bordered-element">It looks like you don't have a bus registered. <a href="{% url 'preferences' %}#id_bus_route" target="_blank">Register.</a></h2>
        {% verbatim %}
        <% } %>
    </script>
    <script type="text/template" id="route-view">
        <span class="route-name"><%= route_name %></span>
        <br>
        <% if (bus_number) { %>
            <span class="bus-number"> #<%= bus_number %> </span>
        <% } else { %>
            <span class="bus-number"> No bus number recorded. </span>
        <% } %>
        <% if (isAdmin) { %>
            <select name="status" id="<%= id %>">
                <% for (var key in label_status_strings) { %>
                    <option value="<%= key %>" <% if (key === status) print("selected") %>> <%= label_status_strings[key].name %> </option>
                <% } %>
            </select>
        <% } %>
    </script>
    <script type="text/template" id="status-group-view">
        <% console.log(name, empty_text, collection)%>
        <h2 class="status"> <%= name %> </h2>
        <% if (collection.length === 0) { %>
            <h3 class="empty"> <%= empty_text %> </h3>
        <% } %>
    </script>
    <script type="text/template" id="action-button-view">
        <div class="action-button">
            <i class="<%= icon %>"></i><span class="action-button-text"> <%= text %></span>
        </div>
    </script>
    <script type="text/template" id="search-widget-view">
        <div class="search-widget">
            <i class="back-button fas fa-arrow-left"></i><select name="buses" id="buses"></select>
        </div>
    </script>
    {% endverbatim %}
    <script type="text/template" id="map-view">
        {% if enable_bus_driver %}
        <div id='map' class='busdriver-map'></div>
        <div id='bd-bus' class='busdriver-bus'></div>
        {% endif %}
        {% svg 'optimized_bus_map_v2' %}
    </script>
    <div class="primary-content">
        {% comment %}
        <div class="beta-warning bordered-element">
            Looking for Ion BusDriver? Click on a bus space, then click "skrt skrt".
        </div>
        {% endcomment %}
        <div class="info"> </div>
    </div>
{% endblock %}
