{% extends "page_with_nav.html" %}
{% load static %}
{% load svg %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Bus
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'bus' %}
    {% stylesheet 'polls' %}
    {% stylesheet 'dashboard' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        window.firstname = "{{ request.user.first_name }}";
        window.isAdmin = {{ admin | yesno:"true,false" }};
        window.label_status_strings = {
            "a": {
                empty_text: "No buses have arrived yet.",
                name: "Arrived",
                personal: "already here!"
            },
            "o": {
                empty_text: "All buses have arrived or are delayed.",
                name: "On Time",
                personal: "on time."
            },
            "d": {
                empty_text: "No delays.",
                name: "Delayed",
                personal: "delayed. 😢"
            },
        };
    </script>
    <script type="text/javascript" src="{% static 'js/vendor/reconnecting-websocket.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/svg.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bus.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/backbone-min.js' %}"></script>
{% endblock %}

{% block main %}
    {% verbatim %}
    <script type="text/template" id="personal-status">
        <% if (route_name !== "Empty route") { %>
            <h2 class="personal-status">Hi <%= firstname %>, your bus (<strong><%= route_name %></strong>) is <%= label_status_strings[status].personal %> Have a great day!</h2>
        <% } else { %>
            <h2 class="personal-status"> It looks like you don't have a bus registered. </h2>
        <% } %>
    </script>
    <script type="text/template" id="route-view">
        <span class="route-name"><%= route_name %></span>
        <br>
        <% if (bus_number) { %>
            <span class="bus-number"> #<%= bus_number %> </span>
        <% } else { %>
            <span class="bus-number"> No bus number recorded. </span>
        <% } %>
        <% if (isAdmin) { %>
            <select name="status" id="<%= id %>">
                <% for (var key in label_status_strings) { %>
                    <option value="<%= key %>" <% if (key === status) print("selected") %>> <%= label_status_strings[key].name %> </option>
                <% } %>
            </select>
        <% } %>
    </script>
    <script type="text/template" id="status-group-view">
        <% console.log(name, empty_text, collection)%>
        <h2 class="status"> <%= name %> </h2>
        <% if (collection.length === 0) { %>
            <h3 class="empty"> <%= empty_text %> </h3>
        <% } %>
    </script>
    {% endverbatim %}
    <div class="primary-content">
        <div class="info"> </div>
        <div class="map">
            {% svg 'optimized_bus_map' %}
        </div>
    </div>
{% endblock %}
