{% extends "page_with_nav.html" %}
{% load static %}
{% load svg %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Bus
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {{ block.super }}
    {% stylesheet 'bus' %}
    {% stylesheet 'polls' %}
    {% stylesheet 'dashboard' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include "bus/bus_head.html" %}
    <script type="module" src="{% static 'js/bus-morning.js' %}"></script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/bus' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2 class="welcome-text">Good morning!</h2>
        {% if admin %}
            <h2 class="title">Mark bus:</h2>
            <select id="buses">
                {% for bus in bus_list %}
                    <option value="{{ bus.id }}">{{ bus.route_name }}</option>
                {% endfor %}
            </select>
            <div class="update-button">
                <button id="a-button">Arrived</button>
                <button id="o-button">On Time</button>
                <button id="d-button">Delayed</button>
            </div>
        {% endif %}
        <br>
        <div>
            <h2 class="title green">
                <i class="fas fa-regular fa-check"></i>
                Arrived
            </h2>
            <div class="list" id="arrived"></div>
            <br>
            <h2 class="title blue">
                <i class="fas fa-regular fa-clock"></i>
                On Time
            </h2>
            <div class="list" id="ontime"></div>
            <br>
            <h2 class="title red">
                <i class="fas fa-regular fa-exclamation-circle"></i>
                Delayed
            </h2>
            <div class="list" id="delayed"></div>
        </div>
    </div>
{% endblock %}
