<html><body>
<p>
    <h3>SIS Import Complete</h3>
</p>

<p>
    You performed a SIS Import operation earlier at <b>{{ date }}</b>, and it has just been completed. Below is a log of the import process.
</p>

<hr>

<pre>{{ log }}</pre>

<hr>

{% if failure %}
<p style="color:red">
    Errors have been detected when running the import scripts. If the student information has not been imported correctly, please forward this email.
</p>
{% endif %}

<p>
    If there are any errors in the log, or the import was not successful, please forward this email to <a href="mailto:{{ help_email }}">{{ help_email }}</a>. Have a nice day!
</p>

{% include "email_footer.html" %}
</body></html>
