<div class='c-announce' ns='c-a'>
    <h1 class='c-header'>
        Announcements
    </h1>

    <div class='c-a-posts'>
        <div class='c-a-post'>
            <h2 class='c-a-header'>
                Parking Application Update
            </h2>

            <div class='c-a-status'>
                Jane Smith - 5 minutes ago - all students
            </div>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur lorem id velit placerat, non malesuada magna mollis. Nunc sed ligula mollis, luctus eros eu, adipiscing ipsum. Donec malesuada convallis egestas. Morbi sed cursus tellus. Mauris interdum cursus massa, at cursus elit. Fusce eu auctor velit, id luctus felis. Sed sem libero, cursus nec blandit sed, rutrum in velit. Vestibulum dapibus dui et lectus rutrum placerat eu ut lacus. Sed id lorem cursus, mattis lectus et, aliquet odio. Duis hendrerit dictum diam, sed ultricies elit condimentum vel. Morbi quis vehicula sem. Curabitur ultricies interdum sem a egestas.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consectetur lorem id velit placerat, non malesuada magna mollis. Nunc sed ligula mollis, luctus eros eu, adipiscing ipsum. Donec malesuada convallis egestas. Morbi sed cursus tellus. Mauris interdum cursus massa, at cursus elit. Fusce eu auctor velit, id luctus felis. Sed sem libero, cursus nec blandit sed, rutrum in velit. Vestibulum dapibus dui et lectus rutrum placerat eu ut lacus. Sed id lorem cursus, mattis lectus et, aliquet odio. Duis hendrerit dictum diam, sed ultricies elit condimentum vel. Morbi quis vehicula sem. Curabitur ultricies interdum sem a egestas.
            </p>
        </div>

    </div>
</div>