{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}TJ Intranet{% endblock %}</title>

    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&amp;subset=latin,latin-ext,cyrillic-ext,greek-ext,cyrillic,vietnamese,greek" rel="stylesheet" type="text/css">
     <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" />
     <!--[if IE 7]>
       <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
     <![endif]-->

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


    <script type="text/javascript" src="{% static "js/jquery-1.10.2.min.js" %}"></script>
</head>

<body>
    <div id="header">
        <div id="header-left">
            <a href="/" id="intranet-title">
                <div id="logo">
                </div>
                <h1>
                    Intranet
                </h1>
            </a>

            <div id="search-wrapper">
                <div id="search-icon">
                   <i class="icon-search"></i>
                </div>
                <input type="text" name="search" id="search-box" value="Search" onclick="this.value='';this.onclick=null;"></input>
            </div>
        </div>

        <div id="header-right">
            <span id="notifications">
                <span id="notifications-icon">
                    <i class="icon-bell-alt"></i>
                </span>
                <span id="notifications-count">
                    42
                </span>
            </span>
            <span id="user-dropdown-name">
                <i class="icon-user"></i>
                John Doe ▾
            </span>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

</body>
</html>