/* container table */
.eighth-table {
    width: 92%; /* be careful with this */
    width: calc(100% - 80px);

}
/* top table */
.eighth-week-header, .eighth-week {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* arrows */
.eighth-week-header td.arrow-b {
    text-align: left;
    cursor: pointer;
}

.eighth-week-header td.arrow-n {
    text-align: right;
    cursor: pointer;
}

/* title */
.eighth-week-header th {
    text-align: center;
    font-size: 28px;
}

/* weekday text */
.eighth-wk-days th {
    text-align: center;
}

.eighth-wk-days {
    border-bottom: 1px solid rgb(169,169,169);
    font-size: 14px;
}

/* blocks */
.eighth-wk-blocks > td {
    height: 100px;
    /* HACK: allows using bottom: 0 */
    position: relative;
    cursor: pointer;
    border: 1px solid rgb(216, 216, 216);
}
.eighth-wk-blocks > td:hover {
    background-color: white;
}
.eighth-wk-blocks > td.disabled, .eighth-wk-blocks > td.disabled:hover {
    background-color: inherit;
    cursor: auto;
}
/* icon shown to signify block (A), (B), etc */
.eighth-wk-blocks td .blk-block {
    float: left;
    background-color: rgb(255,72,72);
    height: 14px;
    max-width: 14px;
    line-height: 14px;
    padding: 0 4px;
    margin: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: white;
}
/* lock icon shown when activity can't be changed */
.eighth-wk-blocks td .blk-locked {
    float: right;
    padding: 4px 5px;

}
/* title of activity signed up for that block */
.eighth-wk-blocks td .blk-title {
    text-align: center;
    font-size: 18px;
}
/* spacer for days with no block (e.x. monday A) */
.eighth-wk-blocks td .blk-noblk {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* title for blocks where user isn't signed up for an activity */
.eighth-wk-blocks td .blk-title-nosel {
    
}
/* help text for when not signed up for an activity */
.eighth-wk-blocks td .blk-nosel-help {
    margin-top: 15px;
    text-align: center;
    color: rgb(169,169,169);
}

.eighth-wk-blocks td table.blk-detail {
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.eighth-wk-blocks td table.blk-detail tr th {
    text-align: right;
    padding-right: 10px;
}

.eighth-wk-blocks td table.blk-detail tr td {
    text-align: left;
    padding-left: 10px;
}

.eighth-wk-blocks td .blk-btns {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    /* visible on :hover */
    display: none;
}
.eighth-wk-blocks td:hover .blk-btns {
    display: block;
}

.blk-btn {
    padding: 3px 5px;
    border: 1px solid rgb(216, 216, 216);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(242,242,244);
}

.blk-btns {
    margin-top: 10px;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* bottom container */
.eighth-bottom-container {
    width: 100%;
    height: 100%;
}
.eighth-bottom-left {
    width: 70%;
}
.eighth-bottom-right {
    width: 30%;
}
.eighth-acts {
    width: 100%;
    height: 100%;
}
/* list on left */
.acts-list {
    /*width: 70%;*/
    height: 100%;
    outline: 1px solid black;
    //float: left;

}
/* group title */
.acts-group-title {
    font-size: 16px;
    //text-transform: uppercase;
    margin-bottom: 4px;
    opacity: .8;
    padding: .3em;
    font-weight: bold;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
/* activity row */
.act-row {
    cursor: pointer;
    color: rgb(2, 2, 2);
    display: block;
    font-size: 14px;
    height: 18px;
    padding: 6px 1px 3px 1px;
    position: relative;
}
/* activity title and .act-info */
.act-text {
    position: absolute;
    left: 30px;
}
/* sponsor and room information */
.act-info {
    padding-left: 20px;
    font-size: 11px;
}
/* favorite icon */
.fav-ico {
    position: absolute;
    right: 0;
}
.fav-ico .sched-ico.fav:hover {
    /* full heart icon */
    background-position: -273px 0px;
}


/* right side */
.acts-info {
    /*position: absolute;
    left: 71.5%;
    width: 28%;*/
    height: 100%;
    border: 1px solid black;
    //float: right;
}
.acts-info > div {
    padding: 5px;
}
/* default message */
.info-default {

}
.info-hide {
    display: none;
}
/* right title */
.info-title {
    font-size: 20px;
    text-align: center;
}
/* right desc */
.info-desc {
    font-size: 14px;
    width: 100%;
    height: auto;
}
.info-desc tr th {
    text-align: right;
    padding-right: 10px;
    max-width: 75px;
}
.info-desc tr td {
    text-align: left;
    padding-left: 10px;
}
ul.info-roster {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    column-count: 2;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    overflow: visible;
}
ul.info-roster li {
    white-space: nowrap;
    overflow: visible;
}
/* eighth icons (ripped from iodine) */
.sched-ico { 
    background-image: url(/static/img/eighth-pie-icons.png);
    display: block;
    float: left;
    height: 21px;
    width: 21px;
    margin: -3px 0px;
    margin-right: 3px;
}
.sched-ico.pie10 {
    background-position: -210px 0px;
}
.sched-ico.pie9 {
    background-position: -189px 0px;
}
.sched-ico.pie8 {
    background-position: -168px 0px;
}
.sched-ico.pie7 {
    background-position: -147px 0px;
}
.sched-ico.pie6 {
    background-position: -126px 0px;
}
.sched-ico.pie5 {
    background-position: -105px 0px;
}
.sched-ico.pie4 {
    background-position: -84px 0px;
}
.sched-ico.pie3 {
    background-position: -63px 0px;
}
.sched-ico.pie2 {
    background-position: -42px 0px;
}
.sched-ico.pie1 {
    background-position: -21px 0px;
}
.sched-ico.pie0 {
    background-position: 0px 0px;
}
.sched-ico.cancel {
    background-position: -231px 0px;
}
.sched-ico.restricted {
    background-position: -231px 0px;
}
.sched-ico.fav {
    background-position: -252px 0px;
}
.sched-ico.fav.fav-sel {
    background-position: -273px 0px;
}