{% extends "page_with_nav.html" %}
{% load static %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Bulk Create Enrichment Activities
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script>
        $(function() {
            $("#id_week_of").datetimepicker({
                timepicker: false,
                format: "Y-m-d",
                lazyInit: true
            });

            $("#id_links").selectize({
                placeholder: "Links",
                create: true
            })

            $("#id_groups_allowed").selectize({
                create: false
            })

            $("#id_groups_blacklisted").selectize({
                create: false
            });

            // name of <textarea> is description
            var editor = CKEDITOR.replace("id_description", {
                width: "600px"
            });

            $("form#event_form").on("submit", function(e) {
                if($("#id_title").val().match(/\bION\b/) || editor.getData().match(/\bION\b/)) {
                    // People frequently write "ION" instead of the correct spelling, "Ion." See https://github.com/tjcsl/ion/issues/805
                    Messenger().error('We have detected the use of "ION" in all caps in your event. Please correct it to use "Ion", <a href="/docs/terminology" target="_blank" style="color:#7F7FFF">the official name</a>.');
                    e.preventDefault();
                    return;
                }
            });
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {% stylesheet 'announcements.form' %}
    {% stylesheet 'enrichment' %}
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/events' %}
        {% stylesheet 'dark/cke' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="events enrichment announcements primary-content">
        <h2>Bulk Create Enrichment Activities</h2>
        <p>Choose a week for your activity, and check off the days you want. One activity will be created for each checked day.</p>
        <form method="post" id="event_form">
            <table>
                {% csrf_token %}
                <tr><th>{{ form.title.label_tag }}</th><td>{{ form.title }}{{ form.title.errors }}</td></tr>

                <tr><th>{{ form.description.label_tag }}</th><td>{{ form.description }}{{ form.description.errors }}</td></tr>

                <tr><th>{{ form.capacity.label_tag }}</th><td>{{ form.capacity }}{{ form.capacity.errors }}</td></tr>

                <tr><th>{{ form.location.label_tag }}</th><td>{{ form.location }}{{ form.location.errors }}</td></tr>

                <tr><th>{{ form.groups_allowed.label_tag }}</th><td>{{ form.groups_allowed }}{{ form.groups_allowed.errors }}</td></tr>

                <tr><th>{{ form.groups_blacklisted.label_tag }}</th><td>{{ form.groups_blacklisted }}{{ form.groups_blacklisted.errors }}</td></tr>

                <tr><th>{{ form.presign.label_tag }}</th><td>{{ form.presign }}{{ form.presign.errors }}</td></tr>

                <tr><th>{{ form.week_of.label_tag }}</th><td>{{ form.week_of }}{{ form.week_of.errors }}</td></tr>

                <tr><th>{{ form.activity_time.label_tag }}</th><td>{{ form.activity_time }}{{ form.activity_time.errors }}</td></tr>
                <tr>
                    <td><b>Days of the week:</b></td>
                    <td>
                        <div class="weekday-checkboxes">
                            {# creates a day checkbox within the weekday checkboxes for each day #}
                            <label class="day-checkbox">{{ form.monday }} {{ form.monday.label }}</label>
                            <label class="day-checkbox">{{ form.tuesday }} {{ form.tuesday.label }}</label>
                            <label class="day-checkbox">{{ form.wednesday }} {{ form.wednesday.label }}</label>
                            <label class="day-checkbox">{{ form.thursday }} {{ form.thursday.label }}</label>
                            <label class="day-checkbox">{{ form.friday }} {{ form.friday.label }}</label>
                        </div>
                        {% if form.non_field_errors %}
                            {{ form.non_field_errors }}
                        {% endif %}
                    </td>
                </tr>
                <tr><td>&nbsp;</td><td>
                    <input type="submit" style="width: 270px" value="Bulk Create Enrichment">
                </td></tr>
            </table>
        </form>
    </div>
{% endblock %}
