body, .widget, .announcement, .event, .header, ul.nav, .widget-title, .widget-content, .eighth-signup, .info {
    opacity: 0.95;
}

div#activity-detail {
    opacity: 0.9;
}

/* Transparent header
.intranet-title h1, .dropdown-item-wrapper, .absence-icon, .snow-info-container {
    color: #0048ab;
}

.logout-button {
    color: #0048ab !important;
}

.logo {
    background-image: url(/static/img/logos/logo-blue.svg) !important;
}

.search, .search input[type=text] {
    background-color: #c7c5c5 !important;
}

.dropdown-icon {
    background-color: rgba(0, 72, 171,0.8);
    border-radius: 5px;
}

.header {
    background: none;
}
*/

.center {
    padding: 20px;
    margin: -20px;
    margin-top: -290px;
    background: rgba(242,242,242,.8);
    border-radius: 10px;
}

.footer {
    background: rgba(242, 242, 242, 0.7);
}

.footer a {
    position: relative;
    top: 3px;
    color: black;
}

.git-version {
    bottom: 0;
}

.git-version i, .git-version #revision {
    color: black;
}

.header {
    z-index: 1050;
}

@media (max-width: 500px), (max-height: 630px) {
    .center {
        padding: 0;
        margin: 0;
        margin-top: -270px;
        background: none;
        border-radius: 0;
    }

    body {
        /* rgba(242,242,242,0.7) on black */
        background: rgb(242,242,242)
    }

    .footer {
        background: none;
    }
}

.btn-link {
    text-decoration: none;
    color: rgb(72, 72, 72);
    display: inline-block;
    line-height: 18px;
    padding: 0 3px;
    margin: 5px 0;
    font-size: 9px;
    font-weight: bold;
    text-shadow: none !important;
    white-space: nowrap;
    border-radius: 3px;
    background: #f7f7f4;
    background: -moz-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: -webkit-linear-gradient(top, #f7f7f4 0%, #eaeaea 100%);
    background: linear-gradient(to bottom, #f7f7f4 0%, #eaeaea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f7f7f4", endColorstr="#eaeaea", GradientType=0);
    border: 1px solid rgb(221, 221, 221);
    border-bottom-color: rgb(197, 197, 197);
    box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    appearance: none;
    behavior: url(/static/js/vendor/PIE/PIE.htc);
    font-size: 8pt;
    margin-right: 10px;
    border: none;
}

.snow-nav-icon {
    font-size: 16pt;
    position: relative;
    top: 3px;
    left: 4px;
}

.nav-toggle-snow-text {
    position: relative;
    bottom: 9px;
    left: 15px;
}

.snow-nav-info-icon-1 {
    font-size: 9pt;
    position: relative;
    top: 3px;
    right: 6px;
}

.snow-nav-info-icon-2 {
    font-size: 10pt;
    position: relative;
    top: 3px;
    left: 7px;
}

.snow-streak-info {
    cursor: help;
}

.decrease-snow-streak {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .toggle-theme {
        position: fixed;
        bottom: 5px;
        right: 15px;
        font-size: 8pt;
        padding: 10px;
    }
    .streak-info {
        display: none !important;
    }
}

