body {
    background: black;
}

.center {
    padding: 20px;
    margin: -20px;
    margin-top: -270px;
    background: rgba(242,242,242,.8);
    border-radius: 10px;
}

.footer {
    background: rgba(242, 242, 242, 0.7);
}

.footer a {
    position: relative;
    top: 3px;
    color: black;
}

.git-version {
    bottom: 0;
}

.git-version i, .git-version #revision {
    color: black;
}