{% load static %}
{% load dates %}
{% load cacheops %}
{% load pipeline %}
{% stylesheet 'hoco_ribbon' %}
    <div class="ribbon">
      <div class="medallion"></div>

      <div class="ribbon-1">
        <span class="inner">
          <span class="fadeLeft">It's</span>
        </span>
      </div>

      <div class="ribbon-2">
        <span class="inner">
          <span class="fadeRight">Homecoming!</span>
        </span>
      </div>

      <div class="ribbon-3">
        <span class="inner">
          <span class="fadeLeft"><a href="https://homecoming.tjhsst.edu/" target="_blank" rel="noopener noreferrer">https://homecoming.tjhsst.edu/</a></span>
        </span>
      </div>

      <div class="ball fadeIn">
        <span class="ball-text">
          <strong>Gooooo</strong>
          Colonials!
        </span>
      </div>
    </div>
    <br>
    <script src="{% static 'js/hoco_ribbon.js' %}"></script>
