{% load static %}
{% load dates %}
{% load cacheops %}
{% load pipeline %}
{% stylesheet 'hoco_scores' %}
<script type="text/javascript" src="{% static 'js/hoco_scores.js' %}"></script>
<div id="hoco-scores">
    <div class="box">
        <div class="class">2017</div>
        <div class="corner-ribbon"></div>
        <div class="score" id="score-senior">0</div>
        points
    </div>
    <div class="box">
        <div class="class">2018</div>
        <div class="corner-ribbon"></div>
        <div class="score" id="score-junior">0</div>
        points
    </div>
    <div class="box">
        <div class="class">2019</div>
        <div class="corner-ribbon"></div>
        <div class="score" id="score-sophomore">0</div>
        points
    </div>
    <div class="box">
        <div class="class">2020</div>
        <div class="corner-ribbon"></div>
        <div class="score" id="score-freshman">0</div>
        points
    </div>
</div>
