#fireworks-overlay {
    opacity: 0;
    transition: opacity 0.6s ease;
}

#fireworks-overlay.show {
    opacity: 1;
}

#fireworks-btn {
    width: 23px;
    margin-left: 15px;
    float: right;
}

#new-years-overlay {
    position: absolute;
    width: 115px;
    top: 0;
    left: 0;
    transform: translateX(-12px) translateY(-11px);
    z-index: 0;
    filter: brightness(150%) saturate(200%);
}

@media (max-width: 680px) {
    #fireworks-btn {
        margin-left: 5px;
    }
}
