{% extends "oauth2_provider/base.html" %}

{% load i18n %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    <style>
        textarea {
            max-height: 100px;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% if request.user.oauth_and_api_access %} {# Show unauthorized users as little as possible #}
        <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
        <script>
            $(document).ready(function() {
                let client_type_desc = {
                    "confidential": "You should select this option if you have a server backend.",
                    "public": "Select this option if you do not have a server backend to perform authentication."
                };

                let client_grant_desc = {
                    "authorization-code": "Your application will redirect the user to Ion to login.",
                    {% comment "Disabled - see oauth.models.CSLApplication" %}
                    "implicit": "The application does authentication purely on the client, and there is no server backend.",
                    "password": "Your application will collect the user's username and password and pass it to Ion.",
                    "openid-hybrid": "This option is not currently supported on Ion. You can select it, but your application will not work."
                    {% endcomment %}
                    "client-credentials": "Your application does not have a user login. Must be confidential type.",
                };

                $("#id_client_type").selectize({
                    render: {
                        option: function(item, esc) {
                            return "<div><b>" + item.text + "</b>" + (item.value == "confidential" ? " (Recommended)" : "") + "<br>" + client_type_desc[item.value] + "</div>";
                        }
                    }
                });
                $("#id_authorization_grant_type").selectize({
                    render: {
                        option: function(item, esc) {
                            return "<div><b>" + item.text + "</b>" + (item.value == "authorization-code" ? " (Recommended)" : "") + "<br>" + client_grant_desc[item.value] + "</div>";
                        }
                    }
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
{% if request.user.oauth_and_api_access %}
<a href="/oauth/applications/{{ application.id }}" class="back-button button">
    <i class="fas fa-arrow-left"></i> Back
</a>

<div class="block-center">
    <form class="form-horizontal" method="post" action="{% block app-form-action-url %}{% url 'oauth2_provider:update' application.id %}{% endblock app-form-action-url %}">
        <h3 class="block-center-heading">
            {% block app-form-title %}
                {% trans "Edit application" %} {{ application.name }}
            {% endblock app-form-title %}
        </h3>

        {% block app-form-description %}
            <center>
                For more information on how to use Ion OAuth, click <a target="_blank" href="https://guides.tjhsst.edu/ion/using-ion-oauth">here</a>.
            </center>
            <hr noshade>
        {% endblock %}

        {% csrf_token %}

        {% for field in form %}
            <div class="control-group {% if field.errors %}error{% endif %}">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field }}
                    {% for error in field.errors %}
                        <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div class="control-group {% if form.non_field_errors %}error{% endif %}">
            {% for error in form.non_field_errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary pull-right"><i class="fas fa-check"></i> Save</button>
            </div>
        </div>
    </form>
</div>
{% else %}
    <h3 class="block-center-heading">You are not authorized to access this page.</h3>
{% endif %}
{% endblock %}
