{% extends "oauth2_provider/base.html" %}

{% load i18n %}

{% block css %}
    {{ block.super }}
    <style>
        .block-center {
            text-align: center;
        }

        h3.block-center-heading {
            height: auto;
        }

        .center-wrapper {
            font-size: 16px;
        }

        .center-wrapper ul {
            padding-left: 50%;
            margin-left: -41px;
            width: 120px;
        }

        .center-wrapper li {
            text-align: left;
        }

    </style>
{% endblock %}

{% block back %}
    {% if request.GET.client_id not in DJANGO_SETTINGS.IOS_APP_CLIENT_IDS %}
        {{ block.super }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="block-center">
        {% if request.GET.client_id in DJANGO_SETTINGS.IOS_APP_CLIENT_IDS %}
            <h2 style="height: initial; white-space: initial; padding: 5px 10px;">Please do not use the unofficial Ion iOS app</h2>
            <p style="padding: 10px 0px">The app is not maintained by the Sysadmins and has been known to display incorrect signup information. Please use the Ion web interface to sign up for eighth periods.</p>
            <p style="font-weight: bold">If you're just using the app to pull up Ion quickly, you can instead add Ion to your home screen. To do this, click "Share" (on an iPhone this should be in the bottom center of the screen) and then "Add to Home Screen."</p>
        {% elif not error %}
            <form id="authorizationForm" method="post">
                <h3 class="block-center-heading">A third-party application wants access to your Intranet account.</h3>
                {% csrf_token %}

                {% for field in form %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% endif %}
                {% endfor %}

                <p>{{ application.name }} requires the following permissions:</p>
                <ul>
                    {% for scope in scopes_descriptions %}
                        <li>{{ scope }}</li>
                    {% endfor %}
                </ul>

                {{ form.errors }}
                {{ form.non_field_errors }}

                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-large" value="Cancel">
                        <input type="submit" class="btn btn-large btn-primary" name="allow" value="Authorize">
                    </div>
                </div>
            </form>
        {% else %}
            <h2>Error: {{ error.error }}</h2>
            <p>{{ error.description }}</p>
        {% endif %}
    </div>
{% endblock %}