{% load static %}
{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang='en'>
<head>
    {% block title %}
        <title>Intranet - OAuth Authentication</title>
    {% endblock %}
    {% include "meta.html" %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700">
    <link href="{% static 'vendor/fontawesome-free-5.11.2/css/all.css' %}" rel="stylesheet">
    {% block css %}
        {% stylesheet 'base' %}
        {% stylesheet 'page_base' %}
        {% stylesheet 'login' %}
        {% stylesheet 'about' %}
        {% stylesheet 'theme.blue' %}
        {% stylesheet 'oauth' %}
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
    {% endblock %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/login' %}
        {% stylesheet 'dark/about' %}
        {% stylesheet 'dark/oauth' %}
    {% endif %}
</head>
<body class="notransition">
    {% block back %}
    <ul class="nav dashboard-link">
        <li>
            <a href="{% url 'index' %}">
                <i class="fas fa-arrow-left fa-2x" style="padding-bottom: 6px"></i>
                    Dashboard
            </a>
        </li>
    </ul>
    {% endblock %}
    {% if global_warning %}<div class="global-warning">{{ global_warning }}</div>{% endif %}
    <div class="center-wrapper">
        <div class="center" style="padding-right: 10px; padding-left: 10px">
        <div class="logo"></div>
        {% block content %}

        {% endblock %}
        </div>
    </div>
</body>
</html>
