{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'files' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    $(function() {
        $("input[name=password]").focus();
    });
    </script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>Authentication</h2>
        <br>
        <h3>In order to connect{% if request.GET.next %} to this host{% endif %}, you need to re-enter your TJ password:</h3>
        <p>If you use a different password{% if request.GET.next %} for this host{% endif %}, enter it here.</p>

        <form action="" method="post">
            {% csrf_token %}
            <table>
            {% if is_admin %}
            <tr>
                <td>
                    <label for="username">Username:</label> &nbsp; &nbsp;
                </td>
                <td>
                    <input type="text" name="username" value="{{ user.username }}" aria-label="Enter Username" size="25">
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>
                    <label for="password">Password:</label> &nbsp; &nbsp;
                </td>
                <td>
                    <input type="password" name="password" value="" aria-label="Enter Password" size="25">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Login">
                </td>
            </tr>
            </table>
        </form>
    </div>
{% endblock %}
