{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/files.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    $(function() {
        $("input[name=password]").focus();
    });
    </script>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>Authentication</h2>
        <br />
        <h3>In order to connect{% if request.GET.next %} to this server{% endif %}, you need to re-enter your password:</h3>
        <p>If you use a separate password to connect{% if request.GET.next %} to this service{% endif %}, enter it here.</p>

        <form action="" method="post">
            {% csrf_token %}
            <input type="password" name="password" value="" /><br />
            <input type="submit" value="Login" />
        </form>


    </div>
{% endblock %}
