{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'files' %}
    <style>

    </style>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>
            {% if host.linux %}
                <i class="fab fa-linux"></i>
            {% elif host.windows %}
                <i class="fab fa-windows"></i>
            {% endif %}
            {{ host.name }} Files
        </h2>

        <a class="button" href="{% url 'files_type' host.code %}?dir={{ remote_dir|urlencode }}">
            <i class="fas fa-arrow-left"></i> {{ remote_dir }}
        </a>

        <h3>Confirm File Deletion</h3>
        <p>Are you sure you want to delete the {{ is_directory|yesno:"folder,file" }} <b>{{ request.GET.dir }}</b>?</p>
        <p><b>This action is irreversible!</b></p>

        <form action="" method="POST">
            {% csrf_token %}
            <input name="path" type="hidden" value="{{ request.GET.dir|urlencode }}">
            <a class="button" href="{% url 'files_type' host.code %}?dir={{ remote_dir|urlencode }}">Cancel</a> &nbsp;
            <input name="confirm" type="submit" value="Delete">
        </form>

    </div>
{% endblock %}
