{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'files' %}
    <style type="text/css">
    .primary-content {
        max-width: 500px;
    }

    .primary-content ul li {
        margin-bottom: 10px;
    }

    .primary-content img {
        margin-top: 10px;
        zoom: 0.7;
    }

    </style>
{% endblock %}

{% block main %}
    <div class="primary-content" style="background-color: white; padding: 30px; border-radius: 5px; border: 1px solid rgb(216, 216, 216); max-width: 400px;">
        <i class="fa fa-folder-open" style="font-size: 50px; margin-right: 10px;"></i> <span style="font-size: 50px;">Filecenter</span>
        <div>
            <h3>Filecenter is still in the works &mdash; Coming Fall 2015!</h3>
            <p class="narrow-paragraph">Filecenter allows you to access your school files from home through Intranet.</p>
            <p>Have a suggestion for Filecenter? Tell us at <a href="mailto:intranet@tjhsst.edu">intranet@tjhsst.edu</a>.</p>
        </div>

        {% comment %}
        Commenting this out until we can find a less sketchy alternative or actually implement filecenter...

        <h2>Accessing your school files from home</h2>
        <ul>
            <li>
                <a href="https://filezilla-project.org/download.php">Download and install FileZilla Client</a>.
            </li>
            <li>
                Open the application, and press the icon in the top left corner to open Server Manager.
                <br />
                <img src="{% static 'img/files/step1.png' %}" />
            </li>
            <li>
                In the dialog, press New Site. For the host, enter <tt>tj03.local.tjhsst.edu</tt> or, to access your Computer Systems Lab filesystem, <tt>remote.tjhsst.edu</tt>. Select <tt>SFTP</tt> along with your TJ credentials, and press <tt>Connect</tt>.
                <br />
                <img src="{% static 'img/files/step2.png' %}" />
            </li>
            <li>
                Accept the Unknown host key warning if it appears.
                <br />
                <img src="{% static 'img/files/step3.png' %}" />
            </li>
            <li>
                Navigate through the folder structure to find the files that you want. To access your local network drive, choose the correct folder for your class year. To access the common R drive, choose <tt>R</tt>.
                <br />
                <img src="{% static 'img/files/step4.png' %}" />
            </li>
            <li>
                To upload a file, ensure that you have navigated to the correct locations on both the local (left) and remote (right) sides. Then, right click the file or folder on the left pane and select Upload.
                <br />
                <img src="{% static 'img/files/step5.png' %}" style="zoom: 0.5" />
            </li>
        </ul>
        {% endcomment %}
    </div>
{% endblock %}
