{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/files.css' %}" />
    <style type="text/css">

    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/files.js' %}"></script>
    <script type="text/javascript">
    </script>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>
            {% if host.linux %}
                <i class="fa fa-linux"></i>
            {% elif host.windows %}
                <i class="fa fa-windows"></i>
            {% endif %}
            {{ host.name }} Files
        </h2>

        <a class="button" href="{% url 'files' %}">
            <i class="fa fa-arrow-left"></i> Filesystems
        </a>

        <a class="button" href="{% url 'files_upload' host.code %}?dir={{ current_dir|escape }}">
            <i class="fa fa-upload"></i> Upload
        </a>

        <span id="additional-upload-option">You can also drag files onto this page to upload them.</span>

        <h3>Current directory: {{ current_dir }}</h3>
        <table class="directory-list">
        {% if parent_dir %}
            <tr>
                <td class="item folder">
                    <a href="?dir={{ parent_dir }}">
                        <i class="fa fa-reply"></i>
                        Parent Directory
                    </a>
                </td>
            </tr>
        {% endif %}
        {% for file in files %}
            <tr>
                {% if file.folder %}
                <td class="item folder">
                    <a href="?dir={{ current_dir }}/{{ file.name }}">
                        <i class="fa fa-folder"></i>
                        {{ file.name }}
                    </a>
                    <a class="zip" href="?dir={{current_dir}}/{{ file.name }}&zip"><i class="fa fa-file-archive-o"></i></a>
                </td>
                {% else %}
                <td class="item file"{% for k, v in file.stat.items %} stat-{{ k }}="{{ v }}"{% endfor %}>
                    {% if not file.too_big %}<a href="?file={{ current_dir }}/{{ file.name }}">{% endif %}
                        <i class="fa fa-file-o"></i>
                        {{ file.name }}
                    {% if not file.too_big %}</a>{% endif %}
                    {% if file.too_big %}
                        <br />
                        &nbsp; &nbsp; &nbsp; <i class="fa fa-exclamation-triangle"></i> Too large to download (>{{ max_download_mb }}MB)
                    {% endif %}
                </td>
                {% endif %}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    This directory is empty.
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
