{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/files.css' %}" />
    <style type="text/css">

    </style>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>Files</h2>
        <h3>Connect to a filesystem:</h3>
        {% for host in hosts %}
            <div class="filesystem">

                <a href="{% url 'files_type' host.code %}">
                    {% if host.linux %}
                        <i class="fa fa-linux"></i> 
                    {% elif host.windows %}
                        <i class="fa fa-windows"></i> 
                    {% endif %}

                    <span>
                        {{ host.name }}
                    </span>
                </a>
            </div>
        {% empty %}
            <p>There are no hosts available.</p>
        {% endfor %}

    </div>
{% endblock %}
