{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/files.css' %}" />
    <style type="text/css">

    </style>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>Files</h2>
        <h3>Connect to a filesystem:</h3>
        <ul>
        {% for host, desc in hosts_desc.items %}
            <li>
                <a href="{% url 'files_type' host %}">
                    {{ desc }}
                </a>
            </li>
        {% endfor %}
        </ul>

    </div>
{% endblock %}
