{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Files
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'files' %}
    <style>

    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/files.js' %}"></script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/files' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>
            {% if host.linux %}
                <i class="fab fa-linux"></i>
            {% elif host.windows %}
                <i class="fab fa-windows"></i>
            {% endif %}
            {{ host.name }} Files
        </h2>

        <a class="button" href="{% url 'files_type' host.code %}?dir={{ remote_dir }}">
            <i class="fas fa-arrow-left"></i> {{ remote_dir }}
        </a>

        <span id="additional-upload-option" class="hidden-sm">You can also drag files onto this page to upload them.</span>

        <h3>File Upload</h3>
        <div id="upload-overlay"><div><i class="fas fa-upload fa-5x"></i><h3>Drop to Upload</h3></div></div>
        <p>The maximum file upload size is {{ max_upload_mb }}MB.</p>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="Upload">
        </form>


    </div>
{% endblock %}
