{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}


{% block title %}
    {{ block.super }} - Seniors
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {% stylesheet 'dashboard' %}
    <style>
    td.unsure {
        font-style: italic;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
    <script>
    </script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content polls">
        <h2>Senior Destinations</h2>
        <div class="button-container">
            {% if is_senior %}
                <a href="{% url 'seniors_add' %}" class="button">
                    {% if own_senior %}Modify{% else %}Add{% endif %} Your Destination Info
                </a>
            {% endif %}
        </div>
        <br>
        <b>{{ seniors|length }} senior{{ seniors|length|pluralize }} have added destinations.</b>
        <br>
        <div class="seniors-container">
            <table class="seniors-table fancy-table" data-sortable>
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>College</th>
                        <th>Major</th>
                    </tr>
                </thead>
                <tbody>
                {% for senior in seniors %}
                    <tr>
                        <td data-value="{{ senior.user.last_name }} {{ senior.user.first_name }}">
                            <a href="{% url 'user_profile' senior.user.id %}">
                                {{ senior.user.full_name }}
                            </a>
                        </td>
                        <td class="{% if not senior.college_sure %}un{% endif %}sure">
                            {{ senior.college }}
                            {% if not senior.college_sure %} (unsure){% endif %}
                        </td>
                        <td class="{% if not senior.major_sure %}un{% endif %}sure">
                            {{ senior.major }}
                            {% if not senior.major_sure %} (unsure){% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">No seniors have entered destination info.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    </div>
{% endblock %}
