{% with description="Announcement posted" target=info_link name="View" %}
    {% include "email_metadata.html" %}
{% endwith %}

{% autoescape off %}
{{ announcement.content }}
{% endautoescape %}

<p>Posted by {{ announcement.get_author }} on {{ announcement.added|date:"l, F j, Y"}} at {{ announcement.added|date:"P"}} to {% if announcement.groups.count == 0 %}everyone{% else %}{{ announcement.groups.all|join:", " }}{% endif %}
</p>

<p><a href="{{ info_link }}">View this announcement on Intranet</a></p>

{% include "email_footer.html" %}
