<p>
{% if announcement.author %}
    {{ announcement.author }}
{% else %}
    {{ announcement.user.full_name }}
{% endif %} posted a new announcement at {{ announcement.added|date:"l, F j, Y P"}}:
</p>

<h2>{{ announcement.title }}</h2>

{% autoescape off %}
{{ announcement.content }}
{% endautoescape %}

<p>View this announcement: <a href="{{ info_link }}">{{ info_link }}</a></p>


<br />
--

    <table>
        <tr>
            <td style="padding: 5px 10px">
                <img src="{{ base_url }}static/img/logos/Icon-60.png" alt="Intranet logo" />
            </td>
            <td>
            <p style="font-size: 9pt">
                This is an automated message sent from the <a href="{{ base_url }}">TJ Intranet system</a>.<br />
                To unsubscribe, change the "Receive Announcement Emails" setting on your Preferences page.
            </p>
            </td>
        </tr>
    </table>


<p style="font-size: 9pt; color: gray">
                Thomas Jefferson High School for Science and Technology<br />6560 Braddock Road<br />Alexandria, VA, 22312<br />(703) 750-8300
            </p>