{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load forms %}
{% load math %}
{% load strings %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Preferences
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'preferences' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
    add_field = function(btn) {
        var tr = $(btn).parent().parent();
        var pr = tr.prev();
        var newPr = pr.clone();
        var inp = $('input', newPr);
        inp.val('');
        var newName = inp.attr('name');
        var r = newName.split('_');
        newName = [parseInt(r.pop())+1, r.join('_')].reverse().join('_');
        inp.attr("name", newName);
        inp.attr("id", "id_" + newName);

        $('td.label', newPr).html('');

        var r = $('td.remove', newPr);
        if (r.html().trim().length == 0) {
            r.html('<button onclick="remove_field(this)"><i class="fa fa-times"></i></button>')
        }

        tr.before(newPr);
    }

    remove_field = function(btn) {
        var tr = $(btn).parent().parent();
        tr.remove();
    }

    $(function() {
        $('input.disabled').each(function() {
            $(this).attr('data-state', $(this).prop('checked'));
            $(this).click(function(e) {
                e.preventDefault();
                var state = $(this).attr('data-state');
                if (!state) {
                    $(this).removeProp('checked');
                } else {
                    $(this).prop('checked', state);
                }
            })
        })
    })

    </script>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>Preferences</h2>
        <br>
        {% if ldap_error %}
            <span style="color: red">
                <b>Your changes did <u>NOT</u> apply due to a directory error. To change your Preferences, email intranet@tjhsst.edu or ask the Eighth Period Office.</b>
            </span>
            <br /><br />
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}


            <h3>Notification Options</h3>
            <p>Change how you receive notifications from Intranet.</p>
            <table class="notification-options">
                {% for field in notification_options_form %}
                    <tr>
                        <td>
                            {{ field.errors }}
                            {{ field }}
                        </td>
                        <td>
                            {{ field.label }}
                        </td>
                    </tr>
                {% endfor %}
                {% if request.user.notificationconfig and request.user.notificationconfig.gcm_token %}
                    <tr>
                        <td>
                            <input id="id_receive_push_notifications" name="receive_push_notifications" type="checkbox" {% if not request.user.notificationconfig.gcm_optout %} checked {% endif %}/>
                        </td>
                        <td>
                            <label for="id_receive_push_notifications">Receive Push Notifications</label>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            <input id="id_receive_push_notifications" type="checkbox" disabled />
                        </td>
                        <td>
                            <label for="id_receive_push_notifications">Receive Push Notifications</label>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <br />

            <h3>Personal Information</h3>
            <table>
                {% for field in personal_info_form %}
                    {% if field|is_array_field %}
                        <tr>
                            <td class="label">
                                {% if field|field_array_index == 0 %}
                                    {{ field.label_tag }}
                                {% endif %}
                            </td>
                            <td class="field">
                                {{ field.errors }}
                                {{ field }}
                            </td>
                            <td class="remove">
                                {% if field|field_array_index != 0 %}
                                    <button onclick="remove_field(this);return false">
                                        <i class="fa fa-times"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% if field|field_array_index == field|field_array_size|add:"-1" %}
                            <tr>
                                <td></td>
                                <td>
                                    <button onclick="add_field(this);return false">
                                        <i class="fa fa-plus"></i> Add Another
                                    </button>
                                </td>
                            </tr>
                        {% endif %}

                    {% else %}
                        <tr>
                            <td>{{ field.label_tag }}</td>
                            <td>
                                {{ field.errors }}
                                {{ field }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <br>

            {% if preferred_pic_form %}
                <h3>Preferred Picture</h3>
                <p>Since the eighth period office and TJ faculty can always see your pictures, it is recommended that you choose your preferred picture even if you disable "Show Pictures" in Privacy Options.</p>

                {% for choice in preferred_pic_form.preferred_photo %}
                    {{ choice.tag }} {{ choice.choice_label }}<br>
                {% endfor %}
                <br>
            {% endif %}

            <h3>Privacy Options</h3>
            <p>Note that TJ staff members can view all of this information. Want to modify the privacy permissions authorized by your parents? Complete <a href="https://www.tjhsst.edu/studentservices/forms/docs/intranet.pdf">this form</a> and give it to the eighth period office.</p>
            <table class="privacy-options">
                <thead>
                    {% if request.user.is_student %}
                        <th>Parent<br/>Permission</th>
                    {% else %}
                        <th>Can<br/>Enable</th>
                    {% endif %}
                    <th>Your<br/>Choice</th>
                    <th></th>
                </thead>
                {% for field in privacy_options_form %}
                    {% if not field.name|endswith:"-self" %}
                        <tr>
                            <td>
                                {{ field.errors }}
                                {{ field }}
                            </td>
                    {% else %}
                            <td>
                                {{ field.errors }}
                                {{ field }}
                            </td>
                            <td>
                                {{ field.label }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <br />
            <br />

            <button type="submit">Save</button>
        </form>
    </div>

{% endblock %}
