{% extends "page_with_nav.html" %}
{% load static %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - {{ action|title }} Announcement
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/vendor/chrono.min.js' %}"></script>
    <script src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'js/announcement.form.js' %}"></script>
    <script>
        $(function() {
            var author = $("#id_author");
            var exp = $("#id_expiration_date");
            dateFormat = function(date) {
                zero = function(v) { return v<10 ? "0"+v : v; }
                return (date.getFullYear() + "-" +
                        zero(date.getMonth()+1) + "-" +
                        zero(date.getDate()) + " 23:59:59");
            }
            dateReset = function() {
                var date = new Date();
                date.setDate(date.getDate() + 14);
                exp.val(dateFormat(date));
            }
            date3000 = function() {
                var date = new Date("3000-01-01 00:00:00");
                exp.val(dateFormat(date));
            }
            {% if action == "add" %}
                $("#id_update_added_date").parent().parent().remove()

                author.attr("placeholder", "{{ user.full_name_nick|escape }}");
                dateReset()

            {% elif announcement %}
                author.attr("placeholder", "{{ announcement.user.full_name_nick|escape }}");
            {% endif %}
            $(".helptext", exp.parent()).before("<h5 style='display: none' class='exp-header'><b>Suggested Expiration Dates</b></h4><ul class='exp-list'></ul>");
            $(".helptext", exp.parent()).before("<span class='exp-buttons'>" +
                                               "<a onclick='dateReset()' class='button small-button'>Reset to Default</a>" +
                                               "<a onclick='date3000()' class='button small-button'>Don't Expire</a>" +
                                               "</span>");
            $(".exp-list").on("click", "a", function () {
                exp.val(dateFormat(new Date($(this).data("date"))));
            })
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {% stylesheet 'announcements.form' %}
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/cke' %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="announcements primary-content">
    <h2>
        {{ action|title }} Announcement
    </h2>
    <form action="/announcements/{{ action }}{% if id %}/{{ id }}{% endif %}" method="post" id="announcement_form">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td>&nbsp;</td><td><button type="submit" id="submit_announcement">Submit</button></td></tr>
    </table>
    </form>
</div>
{% endblock %}
