{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - {{ action|title }} Announcement
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/selectize.js-0.12.1/dist/js/standalone/selectize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/announcement.form.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            var author = $("#id_author");
            var exp = $("#id_expiration_date");
            dateFormat = function(date) {
                zero = function(v) { return v<10 ? "0"+v : v; }
                return (date.getFullYear() + "-" +
                        zero(date.getMonth()+1) + "-" +
                        zero(date.getDate()) + " 23:59:59");
            }
            dateReset = function() {
                var date = new Date();
                date.setDate(date.getDate() + 14);
                exp.val(dateFormat(date));
            }
            date3000 = function() {
                var date = new Date("3000-01-01 00:00:00");
                exp.val(dateFormat(date));
            }
            {% if action == "add" %}
                $("#id_update_added_date").parent().parent().remove()
                
                author.attr("placeholder", "{{ user.full_name|escape }}");
                dateReset()
                
            {% elif announcement %}
                author.attr("placeholder", "{{ announcement.user.full_name|escape }}");
            {% endif %}
            $(".helptext", exp.parent()).before("<span class='exp-buttons'>" +
                                               "<a onclick='dateReset()' class='button small-button'>Reset to Default</a>" +
                                               "<a onclick='date3000()' class='button small-button'>Don't Expire</a>" +
                                               "</span>");
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/selectize.js-0.12.1/dist/css/selectize.default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/announcements.form.css' %}" />
{% endblock %}

{% block main %}
<div class="announcements primary-content">
    <h2>
        {{ action|title }} Announcement
    </h2>
    <form action="/announcements/{{ action }}{% if id %}/{{ id }}{% endif %}" method="post">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td colspan="2"><input type="submit" /></td></tr>
    </table>
    </form>
</div>
<script type="text/javascript">
    // name of <textarea> is content
    CKEDITOR.replace("content", {
        width: "600px"
    });
</script>
{% endblock %}
