{% extends "page_with_nav.html" %}
{% load static %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - {{ action|title }} Announcement
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/vendor/chrono.min.js' %}"></script>
    <script src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'js/announcement.form.js' %}"></script>
    <script>
        $(function() {
            {% if action == "add" %}
                $("#id_update_added_date").parent().parent().remove()
                author.attr("placeholder", "{{ user.full_name_nick|escape }}");
            {% elif announcement %}
                author.attr("placeholder", "{{ announcement.user.full_name_nick|escape }}");
            {% endif %}
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {% stylesheet 'announcements.form' %}
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/cke' %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="announcements primary-content">
    <h2>
        {{ action|title }} Announcement
    </h2>
    <form action="/announcements/{{ action }}{% if id %}/{{ id }}{% endif %}" method="post" id="announcement_form">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td>&nbsp;</td><td><button type="submit" id="submit_announcement">Submit</button></td></tr>
    </table>
    </form>
</div>
{% endblock %}
