{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super}} - {{ action|title }} Announcement
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'lib/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
form input#id_name, form input#id_author {
    width: 300px;
}
    </style>
{% endblock %}

{% block main %}
{% if request.POST.name and success %} <div class="message primary-content"> Successfully {% if action == "modify" %} modified {% elif action == "add" %} added {% endif %} announcement with name {{ request.POST.name|escape }}. </div> {% endif %}
<div class="announcements primary-content">
    <h2>
        {{ action|title }} Announcement
    </h2>
    <form action="/announcements/{{ action }}{% if id %}/{{ id }}{% endif %}" method="post">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td><input type="submit" /></td></tr>
    </table>
    </form>
</div>
<script type="text/javascript">
// name of <textarea> is content
CKEDITOR.replace("content");
</script>
{% endblock %}
