{% load dates %}
{% load static %}
{% load users %}
{% load newtab_links %}

{% block js %}
    <script src="{% static 'js/vendor/jquery.timeago.js' %}"></script>
{% endblock %}

<div class="announcement{% if hide_announcements and announcement.id in user_hidden_announcements %} hidden{% endif %}{% if announcement.pinned %} pinned{% endif %}" data-id="{{ announcement.id }}" id="announcement-{{ announcement.id }}">
    <h3>
        {% if show_icon and not announcement.pinned %}
            <i class="far fa-file-alt dashboard-item-icon" title="Announcement"></i>
        {% endif %}

        {% if announcement.pinned %}
            <i class="fas fa-bookmark dashboard-item-icon" title="Pinned announcement"></i>
        {% endif %}

        {% if link_to_announcement and not request.user.is_restricted %}
        <a href="{% url 'view_announcement' announcement.id %}" class="announcement-link">
            {{ announcement.title }}
        </a>
        {% else %}
            {{ announcement.title }}
        {% endif %}

            <div class="announcement-icon-wrapper">
            {% if hide_announcements %}
                <a href="#" class="announcement-toggle">
                {% if announcement.id in user_hidden_announcements %}
                    <i class="announcement-icon fas fa-expand" title="You have hidden this announcement. Click to show." data-visible-title="This announcement is visible. Click to hide." hidden-title="You have hidden this announcement. Click to show."></i>
                {% else %}
                    <i class="announcement-icon fas fa-compress" title="This announcement is visible. Click to hide." data-visible-title="This announcement is visible. Click to hide." data-hidden-title="You have hidden this announcement. Click to show."></i>
                {% endif %}
                </a>
            {% endif %}
            {% if not request.user.is_restricted %}
                <a href="{% url 'view_announcement' announcement.id %}" title="Announcement permalink">
                    <i class="fas fa-paperclip fa-flip-horizontal"></i>
                </a>
            {% endif %}
            {% if request.user.is_announcements_admin %}
                <a href="{% url 'modify_announcement' announcement.id %}" title="Modify announcement">
                    <i class="announcement-icon fas fa-pencil-alt"></i>
                </a>
                <a href="{% url 'delete_announcement' announcement.id %}" class="announcement-delete" title="Delete announcement">
                    <i class="announcement-icon far fa-trash-alt"></i>
                </a>
            {% endif %}
            </div>
    </h3>

    <div class="announcement-metadata">
        by {{ announcement.get_author|escape }} &bull; <time class="timeago" datetime="{{ announcement.added|date:'c' }}">{{ announcement.added|fuzzy_date|capfirst }}</time> &bull; to
        {% for group in announcement.groups.all %}
            {{ group }}
            {% if not forloop.last %},{% endif %}
        {% empty %}
            everyone
        {% endfor %}

        {% if announcement|argument_request_user:"is_visible_requester" %}
            &bull; You approved this announcement.
        {% endif %}

        {% if announcement|argument_request_user:"is_visible_submitter" %}
            &bull; You submitted this announcement.
        {% endif %}
    </div>

    <div class="announcement-toggle-content"{% if hide_announcements and announcement.id in user_hidden_announcements %} style="display: none"{% endif %}>
        {% if not event and announcement.event_set.count > 0 %}
            {% for event in announcement.event_set.all %}
                {% with link_to_event=1 %}
                    {% include "events/event.html" %}
                {% endwith %}
            {% endfor %}
        {% endif %}
        <div class="announcement-content">
            {{ announcement.content|safe|replace_newtab_links }}
        </div>
    </div>
</div>
