{% load dates %}
<div class="announcement{% if hide_announcements and announcement in user_hidden_announcements %} hidden{% endif %}{% if announcement.pinned %} pinned{% endif %}" data-id="{{ announcement.id }}" id="announcement-{{ announcement.id }}">
    <h3>
        {% if announcement.pinned %}
            <i class="fa fa-thumb-tack" title="This announcement is pinned to the top."></i>
        {% endif %}
        {% if link_to_announcement %}
        <a href="{% url 'view_announcement' announcement.id %}" class="announcement-link">
            {{ announcement.title }}
        </a>
        {% else %}
            {{ announcement.title }}
        {% endif %}

            <div class="announcement-icon-wrapper">
            {% if hide_announcements %}
                <a href="#" class="announcement-toggle">
                {% if announcement in user_hidden_announcements %}
                    <i class="announcement-icon fa fa-toggle-off" title="You have hidden this announcement. Click to show." data-visible-title="This announcement is visible. Click to hide." hidden-title="You have hidden this announcement. Click to show."></i>
                {% else %}
                    <i class="announcement-icon fa fa-toggle-on" title="This announcement is visible. Click to hide." data-visible-title="This announcement is visible. Click to hide." data-hidden-title="You have hidden this announcement. Click to show."></i>
                {% endif %}
                </a>
            {% endif %}
            {% if request.user.is_announcements_admin %}
                <a href="{% url 'modify_announcement' announcement.id %}">
                    <i class="announcement-icon fa fa-pencil"></i>
                </a>
                <a href="{% url 'delete_announcement' announcement.id %}" class="announcement-delete">
                    <i class="announcement-icon fa fa-trash-o"></i>
                </a>
            {% endif %}
            </div>
    </h3>

    <div class="announcement-metadata">
        by {{ announcement.get_author|escape }} &bull; {{ announcement.added|fuzzy_date|capfirst }} &bull; to
        {% for group in announcement.groups.all %}
            {{ group }}
            {% if not forloop.last %},{% endif %}
        {% empty %}
            everyone
        {% endfor %}
    </div>

    <div class="announcement-toggle-content">
        {% if announcement.event_set.count > 0 and not event %}
            {% for event in announcement.event_set.all %}
                {% with link_to_event=1 %}
                    {% include "events/event.html" %}
                {% endwith %}
            {% endfor %}
        {% endif %}

        <div class="announcement-content">
            {{ announcement.content|safe }}
        </div>
    </div>
</div>