{% extends "page_with_nav.html" %}
{% load static %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - {{ action|title }} Announcement
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/vendor/chrono.min.js' %}"></script>
    <script src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'js/announcement.form.js' %}"></script>
    <script>
        $(function() {
            var author = $("#id_author");
            var exp = $("#id_expiration_date");
            dateFormat = function(date) {
                zero = function(v) { return v<10 ? "0"+v : v; }
                return (date.getFullYear() + "-" +
                        zero(date.getMonth()+1) + "-" +
                        zero(date.getDate()) + " 23:59:59");
            }
            dateReset = function() {
                var date = new Date();
                date.setDate(date.getDate() + 14);
                exp.val(dateFormat(date));
            }
            date3000 = function() {
                var date = new Date("3000-01-01 00:00:00");
                exp.val(dateFormat(date));
            }
            {% if admin_approve %}
                author.attr("placeholder", "{{ req.get_author|escape }}")
            {% else %}
                author.attr("placeholder", "{{ announcement.user.full_name_nick|escape }}");
            {% endif %}
            $(".helptext", exp.parent()).before("<h5 style='display: none' class='exp-header'><b>Suggested Expiration Dates</b></h4><ul class='exp-list'></ul>");
            $(".helptext", exp.parent()).before("<span class='exp-buttons'>" +
                                               "<a onclick='dateReset()' class='button small-button'>Reset to Default</a>" +
                                               "<a onclick='date3000()' class='button small-button'>Don't Expire</a>" +
                                               "</span>");
            $(".exp-list").on("click", "a", function () {
                exp.val(dateFormat(new Date($(this).data("date"))));
            })
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {% stylesheet 'announcements.form' %}
    <style>
        .helptext {
            display: block;
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/cke' %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="announcements primary-content">
    <h2>
        Announcement Approval
    </h2>

    <form action="" method="post" id="announcement_form">
    <table>
    <tr>
        <td colspan="2">
        {% if req.posted %}
            <p>
                <b style="font-size: 16px; color: green"><i class="fas fa-info-circle"></i> This announcement was already approved and posted{% if req.posted_by %} by {{ req.posted_by.full_name }}{% endif %}.</b><br>
                <a href="{% url 'view_announcement' req.posted.id %}">{{ req.posted }}</a><br>
                <b>You do not have to do anything at this time.</b> Information about the request is displayed below.
            </p>
            <br>
            <hr>
            <br>
        {% endif %}

        {% if req.rejected %}
            <p>
                <b style="font-size: 16px; color: red"><i class="fas fa-exclamation-circle"></i> This announcement was already rejected{% if req.rejected_by %} by {{ req.rejected_by.full_name }}{% endif %}.</b><br>
                You do not have to do anything at this time. Information about the request is displayed below.
            </p>
            <br>
            <hr>
            <br>
        {% endif %}
        {% if admin_approve %}
            <p><a href="{% url 'user_profile' req.user.id %}">{{ req.user.full_name }} ({{ req.user }})</a> requested that this announcement be posted.</p>
            The following teachers were asked to approve this announcement:
            <ul>
            {% for teacher in req.teachers_requested.all %}
                <li>{{ teacher.full_name }}</li>
            {% empty %}
                <li>(None)</li>
            {% endfor %}
            </ul>
            The following teachers approved:
            <ul>
            {% for teacher in req.teachers_approved.all %}
                <li>{{ teacher.full_name }}</li>
            {% empty %}
                <li>(None)</li>
            {% endfor %}
            </ul>
            <br>
        {% else %}
            <p>{{ user.full_name }} ({{ user }}) submitted an Intranet announcement, and has asked for you to approve its posting. All Intranet announcements must first be approved by a teacher or faculty sponsor before they can be posted. The details of this announcement are included below.</p>
            <p>You may edit the fields below if you would like to change what was submitted. Please note that pressing the 'Approve' button below will not automatically post the announcement; it places the announcement in a queue for submission by an administrator.</p>
        {% endif %}
        </td>
    </tr>
    {% csrf_token %}
    {{ form.as_table }}
    {% if admin_approve %}
        <tr>
            <th><b>Groups:</b></th>
            <td>
                Announcement requests do not contain a groups field. <b>You must manually enter groups here if you want to restrict this posting.</b><br>
                <select name="groups" id="id_groups" multiple="multiple" placeholder="Everyone">
                {% for grp in all_groups %}
                    <option value="{{ grp.id }}">{{ grp }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="2">
            <br>
            {% if admin_approve and req.teachers_approved.count < 1 %}
                <b style="font-size: 16px; color: orange"><i class="fas fa-exclamation-circle"></i> This post has not yet been approved by a teacher.</b>
                <br><br>
            {% endif %}
        </td>
    </tr>
    </table>
    {% if not req.posted %}
    <table>
    <tr><td>
        <button type="submit" name="approve" value="APPROVE" id="submit_announcement">{% if admin_approve %}Post{% else %}Approve{% endif %} Announcement</button>
        </td>
        <td>
        <input type="submit" name="reject" value="Reject Announcement" onclick="return confirm('This will hide, but not delete, the request.')">
        </td></tr>
    </table>
    {% else %}
    <p>
        <b style="font-size: 16px"><i class="fas fa-info-circle"></i> This announcement was already approved and posted</b><br>
    </p>
    {% endif %}
    </form>
</div>
{% endblock %}
