{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super}} - Dashboard
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/dashboard/announcements.js' %}"></script>

    <style type="text/css">
        div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
            content: attr(data-placeholder);
            float: left;
            margin-left: 5px;
            color: rgb(72, 72, 72);
        }
    </style>


{% endblock %}

{% block main %}
<div class="announcements primary-content">
    <div class="announcements-header">
        <h2>Announcements Archive</h2>

            <span class="announcements-icon-wrapper">
            {% if request.user.is_announcements_admin %}
                <a class="button announcement-add" href="{% url 'add_announcement' %}">
                    <i class="fa fa-plus"></i>
                    Add
                </a>
            {% else %}
                <a class="button announcement-request" href="{% url 'request_announcement' %}">
                    <i class="fa fa-file-text-o"></i>
                    Request Post
                </a>
            {% endif %}
            </span>
    </div>

    <div class="announcements-container">
        {% for announcement in announcements %}
            {% include "announcement.html" %}
        {% empty %}
            <div class="announcement">
                There are no announcements to display at this time.
            </div>
        {% endfor %}

        {% if start_num == 0 %}
            <a href="{% url 'dashboard' %}" class="button" style="float:left"><i class="fa fa-bullhorn" style="width: 13px"></i> View New</a>
        {% endif %}

        {% if start_num > 0 %}
            <a href="?start={{ prev_page }}" class="button" style="float:left">&larr; Newer Posts</a>
        {% endif %}
        {% if more_announcements %}
            <a href="?start={{ end_num }}" class="button" style="float:right">Older Posts &rarr;</a>
        {% endif %}
    </div>
</div>



{% endblock %}
