{% extends "page_with_nav.html" %}
{% load static %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - {{ action|title }} Announcement
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/vendor/chrono.min.js' %}"></script>
    <script src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script src="{% static 'js/announcement.form.js' %}"></script>
    <script>
        $(function() {
            var author = $("#id_author");
            var exp = $("#id_expiration_date");
            dateFormat = function(date) {
                zero = function(v) { return v<10 ? "0"+v : v; }
                return (date.getFullYear() + "-" +
                        zero(date.getMonth()+1) + "-" +
                        zero(date.getDate()) + " 23:59:59");
            }
            dateReset = function() {
                var date = new Date();
                date.setDate(date.getDate() + 14);
                exp.val(dateFormat(date));
            }
            date3000 = function() {
                var date = new Date("3000-01-01 00:00:00");
                exp.val(dateFormat(date));
            }


            author.attr("placeholder", "{{ user.full_name|escape }}");
            dateReset();

            var notes = $("#id_notes");
            if(notes.html().length < 1) {
                notes.html("Enter something here!\n");
            }

            $(".helptext", exp.parent()).before("<h5 style='display: none' class='exp-header'><b>Suggested Expiration Dates</b></h4><ul class='exp-list'></ul>");
            $(".helptext", exp.parent()).before("<span class='exp-buttons'>" +
                                               "<a onclick='dateReset()' class='button small-button'>Reset to Default</a>" +
                                               "<a onclick='date3000()' class='button small-button'>Don't Expire</a>" +
                                               "</span>");
            $(".exp-list").on("click", "a", function () {
                exp.val(dateFormat(new Date($(this).data("date"))));
            })
            {% if request.user.is_teacher %}
                $("#id_teachers_requested")[0].selectize.setValue({{ request.user.id }});
            {% endif %}
        });
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {% stylesheet 'announcements.form' %}
    <style>

        div.cke_chrome {
            margin: 10px 0;
        }

        .announcements table {
            width: 600px;
        }

        .announcements table th {
            min-width: 120px;
        }

        .announcements table td {
            padding: 10px 0;
        }

        .announcements input,
        .announcements textarea {
            width: 100%;
        }

        @media (max-width: 810px) {
            .announcements table, .announcements #cke_id_content {
                width: 342px !important;
            }
        }

        @media (max-width: 550px) {
            .announcements table, .announcements #cke_id_content {
                width: 400px !important;
            }
        }

        ol li {
            margin-left: 40px;
            list-style-type: circle;
        }

        #cke_id_content {
            width: 600px;
            margin-bottom: -15px;
        }

        .announcements .selectize-control {
            display: inline-block;
        }


    </style>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/cke' %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="announcements primary-content" style="padding: 0">
    <h2>
        {% if action != "add" %}{{ action|title }} {% endif %}Announcement Request
    </h2>
    <p>
    Do you want to post an informational news article or announcement on Intranet? This page allows you to easily submit news for approval.
    </p>
    {% if not request.user.is_restricted %}
    <p>Want to make an announcement for a specific event or activity? <b><a href="{% url 'request_event' %}">Submit an event for approval instead!</a></b></p>
    {% endif %}
    <strong>Guidelines for News Posts:</strong><br>
    To increase the chances that your post comes up quickly, please mind the following:<br>
    <ol>
        <li>Use correct English grammar, punctuation, and spelling; do not use all caps; keep posts concise when possible, and use active voice for better clarity.</li>
        <li>Embedded images are not permitted directly in news posts except in special circumstances.</li>
        <li>If you have a link to an external website in your post, make sure that it can be accessed without having to register for that site or provide any personal information. Facebook links that require you to sign in cannot be used for this reason, and may be omitted. This is to improve compliance with the FCPS Network User Guidelines.</li>
        <li>If you are talking about a club, activity, or event in your post, please put the location and time in your post body. Otherwise people will have no idea where or when it is.  Please also try to make your post unique; we do not need twenty posts all titled "Free food!"</li>
        <li>If there's a well-defined group, such as "The Class of 2016" that you'd like to limit your post to, add that as a note in the notes field. If we have that group in the system, then we will post it to that group; otherwise, we will do the best that we can. If you do not specify a group, your news post will be visible to all students and faculty.</li>
        <li>Please do not make requests for lost-and-found-type notices.</li>
    </ol>
    <br>
    We reserve the right to edit requests at our discretion (e.g. to correct formatting or spelling errors). Please make sure your post complies with the guidelines.
    <br><br>
    <form action="" method="post" id="announcement_form">
        <table>
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td><button type="submit" id="submit_announcement">Submit</button></td></tr>
        </table>
    </form>
</div>
{% endblock %}
