{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}

{% block title %}
    {{ block.super }} - {{ announcement.title }}
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/dashboard/announcements.js' %}"></script>
{% endblock %}

{% block main %}
<div class="announcements primary-content">
    <div class="announcements-header">
        <h2>Announcement: {{ announcement.title|escape }}</h2>
    </div>

    <div class="announcements-container">
        {% include "announcements/announcement.html" %}
    </div>
</div>
{% endblock %}
