<br>
<span>The following screenshots indicate the location of the product ID for your TI handheld:</span>
<br>
<table class="dark-border-table" cellspacing="2" cellpadding="2" border="1" style="box-sizing: content-box; margin: 0; padding: 0; border-width: 0 0 1px 1px; border-style: solid; border-color: rgb(82, 82, 82); font-stretch: inherit; font-size: 12px; line-height: 16.8px; vertical-align: baseline; border-collapse: collapse; border-spacing: 0; color: rgb(82, 82, 82); background-color: rgb(255, 255, 255);">
<tbody>
<tr bgcolor="#CCC">
<td style="padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82);">
<b>TI-84</b>&nbsp;and&nbsp;<b>TI-84 Plus Silver Edition:</b>&nbsp;
<br style="box-sizing: content-box;">
Press&nbsp;
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/2nd-calc-key_grey.png" height="13" style="position: relative; top: 2px;">
&nbsp;
<b>MEM,1:About</b>
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<b>TI-73 Explorer™ and TI-83 Plus:</b>
&nbsp;
<br style="box-sizing: content-box;">
Press&nbsp;
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/2nd-calc-key_grey.png" height="13" style="position: relative; top: 2px;">
&nbsp;
<b>MEM,1:About</b>
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<b>TI-89 Titanium and Voyage™ 200:</b>
&nbsp;
<br style="box-sizing: content-box;">Press&nbsp;
<b>F1, A: About</b>
&nbsp;from the home screen
</td>
</tr>
<tr style="box-sizing: content-box; margin: 0; padding: 0; border: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/1_ti-84plus.png">
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/2_ti-83plus.png">
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/3_ti-89ti.png">
</td>
</tr>
<tr bgcolor="#CCC">
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<b>TI-Nspire™ Family:&nbsp;</b>
<br style="box-sizing: content-box;">
Press&nbsp;
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/home-key.png" height="13" style="position: relative; top: 2px;">
&nbsp;Select&nbsp;
<b>5: Settings &amp; Status</b>
,&nbsp;
<br style="box-sizing: content-box;">
Select&nbsp;<b>4:Status</b>, and Click the&nbsp;<b>About</b>
&nbsp;Box
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<b>TI-84 Plus C Silver Edition:</b>&nbsp;
<br style="box-sizing: content-box;">
Press&nbsp;
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/2nd-calc-key_grey.png" height="13" style="position: relative; top: 2px;">
&nbsp;
<b>MEM,1:About</b>
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<b>TI-84 Plus CE:</b>
&nbsp;
<br style="box-sizing: content-box;">
Press&nbsp;
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/2nd-calc-key_grey.png" height="13" style="position: relative; top: 2px;">
&nbsp;
<b>MEM,1:About</b>
</td>
</tr>
<tr style="box-sizing: content-box; margin: 0; padding: 0; border: 0; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline;">
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/4_ti-nspire.png">
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/5_ti-84plus-c-se.png">
</td>
<td style="box-sizing: content-box; margin: 0; padding: 4px; border-width: 1px 1px 0 0; border-style: solid; border-color: rgb(82, 82, 82); font-style: inherit; font-variant: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: top; background-color: transparent;">
<img src="https://education.ti.com/en/us/~/media/Education/images/screens/apps/6_ti-84plus-ce.png">
</td>
</tr>
</tbody>
</table>
<br />
