{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Lost and Found
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'lostfound' %}
{% endblock %}

{% block main %}
<div class="lostfound primary-content">
    <h2>
        Item Registration
    </h2>

    <p>Registering your calculator, computer, and phone through Intranet helps students and staff return your device if it is found.</p>

    {% if registered_devices %}
        <p>You've registered the following devices:</p>
        {% for calc in calculators %}
            <b>Calculator:</b> {{ calc.calc_name }} - Serial: {{ calc.calc_serial }} - ID: {{ calc.calc_id }} - Added: {{ calc.added }} <a href="{% url 'itemreg_delete' 'calculator' calc.id %}"><i class="fa fa-trash-o"></i></a>
            <br />
        {% endfor %}
    {% else %}
        <p>You haven't registered any devices! Register a device using the buttons below.</p>
    {% endif %}
    <br />
    <a href="{% url 'itemreg_calculator' %}" class="button">
        Register Calculator
    </a> &nbsp; &nbsp; 
    <a href="{% url 'itemreg_computer' %}" class="button">
        Register Computer
    </a> &nbsp; &nbsp; 
    <a href="{% url 'itemreg_phone' %}" class="button">
        Register Phone
    </a>

    <br />
    <br />

    <h2>
        Lost and Found
    </h2>

    <div class="items-container">
        <div class="lost-items">
            <div class="item-header">
                Lost Items:
                <a href="{% url 'lostitem_add' %}" class="button">
                    Add
                </a>
            </div>
            {% for item in lost %}
                {% include "itemreg/lostitem.html" %}
            {% empty %}
                <div class="item item-meta">
                    <p>There are currently no lost items</p>
                </div>
            {% endfor %}
        </div>

        <div class="found-items">
            <div class="item-header">
                Found Items:
                <a href="{% url 'founditem_add' %}" class="button">
                    Add
                </a>
            </div>
            {% for item in found %}
                {% include "itemreg/founditem.html" %}
            {% empty %}
                <div class="item item-meta">
                    <p>There are currently no found items</p>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if lost.has_previous or found.has_previous %}
        <a href="{% url 'itemreg' %}?page={{ previous_page }}" class="button">
            <i class="fa fa-arrow-left"></i> Back
        </a>
    {% endif %}

    {% if lost.has_next or found.has_next %}
        <a href="{% url 'itemreg' %}?page={{ next_page }}" class="button" style="float: right">
            Next <i class="fa fa-arrow-right"></i>
        </a>
    {% endif %}
</div>
{% endblock %}