{% extends "page_with_nav.html" %}
{% load staticfiles %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Lost and Found
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'lostfound' %}
{% endblock %}

{% block main %}
<div class="lostfound primary-content">
    <h2>
        Lost and Found
    </h2>

    <div class="items-container">
        <div class="lost-items">
            {% for lostitem in lost %}
                {% include "itemreg/lost.html" %}
            {% endfor %}
        </div>

        <div class="found-items">
            {% for founditem in found %}
                {% include "itemreg/found.html" %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}