{% extends "page_with_nav.html" %}
{% load static %}
{% load dates %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - {{ action|title }} {{ type|title }}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.js' %}"></script>
    <script src="{% static 'vendor/selectize.js-0.12.4/dist/js/standalone/selectize.min.js' %}"></script>
    <script>
    $(function() {
        $("#id_calc_type, #id_manufacturer").selectize();
    })
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/datetimepicker-2.4.5/jquery.datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/selectize.js-0.12.4/dist/css/selectize.default.css' %}">
    {% stylesheet 'announcements.form' %}
    <style>
    .xdsoft_timepicker {
        display: none !important;
    }

    .lostitem form input,
    .lostitem form textarea {
        width: 300px;
    }

    .lostitem form input[type="submit"] {
        display: block;
    }

    .lostitem form th {
        vertical-align: top;
        padding-top: 9px;
    }

    .lostitem form th label {
        padding-left: 0px;
    }

    {% if type == "calculator" %}
    table.form td,
    table.form th {
        padding-bottom: 15px;
    }
    {% endif %}
    </style>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% if type == "calculator" %}
            <style>
                table.dark-border-table {
                    background-color: rgb(50, 50, 50) !important;
                    color: white !important;
                }
                table.dark-border-table tr[bgcolor="#CCC"] {
                    background-color: #444;
                }
            </style>
        {% endif %}
    {% endif %}
{% endblock %}

{% block main %}
<div class="lostitem primary-content">
    <a href="{% url 'itemreg' %}" class="button">
        <i class="fas fa-arrow-left"></i> Item Registration
    </a>

    <h2>
        {{ action|title }} {{ type|title }}
    </h2>
    <br>

    <form method="post">
    <table>
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td>&nbsp;</td><td><br><input type="submit"></td></tr>
    </table>

    </form>
</div>
{% endblock %}
