{% extends "admin/base_site.html" %}

{% block title %}
    Flag selected Requests
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='logs' %}">Logs</a>
        &rsaquo; <a href="{% url 'admin:logs_request_changelist' %}">Requests</a>
        &rsaquo; Flag selected Requests
    </div>
{% endblock %}

{% block content %}
<h1>Flag selected Requests</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <br><br>
    <input type="submit" name="apply" value="Submit" />
</form>
{% endblock %}
