{% extends "admin/page_with_admin_nav.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <style>
.eighth-buttons {
    width: 100%;
    height: 100%;

    border: 1px solid rgb(216, 216, 216);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    float: left;
    padding: 1px 0;
    behavior: url("/static/js/PIE/PIE.htc");
}

.eighth-buttons td {
    /*border: 1px solid rgb(216, 216, 216);
    margin: -1px -1px -1px -1px;*/
    padding: 25px;
}

.eighth-buttons h2 {
    font-size: 20px;
}

.eighth-buttons ul li {
    list-style-type: none;
    text-align: left;
}

/* search bar */
.eighth-search {
    width: 80%;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    font-size: 30px;

    background-image: ;

}


</style>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>Eighth Period</h2>
        <div class="eighth-search-container">
            <input class="eighth-search" name="eighth-search" type="search" />
        </div>
        <table class="eighth-buttons">
        <tr>
            <td>
            <h2>Student(s)</h2>
            <ul>
                <li><a href="/admin/eighth/students/register">Register for an activity</a></li>
                <li><a href="/admin/eighth/students/groups">Modify Groups</a></li>
                <li><a href="/admin/eighth/students/restricted">Add to a restricted activity</a></li>
                <li><a href="/admin/eighth/students/switch">Switch into another activity</a></li>
            </ul>
            </td>

            <td>
            <h2>Attendance</h2>
            <ul>
                <li>
                    <a href="/admin/eighth/attendance/">Menuoption</a>
                </li>
            </ul>
            </td>
        </tr>

        <tr>
            <td>
            <h2>Scheduling</h2>
            <ul>
                <li>
                    <a href="">Menuoption</a>
                </li>
            </ul>
            </td>

            <td>
            <h2>Miscellaneous</h2>
            <ul>
                <li>
                    <a href="">Menuoption</a>
                </li>
            </ul>
            </td>
        </tr>

        </table>
    </div>
{% endblock %}