#activity-list {
  left: 450px;
  right: 0;
}

#activity-detail {
  left: 0;
  width: 430px;
  border-left: none;
  border-right: 1px solid #d8d8d8;
}

.search-wrapper {
  margin-left: 451px;
  margin-right: 0;
}

h5.stuck {
  margin-left: 450px;
  margin-right: 0;
}

@media (max-width: 950px) {
  #activity-picker div#activity-list {
    left: 270px;
    right: 0;
  }

  #activity-picker h5.stuck {
    margin-left: 270px;
    margin-right: 0px;
  }

  #activity-picker .search-wrapper {
    margin-left: 271px;
    margin-right: 0;
  }
}

@media (max-width: 700px) {
  #activity-picker .backbtn.visible {
    right: 0;
    left: unset;
    text-align: right;
    margin-right: -20px;
  }

  #activity-picker .backbtn i {
    transform: rotate(180deg);
  }

  #activity-picker.visible div#activity-detail {
    margin-left: 100%;
  }

  .eighth-signup #activity-detail {
    margin-right: 100%;
    margin-left: 0;
    left: -100%;
    width: 85%;
  }

  #activity-picker div#activity-list {
    right: 0;
    left: 0;
  }

  #activity-picker h5.stuck {
    margin-left: 0;
  }

  #activity-picker .search-wrapper {
    margin-left: 0;
  }
}
