<div class="pagination">
    {% if show_first_page %}
        <a href="?page=1">1</a>
        {% if show_first_page_dot %}
            <span class="dot">...</span>
        {% endif %}
    {% endif %}

    {% if prev_page_5 %}
        <a href="?page={{ prev_page_5 }}">{{ prev_page_5 }}</a>
    {% endif %}
    {% if prev_page_4 %}
        <a href="?page={{ prev_page_4 }}">{{ prev_page_4 }}</a>
    {% endif %}
    {% if prev_page_3 %}
        <a href="?page={{ prev_page_3 }}">{{ prev_page_3 }}</a>
    {% endif %}
    {% if prev_page_2 %}
        <a href="?page={{ prev_page_2 }}">{{ prev_page_2 }}</a>
    {% endif %}
    {% if prev_page_1 %}
        <a href="?page={{ prev_page_1 }}">{{ prev_page_1 }}</a>
    {% endif %}

    <a class="current-page" href="?page={{ current_page }}">{{ current_page }}</a>

    {% if next_page_1 %}
        <a href="?page={{ next_page_1 }}">{{ next_page_1 }}</a>
    {% endif %}
    {% if next_page_2 %}
        <a href="?page={{ next_page_2 }}">{{ next_page_2 }}</a>
    {% endif %}
    {% if next_page_3 %}
        <a href="?page={{ next_page_3 }}">{{ next_page_3 }}</a>
    {% endif %}
    {% if next_page_4 %}
        <a href="?page={{ next_page_4 }}">{{ next_page_4 }}</a>
    {% endif %}
    {% if next_page_5 %}
        <a href="?page={{ next_page_5 }}">{{ next_page_5 }}</a>
    {% endif %}

    {% if show_last_page %}
        {% if show_last_page_dot %}
            <span class="dot">...</span>
        {% endif %}
        <a href="?page={{ last_page }}">{{ last_page }}</a>
    {% endif %}

    <form method="GET">
        <input type="number" class="page-input" name="page" value="{{ current_page }}" min="1" max="{{ last_page }}">
        <input type="submit" class="go-to-page" value="&gt;">
    </form>
</div>
