{% with description="Approve event" target=info_link name="Approve/Reject event" %}
    {% include "email_metadata.html" %}
{% endwith %}

<p>The following event is in the approval queue:</p>
<b>Title:</b> {{ event.title }}<br>
<b>Description:</b><br>
{% autoescape off %}
    {{ event.description }}
{% endautoescape %}
<br>
<b>Submitted by:</b> {{ event.user.full_name }} ({{ event.user.username }})
<br>
<b>Time:</b> {{ event.time }}
<br>
<b>Location:</b> {{ event.location }}
<br>
<b>Groups:</b> {% for group in event.groups.all %}
    {{ group }}{% if not forloop.last %}, {% endif %}
{% empty %}
NONE (Public)
{% endfor %}
<br>
<br>
To approve or reject this event, <a href="{{ info_link }}">click on this link</a>.
<br>

{% with no_unsubscribe=1 %}{% include "email_footer.html" %}{% endwith %}
