.login h1 {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    padding-left: 50px;
    background-image: url('/static/img/tjlogo.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 48px 39.75px;
    font-size: 24px;
}

.login p, .login form {
    padding-left: 50px;
}

