{% extends "dashboard/dashboard.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    Ion - Welcome
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% stylesheet 'welcome' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/welcome.js' %}"></script>
{% endblock %}

{% block head %}
    {{ block.super }}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/welcome' %}
    {% endif %}
{% endblock %}

{% block body %}
    {{ block.super }}
    <div id="welcome-container">
        <div id="welcome">
            <div id="ion-welcome">
                {% block welcome %}
                    <br>
                    <br>
                    <h2>
                        Welcome to <b>Ion</b>
                    </h2>
                    <div class="ion-welcome-logo"></div>
                    <div class="ion-welcome-icons"></div>
                    <button id="ion-welcome-continue" class="ion-welcome-continue">
                        Continue <i class="fas fa-chevron-right"></i>
                    </button>
                {% endblock %}
            </div>
            <div id="step-1">
                {% block step1 %}
                    <h2>Welcome to the TJ Intranet</h2>
                    <p>The TJ Intranet, known as Ion, gives you access to eighth period activities, announcements, directory information, events, polls, files, and more. Before you start using Ion, spend a minute to jump through this welcome process.</p>

                    <p>Logged in as: <b>{{ request.user.full_name }}</b>{% if request.user.graduation_year %}, Class of {{ request.user.graduation_year }}{% endif %}</p>
                    <p>Email addresses on file:</p>
                    <ul>
                        {% for email in request.user.emails.all %}
                            <li>{{ email }}</li>
                        {% empty %}
                            <li>(No addresses on file)</li>
                        {% endfor %}
                    </ul>

                    <br>

                    {% if request.user.emails.exists %}
                    <p>Please make sure that you check these accounts regularly. Go to Preferences, accessed by clicking on your user icon in the top right corner, to modify the email addresses shown on your profile.</p>
                    {% else %}
                    <p>You don't currently have any custom email addresses on file. Go to Preferences, accessed by clicking on your user icon in the top right corner, to add an email address to your profile.</p>
                    {% endif %}

                    {% if request.user.is_student %}
                      <p>You can access your TJ email account ({{ request.user.tj_email }}) by going to <a href="https://webmail.tjhsst.edu" target="_blank">webmail.tjhsst.edu</a>. You can also use another mail client <a href="https://guides.tjhsst.edu/webmail/using-a-3rd-party-client" target="_blank">via IMAP</a>. Use your Intranet credentials.</p>
                      <p>By default, you will recieve emails about announcements and eighth periods. You can edit your preferences at any time by going to <a href="{% url 'preferences' %}">Preferences</a>.</p>
                    {% endif %}

                    <hr>
                    <h2>Account Information</h2>
                    Your TJ Username is: <b>{{ request.user.username }}</b><br>
                    Remember this username, as it is used to login to Ion and other TJ systems. <br>
                    <ul>
                        <li>
                            If you forget or need to change your password, you can reset it at
                            <a href="https://password.tjhsst.edu" target="_blank">password.tjhsst.edu</a>.
                        </li>
                        <li>
                            To manage or enable 2-Factor Authentication (2FA) for your account, go to <a href="https://2fa.tjhsst.edu" target="_blank">2fa.tjhsst.edu</a>.<br>
                            2FA is a security feature that requires you to enter a code from your phone or other device in addition to your password
                            when logging in and makes your account more secure. You are encouraged, but not required, to enable 2FA for your account.
                            If you are interested, click <a href="https://2fa.tjhsst.edu" target="_blank">here</a> to learn more and set it up.
                        </li>
                    <br>
                {% endblock %}
            </div>

            <div id="mail-forwarding">
                {% include "welcome/mail_forwarding.html" %}
            </div>

            <div id="eighth-policy">
                {% include "welcome/eighth_policy.html" %}
            </div>

            <div id="step-2">
                {% block step2 %}
                {% endblock %}
            </div>

            <div id="step-3">
                <h2>About Intranet</h2>
                <p>
                    Development on Intranet version 3 began in early 2013 and, after more than two years of work,
                    was first used during the 2015-2016 school year. While the application has been released,
                    development is not finished; it is continually being improved with bug fixes and new features.
                    {% if request.user.is_student %}
                    Intranet is an open source application and you can view its source code on <a href="https://github.com/tjcsl/ion" target="_blank">GitHub</a>.
                    {% endif %}
                </p>

                <div class="ion-welcome-logo"></div>
                <br><br><br>
                <br><br><br>
                <br>
                {% include "credits.html" %}

                <hr>
                <h2>About the TJ Computer Systems Lab and the Student Sysadmins</h2>
                <p>
                The Computer Systems Lab, or CSL, is one of TJ's senior research labs.
                A group of student Sysadmins (short for systems administrators) work to
                maintain machines and services provided by the CSL for the TJ community.
                Intranet is one of those services.
                {% block step3 %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
