<h2>8th Period Sign Up Policy</h2>
<p><i>I understand that:</i></p>
<p><b>All students must sign up for 8th period by the end of lunch.</b></p>
<p><b>Any student who has not signed up by lunch will be scheduled into an Administrative Study Hall.</b> Students may check Intranet or the roster posted outside the 8th period office for the location (no pass needed). Students may not change from that activity for any reason. Any absence from these study halls will not be cleared.</p>
<p><b>Any student whose activity is cancelled</b> must sign up for another activity before the end of lunch or come to the 8th period office for a pass to any other activity that is not full.</p>
<p><b>Any student who has signed up and wishes to change their activity</b> after lunch (except those in a sticky) must come get a pass to another <i>academic activity</i> that is not full.</p>
<p>There will be some circumstances where a student does not know by 12:30 that they need to meet with a teacher. In those <i>rare</i> cases, <i>your teacher</i> should communicate directly with the 8th period office.</p>
<h2>8th Period Attendance</h2>
<p><i>I understand that:</i></p>
<p>Because 8th period is a required part of the school day, the school must account for the whereabouts of each student during this time. <b>Attendance is recorded for each activity.</b></p>
<p>NOTE: <i>Student parking spaces are allocated only after a review of 8th period attendance records. Counselors and teachers may use 8th period attendance as one measure of responsibility and reliability when considering students for leadership positions, mentorships, or in preparing college recommendations.</i></p>
<p><b>Students must keep track of their attendance and absences must be cleared within two weeks.</b> The number of unexcused 8th period absences will be displayed in RED at the top of the 8th Period “box”.  If absences are not cleared, they may be referred to an administrator for placement in 8th period Detention.</p>
<h2>8th Period Detention Policy</h2>
<p><i>I understand that:</i></p>
<p>8th Period Detention is a double block activity with an administrator for students with unexcused 8th pd absences. Following the criteria below, students will be assigned to detention during 8th pd. Students receive an email letting them know and giving them a deadline to fix any mistakes. Students may not be excused for any reason and failure to show up for the entire period will result in a referral to the grade level administrator.</p>
<div style="padding:10px;margin:15px;border:1px solid black">
    Assignment to detention is based upon attendance EACH quarter. Absences are recorded for the year and DO NOT disappear after attending 8th pd detention.  Yearly totals are used for referrals (as outlined below), assigning leadership, mentorship, parking and other privileges.
</div>
<ul>
    <li><b><u>If a student gets 2 or more absences in any QUARTER,</u></b> they will be assigned to 8th pd detention.</li>
    <li><b><u>If a student gets any additional absences</u></b> in the SAME quarter after attending detention that quarter, they will be assigned to the next 8th pd detention.</li>
</ul>
<b>PLEASE NOTE: Students will get referred to an Assistant Principal (for possible additional consequences and/or Saturday detention) if any of the following apply:</b>
<ul>
    <li>failure to show up for the detention period</li>
    <li>getting assigned to 3 detentions in the year</li>
    <li>getting 5 or more absences in any quarter</li>
    <li>getting 10 or more absences in the year</li>
</ul>
<p>Staff members are available in the 8th period activity office to help you any time during the day.  Please stop by any time if you have any questions or need help.</p>
<div style="text-align:center"><a id="eighth-policy-next" href="#" class="button">Accept <i class="fas fa-chevron-right"></i></a></div>
