<h2>Mail Forwarding</h2>
<p>Set up email forwarding from your @tjhsst.edu email <a href="https://mailforwarding.tjhsst.edu" target="_blank">here</a>.</p>
<br>
<p>
    This service will forward emails received at your @tjhsst.edu address to another email address you specify.
    It is <b>strongly recommended</b> that you set up email forwarding, which will ensure that you see all of the messages sent to your account.
</p>
<br>
<p>If you don't want to forward your email, press the next button. If you decide later you want to forward your email, the link to this site can be found in Preferences.</p>

<br>
<div style="text-align:center"><button id="continue-step-1" class="continue-step-1-policy">Eighth Period Policies <i class="fas fa-chevron-right"></i></button></div>
