<h2>Mail Forwarding</h2>
<p>Enter your password and the email you wish to forward to below. If you don't want to forward your email, press the next button.
If you decide later you want to forward your email, you will have the option available in your preferences.</p>
<p>Do <b>NOT</b> put down your @fcpsschools.net address. We cannot forward to it.</p>
<form id="mail-forwarding-form">
    <table>
        <tr>
            <td><label for="username">Username: </label></td>
            <td><input id="username" type="text" name="username" value="{{ request.user.username }}" disabled></td>
        </tr>
        <tr>
            <td><label for="password">Password: </label></td>
            <td><input id="password" type="password" name="password"></td>
        </tr>
        <tr>
            <td><label for="forwarding_email">Email Address: </label></td>
            <td><input id="forwarding_email" type="text" name="forwarding_email"></td>
        </tr>
    </table>
    <a id="mail-forwarding-submit" href="#" class="button">Submit</a>
</form>
<br>
<div style="text-align:center"><button id="continue-step-1" class="continue-step-1-policy">Eighth Period Policies <i class="fas fa-chevron-right"></i></button></div>
