{% extends "welcome/base.html" %}
{% load static %}

{% block step1 %}
    {{ block.super }}
    <div style="text-align: center">
        <button id="continue-step-1-mail" class="continue-step-1-mail">Set up Mail Forwarding<i class="fas fa-chevron-right"></i></button>
    </div>
{% endblock %}

{% block step2 %}
    <h2>
        How to Navigate
        <button id="skip-step-2" class="continue-step-2 small-button" style="float:right">Skip</a>
    </h2>

    <div class="dash">
        <div class="dashboard-mobile-pics">
            <img src="{% static 'img/promo/dashboard-student-mobile.png' %}" alt="Dashboard page, mobile" class="mobile left" style="padding: 10px">
            <img src="{% static 'img/promo/dashboard-student-menu-mobile.png' %}" alt="Dashboard page, mobile" class="mobile right" style="padding: 10px">
            <br>
        </div>
        <div class="dashboard-text">
            <p>Intranet is fully optimized for small screens. On your phone, tablet, or other mobile device, you can simply visit <a href="https://ion.tjhsst.edu" target="_blank">ion.tjhsst.edu</a>. To access navigation items and the search bar, press the icon on the top left of the page next to the Intranet logo.</p>
        </div>
    </div>
    <div class="brs">
        <br><br><br>
    </div>
    <p>After logging in, you will reach the dashboard. This page shows, at a glance, new announcements for you and the TJ community as well as your current eighth period signups. To sign up for a block of eighth period, click the "Sign Up" button on the widget. If you have already selected an activity for this block, you may select "Change."</p>


    <div style="text-align: center">
        <img src="{% static 'img/promo/dashboard-student.png' %}" alt="Dashboard page" class="desktop dashboard-desktop">
    </div>


    <br>

    <img src="{% static 'img/promo/eighth-student-list-mobile.png' %}" alt="Eighth Period signup page" class="mobile eighth-mobile" style="text-align: left">
    <div class="eighth-text">
        <br>
        <p>This will take you to the Eighth Period homepage. On the top, you will see a listing showing all of the days containing a block of Eighth Period. Click on a block listed there to change the day you are viewing activities for.</p>
        <p>On the left side of the screen, you will see a listing of all the eighth period activities scheduled. To search for a specific activity, use the search box above the listing.</p>

        <p>To view more information about an activity, click on its name. More details about it will appear on the right. Buttons will appear that will allow you to "View Roster" or "Sign Up," if you are able. Some activities are restricted to certain groups, some are cancelled, and some fill up rather quickly. If you are unable to choose an activity to sign up for, a message will appear with an explanation.</p>
    </div>
    <img src="{% static 'img/promo/eighth-student-signup-mobile.png' %}" alt="Eighth Period signup information" class="mobile eighth-mobile eighth-mobile-detail" style="text-align: left; clear: left">

    <div style="text-align: center">
        <img src="{% static 'img/promo/eighth-student-list.png' %}" alt="Eighth Period signup page" class="desktop">
    </div>

    <br>
    <p>To access the student/faculty directory and look up a user, enter a search query on the bar at the top of the page. This will show a list of all the users that matched your query.</p>
    <br>
    <img src="{% static 'img/promo/search-results-small.png' %}" alt="Student directory searching" class="desktop" style="text-align: right">
    <br>
    <br>
    <p>After selecting a user, you will be able to view their personal information, class, and eighth period schedule, if they have decided to share this information publicly. You also have the capability to restrict other students from viewing your information; visit the Preferences page to change what others can see on your profile.</p>
    <img src="{% static 'img/promo/profile.png' %}" alt="User profile" class="desktop" float="left">
    <br><br><br>
    <div style="text-align: center">
        <button id="continue-step-2" class="continue-step-2">About Intranet <i class="fas fa-chevron-right"></i></button>
    </div>
{% endblock %}

{% block step3 %}
    <p>We are always looking for your feedback to make your experience with Intranet better. Please use the "Send Feedback" tool, which is accessible by clicking on your user icon in the top right corner, to voice your questions and comments.</p>
    <p>Thanks for reading and have a great year!</p>
    <div style="text-align: center">
        <a id="continue-step-3" href="{% url 'welcome_done' %}" class="button continue-step-3"><i class="fas fa-tachometer-alt fa-2x"></i><br>Go to Dashboard</a>
    </div>
{% endblock %}
