argon2-cffi==20.1.0
autobahn==20.12.3
Babel==2.9.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
celery==4.4.7
certifi==2020.12.5
channels==2.4.0
channels-redis==3.2.0
contextlib2==0.6.0.post1
cryptography==3.3.2
decorator==4.4.2
Django==2.2.18
django-cacheops==5.1
django-cors-headers==3.7.0
django-debug-toolbar==3.2
django-extensions==3.1.0
django-formtools==2.2
django-inline-svg==0.1.1
django-maintenance-mode==0.15.1
django-oauth-toolkit==1.3.3
django-pipeline==2.0.6
django-prometheus==2.1.0
django-redis-cache==2.1.3
django-redis-sessions==0.6.2
django-referrer-policy==1.0
django-requestlogging-redux==1.2.1
django-simple-history==2.12.0
django-user-agents==0.4.0
django-widget-tweaks==1.4.8
djangorestframework==3.12.2
docutils==0.16
Fabric3==1.14.post1
flower==0.9.7
gunicorn==20.0.4
hiredis==1.1.0
ipython==7.20.0
objgraph==3.5.0
pexpect==4.8.0
prometheus-client==0.8.0
psycopg2==2.8.6
pycryptodome==3.9.9
pysftp==0.2.9
python-dateutil==2.8.1
python-magic==0.4.18
reportlab==3.5.59
requests==2.25.1
requests-oauthlib==1.3.0
sentry-sdk==0.19.5
setuptools-git==1.2
Sphinx==3.4.3
sphinx-bootstrap-theme==0.7.1
vine==1.3.0  # pinned for flower

# Not direct dependencies, but need to be bumped for some reason
# (for example, bug or security fixes)
pillow>=8.1.0
asgiref>=3.3.1
twisted>=20.3.0
# Needed for sentry-sdk 0.12.0
aiocontextvars==0.2.2; python_version < "3.7"
