{# page that returns "Hello World" #}
{% comment %}
    ALWAYS namespace your styles by adding a container with a unique class
    so that your styles don't conflict. I recommend "page-<page-name>"

    For now, I guess you can declare your styles in here. I haven't figured
    out a very good idea for external links...

    There should always be a container element.
{% endcomment %}

<div class="page-hello-world">

    <style>
        .page-hello-world h1 {
            color: black;
            font-weight: bold;
            width: 100%;
        }
    </style>

    <h1>{{ message }} World</h1>
</div>
