{% extends "page_with_nav.html" %}
{% load phone_numbers %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Class
{% endblock %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/sortable-0.8.0/css/sortable-theme-minimal.css' %}">
    {% stylesheet 'eighth.common' %}
    {% stylesheet 'profile' %}
    <style type="text/css">
    h3 {
        font-size: 16px;
        font-weight: normal;
    }

    section {
        float: left;
        padding: 0 100px 25px 0;
    }

    section:last-child {
        padding-right: 0;
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/sortable-0.8.0/js/sortable.min.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="primary-content class-info">
        <h2>Room {{ room_number }}</h2>
        <h3>The following classes reside in this room:</h3>
        <table class="fancy-table zebra" data-sortable>
            <thead>
                <th>Period</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Room</th>
                <th>Semester</th>
            </thead>
            {% for class in classes %}
                <tr>
                    <td><a href="{% url 'period_courses' class.period %}">{{ class.period }}</a></td>
                    <td>
                        <a href="{% url 'class_section' class.section_id %}">
                            {{ class.course.name }}
                        </a>
                    </td>
                    <td>
                        {% if class.teacher %}
                        <a href="{% url 'user_profile' class.teacher.id %}">
                            {{ class.teacher.last_name }}
                        </a>
                        {% else %}
                        Unknown
                        {% endif %}
                    </td>
                    <td>
                        {% if class.room %}
                          <a href="{% url 'room_sections' class.room %}">{{ class.room }}</a>
                        {% else %}
                          Unknown
                        {% endif %}
                    </td>
                    <td>
                      {% if class.sem == "YR" %}
                        Full Year
                      {% elif class.sem == "S1" %}
                          First Semester
                      {% elif class.sem == "S2" %}
                          Second Semester
                      {% else %}
                          Unknown
                      {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No sections were found.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
