{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Map
{% endblock %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        body, .main, .primary-content {
            height: 80vh;
        }
        object {
            width: 100%;
        }
        #second {
            margin-left: -30%;
            width: 130%;
        }
    </style>
    <style type="text/css" id="svg-css">
        svg ellipse, svg path, svg rect {
            fill: none !important;
            stroke: none !important;
            pointer-events: all;
            cursor: pointer;
        }
        svg ellipse:hover, svg path:hover, svg rect:hover {
            fill: #0048ab !important;
            stroke: #0048ab !important;
        }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
$(document).ready(function() {
    $("object").each(function() {
        var t = $(this);
        t[0].addEventListener("load", function() {
            var doc = t[0].contentDocument;
            var style = doc.createElementNS("http://www.w3.org/2000/svg", "style");
            style.textContent = $("#svg-css").text();
            doc.getElementsByTagName("svg")[0].appendChild(style);
        });
    });
});
    </script>
{% endblock %}

{% block main %}
    <div class="primary-content">
        <h2>First Floor</h2>
        <object id="first" type="image/svg+xml" data="{% url 'map_first_floor' %}">
            Your browser does not support SVG images!
        </object>
        <h2>Second Floor</h2>
        <object id="second" type="image/svg+xml" data="{% url 'map_second_floor' %}">
            Your browser does not support SVG images!
        </object>
    </div>
{% endblock %}
