.meme-options {
    width: 100%
}

.meme-option {
    display: inline-block;
    margin: 10px;
    background-image: url(about:blank);
    height: 300px;
    width: 300px;
    background-size: cover;  
    background-position: center center;
}

.meme-options .meme-option {
    width: 100px;
    height: 100px;
    cursor: pointer; 
}

.meme-options .meme-option.selected {
    outline: 5px solid rgb(72, 72, 72);
}

.boardpost-content .meme-option {
    display: block;
    margin-left: auto;
    margin-right: auto;
}