.reactions-outer {
    position: relative;
    top: 10px;
    left: 15px;
    opacity: 0;
    display: none;
    z-index: 9998;
}

.react-button {
    z-index: 9999;
}

.reactions-box {
    bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 0px 0px 1px, rgba(0, 0, 0, 0.14902) 0px 2px 2px 0px;
    color: rgb(145, 151, 163);
    content: '""';
    height: 52px;
    left: 10px;
    overflow-wrap: break-word;
    position: absolute;
    right: 10px;
    width: 318px; /*292px;*/
    word-wrap: break-word;
    z-index: -1;
    perspective-origin: 146px 26px;
    transform-origin: 146px 26px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(145, 151, 163);
    border-radius: 40px 40px 40px 40px;
    font: normal normal normal normal 0px / 0px helvetica, arial, sans-serif;
    outline: rgb(145, 151, 163) none 0px;
    transition: height 0.2s ease 0s;
    padding: 5px 0 5px 5px;
}

.reaction-icon {
    background: rgba(0, 0, 0, 0) url("/static/themes/afd2016/reaction-sprite.png") no-repeat scroll 0px -96px / auto padding-box border-box;
    background-position: 0px -96px;
    color: rgb(145, 151, 163);
    cursor: pointer;
    display: inline-block;
    height: 48px;
    overflow-wrap: break-word;
    text-align: left;
    white-space: nowrap;
    width: 48px;
    word-wrap: break-word;
    perspective-origin: 24px 24px;
    transform-origin: 24px 24px;
    padding-right: 5px;
    vertical-align: middle;
}

.reaction-icon:hover {
    transform: scale(1.2, 1.2) translate(0, 0);
    transition: transform 200ms ease;
}

.reaction-icon.click {
    transform: scale(1.5, 1.5) translate(0, 0);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1 {
    background-position: 0px -144px;
}

/*
.reaction-icon.reaction-1:hover {
    transform: scale(1.2, 1.2) rotate(180deg);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1.click {
    transform: scale(1.5, 1.5) rotate(-180deg);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1.click-return {
    transform: scale(0.8, 0.8) rotate(0deg);
    transition: transform 200ms ease;
}
*/

.reaction-icon.reaction-2 {
    background-position: 0px -192px;
}

.reaction-icon.reaction-3 {
    background-position: 0px -96px;
}

.reaction-icon.reaction-4 {
    background-position: 0px -288px;
}

.reaction-icon.reaction-5 {
    background-position: 0px -240px;
}

.reaction-icon.reaction-6 {
    background-position: 0px 0px;
}