.reactions-outer {
    position: relative;
    top: 10px;
    left: 0;
    opacity: 0;
    display: none;
    z-index: 9998;
}

.react-button {
    z-index: 9999;
}

.reactions-box {
    bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0 0 0 1px, rgba(0, 0, 0, 0.14902) 0 2px 2px 0;
    color: rgb(145, 151, 163);
    content: '""';
    height: 52px;
    left: -30px;
    overflow-wrap: break-word;
    position: absolute;
    width: 424px; /*9: 477px; 7: 371px;*/
    word-wrap: break-word;
    z-index: -1;
    perspective-origin: 146px 26px;
    transform-origin: 146px 26px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0 none rgb(145, 151, 163);
    border-radius: 40px 40px 40px 40px;
    font: normal normal normal normal 0 / 0 helvetica, arial, sans-serif;
    outline: rgb(145, 151, 163) none 0;
    transition: height 0.2s ease 0s;
    padding: 5px 0 5px 5px;
}

.reactions-outer:not(.with-stallman) {
    zoom: 0.9;
    left: -10px;
}

.reactions-outer.with-stallman {
    zoom: 0.8;
    left: -12px;
}

.reactions-outer.with-stallman .reactions-box {
    width: 477px;
}


.reaction-icon {
    background: rgba(0, 0, 0, 0) url("/static/themes/afd2016/reaction-sprite.png") no-repeat scroll 0 -96px / auto padding-box border-box;
    background-position: 0 -96px;
    color: rgb(145, 151, 163);
    cursor: pointer;
    display: inline-block;
    height: 48px;
    overflow-wrap: break-word;
    text-align: left;
    white-space: nowrap;
    width: 48px;
    word-wrap: break-word;
    perspective-origin: 24px 24px;
    transform-origin: 24px 24px;
    padding-right: 5px;
    vertical-align: middle;
}

.reaction-icon.comment-reaction {
    zoom: 0.8;
}

.reactions-box .reaction-icon:hover {
    transform: scale(1.2, 1.2) translate(0, 0);
    transition: transform 200ms ease;
}

.reactions-box .reaction-icon.click {
    transform: scale(1.5, 1.5) translate(0, 0);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1 {
    background-position: 0 -144px;
}

/*
.reaction-icon.reaction-1:hover {
    transform: scale(1.2, 1.2) rotate(180deg);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1.click {
    transform: scale(1.5, 1.5) rotate(-180deg);
    transition: transform 200ms ease;
}

.reaction-icon.reaction-1.click-return {
    transform: scale(0.8, 0.8) rotate(0deg);
    transition: transform 200ms ease;
}
*/

.reaction-icon.reaction-2 {
    background-position: 0 -192px;
}

.reaction-icon.reaction-3 {
    background-position: 0 -96px;
}

.reaction-icon.reaction-4 {
    background-position: 0 -288px;
}

.reaction-icon.reaction-5 {
    background-position: 0 -240px;
}

.reaction-icon.reaction-6 {
    background-position: 0 0;
}

.reaction-icon.reaction-7 {
    background-position: 0 -48px;
}

.reaction-icon.reaction-8 {
    background-position: 0 -336px;
}

.reaction-icon.reaction-stallman {
    background-position: 0 0;
    background-image: url(/static/themes/afd2016/stallman.png);
}

.reactions-outer .reaction-stallman {
    display: none;
}

.reactions-outer.with-stallman .reaction-stallman {
    display: inline-block;
}
