<form action="{% url 'printing' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    <tr>
        <td colspan="2">
            <input type="submit" value="Print">
        </td>
    </tr>
    </table>
    <br>
    <p><span style="font-style:italic">Note</span>: Due to the nature of the .doc and .docx file format, the printing output may not be what you expect. Hence, we do not explicitly support printing those file formats, although they will still print. If possible, print PDF documents for accurate results.</p>
    <b>The following file formats are supported:</b>
    <ul>
        <li>.pdf: Adobe PDF</li>
        <li>.ps: Adobe PostScript</li>
        <li>.odt: OpenDocument Text Document</li>
        <li>.txt: Plain Text</li>
    </ul>
    <br>
    Do <b>NOT</b> attempt to print image files or non-supported file formats.
    <br>
    <b>The following restrictions apply:</b>
    <ul>
        <li>Print jobs can have a maximum of 10 pages.</li>
        <li>If the printer doesn't appear to be working, do <b>NOT</b> keep attempting to print. Instead, contact the Student Systems Administrators with <a href="{% url 'send_feedback' %}">the Ion feedback form</a>.</li>
        <li>Please be mindful of other printing users.</li>
        <li>Abuse of this feature will result in loss of printing privileges.</li>
    </ul>
    <br>
</form>
