{% extends "page_with_nav.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super}} - Polls
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/polls.css' %}" />
{% endblock %}

{% block main %}
    <div class="primary-content">
        <i class="fa fa-check-square-o" style="font-size: 50px;"></i> <span style="font-size: 50px; padding-left: 10px;">Polls</span>
        <div>
            <h3>Polls is still in the works &mdash; Coming Fall 2015!</h3>
            <p class="narrow-paragraph">Ion's version of polls is very similar to Iodine's. Answer surveys for yearbook, vote in elections, and make your voice heard.</p>
            <p>Have a suggestion for Polls? Tell us at <a href="mailto:intranet@tjhsst.edu">intranet@tjhsst.edu</a>.</p>
        </div>
    </div>
{% endblock %}
