{% load dates %}
{% load static %}

{% block js %}
    <script src="{% static 'js/vendor/jquery.timeago.js' %}"></script>
{% endblock %}

<div class="poll" data-id="{{ poll.id }}">
    <h3>
        {% if link_to_poll %}
            <a href="{% url 'poll' poll.id %}" class="poll-link">
                {{ poll.title }}
            </a>
        {% else %}
            {{ poll.title }}
        {% endif %}
        {% if not poll.visible %} (HIDDEN){% endif %}
        {% if is_polls_admin %}
            <div class="poll-icon-wrapper">
                <a href="{% url 'modify_poll' poll.id %}">
                    <i class="poll-icon fas fa-pencil-alt"></i>
                </a>
                <a href="{% url 'delete_poll' poll.id %}" class="poll-delete">
                    <i class="poll-icon far fa-trash-alt"></i>
                </a>
            </div>
        {% endif %}
    </h3>

    <div class="poll-metadata">
        {% comment %}
        by {{ poll.user.full_name|escape }} {% if poll.show_fuzzy_date %}&bull; <span class="timeago" title="{{ poll.time|date:'c' }}">{{ poll.time|fuzzy_date|capfirst }}</span>{% endif %} &bull; {% endcomment %}
        {% if poll.before_start_time %}
            Opens <time class="timeago" datetime="{{ poll.start_time|date:"c" }}">{{ poll.start_time|date:"l, F j, Y"}}{% if poll.start_time|date:"P" != "midnight" %} {{ poll.start_time|date:"P" }}{% endif %}</time> &bull;
        {% elif poll.before_end_time %}
            Closes <time class="timeago" datetime="{{ poll.end_time|date:"c" }}">{{ poll.end_time|date:"l, F j, Y"}}{% if poll.end_time|date:"P" != "midnight" %} {{ poll.end_time|date:"P" }}{% endif %}</time> &bull;
        {% else %}
            Closed <time class="timeago" datetime="{{ poll.end_time|date:"c" }}">{{ poll.end_time|date:"l, F j, Y"}}{% if poll.end_time|date:"P" != "midnight" %} {{ poll.end_time|date:"P" }}{% endif %}</time> &bull;
        {% endif %}
        for
        {% for group in poll.groups.all %}
            {{ group }}
            {% if not forloop.last %},
            {% else %}
            {% endif %}
        {% empty %}
            everyone
        {% endfor %}
        {% if is_polls_admin and not poll.before_start_time %}
            &bull; {{ poll.get_voted_string }}
        {% endif %}
    </div>

    {% if poll.announcement and not announcement %}
        {% with announcement=poll.announcement link_to_announcement=1 %}
            {% include "announcements/announcement.html" %}
        {% endwith %}
    {% endif %}

    <div class="poll-content">
        {% if poll.description %}
            {{ poll.description|safe }}
        {% else %}
            Click on the button below to vote in this poll.
        {% endif %}
    </div>

    <br>
    <br>

    <div class="bottom-row">
        {% if request.user in poll.get_users_voted %}
        <span class="voted-status voted">
            <i class="fas fa-check"></i> You have voted in this poll.
        </span>
        {% else %}
        <span class="voted-status not-voted">
            <i class="fas fa-exclamation-triangle"></i> You have not voted in this poll.
        </span>
        {% endif %}
    </div>

    <a href="{% url 'poll_vote' poll.id %}" class="button">
        Vote
    </a>

    {% if is_polls_admin %}
        <a href="{% url 'poll_results' poll.id %}" class="button">
            View Results
        </a>
    {% endif %}



</div>
