{% extends "page_with_nav.html" %}
{% load static %}
{% load pipeline %}

{% block title %}
    {{ block.super }} - Vote
{% endblock %}

{% block css %}
    {{ block.super }}
    {% stylesheet 'dashboard' %}
    {% stylesheet 'polls' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
    $(function() {
        $(".question-clear-action").change(function() {
            var chk = $(this).prop("checked");
            var ul = $(this).parent().parent();

            ul.children().each(function() {
                var li = $("input", $(this));
                if(!li.hasClass('question-clear-action')) {
                    li.prop("checked", false);
                    li.attr("disabled", chk);
                }
            });
        })
    })
    </script>
{% endblock %}

{% block head %}
    {% if dark_mode_enabled %}
        {% stylesheet 'dark/base' %}
        {% stylesheet 'dark/nav' %}
        {% stylesheet 'dark/polls' %}
    {% endif %}
{% endblock %}

{% block main %}
    <div class="primary-content polls">
        <a href="{% url 'polls' %}" class="button print-hide">
            <i class="fas fa-arrow-left"></i> Polls
        </a>
        <h2>Vote: {{ poll }}</h2>

            <p>{{ poll.description|safe }}</p>
        {% if user != request.user %}<b>Voting as: {{ user }}</b><br>{% endif %}
        {% if user in poll.get_users_voted %}
            <span class="voted-status voted">
                <i class="fas fa-check"></i> You have voted in this poll.
            </span>
        {% else %}
            <span class="voted-status not-voted">
                <i class="fas fa-exclamation-triangle"></i> You have not voted in this poll.
            </span>
        {% endif %}

        <form action="{% url 'poll_vote' poll.id %}{% if user != request.user %}?user={{ user.id }}{% endif %}" method="post">
            {% csrf_token %}
            <hr>

            <ol class="questions">
            {% for q in questions %}
                <li>
                    {{ q.question|safe }}
                    <div class="question">
                    {% if q.is_single_choice %}
                        <ul class="answers">
                        {% for choice in q.choices %}
                            <li>
                                <input type="radio"
                                       id="question-{{ q.num }}-{{ choice.num }}"
                                       name="question-{{ q.num }}"
                                       value="{{ choice.num }}"
                                       {% if choice in q.current_choices %} checked {% endif %}>

                                <label for="question-{{ q.num }}-{{ choice.num }}">
                                    {{ choice.info|safe }}
                                </label>
                            </li>
                        {% endfor %}
                            <li>
                                <input type="radio"
                                       id="question-{{ q.num }}-clear"
                                       name="question-{{ q.num }}"
                                       value="CLEAR"
                                       {% if q.current_vote_clear %} checked {% endif %}>

                                <label for="question-{{ q.num }}-clear" class="clear-vote">
                                    Clear Vote
                                </label>
                            </li>
                        </ul>
                    {% elif q.is_many_choice %}
                        {% if q.type == "SAP" %}
                            You have 1 vote, that will be split for up to {{ q.max_choices }} choice{{ q.max_choices|pluralize }}:
                        {% else %}
                            You may select up to {{ q.max_choices }} choice{{ q.max_choices|pluralize }}:
                        {% endif %}
                        <br>
                        <ul class="answers">
                        {% for choice in q.choices %}
                            <li>
                                <input type="checkbox"
                                       id="question-{{ q.num }}-{{ choice.num }}"
                                       name="question-{{ q.num }}"
                                       value="{{ choice.num }}"
                                       {% if choice in q.current_choices %} checked {% endif %}
                                       {% if q.current_vote_clear %} disabled {% endif %}>

                                <label for="question-{{ q.num }}-{{ choice.num }}">
                                    {{ choice.info|safe }}
                                </label>
                            </li>
                        {% endfor %}
                            <li>
                                <input type="checkbox"
                                       id="question-{{ q.num }}-clear"
                                       class="question-clear-action"
                                       name="question-{{ q.num }}"
                                       value="CLEAR"
                                       {% if q.current_vote_clear %} checked {% endif %}>

                                <label for="question-{{ q.num }}-clear" class="clear-vote clear-vote">
                                    Clear Vote
                                </label>
                            </li>
                        </ul>
                    {% elif q.is_writing %}
                        {% if q.type == "FRE" %}
                            <textarea id="question-{{ q.num }}-writing"
                                      name="question-{{ q.num }}"
                                      class="question-writing"
                                      placeholder="Answer here..."
                            >{% if q.current_vote %}{{ q.current_vote.answer|escape }}{% endif %}</textarea>
                        {% elif q.type == "SRE" %}
                            <input type="text"
                                      id="question-{{ q.num }}-writing"
                                      name="question-{{ q.num }}"
                                      class="question-writing short"
                                      placeholder="Answer here..."
                                      value="{% if q.current_vote %}{{ q.current_vote.answer|escape }}{% endif %}">
                        {% endif %}
                    {% else %}
                        Question type {{ q.type }} unsupported.
                    {% endif %}
                    </div>
                    <br>
                </li>
            {% endfor %}
            </ol>
            {% if can_vote %}
                <input type="submit" value="Vote!">
            {% else %}
                You can't vote in this poll.
            {% endif %}
        </form>
    </div>

{% endblock %}
