<style type="text/css">
.ap-schedule-container {
    height: 130px;
    margin-left: -180px;
    zoom: 0.9;
}



{% if landscape %}
    .touch-signage .ap-schedule-container {
        position: absolute;
        left: 25%;
        width: 600px;
        margin-left: -300px;
        background: #f0f0f0;
        z-index: 9999;
        zoom: 0.65;
    }
{% endif %}

</style>
<script type="text/javascript">
$(function() {
    var d = new Date().getDay() + 1;
    if(d < 2) d = 2;
    if(d > 6 && d < 9) d = 9;
    $(".ap-schedule-day.day-"+d).show();
});
</script>
{% include "auth/ap_week_schedule.html" %}