{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>Ion Touch Signage</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <style type="text/css">
    h1 {
        margin: 10px;
    }
    </style>
</head>

<body>
    <center>
        <h1>Welcome to the TJ Computer Systems Lab</h1>
    </center>
</body>
</html>

