{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/themes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/signage.base.css' %}" />



    <script type="text/javascript" src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/schedule.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>

    <script type="text/javascript">
    $(function() {
        setInterval(function() {
            var now = new Date();
            var hr = now.getHours();
            if(hr == 0) hr = 12;
            if(hr > 12) hr -= 12;
            var min = now.getMinutes();
            if(min < 10) min = "0"+min;
            $(".time").html(hr + ":" + min);
        }, 1000);

        setTimeout(function() { location=location; }, 20 * 60 * 1000)
    })
    </script>
</head>

<body class="auto-zoom-out">

    <div class="small-header">
        <img class="tjlogo" src="{% static 'img/tjlogo-words.png' %}" />
        <div class="time">&nbsp;</div>
        <div class="schedule-outer">
            {% include "schedule/view.html" %}
        </div>
    </div>

    <iframe class="iframe" src="{{ url }}"></iframe>
</body>
</html>
