<h3>Advanced Search Tips</h3>

<p>
    <b>Searchable Fields</b>
    <ul>
        <li><em>name</em></li>
        <li><em>first</em></li>
        <li><em>last</em></li>
        <li><em>middle</em></li>
        <li><em>nickname</em></li>
        <li><em>id</em> (e.g. 31863)</li>
        <li><em>username</em> (e.g. 2015elowman)</li>
        <li><em>gradyear</em> (e.g. 2015)</li>
        <li><em>grade</em> (9-12, staff)</li>
        <li><em>sex</em></li>
        <li><em>email</em></li>
    </ul>
</p>
<p>
    <b>Examples</b>
    <ul>
        <li>
            To find all members of the class of 2016:
            <br>
            <em class="search-example">gradyear:2016</em>
        </li>
        <li>
            To find all females:
            <br>
            <em class="search-example">sex:female</em>
        </li>
        <li>
            To find all males in the class of 2016:
            <br>
            <em class="search-example">gradyear:2016 sex:male</em>
        </li>
        <li>
            To find senior girls with first names containing "an" followed by "a":
            <br>
            <em class="search-example">first:an*a sex:female grade:12</em>
        </li>
        <li>
            To find users with a last name of "Le" or "Lee":
            <br>
            <em class="search-example">last:le OR last:lee</em>
        </li>
        <li>
            To find teachers with last names ending in "y":
            <br>
            <em class="search-example">grade:staff last:*y</em>
        </li>
    </ul>
</p>
