.reference em {
    font-style: normal;
}

dd {
    margin-left: 30px!important;
}

.class > dt {
    font-size: 110%;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 25px;
}

dt:target, .highlighted {
    background-color: #F0F0F0;
}

.navbar-version {
    display: none;
}
