.large-nav-buttons {
    display: block;
    position: absolute;
    width: 328px; height: 248px;
    left: 50%;
    margin-left: -164px;
    margin-top: 5%;

	border: 1px solid rgb(216, 216, 216);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
	float: left;
	padding: 1px 0;
	behavior: url("/static/js/PIE/PIE.htc");
}

.large-nav-buttons td {
	/*border: 1px solid rgb(216, 216, 216);
	margin: -1px -1px -1px -1px;*/
	padding: 25px;
}

.large-nav-buttons a {
	text-decoration: none;
	color: rgb(169,169,169);
}

.large-nav-buttons a:hover {
	text-decoration: none;
	color: rgb(72,72,72);
}

.large-nav-icon {
	display: block;
	width: 56px;
	height: 56px;
	background-image: url("/static/img/icons.png");
	background-size: 336px 112px;
	margin-left: auto;
	margin-right: auto;
}

.large-nav-icon.dashboard-icon {
	background-position: 0 0;
}

.large-nav-buttons .selected .dashboard-icon,
.large-nav-buttons a:hover .dashboard-icon {
	background-position: 0 56px;
}

.large-nav-icon.eighth-icon {
	background-position: -56px 0;
}

.large-nav-buttons .selected .eighth-icon,
.large-nav-buttons a:hover .eighth-icon {
	background-position: -56px -56px;
}

.large-nav-icon.events-icon {
	background-position: -112px 0;
}

.large-nav-buttons .selected .events-icon,
.large-nav-buttons a:hover .events-icon {
	background-position: -112px 56px;
}

.large-nav-icon.groups-icon {
	background-position: -168px 0;
}

.large-nav-buttons .selected .groups-icon,
.large-nav-buttons a:hover .groups-icon {
	background-position: -168px 56px;
}

.large-nav-icon.polls-icon {
	background-position: -224px 0;
}

.large-nav-buttons .selected .polls-icon,
.large-nav-buttons a:hover .polls-icon {
	background-position: -224px 56px;
}

.large-nav-icon.files-icon {
	background-position: -280px 0;
}

.large-nav-buttons .selected .files-icon,
.large-nav-buttons a:hover .files-icon {
	background-position: -280px 56px;
}
