{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>
        {% block title %}
        Ion
        {% endblock %}
    </title>
    <meta charset='UTF-8' />
    <!-- TODO: Add .ico format -->
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/x-icon">
    <style type='text/css'>
        @import url('http://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700');
        @import url("{% static 'css/base.css' %}");
    </style>
    {% block css %}
    {% endblock %}

    <script type='text/javascript' src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type='text/javascript'>
    data = {
        {# TODO: This should be set to the value from docs/conf.py #}
        'version': '3.0.0',
        'static': '{{ STATIC_URL }}'
    }
    </script>

    {% block js %}
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>