{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>
        {% block title %}
        Ion
        {% endblock %}
    </title>
    <meta charset='UTF-8' />
    <style type='text/css'>
        @import url("{% static 'css/reset.css' %}");
        @import url('http://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700');
        body {
            font-family: "Open Sans", Arial, Helvetica, Roboto, "Droid Sans", sans-serif;
            background-color: #F0F0F0;
        }
        h1 {
            font-size: 24px;
            font-weight: normal;
        }
    </style>
    {% block css %}
    {% endblock %}

    <script type='text/javascript' src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    
    {% block js %}
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>