{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>(productivity)</title>
</head>
<body style="background-image:url({% static 'img/productivity2.gif' %}); background-position:cover">
    <marquee behavior="scroll" direction="up" scrollamount="60" scrolldelay="0" truespeed style="position:absolute; top:0; bottom:0; left:0; right:0; height:100%">
        <div style="position:absolute; top:0; bottom:0; left:0; right:0;">
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:25%">
            </marquee>
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:50%">
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:75%">
            </marquee>
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:100%">
            </marquee>
        </div>
        <div style="position:absolute; top:0; bottom:0; left:0; right:0;">
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:25%">
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:50%">
            </marquee>
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:75%">
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:100%">
            </marquee>
        </div>
    </marquee>
    <marquee behavior="scroll" direction="down" scrollamount="60" scrolldelay="0" truespeed style="position:absolute; top:0; bottom:0; left:0; right:0; height:100%">
        <div style="position:absolute; top:0; bottom:0; left:0; right:0;">
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:25%">
            </marquee>
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:50%">
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:75%">
            </marquee>
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:100%">
            </marquee>
        </div>
        <div style="position:absolute; top:0; bottom:0; left:0; right:0;">
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:25%">
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:50%">
            </marquee>
            <marquee behavior="scroll" direction="left" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:75%">
            </marquee>
            <marquee behavior="scroll" direction="right" scrollamount="60" scrolldelay="0" truespeed>
                <img src="{% static 'img/productivity.gif' %}" alt="" style="padding-left:100%">
            </marquee>
        </div>
    </marquee>
</body>
</html>