<div class="credit-text">
    <div class="credit-section">
        <b>Intranet 3 Founding Development Team:</b>
        <ul>
            <li>Ethan Lowman (2015)</li>
            <li>James Woglom (2016)</li>
        </ul>
        <br>
    </div>
    <div class="credit-section">
        <b>Intranet 3 Development Team:</b>
        <ul>
            <li>Ethan Lowman (2015)</li>
            <li>James Woglom (2016)</li>
            <li>Samuel Damashek (2017)</li>
            <li>Peter Foley (2013)</li>
            <li>Susanna Bradbury (2017)</li>
            <li>Timothy Cyrus (2016)</li>
            <li>Jacob Ajit (2017)</li>
            <li>Eric Wang (2017)</li>
            <li>James Houghton (2017)</li>
            <li>Naitian Zhou (2018)</li>
            <li>Omkar Kulkarni (2019)</li>
            <li>Dylan Jones (2019)</li>
            <li>Theo Ouzhinski (2020)</li>
            <li>John Beutner (2020)</li>
            <li>...more to come...</li>
        </ul>
        <br>
    </div>
    <div class="credit-section">
        <b>Additional Thanks:</b>
        <ul>
            <li>Ms. Allison Agee</li>
            <li>Mrs. Joan Burch</li>
            <li>Ms. Marie Lauducci</li>
            <li>Mr. Andrew Hamilton</li>
            <li>Dr. Shane Torbert</li>
        </ul>
    </div>
</div>
