<div class="credit-text">
    <span class="credit-section">
        <b>Intranet 3 Founding Development Team:</b>
        <ul>
            <li>Ethan Lowman (2015)</li>
            <li>James Woglom (2016)</li>
        </ul>
        <br />
    </span>
    <span class="credit-section">
        <b>Intranet 3 Development Team:</b>
        <ul>
            <li>Ethan Lowman (2015)</li>
            <li>James Woglom (2016)</li>
            <li>Samuel Damashek (2017)</li>
            <li>Peter Foley (2013)</li>
            <li>Susanna Bradbury (2017)</li>
            <li>...more to come...</li>
        </ul>
        <br />
    </span>
    <span class="credit-section">
        <b>Additional Thanks:</b>
        <ul>
            <li>Ms. Allison Agee</li>
            <li>Mrs. Joan Burch</li>
            <li>Ms. Marie Lauducci</li>
            <li>Mr. Andrew Hamilton</li>
        </ul>
    </span>
</div>