<style type="text/css">
.devel-warning {
    position: absolute;
    width: 600px;
    left: -200px;
    background-color: yellow;
    border: 1px solid black;
    padding: 10px 0;
}
@media (max-width: 600px) {
    .devel-warning {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
    }
}
@media (max-height: 715px) {
    .center {
        /* move down 70px */
        margin-top: -200px;
    }
}
</style>

<div class="devel-warning">
    This is an Ion testing environment. To access the production Intranet system, visit <a href="https://iodine.tjhsst.edu">iodine.tjhsst.edu</a>.
</div>