<br>
--

    <table>
        <tr>
            <td style="padding: 5px 10px">
                <img src="{{ base_url }}static/img/logos/Icon-60.png" alt="Intranet logo">
            </td>
            <td>
            <p style="font-size: 9pt">
                This is an automated message sent from the <a href="{{ base_url }}">TJ Intranet system</a>.<br>
                {% if not no_unsubscribe %}
                    To unsubscribe, update your Notification Preferences on Intranet.
                {% endif %}
            </p>
            </td>
        </tr>
    </table>

  <p style="font-size: 9pt; color: gray">
    Thomas Jefferson High School for Science and Technology<br>
    6560 Braddock Road<br>
    Alexandria, VA, 22312<br>
    (703) 750-8300
  </p>
</div>
