<div itemscope itemtype="http://schema.org/EmailMessage">
    {% if target and name %}
    <div itemprop="action" itemscope itemtype="http://schema.org/ViewAction">
        <link itemprop="url" href="{{ target }}">
        <meta itemprop="name" content="{{ name }}">
    </div>
    {% endif %}
    {% if description %}
        <meta itemprop="description" content="{{ description }}">
    {% endif %}
    {% if base_url %}
    <div itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
        <meta itemprop="name" content="TJ Intranet">
        <link itemprop="url" href="{{ base_url }}">
    </div>
    {% endif %}
</div>
