<style>
    .devel-warning {
        position: absolute;
        width: 600px;
        left: -200px;
        background-color: yellow;
        border: 1px solid rgb(210, 208, 66);
        padding: 10px;
        border-radius: 4px;
    }
    @media (max-width: 600px) {
        .devel-warning {
            width: calc(160% - 20px);
            top: 20px;
            left: -30%;
        }
    }
    @media (max-height: 715px) {
        .center {
            /* move down 70px */
            margin-top: -200px;
        }
    }
</style>

<div class="devel-warning">
    Ion will be unavailable beginning at 8:30 PM December 30th for system upgrades.
</div>
