{% load static %}

<meta charset="UTF-8">

<meta name="application-name" content="TJ Intranet">
<meta name="msapplication-tooltip" content="TJ Intranet">

<meta name="description" content="The Intranet for students and faculty at the Thomas Jefferson High School for Science and Technology (TJHSST). Student-created, run, and maintained.">
<meta name="keywords" content="TJ Intranet, TJ Ion, TJHSST, Eighth Period, Thomas Jefferson High School for Science and Technology, TJ CSL, Computer Systems Lab">
<meta name="author" content="The TJ Intranet Development Team">

<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="TJ Intranet">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="msapplication-starturl" content="/">

<meta name="theme-color" content="#0048AB">

<meta name="viewport" content="width=device-width,initial-scale=1.0">

<meta name="og:title" content="TJ Intranet">
<meta name="og:site_name" content="TJ Intranet">
<meta name="og:description" content="The Intranet for students and faculty at the Thomas Jefferson High School for Science and Technology (TJHSST). Student-created, run, and maintained.">
<meta name="og:image" content="{% static 'img/logos/touch/touch-icon512.png' %}">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">

<!-- Chrome Add to Homescreen -->
<link rel="manifest" href="/static/manifest.json">

<!-- iOS/Safari touch icons -->
<link rel="apple-touch-icon" href="{% static 'img/logos/touch/touch-icon60.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/logos/touch/touch-icon76.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/logos/touch/touch-icon120.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/logos/touch/touch-icon152.png' %}">
