{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- General -->
<meta name="application-name" content="TJ Intranet">
<meta name="description" content="The Intranet for students and faculty at the Thomas Jefferson High School for Science and Technology (TJHSST). Student-created, run, and maintained.">
<meta name="keywords" content="TJ Intranet, TJ Ion, TJHSST, Eighth Period, Thomas Jefferson High School for Science and Technology, TJ CSL, Computer Systems Lab">
<meta name="author" content="The TJ Intranet Development Team">
<meta name="theme-color" content="#0048ab">

<!-- Open Graph -->
<meta name="og:title" content="TJ Intranet">
<meta name="og:site_name" content="TJ Intranet">
<meta name="og:description" content="The Intranet for students and faculty at the Thomas Jefferson High School for Science and Technology (TJHSST). Student-created, run, and maintained.">
<meta name="og:image" content="{% static 'img/logos/touch/touch-icon512.png' %}">

<!-- Browser -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">

<!-- Windows -->
<meta name="msapplication-tooltip" content="TJ Intranet">
<meta name="msapplication-TileColor" content="#0048ab">
<meta name="msapplication-config" content="{% static 'browserconfig.xml' %}">
<meta name="msapplication-starturl" content="/">

<!-- macOS -->
<link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#0048ab">

<!-- iOS -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/logos/touch/touch-icon180.png' %}">
<meta name="apple-mobile-web-app-title" content="TJ Intranet">
<meta name="apple-mobile-web-app-capable" content="yes">
{% include "apple-startup-images.html" %}

<!-- Android -->
<link rel="manifest" href="{% static 'manifest.json' %}">
<meta name="mobile-web-app-capable" content="yes">

<!-- Legacy -->
<link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}">
