{% load staticfiles %}

<meta charset="UTF-8" />
<meta name="description" content="The intranet for students and faculty at The Thomas Jefferson High School for Science and Technology in Alexandria, VA." />
<meta name="keywords" content="TJ Intranet, TJHSST Intranet, Thomas Jefferson Intranet, Thomas Jefferson High School for Science and Technology" />
<meta name="author" content="The TJ Intranet Development Team" />

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<link rel="apple-touch-icon" href="{% static 'img/logos/logos/Icon-60.png' %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/logos/logos/Icon-76.png' %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/logos/logos/Icon-60@2x.png' %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/logos/logos/Icon-76@2x.png' %}">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width,initial-scale=1.0" />
