<ul class="nav">
    {% block nav %}
        <li {% if nav_category = "dashboard" %}class="selected"{% endif %}>
            <a href="/">
                <i class="nav-icon dashboard-icon"></i>
                Dashboard
            </a>
        </li>

        <li {% if nav_category = "eighth" %}class="selected"{% endif %}>
            <a href="/eighth">
                <i class="nav-icon eighth-icon"></i>
                Eighth
            </a>
        </li>

        <li {% if nav_category = "events" %}class="selected"{% endif %}>
            <a href="/events">
                <i class="nav-icon events-icon"></i>
                Events
            </a>
        </li>

        <li {% if nav_category = "groups" %}class="selected"{% endif %}>
            <a href="/groups">
                <i class="nav-icon groups-icon"></i>
                Groups
            </a>
        </li>

        <li {% if nav_category = "polls" %}class="selected"{% endif %}>
            <a href="/polls">
                <i class="nav-icon polls-icon"></i>
                Polls
            </a>
        </li>

        <li {% if nav_category = "files" %}class="selected"{% endif %}>
            <a href="/files">
                <i class="nav-icon files-icon"></i>
                Files
            </a>
        </li>

    {% endblock %}
</ul>
