{% load static %}
<ul class="nav">
    {% block nav %}
        <li {% if nav_category == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url 'index' %}">
                <i class="nav-icon dashboard-icon"></i>
                Dashboard
            </a>
        </li>

        {% if request.user.is_eighth_admin and request.user.is_student %}
            <li {% if nav_category == "eighth" %}class="selected"{% endif %}>
                <a href="{% url 'eighth_signup' %}">
                    <div class="nav-alert-container">
                        <i class="nav-icon eighth-icon"></i>
                        {% if not request.user.signed_up_next_few_days %}
                        <i class="fas fa-exclamation-circle nav-alert" style="right: 18px"></i>
                        {% endif %}
                    </div>
                    Signup
                </a>
            </li>
            <li {% if nav_category == "eighth_admin" %}class="selected"{% endif %}>
                <a href="{% url 'eighth_admin_dashboard' %}">
                    <i class="nav-icon eighth-icon"></i>
                    Admin
                </a>
            </li>
        {% else %}
            <li {% if nav_category == "eighth" or nav_category == "eighth_admin" %}class="selected"{% endif %}>
                <a href="{% if request.user.is_eighth_admin %}{% url 'eighth_admin_dashboard' %}{% else %}{% url 'eighth_redirect' %}{% endif %}">
                    <div class="nav-alert-container">
                        <i class="nav-icon eighth-icon"></i>
                        {% if not request.user.signed_up_next_few_days %}
                        <i class="fas fa-exclamation-circle nav-alert"></i>
                        {% endif %}
                    </div>
                    Eighth
                </a>
            </li>
        {% endif %}

        {% comment %}
        <li {% if nav_category == "board" %}class="selected"{% endif %}>
            <a href="{% url 'board' %}">
                <i class="fas fa-comments" style="font-size: 28px;padding-bottom: 1px"></i>
                Connect
            </a>
        </li>
        {% endcomment %}
        {% if not request.user.is_restricted %}
        <li {% if nav_category == "events" %}class="selected"{% endif %}>
            <a href="{% url 'events' %}">
                <i class="nav-icon events-icon"></i>
                Events
            </a>
        </li>

        {% comment %}
        {% if request.user.is_student %}
            <li {% if nav_category == "board" %}class="selected"{% endif %}>
                <a href="{% url 'board' %}">
                    <i class="nav-icon" style="background: none">
                        <i class="far fa-file-alt" style="font-size: 22px; line-height: 28px"></i>
                    </i>
                    Board
                </a>
            </li>
        {% endif %}
        {% endcomment %}

        {% comment %}
        <li {% if nav_category == "groups" %}class="selected"{% endif %}>
            <a href="{% url 'groups' %}">
                <i class="nav-icon groups-icon"></i>
                Groups
            </a>
        </li>
        {% endcomment %}

        <li {% if nav_category == "polls" %}class="selected"{% endif %}>
            <a href="{% url 'polls' %}">
                <div class="nav-alert-container">
                    <i class="nav-icon polls-icon"></i>
                    {% if request.user.has_unvoted_polls %}
                    <i class="fas fa-exclamation-circle nav-alert"></i>
                    {% endif %}
                </div>
                Polls
            </a>
        </li>

        <li {% if nav_category == "files" %}class="selected"{% endif %}>
            <a href="{% url 'files' %}">
                <i class="nav-icon files-icon"></i>
                Files
            </a>
        </li>

        {% if is_tj_ip or request.user.has_print_permission %}
            <li {% if nav_category == "printing" %}class="selected"{% endif %}>
                <a href="{% url 'printing' %}">
                    <i class="nav-icon print-icon"></i>
                    Printing
                </a>
            </li>
        {% endif %}

        {% if show_bus_nav %}
             <li {% if nav_category == "bus" %}class="selected"{% endif %}>
                <a href="{% url 'bus' %}">
                    <i class="nav-icon bus-icon"></i>
                    Bus
                </a>
            </li>
        {% endif %}

        {% if request.user.is_teacher or request.user.is_eighth_admin %}
        <li>
          <a href="{% static "teacher-guide.pdf" %}" target="_blank">
                <i class="nav-icon help-icon"></i>
                Help
            </a>
        </li>
        {% endif %}
        {% endif %}
    {% endblock %}
</ul>
