{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>{% block title %}Intranet{% endblock %}</title>
    <meta charset='UTF-8' />
    <meta name="description" content="The intranet for students and faculty at The Thomas Jefferson High School for Science and Technology in Alexandria, VA." />
    <meta name="keywords" content="TJ Intranet, TJHSST Intranet, Thomas Jefferson Intranet, Thomas Jefferson High School for Science and Technology" />
    <meta name="author" content="The TJ Intranet Development Team" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="apple-touch-icon" href="{% static 'img/logos/logos/Icon-60.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/logos/logos/Icon-76.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/logos/logos/Icon-60@2x.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/logos/logos/Icon-76@2x.png' %}">

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    {% block css %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript">
            Modernizr.load({
                test: Modernizr.borderradius,
                nope: "{% static 'js/vendor/PIE/PIE.js' %}"
            });

            Modernizr.load({
                test: Modernizr.touch,
                nope: "//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"
            });



            {% block modernizr %}
            {% endblock %}

            $(document).ready(function() {
                $("body").removeClass("notransition");
            });
        </script>
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body class="notransition{% block bodyclass %}{% endblock %}"{% block bodytag %}{% endblock %}>
    {% block body %}
    {% endblock %}
</body>
</html>
