{% extends "page_base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/page_base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.core.css' %}" />
    <!--[if IE 7]>
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/lib/jquery-ui-1.10.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/responsive.core.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var time = 150;

            var clickInside = function(event) {
                event.stopPropagation();
            }

            var clickOutside = function (e) {
                if($(e.target).parents().andSelf().hasClass("dropdown-allow")) {
                    return;
                }
                if (! $(e.target).parents().andSelf().hasClass("dropdown-item-wrapper") ) {
                    closeMenu($(".dropdown-open .dropdown-menu"), true);
                    $(".has-dropdown").removeClass("dropdown-open");
                }
            }

            var openMenu = function(menu, bindEvents) {
                menu.show();
                menu.stop().animate({ top: "0", opacity: 1 }, time, "easeInQuart", function() {
                    if (bindEvents) {
                        $(document).bind("click tap", clickOutside);
                        $(".dropdown-menu").bind("click", clickInside);
                    }
                });
            }

            var closeMenu = function(menu, unbindEvents) {
                menu.stop().animate({ top: "10px", opacity: 0 }, time, "easeOutQuart", function() {
                    menu.hide();
                    if (unbindEvents) {
                        $(".dropdown-menu").unbind("click", clickInside);
                        $(document).unbind("click tap", clickOutside);
                    }
                });
            }


            $(".has-dropdown").click(function(event) {
                var menu_clicked = $(this).children(".dropdown-menu");
                var already_open = $(".dropdown-open .dropdown-menu")

                if ($(this).hasClass("dropdown-open")) {
                    // Closing open menu
                    closeMenu(menu_clicked);
                    $(document).unbind("click tap", clickOutside);
                    $(".dropdown-menu").unbind("click", clickInside);
                    $(".has-dropdown").removeClass("dropdown-open");
                } else if (already_open.length == 0) {
                    // All menus closed, opening one of them
                    openMenu(menu_clicked, true);
                    menu_clicked.parent().addClass("dropdown-open");
                } else {
                    // Switching menu
                    openMenu(menu_clicked, false);
                    closeMenu(already_open, false);
                    $(".has-dropdown").removeClass("dropdown-open");
                    menu_clicked.parent().addClass("dropdown-open");
                }
            });

            // Calculate dimensions to align arrow to icons/text in header
            $(".notifications .dropdown-menu .arrow").css("right", ($(".notifications").width() / 2) + "px");
            $(".username .dropdown-menu .arrow").css("right", ((($(".username .dropdown-item-wrapper").width() - 13 ) / 2) + 5) + "px");
        });
    </script>
{% endblock %}

{% block body %}
    <div class="nav-g"></div>
    <div class="header">
        <div class="left">
            <div class="dropdown-taparea">
                <div class="dropdown-icon">
                    <i class="icon-reorder"></i>
                </div>
            </div>
            <a href="/" class="intranet-title">
                <div class="logo">
                </div>
                <h1>
                    Intranet
                </h1>
            </a>

            <form class="search" action="/search" method="get" autocomplete="off">
                    <input type="text" name="q" value="{{ search_query | default:'Search' }}" onclick="if(this.value=='Search'){this.value=''}" onblur="if(this.value==''){this.value='Search';}">
                    <button type="submit" class="search-button">
                       <i class="icon-search"></i>
                    </button>
            </form>
        </div>

        <ul class="right">
            <li class="notifications has-dropdown">
                <div class="dropdown-item-wrapper">
                    <i class="icon-bell-alt"></i>
                    <span class="notifications-badge-wrapper">
                        <span class="notifications-badge">
                            42
                        </span>
                    </span>
                </div>
                <ul class="dropdown-menu">
                    <div class="arrow"></div>
                    <li>foo foo foo foo foo</li>
                    <li>foo foo foo foo foo</li>
                    <li>foo foo foo foo foo</li>
                    <li>foo foo foo foo foo</li>
                    <li>foo foo foo foo foo</li>
                    <li>foo foo foo foo foo</li>
                </ul>
            </li>

            <li class="username has-dropdown">
                <div class="dropdown-item-wrapper">
                    <i class="icon-user"></i> {{ request.user.first_name }} <i class="icon-caret-down"></i>
                </div>
                    <ul class="dropdown-menu">
                        <div class="arrow"></div>
                        <li><a href="/profile"><i class="icon-user"></i> My Profile</a></li>
                        <li><a href="/profile/8889"><i class="icon-smile"></i> Angela William's Profile</a></li>
                        <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
                    </ul>
            </li>
        </ul>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
