{% extends "page_base.html" %}
{% load static %}
{% load pipeline %}


{% block css %}
    {{ block.super }}
    {% stylesheet 'page_base' %}
    {% stylesheet 'responsive.core' %}
    <link rel="stylesheet" href="{% static 'vendor/messenger/build/css/messenger.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/messenger/build/css/messenger-theme-flat.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui-1.11.0.custom/jquery-ui.min.css' %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'vendor/jquery-ui-1.11.0.custom/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/responsive.core.js' %}"></script>
    <script src="{% static 'vendor/messenger/build/js/messenger.min.js' %}"></script>
    <script src="{% static 'vendor/messenger/build/js/messenger-theme-flat.js' %}"></script>
    <script src="{% static 'js/common.header.js' %}"></script>
    {% if messages %}
        <script>
        window.addEventListener("load", function() {
        // JS comment needed here to prevent syntax highlighting from breaking
        // {% for message in messages %}
            {% if message.level >= 30 %}
                Messenger().error("{{ message|escapejs }}");
            {% elif message.level == 25 %}
                Messenger().success("{{ message|escapejs }}");
            {% else %}
                Messenger().info("{{ message|escapejs }}");
            {% endif %}
        {% endfor %}
        });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="nav-g"></div>
    <div class="header{% if request.user.is_student and eighth_absence_count > 0 %} has-badge{% endif %}">
        <div class="left">
            <div class="dropdown-taparea">
                <div class="dropdown-icon">
                    <div class="c-hamburger c-hamburger--htla">
                        <span>Toggle menu</span>
                    </div>
                </div>
            </div>
            <a href="{% if request.user.is_eighthoffice %}/eighth/admin{% else %}/{% endif %}" class="intranet-title">
                <div class="logo"></div>
                <h1>Intranet</h1>
            </a>
            {% if not request.user.is_restricted %}
            <form class="search" action="/search" method="get" autocomplete="off">
                <input type="text" name="q" value="{% if search_query %}{{ search_query }}{% endif %}" placeholder="Search directory and more" aria-label="Search directory and more">
                <button type="submit" class="search-button" aria-label="Search">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            {% endif %}
        </div>

        <div class="right" style="padding-right:20px;">
            <ul style="float:left;">
                {% if request.user.is_student and eighth_absence_count > 0 %}
                    <li class="badged-item has-dropdown{% if eighth_absence_notif %} dropdown-open{% endif %}">
                        <a href="{% url 'eighth_absences' %}" class="badge-link">
                            <i class="fas fa-gavel absence-icon"></i>
                            <span class="badge-wrapper">
                                <span class="badge red">
                                    {{ eighth_absence_count }}<span class="absence-count-label"> Absence{{ eighth_absence_count|pluralize }}</span>
                                </span>
                            </span>
                        </a>
                        {% if eighth_absence_notif %}
                            <ul class="dropdown-menu absence-notification">
                                <div class="arrow"></div>
                                <i class="fas fa-exclamation-triangle fa-2x absence-notification-icon"></i>
                                <b>You have {{ eighth_absence_count }} Eighth Period absence{{ eighth_absence_count|pluralize }}.</b>
                                <p>Press the button above to view more information.<br>
                                Click on this message to close.</p>
                            </ul>
                        {% endif %}
                    </li>
                {% endif %}

                <li class="username has-dropdown">
                    <div class="dropdown-item-wrapper">
                        <i class="fas fa-user"></i><span class="user-name">{{ request.user.first_name }}</span><i class="fas fa-caret-down"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <div class="arrow"></div>
                        <li><a href="{% url 'user_profile'%}"><i class="fas fa-user"></i> My Profile</a></li>
                        <li><a href="{% url 'preferences' %}"><i class="fas fa-cog"></i> Preferences</a></li>
                        {% if not request.user.is_restricted %}
                        <li><a href="{% url 'itemreg' %}"><i class="fas fa-edit"></i> Item Registration</a></li>
                        <li><a href="{% url 'lostfound' %}"><i class="far fa-compass"></i> Lost and Found</a></li>
                        <li><a href="{% url 'oauth2_provider:list' %}"><i class="fas fa-key"></i> OAuth</a></li>
                        {% endif %}
                        <li><a href="{% url 'send_feedback' %}" class="feedback"><i class="far fa-smile"></i> Send Feedback</a></li>
                        <li><a href="{% url 'sessionmgmt' %}"><i class="fas fa-desktop"></i> Session Management</a></li>
                        <li><a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> About/Credits</a></li>
                        <li><a href="{% url 'logout'%}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <a href="{% url 'logout'%}" style="color:rgb(242,242,244);"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}
