{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <title>{% block title %}Intranet{% endblock %}</title>

    {% block meta %}
    {% include "meta.html" %}
    {% endblock %}

    {% block css %}
        <link href="{% static 'vendor/fontawesome-free-5.11.2/css/all.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700">

        {% stylesheet 'base' %}

        {% if debug %}
            <style>
                body.touch #djDebug #djDebugToolbarHandle {
                    top: initial !important;
                    bottom: 0;
                }
            </style>
        {% endif %}
    {% endblock %}
        {% stylesheet 'theme.blue' %}
        {% if theme.css %}
            <link rel="stylesheet" href="{% static theme.css %}">
        {% endif %}

    {% block js %}
        <script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/vendor/modernizr.js' %}"></script>
        <script src="{% static 'js/common.js' %}"></script>
        <script>
            Modernizr.load({
                test: Modernizr.borderradius,
                nope: "{% static 'js/vendor/PIE/PIE.js' %}"
            });

            $(function() {
                $("body").removeClass("notransition");
            });
        </script>
        {% if theme.js %}
            <script src="{% static theme.js %}"></script>
        {% endif %}
    {% endblock %}

    {% block head %}
    {% endblock %}

    {% include "android_client_check.html" %}
</head>
<body class="notransition{% block bodyclass %}{% endblock %}"{% block bodytag %}{% endblock %}>
    {% if global_warning %}<div class="global-warning">{{ global_warning }}</div>{% endif %}
    {% block body %}
    {% endblock %}

</body>
</html>
