{% extends "page_with_header.html" %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".nav a").click(function() {
                $(".nav .selected").removeClass("selected");
                $(this).parent().addClass("selected");
            });

            $(".header h1").click(function() {
                $(".nav .selected").removeClass("selected");
                $(".nav li").slice(0,1).addClass("selected");
            });
        });
    </script>
{% endblock %}

{% block content %}
    <ul class="nav">
    {% block nav %}
        <li {% if page = "dashboard" %}class="selected"{% endif %}>
            <a href="/">
                <i class="nav-icon dashboard-icon"></i>
                Dashboard
            </a>
        </li>

        <li {% if page = "eighth" %}class="selected"{% endif %}>
            <a href="/eighth">
                <i class="nav-icon eighth-icon"></i>
                Eighth
            </a>
        </li>

        <li {% if page = "events" %}class="selected"{% endif %}>
            <a href="/events">
                <i class="nav-icon events-icon"></i>
                Events
            </a>
        </li>

        <li {% if page = "groups" %}class="selected"{% endif %}>
            <a href="/groups">
                <i class="nav-icon groups-icon"></i>
                Groups
            </a>
        </li>

        <li {% if page = "polls" %}class="selected"{% endif %}>
            <a href="/polls">
                <i class="nav-icon polls-icon"></i>
                Polls
            </a>
        </li>

        <li {% if page = "files" %}class="selected"{% endif %}>
            <a href="/files">
                <i class="nav-icon files-icon"></i>
                Files
            </a>
        </li>
        {# TODO: CHECK FOR ADMIN PRIVELEGES #}
        <li>
            <a href="/admin">
                <i class="nav-icon blank-icon text-icon">&rarr;</i>
                Admin
            </a>
        </li>

    {% endblock %}
    </ul>
    {% block main %}
    {% endblock %}
{% endblock %}
