{% load staticfiles %}
<!doctype html>
<html lang='en'>
<head>
    <title>{% block title %}Intranet{% endblock %}</title>

    {% include "meta.html" %}

    {% block css %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100italic,400italic,700italic,100,400,700" />

        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/themes.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />

        {% if debug %}
            <style type="text/css">
                body.touch #djDebug #djDebugToolbarHandle {
                    top: initial !important;
                    bottom: 0;
                }
            </style>
        {% endif %}
    {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/theme.blue.css' %}" />

    {% block js %}
        <script type="text/javascript">
        window.ion = {
            base_url: "{{ ion_base_url }}",
            authenticated: {% if request.user.is_authenticated %}true{% else %}false{% endif %},
            username: {% if request.user.is_authenticated %}"{{ request.user.username|escape }}"{% else %}null{% endif %},
            gcm_token_sha: {% if request.user.is_authenticated and request.user.notificationconfig.gcm_token %}"{{ request.user.notificationconfig.gcm_token_sha256|escape }}"{% else %}null{% endif %},
            gcm_optout: {% if request.user.is_authenticated and request.user.notificationconfig %}{% if request.user.notificationconfig.gcm_optout %}true{% else %}false{% endif %}{% else %}null{% endif %}
        };
        </script>
        <script type="text/javascript" src="{% static 'js/vendor/sha256.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/swnotifications.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/modernizr.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
        <script type="text/javascript">
            Modernizr.load({
                test: Modernizr.borderradius,
                nope: "{% static 'js/vendor/PIE/PIE.js' %}"
            });

            Modernizr.load({
                test: Modernizr.touch,
                yep: "//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js",
                complete: function() {
                    if (Modernizr.touch) {
                        FastClick.attach(document.body);
                    }
                }
            });

            {% block modernizr %}
            {% endblock %}

            $(function() {
                $("body").removeClass("notransition");
            });
        </script>
    {% endblock %}

    {% block head %}
    {% endblock %}

    {% include "android_client_check.html" %}
</head>
<body class="notransition{% block bodyclass %}{% endblock %}"{% block bodytag %}{% endblock %}>
    {% block body %}
    {% endblock %}

</body>
</html>
