{% extends "page_with_header.html" %}

{% block content %}
    <ul class="nav">
        <li {% if page = "dashboard" %}class="selected"{% endif %}>
            <a href="/" class="nav-item-contents">
                <i class="nav-icon dashboard-icon"></i>
                Dashboard
            </a>
        </li>

        <li {% if page = "eighth" %}class="selected"{% endif %}>
            <a href="/eighth" class="nav-item-contents">
                <i class="nav-icon eighth-icon"></i>
                Eighth
            </a>
        </li>

        <li {% if page = "events" %}class="selected"{% endif %}>
            <a href="/events" class="nav-item-contents">
                <i class="nav-icon events-icon"></i>
                Events
            </a>
        </li>

        <li {% if page = "groups" %}class="selected"{% endif %}>
            <a href="/groups" class="nav-item-contents">
                <i class="nav-icon groups-icon"></i>
                Groups
            </a>
        </li>

        <li {% if page = "polls" %}class="selected"{% endif %}>
            <a href="/polls" class="nav-item-contents">
                <i class="nav-icon polls-icon"></i>
                Polls
            </a>
        </li>

        <li {% if page = "files" %}class="selected"{% endif %}>
            <a href="/files" class="nav-item-contents">
                <i class="nav-icon files-icon"></i>
                Files
            </a>
        </li>
    </ul>
    {% block main %}
    {% endblock %}
{% endblock %}